{{#each results}}
    <li>
        <span class="label label-module label-module-md label-{{module}}"
              rel="tooltip" data-title="{{module}}">{{label}}</span>
        <span class="spotlight-text">{{name}}</span>
    </li>
{{/each}}
