<div class="btn-group" data-toggle="buttons-radio">
    <button class="btn layout{{#eq value 1}} active{{/eq}}" rel="tooltip" data-original-title="{{str "LBL_DASHBOARD_1_COLUMN_LAYOUT" module}}" data-value="1"><i class="icon-list-alt"></i></button>
    <button class="btn layout{{#eq value 2}} active{{/eq}}" rel="tooltip" data-original-title="{{str "LBL_DASHBOARD_2_COLUMN_LAYOUT" module}}" data-value="2"><i class="icon-columns"></i></button>
    <button class="btn layout{{#eq value 3}} active{{/eq}}" rel="tooltip" data-original-title="{{str "LBL_DASHBOARD_3_COLUMN_LAYOUT" module}}" data-value="3"><i class="icon-table"></i></button>
</div>
