{{!
/*
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 */
}}
<button class="btn btn-invisible btn-link sidebar-toggle"
   rel="tooltip"
   title="{{str 'LBL_DASHLET_TOGGLE' module}}"
   data-placement="left"
   track="click:togglesidebar">
    <i class="{{#eq _state 'open'}}icon-double-angle-right{{else}}icon-double-angle-left{{/eq}}"></i>
</button>
