.nv-fill00 {
  fill:#1f77b4;
  stroke:#1f77b4;
  background-color:#1f77b4;
}
.nv-fill01 {
  fill:#aec7e8;
  stroke:#aec7e8;
  background-color:#aec7e8;
}
.nv-fill02 {
  fill:#ff7f0e;
  stroke:#ff7f0e;
  background-color:#ff7f0e;
}
.nv-fill03 {
  fill:#ffbb78;
  stroke:#ffbb78;
  background-color:#ffbb78;
}
.nv-fill04 {
  fill:#2ca02c;
  stroke:#2ca02c;
  background-color:#2ca02c;
}
.nv-fill05 {
  fill:#98df8a;
  stroke:#98df8a;
  background-color:#98df8a;
}
.nv-fill06 {
  fill:#d62728;
  stroke:#d62728;
  background-color:#d62728;
}
.nv-fill07 {
  fill:#ff9896;
  stroke:#ff9896;
  background-color:#ff9896;
}
.nv-fill08 {
  fill:#9467bd;
  stroke:#9467bd;
  background-color:#9467bd;
}
.nv-fill09 {
  fill:#c5b0d5;
  stroke:#c5b0d5;
  background-color:#c5b0d5;
}
.nv-fill10 {
  fill:#8c564b;
  stroke:#8c564b;
  background-color:#8c564b;
}
.nv-fill11 {
  fill:#c49c94;
  stroke:#c49c94;
  background-color:#c49c94;
}
.nv-fill12 {
  fill:#e377c2;
  stroke:#e377c2;
  background-color:#e377c2;
}
.nv-fill13 {
  fill:#f7b6d2;
  stroke:#f7b6d2;
  background-color:#f7b6d2;
}
.nv-fill14 {
  fill:#7f7f7f;
  stroke:#7f7f7f;
  background-color:#7f7f7f;
}
.nv-fill15 {
  fill:#c7c7c7;
  stroke:#c7c7c7;
  background-color:#c7c7c7;
}
.nv-fill16 {
  fill:#bcbd22;
  stroke:#bcbd22;
  background-color:#bcbd22;
}
.nv-fill17 {
  fill:#dbdb8d;
  stroke:#dbdb8d;
  background-color:#dbdb8d;
}
.nv-fill18 {
  fill:#17becf;
  stroke:#17becf;
  background-color:#17becf;
}
.nv-fill19 {
  fill:#9edae5;
  stroke:#9edae5;
  background-color:#9edae5;
}


.nv-stroke0 {
  fill:#1f77b4;
  stroke:#1f77b4;
  background-color:#1f77b4;
}
.nv-stroke1 {
  fill:#aec7e8;
  stroke:#aec7e8;
  background-color:#aec7e8;
}
.nv-stroke2 {
  fill:#ff7f0e;
  stroke:#ff7f0e;
  background-color:#ff7f0e;
}
.nv-stroke3 {
  fill:#ffbb78;
  stroke:#ffbb78;
  background-color:#ffbb78;
}
.nv-stroke4 {
  fill:#2ca02c;
  stroke:#2ca02c;
  background-color:#2ca02c;
}
.nv-stroke5 {
  fill:#98df8a;
  stroke:#98df8a;
  background-color:#98df8a;
}
.nv-stroke6 {
  fill:#d62728;
  stroke:#d62728;
  background-color:#d62728;
}
.nv-stroke7 {
  fill:#ff9896;
  stroke:#ff9896;
  background-color:#ff9896;
}
.nv-stroke8 {
  fill:#9467bd;
  stroke:#9467bd;
  background-color:#9467bd;
}
.nv-stroke9 {
  fill:#c5b0d5;
  stroke:#c5b0d5;
  background-color:#c5b0d5;
}