{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<h1>{{str "LBL_PREVIEW"}} {{#if previewEdit}}<a class="preview-edit-link"><i class="fa fa-pencil"></i></a>{{/if}}</h1>
<div class="btn-toolbar pull-right">
    <div class="preview-headerpane" align="right">
    <button class="btn-link cancel-btn hide" data-action="cancel" data-event="button:cancel_button:click">{{str "Cancel"}}</button>
    <button class="btn btn-primary save-btn hide" data-action="save" data-event="button:save_button:click" track="button:save_button:click">{{str "Save"}}</button>
        </div>>
    <div class="btn-group">
        {{#unless layout.hideNextPrevious}}
        <a class="btn btn-invisible btn-left{{#unless layout.previous}} disabled{{/unless}}" data-direction="left"><i class="fa fa-chevron-left"></i></a>
        <a class="btn btn-invisible btn-right{{#unless layout.next}} disabled{{/unless}}" data-direction="right"><i class="fa fa-chevron-right"></i></a>
        {{/unless}}
    </div>
    <div class="btn-group">
        <a class="btn btn-invisible closeSubdetail" data-toggle="tab"><i class="fa fa-times"></i></a>
    </div>
</div>
