<div class="modal" id="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add a Contact</h3>
  </div>
  <div class="modal-body">
    <div>
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label for="input01" class="control-label">First Name:</label>
            <div class="controls">
              <input type="text" id="input01" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <label for="input01" class="control-label">Last Name:</label>
            <div class="controls">
              <input type="text" id="input01" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <label for="input01" class="control-label">Title:</label>
            <div class="controls">
              <input type="text" id="input01" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <label for="input01" class="control-label">Email:</label>
            <div class="controls">
              <input type="text" id="input01" class="input-xlarge">
              <a href="" class="btn" rel="tooltip" title="Primary"><i class="icon-star"></i></a>
              <a href="" class="btn" rel="tooltip" title="Add another"><i class="icon-plus"></i></a>
            </div>
          </div>
          <div class="control-group">
            <label for="input01" class="control-label">Phone:</label>
            <div class="controls">
              <input type="text" id="input01" class="input-xlarge">
              <a href="" class="btn" rel="tooltip" title="Primary"><i class="icon-star"></i></a>
              <a href="" class="btn" rel="tooltip" title="Add another"><i class="icon-plus"></i></a>
            </div>
          </div>
          <div class="control-group">
            <label for="select01" class="control-label">Account:</label>
            <div class="controls">
              <select data-placeholder="Choose a account..." class="select2" tabindex="2">
                <option value="pk" selected="selected">Perkin Kleiners</option>
                <option value="pk">Underwater Mining Inc.</option>
                <option value="pk">Weyland</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label for="select01" class="control-label">Teams:</label>
            <div class="controls">
              <select data-placeholder="Choose a account..." class="select2" tabindex="2">
                <option value="pk" selected="selected">Global</option>
                <option value="pk">East</option>
                <option value="pk">West</option>
                <option value="pk">North</option>
                <option value="pk">South</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label for="select01" class="control-label">Assigned to:</label>
            <div class="controls">
              <select data-placeholder="Choose a account..." class="select2" tabindex="2">
                <option value="pk" selected="selected">Administrator</option>
                <option value="pk">Majed Itani</option>
                <option value="pk">Uriah Welcome</option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <a href="index.html" data-loading-text="Saving..." class="btn loading btn-primary">
        Save
      </a>
      <button class="btn cancel" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
<script>
  initSelect2('select.select2');
</script>
