<div class="modal span10" id="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add a Contact</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal row-fluid">
      <fieldset class="span5">
        <div class="control-group">
          <label for="select01" class="control-label">Contact:</label>
          <div class="controls">

          <select data-placeholder="Choose a user..." class="select2" tabindex="2">
            <option value="pk"></option>
            <option value="pk">Administrator</option>
            <option value="pk">Majed Itani</option>
            <option value="pk">Uriah Welcome</option>
            <option value="pk">+ Create a user</option>

          </select>
          </div>
        </div>
        <div class="control-group">
          <label for="select01" class="control-label">Assigned to:</label>
          <div class="controls">

            <select data-placeholder="Choose a user..." class="select2" tabindex="2">
              <option value="pk"></option>
              <option value="pk">Administrator</option>
              <option value="pk">Majed Itani</option>
              <option value="pk">Uriah Welcome</option>
              <option value="pk">+ Create a user</option>
            </select>
            </div>
        </div>
        <div class="control-group">
          <label for="select01" class="control-label">Teams:</label>
          <div class="controls">
            <select data-placeholder="Choose a account..." class="select2" tabindex="2" multiple>
              <option value="pk">Global</option>
              <option value="pk" selected="selected">East</option>
              <option value="pk">West</option>
              <option value="pk">North</option>
              <option value="pk">South</option>
            </select>
          </div>
          </div>
      </fieldset>
      <div class="span1"> </div>
      <fieldset class="span5">
        <div class="control-group">
          <label for="select01" class="control-label">Contact:</label>
          <div class="controls">

          <select data-placeholder="Choose a user..." class="select2" tabindex="2">
            <option value="pk"></option>
            <option value="pk">Administrator</option>
            <option value="pk">Majed Itani</option>
            <option value="pk">Uriah Welcome</option>
            <option value="pk">+ Create a user</option>

          </select>
          </div>
        </div>
        <div class="control-group">
          <label for="select01" class="control-label">Assigned to:</label>
          <div class="controls">

            <select data-placeholder="Choose a user..." class="select2" tabindex="2">
              <option value="pk"></option>
              <option value="pk">Administrator</option>
              <option value="pk">Majed Itani</option>
              <option value="pk">Uriah Welcome</option>
              <option value="pk">+ Create a user</option>
            </select>
            </div>
        </div>
        <div class="control-group">
          <label for="select01" class="control-label">Teams:</label>
          <div class="controls">
            <select data-placeholder="Choose a account..." class="select2" tabindex="2" multiple>
              <option value="pk">Global</option>
              <option value="pk" selected="selected">East</option>
              <option value="pk">West</option>
              <option value="pk">North</option>
              <option value="pk">South</option>
            </select>
          </div>
          </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link btn-invisible cancel" data-dismiss="modal">Cancel</button>
    <a href="index.html" data-loading-text="Saving..." class="btn loading btn-primary"  data-dismiss="modal">
      Save
    </a>
  </div>
</div>
<script>
  initSelect2('select.select2');
</script>
