<div class="modal hide" id="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Share</h3>
  </div>
  <div class="modal-body">
    <div id="moduleActivity" class="block tabs-left">
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label for="select01" class="control-label hide">Assigned to:</label>
              <select data-placeholder="Choose a user..." class="select2" tabindex="2">
                <option value="pk"></option>
                <option value="pk">Administrator</option>
                <option value="pk">Majed Itani</option>
                <option value="pk">Uriah Welcome</option>
                <option value="pk">+ Create a user</option>

              </select>
          </div>
          <div class="control-group">
            <label for="input01" class="control-label hide">Subject:</label>
            <textarea id="input01" class="wide tleft">Check out screenshot_766.png</textarea>
          </div>
        </fieldset>
      </form>
      <hr>
      <ul class="nav nav-tabs results">
        <li>
           <p>
            Uploaded <a href="#file1" data-toggle="tab">screenshot_766.png</a> added by <a href="profile.html">Sabra Khan</a>
            <br>
            <date class="date">Posted 1 hour ago at 3:00 pm EST</date>
          </p>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <a href="index.html" class="btn btn-primary">Send</a>
      <button class="btn cancel" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
