<div class="modal hide system-tour">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h3>
            Take the tour
        </h3>
    </div>
    <div class="modal-body">
        <div class="tour-modal-description">
            <p>
                Take a tour of Summer! (Estimated time: 15 mins)
            </p>
            <div class="tour-modal-image">
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn " data-dismiss="modal">Cancel</a>
            <a class="btn btn-primary tour-overview">Page Overview</a>
            <a class="btn btn-primary tour-type" data-type="module">Tour this Page</a>
            <a class="btn btn-primary tour-type" data-type="full">Full Tour</a>
        </div>
    </div>
</div>
