{{!
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 columns table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>{{str 'LBL_SPOTLIGHT_ACTION'}}</th>
                    <th>{{str 'LBL_SPOTLIGHT_KEY'}}</th>
                </tr>
                </thead>
                <tbody data-spotlight="actions">
                    {{!-- #each goes here --}}
                    {{partial 'spotlight-config-list-row'}}
                </tbody>
                <tfoot>
                    <tr data-spotlight="add">
                        <td colspan="3" style="text-align: center;"><i class="fa fa-plus-circle"> {{str 'LBL_SPOTLIGHT_ADD'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
