{{#if isAuthenticated}}
    <div class="btn-group">
        <a id="tour" title="{{str "LBL_TOUR"}}" class="btn btn-invisible"><i class="icon-road"></i> {{str "LNK_TOUR"}}</a>
        <a id="support" class="btn btn-invisible"><i class="icon-question-sign"></i> {{str "LBL_SUPPORT"}}</a>
    </div>
{{/if}}