{{#each meta.panels}}
    {{#each fields}}
        <span class="record-cell">
            <h1>{{field ../../this model=../../this.model template=../../this.action}}</h1>
        </span>
    {{/each}}
{{/each}}
<span class="record-cell">
    <div class="btn-toolbar">
        {{#each meta.buttons}}
            {{field ../this model=../this.model template="detail"}}
        {{/each}}
    </div>
</span>
