/*********************************************************************************
 *The contents of this file are subject to the SugarCRM Professional End User License Agreement 
 *("License") which can be viewed at http://www.sugarcrm.com/EULA.  
 *By installing or using this file, You have unconditionally agreed to the terms and conditions of the License, and You may 
 *not use this file except in compliance with the License. Under the terms of the license, You 
 *shall not, among other things: 1) sublicense, resell, rent, lease, redistribute, assign or 
 *otherwise transfer Your rights to the Software, and 2) use the Software for timesharing or 
 *service bureau purposes such as hosting the Software for commercial gain and/or for the benefit 
 *of a third party.  Use of the Software may be subject to applicable fees and any use of the 
 *Software without first paying applicable fees is strictly prohibited.  You do not have the 
 *right to remove SugarCRM copyrights from the source code or user interface. 
 * All copies of the Covered Code must include on each user interface screen:
 * (i) the "Powered by SugarCRM" logo and 
 * (ii) the SugarCRM copyright notice 
 * in the same form as they appear in the distribution.  See full license for requirements.
 *Your Warranty, Limitations of liability and Indemnity are expressly stated in the License.  Please refer 
 *to the License for the specific language governing these rights and limitations under the License.
 *Portions created by SugarCRM are Copyright (C) 2004 SugarCRM, Inc.; All Rights Reserved.  
 ********************************************************************************/

ul.cssmenu
{
	position:absolute;
	visibility:hidden;
	background-color:#b94934;
	z-index:2;
	border-left:#de5503 solid 1px;
	border-top:#de5503 solid 1px;
	border-right:#4d100b solid 1px;
	opacity:0.9;
}

ul.cssmenu li a{
	color:#000;
	font-weight:bold;
}

ul.cssmenu li:hover {
background-color:#DE5503;
}

/*.subDmenu
{
	position:absolute;
	display:none;
	visibility:hidden;
}*/

ul.cssmenu li,.menuItemHilite,.menuItemX,.menuItemHiliteX,.menuItemHilite:visited,.menuItemHilite:hover,.menuItemHilite:active,.menuItemHilite:link,.menuItemX:visited,.menuItemHiliteX:visited,.menuItemX:hover,.menuItemHiliteX:hover,.menuItemX:active,.menuItemHiliteX:active,.menuItemX:link,.menuItemHiliteX:link
{
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	line-height:18px;
	font-weight:700;
	color:#000;
	text-decoration:none;
	width:10em;
	border:none;
	display:block;
	padding:1px 10px 1px 4px;
}

.menuItemHilite
{
	background-color:#de5503;
}

.menuItemX
{
	background-color:#b94934;
}

.menuItemHiliteX
{
	background-color:#de5503;
}

.calendar
{
	position:relative;
	display:none;
	border:1px solid #4d100b;
	font-size:11px;
	color:#000;
	cursor:default;
	font-family:tahoma,verdana,sans-serif;
}

.calendar table
{
	border:1px solid #de5503;
	font-size:11px;
	color:#4d100b;
	cursor:default;
	background:#7e2305;
	font-family:tahoma,verdana,sans-serif;
}

.calendar button, input[type=submit], input[type=reset], input[type=button]
{
	text-align:center;
	border-top:1px solid #e6a054;
	border-left:1px solid #e6a054;
	background:#7e2305;
	color:#ffe295;
	font-weight:700;
	padding:1px;
}

.calendar .nav
{
	background:transparent no-repeat 100% 100%;
}

.calendar thead .title
{
	font-weight:700;
	border-top:1px solid #eeb669;
	border-bottom:1px solid #4d100b;
	background:#de5503;
	color:#000;
	text-align:center;
	padding:3px 2px 2px;
}

.calendar thead .headrow
{
	background:#7e2305;
}

.calendar thead .daynames
{
	border-bottom:1px solid #4d100b;
}

.calendar thead .name
{
	border-bottom:1px solid #7e2305;
	text-align:center;
	background:#a74423;
	color:#ffe295;
	padding:2px;
}

.calendar thead .weekend
{
	font-weight:700;
}

.calendar thead .hilite
{
	border:1px solid #4d100b;
	background-color:#de5503;
	padding:0;
}

.calendar thead .active
{
	border:1px solid #de5503;
	background-color:#4d100b;
	padding:2px 0 0 2px;
}

.calendar tbody .day
{
	width:2em;
	text-align:right;
	background:#eeb669;
	color:#4d100b;
	padding:2px 4px 2px 2px;
}

.calendar tbody .day.othermonth
{
	font-size:80%;
	color:#4d100b;
}

.calendar tbody .day.othermonth.oweekend
{
	color:#4d100b;
}

.calendar table .wn
{
	border-right:1px solid #4d100b;
	color:#ffe295;
	background-color:#a74423;
	padding:2px 3px 2px 2px;
}

.calendar tbody .rowhilite td
{
	background:#ffe295;
}

.calendar tbody .rowhilite td.wn
{
	background:#d96a28;
}

.calendar tbody td.hilite
{
	border:1px solid #de5503;
	padding:1px 3px 1px 1px;
}

.calendar tbody td.active
{
	border:1px solid #a74423;
	background:#e6a054;
	padding:2px 2px 0;
}

.calendar tbody td.selected
{
	border:1px solid;
	border-color:#de5503;
	padding:2px 2px 0;
}

.calendar tbody td.weekend
{
	font-weight:700;
	color:#820908;
}

.calendar tbody td.today
{
	font-weight:700;
	background:#de5503;
	border:1px solid #7e2305;
	color:#ffe295;
	padding:1px 3px 1px 1px;
}

.calendar tbody .disabled
{
	color:#7e2305;
}

.calendar tbody .emptycell
{
	background:#e6a054;
}

.calendar tbody .emptyrow
{
	display:none;
}

.calendar tfoot .ttip
{
	border-top:2px solid #4d100b;
	background:#7e2305;
	color:#ffe295;
	text-align:center;
	padding:2px;
}

.calendar tfoot .hilite
{
	border-top:2px solid #4d100b;
	background:#7e2305;
	color:#ffe295;
	text-align:center;
	padding:2px;
}

.calendar tfoot .active
{
	border-top:2px solid #4d100b;
	background:#7e2305;
	color:#ffe295;
	text-align:center;
	padding:2px;
}

.calendar .combo
{
	position:absolute;
	display:none;
	width:4em;
	top:0;
	left:0;
	cursor:default;
	border:1px solid #a74423;
	background:#e6a054;
	font-size:90%;
	padding:1px;
}

.calendar .combo .label,.calendar .combo .label-IEfix
{
	text-align:left;
	color:#4d100b;
	padding:1px 3px;
}

.calendar .combo .label-IEfix
{
	width:4em;
}

.calendar .combo .active
{
	background:#de5503;
	color:#4d100b;
	font-weight:700;
	padding:1px 3px;
}

.calendar .combo .hilite
{
	background:#ffe295;
}

.calendar td.time
{
	border-top:1px solid #4d100b;
	text-align:center;
	background-color:#e8f0f4;
	padding:1px 0;
}

.calendar td.time .hour,.calendar td.time .minute,.calendar td.time .ampm
{
	border:1px solid #889;
	font-weight:700;
	background-color:#fff;
	padding:0 3px 0 4px;
}

.calendar td.time .ampm
{
	text-align:center;
}

.calendar td.time .colon
{
	font-weight:700;
	padding:0 2px 0 3px;
}

.calendar td.time span.hilite
{
	background-color:#667;
	color:#fff;
	border-color:#4d100b;
}

.calendar td.time span.active
{
	background-color:#4d100b;
	color:#0f0;
	border-color:red;
}

body
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#ec864f;
	font-size:12px;
	background-color:#4d100b;
	margin:0;
}

img
{
	behavior:url(include/pngbehavior.htc);
}

.body
{
	font-size:12px;
}

table,td
{
	color:#ffe295;
	font-size:11px;
}

p
{
	margin-top:0;
	margin-bottom:10px;
}

form
{
	margin:0;
}

h1
{
	color:#ffe396;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:20px;
	font-weight:700;
	margin-bottom:8px;
}

h2
{
	color:#ffe396;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:17px;
	margin-bottom:0;
	margin-top:0;
}

h3
{
	color:#e6a054;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:16px;
	font-weight:700;
	margin-bottom:4px;
}

h4
{
	color:#e6a054;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:700;
	margin-bottom:2px;
}

h5
{
	color:#e6a054;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:13px;
	font-weight:700;
	margin-bottom:1px;
}

LI
{
	list-style-type:square;
	margin-left:6px;
	margin-bottom:2px;
}

UL
{
	margin-top:2px;
}

hr
{
	height:1px;
}

a:link,a:visited
{
	color:#ec864f;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

button, input[type=submit], input[type=reset], input[type=button]
{
	border:1px solid #4d100b;
	background-color:#c35531;
	font-size:11px;
	color:#000;
	font-weight:400;
}

button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected]
{
	border:1px solid #ffe396;
	background-color:#e6a054;
	font-size:11px;
	color:#000;
	font-weight:400;
}

.detail button, input[type=submit], input[type=reset], input[type=button] img
{
	margin-right:0px;
	margin-left:3px;
}

/*#listViewPaginationButtons button, input[type=submit], input[type=reset], input[type=button]
{
	width:25px;
}*/

button[disabled], input[disabled]
{
	background:#b44723;
}

input,select
{
	border:1px solid #4d100b;
	font-size:11px;
	background-color:#d99246;
	color:#000;
}

textarea
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	border:1px solid #4d100b;
	font-size:12px;
	background-color:#d99246;
	color:#000;
}

input[type=checkbox],input[type=radio]
{
	border:0;
	background-color:transparent;
	vertical-align:bottom;
}

.contentBox
{
	background-color:#7e2305;
	border-top:1px #a61507 solid;
	border-bottom:1px #a61507 solid;
	margin:10px 0;
	padding:0 10px 0 0;
}

#NOTICEBODY
{
	color:#820908;
}

.teamNoticeBox
{
	background-color:#e6a054;
	border:1px #a61507 solid;
	padding-left:5px;
	padding-right:5px;
	color:#820908;
}

/*a.body:link,a.body:visited
{
	color:#ec864f;
	font-size:12px;
	text-decoration:none;
}

a.body:hover
{
	text-decoration:underline;
}*/

#globalLinks
{
	font-size:11px;
	font-weight:700;
	color:#d96a28;
	margin-top:-2.2em;
	border-right:none;
	padding:8px 0 3px;
}

#globalLinks ul li
{
    list-style:none;
    display:inline;
    margin:0;
}

#globalLinks ul li a {
	margin: 0px 3px 0px 2px;
}

#globalLinks a:hover {
	color:#fff;
	text-decoration:none;
}

/*a.myAreaLink:link,a.myAreaLink:visited
{
	color:#d96a28;
	text-decoration:none;
}

a.myAreaLink:hover
{
	color:#fff;
}*/

/*.topTabTable
{
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=header_sunset_bottom.gif);
	background-repeat:no-repeat;
	background-position:right;
}*/

.currentTab a {
	color:#FFE396;
    text-decoration:none;
}

.currentTab a:hover {
    color:#FFF;
    text-decoration:none;
}

.currentTab
{
	font-size:11px;
	color:#fff;
	font-weight:700;
	border-top:1px solid #de5503;
	border-left:1px solid #de5503;
	border-right:1px solid #de5503;
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=currentTab_middle.gif);
	background-repeat:repeat-x;
	background-color:#972b11;
	padding:4px 3px 2px;
}

/*a#moduleList ul li a:link,a#moduleList ul li a:visited
{
	color:#ffe396;
	text-decoration:none;
}

a#moduleList ul li a:hover
{
	color:#fff;
}*/

.notCurrentTab a {
    color:#000000;
    text-decoration:none;
}

.notCurrentTab a:hover {
    color:#FFF;
    text-decoration:none;
}

.notCurrentTab
{
	font-size:11px;
	color:#000;
	font-weight:700;
	border-top:1px solid #701304;
	border-left:1px solid #701304;
	border-right:1px solid #701304;
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=otherTab_middle.gif);
	background-repeat:repeat-x;
	background-color:#6d281a;
	padding:3px 4px;
}

/*a#moduleList ul li a:link,a#moduleList ul li a:visited
{
	color:#000;
	text-decoration:none;
}

a#moduleList ul li a:hover
{
	color:#fff;
}*/

#groupTabs
{
	margin-top:20px;
}

.subTabs
{
	padding-top:1em;
}

.subTabs td
{
	padding-right:1em;
}

#moduleTabExtraMenu
{
	background:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=more.gif) no-repeat bottom left;
}

#moduleList ul[class="cssmenu"] {
	padding:0;
}

#moduleTabExtraMenu a[href="#"] {
	visibility:hidden;
}


#HideMenu {
	margin-left:-0.2em;
    margin-top:-2.5em;
}

#leftHandle {
	margin-top:0.5em;
}

#shortcuts, #hiddenShortcuts
{
	font-size:11px;
	background-color:#7e2305;
	border-bottom:1px solid #a61507;
	border-left:1px solid #a61507;
	border-right:1px solid #a61507;
}

#shortcuts h3, #newRecord h3, #hiddenShortcuts h3
{
    font-size:12px;
    color:#000;
    text-align:left;
    background-color:#de5503;
    padding:3px 3px 3px 5px;
    margin-bottom:0px;
}

#newRecord form
{
    font-size:11px;
    color:#f2c889;
    border-bottom:1px solid #a61507;
    border-left:1px solid #a61507;
    border-right:1px solid #a61507;
    border-top:1px solid #4d100b;
    background-color:#7e2305;
    padding:5px;
}

/*#tabFormPagination {
    margin-bottom:0em;
}*/
#newRecord form a:link,#newRecord form a:visited
{
    color:#f2c889;
    text-decoration:underline;
    border-bottom:0;
    padding-left:0;
}

#newRecord form a:hover
{
    color:#fff;
    text-decoration:underline;
    border-bottom:0;
}

#shortcuts img, #hiddenShortcuts img
{
	font-size:11px;
	background-color:#a74423;
	border-right:1px solid #4d100b;
	border-top:1px solid #4d100b;
	padding:3px;
	float:left;
	margin-top:-0.42em;
}

#shortcuts li, #hiddenShortcuts li
{
	font-size:11px;
	color:#fff;
	background-color:#7e2305;
	padding-bottom:2px;
	padding-top:1px;
	border-top:1px solid #4d100b;
}

#shortcuts li:hover, #hiddenShortcuts li:hover {
	background-color:#A74423;
	color:#F2C889;
}

#shortcuts a:link,#shortcuts a:visited, #hiddenShortcuts a:link, #hiddenShortcuts a:visited
{
	color:#f2c889;
	text-decoration:none;
	border-bottom:0;
	padding-left:0;
}

#shortcuts span:hover, #hiddenShortcuts span:hover
{
	color:#000;
	text-decoration:none;
	border-bottom:0;
}

.leftList ul {
	margin-bottom:0px;
}

.moduleTitle
{
	margin-bottom:10px;
	border-bottom:1px solid #7e2305;
}

#companyLogo
{
    padding:0px;
	margin:3px 0 0 1em;
}

#header
{
    font-size:12px;
    background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=header_bg.jpg);
    background-repeat:repeat-x;
}

#header_sunset {
    background-position:right center;
	background-repeat:no-repeat;
	float:right;
	text-align:right;
}



#welcome
{
	font-size:11px;
	font-weight:700;
	color:#d96a28;
	border-bottom:1px solid #992b11;
	padding-left:10px;
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=welcomeBar_bg.gif);
	background-repeat:repeat-x;
	background-color:#6d281a;
	border-top:1px solid #992b11;
	float:left;
	width:99%;
	padding:4px 0 2px 10px;
	border-right:none;
	margin-top:1px;
}


#moduleList ul
{
    font-size:12px;
    font-face:Arial, Verdana, Helvetica, sans-serif;
    font-weight:700;
    list-style-type:none;
    margin:0;
    padding:0 0 0 5px;
}

#moduleList ul li
{
    float:left;
    display:block;
    margin:0;
}

#search input[name="query_string"]
{
	border:1px solid #de5503;
	font-size:11px;
	color:#eeb669;
	background-color:#a21b05;
	width:7em;
}


#header_sunset_bottom {
	float:right;
	margin-bottom:-2em;
}

#search
{   
	font-size:11px;
	font-weight:700;
	color:#eeb669;
	padding-right:10px;
	text-align:right;
	margin-top:-0.8em;
	margin-left:-5em;
}

#search span {
	vertical-align:0em;
}

#search input[class="button"][type="submit"]{
	height:18px;
	width:28px;
    background: url(../../../../index.php?entryPoint=getImage&imageName=searchButton.gif) no-repeat;
}

#search form {
	margin-top:0.4em;
}

#newRecord input[class="button"] {
	width:4.3em;
}
.date
{
	font-size:13px;
	font-weight:700;
	color:#444;
	background-color:#ddd;
	border-bottom:1px solid #bbb;
	padding-right:10px;
}

#lastView
{
	color:#d96a28;
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=lastViewBg.gif);
	background-repeat:repeat-x;
	background-color:#580402;
	padding-left:10px;
	border-bottom:1px solid #000;
	margin-top:1px;
	padding:0 0 3px 0;
}

#lastView a:link,#lastView a:visited
{
	color:#d96a28;
	text-decoration:none;
	border-bottom:0;
	padding-left:0;
}

#lastView a:hover
{
	color:#fff;
	text-decoration:none;
}



.list .view
{
	border:1px solid #a61507;
}

.reportlistView
{
	border-top:1px solid #ffe295;
	border-left:1px solid #ffe295;
}

table.reportlistView td,table.reportlistView th
{
	background:#eeb669;
	border-bottom:1px solid #ffe295;
	border-right:1px solid #ffe295;
	color:#000;
	text-align:center;
	font-size:11px;
	padding:4px;
}

table.reportlistView th,.reportlistView .reportlistViewMatrixRightEmptyData,.reportlistView .reportlistViewMatrixRightEmptyData1
{
	background:#e6a054;
	font-weight:700;
}

.reportGroupViewTable
{
	background:#a74423;
	border:1px solid #a61507;
	margin-bottom:20px;
}

.reportGroupViewTable .reportevenListRowS1,.reportGroupViewTable .reportoddListRowS1,.reportoddListRowS1
{
	background:#eeb669;
	color:#000;
	font-size:11px;
	padding:4px;
}

table.reportGroupViewTable th,.reportGroupNByTableEvenListRowS1,table.reportGroupViewTable th .listViewThLinkS1
{
	background:#e6a054;
	font-weight:700;
	color:#000;
	padding:6px;
}

.reportGroupNByTableEvenListRowS1
{
	background:#a74423;
	font-size:12px;
	color:#f2c889;
	padding:10px 6px 6px;
}

.reportGroup1ByTable .reportGroup1ByTableEvenListRowS1
{
	background:#ffe295;
	font-size:13px;
	padding-left:5px;
}

.reportGroup1ByTable .reportGroupNByTableEvenListRowS1
{
	font-size:13px;
	background:#de5503;
	border-top:1px solid #4d100b;
	padding-left:0;
	color:#000;
}

.reportDataChildtablelistView
{
	margin-left:40px;
}

table.list .view th
{
	font-size:11px;
	color:#e6a054;
	font-weight:700;
	text-align:left;
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=listViewBg.gif);
	background-repeat:repeat-x;
	background-color:#800808;
	padding-left:5px;
	padding-right:5px;
	border-bottom:1px solid #4d100b;
	height:20px;
}

.list th, .list td[scope=col]
{
	font-size:11px;
	color:#e6a054;
	font-weight:700;
	text-align:left;
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=listViewBg.gif);
	background-repeat:repeat-x;
	background-color:#800808;
	padding-left:5px;
	padding-right:5px;
	border-bottom:1px solid #4d100b;
	height:20px;
}

h5.listViewSubHeadS1
{
	padding-bottom:5px;
	color:#e6a054;
	font-size:13px;
	font-weight:700;
	margin-top:1px;
	margin-bottom:1px;
}

.list .view th a:link,.list .view th a:visited
{
	color:#e6a054;
	font-weight:700;
	text-decoration:none;
}

.list .view th a:hover
{
	color:#fff;
}

/*a.listViewThLinkS1:link,a.listViewThLinkS1:visited
{
	color:#e6a054;
	font-weight:700;
	text-decoration:none;
}

a.listViewThLinkS1:hover
{
	color:#fff;
}*/

.list td a:link,.list td a:visited
{
	font-size:12px;
	color:#820908;
	text-decoration:none;
}

a.list td a:hover
{
	color:#c74302;
	text-decoration:underline;
}

a.listViewTdToolsS1:link,a.listViewTdToolsS1:visited
{
	color:#820908;
	text-decoration:none;
}

a.listViewTdToolsS1:hover
{
	color:#c74302;
	text-decoration:underline;
}

.evenListRowS1
{
	font-size:12px;
	color:#000;
	padding:2px 5px 4px;
}

.oddListRowS1
{
	font-size:12px;
	color:#000;
	padding:2px 5px 4px;
}

/*.listViewHRS1
{
	background-color:#ffe295;
}*/

/*.pageNumbers
{
	color:#c35531;
}*/

.pagination td
{
	font-size:12px;
	color:#c35531;
	background-color:#801402;
}

.pagination td[align="right"][colspan="5"], .pagination td[align="right"][colspan="6"], .pagination td[align="right"][colspan="7"]{
	border-top:1px solid #e56f03;
    border-bottom:1px solid #4d100b;
}

.pagination table {
	margin-bottom:0px;
}

a.list tr.pagination a:link,a.list tr.pagination a:visited
{
	color:#f08502;
	font-size:12px;
	font-weight:400;
	text-decoration:none;
}

a.list tr.pagination a:hover
{
	color:#eeb669;
}

a.listViewCheckLink:link,a.listViewCheckLink:visited
{
	color:#f08502;
	font-size:10px;
	font-weight:400;
	text-decoration:none;
}

a.listViewCheckLink:hover
{
	color:#fff;
}
/*
a.utilsLink:link,a.utilsLink:visited
{
	color:#f08502;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

a.utilsLink:hover
{
	color:#F08502;
	text-decoration:underline;
}*/

.listViewCalCurrentAppt
{
	background-color:#75AF4F;
}

.listViewCalOtherAppt
{
	background-color:#4D5EAA;
}

.listViewCalConflictAppt
{
	background-color:#AA4D4D;
}

.listViewCalCurrentApptLgnd
{
	background-color:#75AF4F;
	border:1px solid #444;
}

.listViewCalOtherApptLgnd
{
	background-color:#4D5EAA;
	border:1px solid #444;
}

.listViewCalConflictApptLgnd
{
	background-color:#AA4D4D;
	border:1px solid #444;
}

.chartBox
{
	background-color:#7e2305;
	border:1px #a61507 solid;
	padding:5px;
}

a.tabFormAdvLink:link,a.tabFormAdvLink:visited
{
	color:#f08502;
	font-size:11px;
	font-weight:400;
	text-decoration:none;
}

a.tabFormAdvLink:hover
{
	color:#fff;
}

#EditView hr{
    border-color:#a61507;
    height:1px;
    border-style:solid none none;
    border-width:1px 0 0;
    clear:both;
    margin:1em 0; 
} 

table.edit .view
{
	background-color:#7e2305;
	border:1px #a61507 solid;
	padding:5px;
}

table.edit .view td
{
	background-color:#7e2305;
}

.edit
{
	background-color:#6d0605;
	border:1px #a61507 solid;
	padding:5px;
}

.subpanelTabForm
{
	background-color:#6d0605;
	border:1px #a61507 solid;
	padding:0 10px;
}

.subpanelTabForm p
{
	margin-bottom:5px;
	margin-top:15px;
}

.subpanelTabForm h3
{
	font-size:13px;
	margin-bottom:0;
}

h4.edit td[scope=row]
{
	color:#e6a054;
	font-size:14px;
	font-weight:700;
	margin-bottom:2px;
}

h5.edit td[scope=row]
{
	color:#e6a054;
	font-size:13px;
	font-weight:700;
	margin-bottom:1px;
	margin-top:1px;
}

.edit td[scope=row]
{
	padding-top:2px;
	color:#cb603d;
	vertical-align:top;
}

.edit td
{
	font-weight:400;
	vertical-align:top;
}

.tabFormAddDel
{
	padding-left:4px;
	padding-right:4px;
	vertical-align:middle;
	text-align:center;
}

a.tabFormAdvLink:link,a.tabFormAdvLink:visited
{
	color:#f08502;
	font-size:10px;
	text-decoration:none;
}

a.tabFormAdvLink:hover
{
	color:#fff;
	text-decoration:none;
}

.detail
{
	border:1px solid #a61507;
	background-color:#e6a054;
}

.detail td[scope=row]
{
	font-size:11px;
	color:#4d100b;
	font-weight:700;
	background-color:#e6a054;
	vertical-align:top;
	text-align:right;
	border-right:1px solid #ffe396;
	padding:4px 4px 3px;
}

h4.detail td[scope=row]
{
	color:#801402;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:16px;
	text-align:left;
	padding-bottom:5px;
	border-width:0;
}

.detail td
{
	font-size:12px;
	color:#000;
	background-color:#eeb669;
	vertical-align:top;
	padding:3px 4px;
}

a.detail td a:link,a.detail td a:visited
{
	color:#820908;
	font-size:12px;
	text-decoration:none;
}

a.detail td a:hover
{
	color:#c74302;
	text-decoration:underline;
}

/* ForecastSchedule detailView Bug 30459 */
.tabDetailView {
    border:2px solid #7E2305;
}

.tabDetailView td{
    border-bottom:1px solid #7E2305;
    border-right:1px solid #7E2305;
}

.other
{
	color:#4d100b;
	border:1px solid #a61507;
	background-color:#ffe396;
}

.other td[scope=row]
{
	font-size:11px;
	color:#4d100b;
	font-weight:700;
	background-color:#e6a054;
	vertical-align:top;
	padding:3px 4px 2px;
}

.other td
{
	font-size:12px;
	color:#000;
	background-color:#eeb669;
	vertical-align:top;
	padding:2px 4px;
}

.other a:link,.other a:visited
{
	color:#820908;
	font-size:12px;
	text-decoration:none;
}

.other a:hover
{
	text-decoration:underline;
}

.other td[scope=row] a:link,.other td[scope=row] a:visited
{
	color:#4d100b;
	font-size:12px;
	text-decoration:none;
}

.other td[scope=row] a:hover
{
	text-decoration:underline;
}

.other td[scope=row] a:link,.other td[scope=row] a:visited
{
	color:#820908;
	font-size:11px;
	text-decoration:none;
	font-weight:700;
}

.other td[scope=row] a:hover
{
	text-decoration:underline;
}

.monthBox
{
	border:1px solid #a61507;
}

.monthHeader
{
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=calendarHeaderBg.gif);
	background-repeat:repeat-x;
	background-color:#800808;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #4d100b;
	margin:0;
}

.monthFooter td
{
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #4d100b;
	background-color:#801402;
	border-bottom:none;
}

.monthFooter
{
    margin:0;
}

#daily_cal_table {
	margin-bottom:0;
}
.monthHeaderH3
{
	color:#e6a054;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:16px;
	font-weight:700;
}

.monthCalBody
{
	background-color:#ffe396;
}

.monthHeader td
{
	padding-left:5px;
}

.monthFooter a, .monthHeader a:link,.monthFooter a, .monthHeader a:visited
{
	color:#e49e53;
	text-decoration:none;
	font-weight:700;
}

.monthFooter a:hover, .monthHeader a:hover
{
	color:#fff;
	text-decoration:none;
	font-weight:700;
}

.monthHeader td
{
	padding-right:5px;
}

.monthCalBodyTH th[scope=row]
{
	font-size:12px;
	background-color:#7e2305;
	color:#e6a054;
	font-weight:400;
	padding:5px;
}

.monthCalBodyTH th
{
	font-size:12px;
	background-color:#a74423;
	color:#ffe295;
	font-weight:400;
	padding:5px;
}

.monthViewDayHeight td[scope=row]
{
	vertical-align:top;
	background-color:#7e2305;
	color:#e6a054;
	padding:5px;
}

a.monthViewDayHeight td[scope=row] a:link,a.monthViewDayHeight td[scope=row] a:visited
{
	font-size:11px;
	color:#e6a054;
	text-decoration:none;
}

a.monthViewDayHeight td[scope=row] a:hover
{
	color:#fff;
}

.monthCalBodyTodayWeekDay
{
	border:2px solid #de5503;
	background-color:#eeb669;
	color:#000;
	text-align:right;
	padding:3px;
}

.monthViewDayHeight td
{
	background-color:#eeb669;
	color:#000;
	text-align:right;
	padding:3px;
}

.monthCalBodyTodayWeekEnd
{
	border:2px solid #a61507;
	background-color:#e9e9e9;
	color:#000;
	text-align:right;
	padding:3px;
}

.monthViewDayHeight td[class=weekend]
{
	background-color:#e6a054;
	color:#000;
	text-align:right;
	padding:3px;
}

a.monthViewDayHeight td a:link,a.monthViewDayHeight td a:visited
{
	color:#820908;
	font-size:12px;
	text-decoration:none;
}

a.monthViewDayHeight td a:hover
{
	color:#c74302;
	text-decoration:underline;
}

a.monthViewDayHeight td[class=weekend] a:hover
{
	color:#820908;
	text-decoration:underline;
}

a.monthCalBodyDayItemLink:link,a.monthCalBodyDayItemLink:visited
{
	font-size:10px;
	color:#820908;
}

a.monthCalBodyDayItemLink:hover
{
	color:#c74302;
	text-decoration:underline;
}

.monthCalBodyDayItem
{
	background-color:#ffe396;
	border:1px solid #de5503;
}

.monthCalBodyDayIconTd
{
	vertical-align:top;
	padding:2px 0 0 4px;
}

.monthCalBodyDayItemTd
{
	vertical-align:top;
	padding:3px;
}

.monthViewDayHeight
{
	height:100px;
}

.yearViewDayHeight
{
	height:40px;
}

.monthCalBody th
{
	vertical-align:top;
	background-color:#e6a054;
	color:#f2c889;
	height:28px;
	padding:3px;
}

.monthCalBody td
{
	background-color:#eeb669;
	color:#000;
	text-align:left;
	padding:3px;
}

/*a.monthCalBody th a:link,a.monthCalBody th a:visited
{
	color:#820908;
	text-decoration:none;
}

a.monthCalBody th a:hover
{
	text-decoration:underline;
}*/

.yearCalBody
{
	background-color:#4d100b;
}

.yearCalBodyMonth
{
	border:1px solid #a74423;
	padding-top:5px;
	background-color:#7e2305;
}

/*a.yearCalBodyMonth > a:link,a.yearCalBodyMonth > a:visited
{
	font-size:13px;
	font-weight:700;
	color:#ffe295;
	text-decoration:none;
}

a.yearCalBodyMonth > a:hover
{
	color:#fff;
}*/

h5.calSharedUser
{
	color:#ffe295;
	background-color:#a74423;
	height:20px;
	padding-top:5px;
	padding-left:5px;
	font-size:12px;
	border-top:1px solid #a61507;
	margin-top:0;
}

.todaysTask
{
	color:#FF7800;
}

.overdueTask
{
	color:#ef0505;
	font-weight:700;
}

.required
{
	color:#f08502;
	font-weight:700;
	font-size:13px;
}

.error
{
	color:#c41505;
}

.success
{
	color:#0e8e0e;
}

.rssItemDate
{
	color:#000;
}

.dateFormat
{
	font-weight:400;
	font-style:italic;
	font-size:10px;
}

.chartFootnote
{
	font-size:10px;
}

.copyRightLink a:hover
{
	color:#fff;
	text-decoration:none;
}

.tm
{
	font-size:8px;
	font-family:Verdana;
}

.footer
{
	color:#e6a054;
	padding-bottom:10px;
}

.footerLink a:hover
{
	color:#fff;
	text-decoration:none;
}

/*.underfooter
{
	border-top:1px solid #a61507;
	padding-top:10px;
}
*/
.schedulerDiv
{
	width:100%;
	border:1px solid #a61507;
	margin-top:0;
}

#scheduler .schedulerDiv table
{
	width:100%;
	border-collapse:collapse;
}

.schedulerTimeRow
{
	background-color:#a74423;
	border-top:1px solid #4d100b;
	border-bottom:1px solid #ffe396;
}

.schedulerTopDeleteHeaderCell
{
	border-collapse:collapse;
}

.schedulerDeleteHeaderCell
{
	border-collapse:collapse;
}

.schedulerTopDateCell
{
	background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=listViewBg.gif);
	background-repeat:repeat-x;
	background-color:#800808;
	color:#e6a054;
	font-weight:700;
	font-size:12px;
	padding:3px;
}

.schedulerAttendeeHeaderCell
{
	border-right:1px solid #ffe396;
	border-bottom:1px solid #ffe396;
}

#scheduler .schedulerDiv table tr.schedulerTimeRow td[scope=col]
{
	border-right:1px solid #ffe396;
	border-bottom:1px solid #ffe396;
	color:#ffe396;
	font-size:12px;
	font-family:sans-serif;
	padding-left:2px;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td[scope=row]
{
	background-color:#e6a054;
	border-right:1px solid #ffe396;
	border-bottom:1px solid #ffe396;
	overflow:hidden;
	border-collapse:collapse;
	height:14px;
	padding-left:4px;
	color:000;
	width:125px;
	font-size:12px;
	font-weight:400;
	text-decoration:none;
}

.schedulerAttendeeDeleteCell
{
	background-color:#e6a054;
	border-bottom:1px solid #ffe396;
	color:#000;
	padding-left:4px;
	text-align:left;
	border-collapse:collapse;
}

.schedulerAttendeeIconCell
{
	color:#000;
	height:18px;
	border-collapse:collapse;
	width:16px;
	padding:0;
}

.schedulerSlotEmptyDiv
{
	border:0 solid transparent;
	width:100%;
	height:100%;
}

.schedulerSlotCellStartTime
{
	border-left:4px solid #75AF4F;
	border-right:1px solid #ffe396;
	border-top:1px solid #ffe396;
	border-bottom:1px solid #ffe396;
	background-color:#eeb669;
	width:15px;
	padding:0;
}

.schedulerSlotCellEndTime
{
	border-left:4px solid red;
	border-right:1px solid #ffe396;
	border-top:1px solid #ffe396;
	border-bottom:1px solid #ffe396;
	background-color:#eeb669;
	width:15px;
	padding:0;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td
{
	border-collapse:collapse;
	border:1px solid #ffe396;
	background-color:#eeb669;
	width:15px;
	padding:0;
}

.schedulerAttendeeRow
{
	border-right:1px solid #e6a054;
	border-bottom:1px solid #e6a054;
	height:18px;
}

.schedulerEvenListRow
{
	font-size:12px;
	color:#000;
	background-color:#eeb669;
	padding:2px 5px 4px;
}

.schedulerOddListRow
{
	font-size:12px;
	color:#000;
	background-color:#e6a054;
	padding:2px 5px 4px;
}

/*ul.tablist
{
	margin-left:0;
	margin-bottom:0;
	border-bottom:1px solid #A61507;
	font:bold 11px Arial, Verdana, Helvetica, sans-serif;
	padding:3px 0;
}

ul.tablist li
{
	list-style:none;
	display:inline;
	margin:0;
}

ul.tablist li a
{
	margin-left:3px;
	border:1px solid #A61507;
	border-bottom:none;
	background:#6D0605;
	text-decoration:none;
	padding:3px .5em;
}

ul.tablist li a:link
{
	color:#E6A054;
	text-decoration:none;
}

ul.tablist li a:visited
{
	color:#E6A054;
	text-decoration:none;
}

ul.tablist li a:hover
{
	color:#FFE396;
	background:#DE5503;
	border-left:1px solid #DE5503;
	border-right:1px solid #DE5503;
	border-top:1px solid #DE5503;
}

ul.tablist li a.current
{
	background:#6D0605;
	border-bottom:1px solid #6D0605;
}*/

ul.subpanelTablist
{
	margin-left:0;
	margin-bottom:0;
	border-bottom:1px solid #A61507;
	font:bold 11px Arial, Verdana, Helvetica, sans-serif;
	padding:3px 0;
}

ul.subpanelTablist li
{
	list-style:none;
	display:inline;
	margin:0;
}

ul.subpanelTablist li a
{
	margin-left:3px;
	border:1px solid #A61507;
	border-bottom:none;
	background:#6D0605;
	text-decoration:none;
	padding:3px .5em;
}

ul.subpanelTablist li a:link
{
	color:#E6A054;
	text-decoration:none;
}

ul.subpanelTablist li a:visited
{
	color:#E6A054;
	text-decoration:none;
}

ul.subpanelTablist li a:hover
{
	color:#FFE396;
	background:#DE5503;
	border-left:1px solid #DE5503;
	border-right:1px solid #DE5503;
	border-top:1px solid #DE5503;
}

ul.subpanelTablist li a.current
{
	background:#6D0605;
	border-bottom:1px solid #6D0605;
}
/*
ul#tablist li a.current,ul#tablist li a.current:hover
{
	background:transparent;
	border-bottom:1px solid #4d100b;
}*/

ul.subpanelTablist #addPageItem a,ul.subpanelTablist #addPageItem a:hover
{
	border:none;
	background:transparent;
	text-decoration:none;
}

.olFontClass
{
	color:#820908;
}

.olCapFontClass
{
	font-weight:700;
	color:#ffe295;
}

.olCapFontClass A
{
	color:#a61507;
	font-size:9px;
}

.olFgClass
{
	background-color:#ffe295;
	padding:2px 5px 5px;
}

.olOptionsFgClass td
{
	padding:0;
}

.olCgClass td
{
	border-top:1px solid #e56f03;
	border-bottom:1px solid #4d100b;
	padding-left:5px;
}

.olCgClass
{
	border:0;
	padding:0;
}

.olBgClass
{
	background-color:#a61507;
}

.olCloseFontClass
{
	padding-bottom:1px;
	color:#820908;
	text-align:right;
}

.olCloseFontClass a:link,.olCloseFontClass a:visited
{
	color:#000;
}
/*
.aclall
{
	color:green;
	font-weight:700;
}

.aclowner
{
	color:#000;
	font-weight:700;
}

.aclnone
{
	color:red;
	font-weight:700;
}

.aclenabled
{
	color:green;
	font-weight:700;
}

.acldisabled
{
	color:red;
	font-weight:700;
}

.acladmin
{
	color:#00F;
	font-weight:700;
}

.aclnormal
{
	color:green;
	font-weight:700;
}
*/

/*
ul.noBullet
{
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}

li.noBullet
{
	list-style-type:none;
	margin:0;
	padding:0;
}*/

table.edit td ul li
{
	list-style-type:none;
	margin-bottom:10px;
}

.helpButton
{
	font-weight:700;
}

.helpShortcut
{
	font-weight:700;
}

#sitemapLink {
	padding-top:0px;
	margin-right:0.4em;
	height:auto;
}

#sitemapLinkSpan {
    color:#000;
	font-weight:bold;
	font-size:11px;
}


#sitemap .edit
{
	padding:10px 10px 10px 20px;
}

#sitemap a:link,#sitemap a:visited
{
	text-decoration:none;
	font-size:11px;
}

#sitemap h4 a:link,#sitemap h4 a:visited
{
	font-size:13px;
}

#sitemap ul.nobullet
{
	margin-top:10px;
}

#sitemap a:hover,#sitemap h4 a:hover
{
	text-decoration:underline;
}

#sitemap ul.nobullet li
{
	margin-bottom:5px;
}

.sugarFeedDashlet
{
	overflow:auto;
	max-height:375px;
	height:expression(this.scrollHeight>375?'375px':'auto');
}

.sugarFeedDashlet td.list th, .sugarFeedDashlet td.list td[scope=col]
{
	display:none;
}

.sugarFeedDashlet tr
{
	height:auto;
}

.sugarFeedDashlet .byLineBox
{
	width:100%;
	position:relative;
}

.sugarFeedDashlet .byLineBox .byLineLeft
{
	font-size:79%;
}

.sugarFeedDashlet .byLineBox .byLineRight
{
	display:inline;
	right:0;
	position:absolute;
	font-size:79%;
}

iframe.teamNoticeBox
{
	width:99%;
	padding:0;
}

.loading-indicator
{
	font-size:11px;
	background-image:url(../../include/javascript/yui/build/assets/skins/sam/wait.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:20px;
	line-height:16px;
	margin:3px;
}

.x-sqs-list
{
	border:1px solid #d0d0d0;
	background:#d0d0d0;
	zoom:1;
	overflow:hidden;
}

.x-sqs-list-inner
{
	overflow:auto;
	background:#FFF;
	position:relative;
	zoom:1;
	overflow-x:hidden;
}

.x-sqs-list-item
{
	font:normal 12px tahoma,arial,helvetica,sans-serif;
	border:1px solid #fff;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:1px;
}

.x-sqs-list .x-sqs-selected
{
	border:1px dotted #f6f6f6!important;
	background:#d0d0d0;
	cursor:pointer;
}

.formHeader {
	margin-top:1em;
}

#search_form{
	margin-bottom:1.5em;
}

.formHeader h3 {
background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sunset&imageName=h3Arrow.gif);
background-position:left center;
background-repeat:no-repeat;
}

.formHeader span {
	margin-left:1em;
	font-size:18px;
}

.formHeader table {
	margin-bottom:-1em;
}

input[class="button"]{
	width:auto;
}

.detail tr td[colspan="20"]{
	border-top:1px solid #e56f03;
    border-bottom:1px solid #4d100b;
}

.detail tbody tr td[style="text-align: left;"]{
	background-color:#801402;
}

div#content {
	border:none;
}

.detail h4 {
    margin-top:0.5em;
    margin-bottom:0.6em;
    color:#801402;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    letter-spacing:0.05em;
    text-align:left;
    text-transform:uppercase;
}

.evenListRowS1{
	background-color:#EEB669;
}

table[class="formHeader h3Row"]{
	margin-bottom:0;
}
.oddListRowS1{
    background-color:#E6A054;
}

.evenListRowS1 a, .oddListRowS1 a {
	   color:#820908;
}

.evenListRowS1 a, .oddListRowS1 a {
       color:#c74302;
}

.evenListRowS1 slot, .oddListRowS1 slot{
	color:#000000;
}

/*.evenListRowS1:hover, .oddListRowS1:hover{
    background-color:#FFE295;
}*/

.listViewHRS1 {
    background-color:#EEB669;
}

.edit h4{
    float:left;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    letter-spacing:0.05em;
    text-transform:uppercase;
    margin-top:0em;
    height:2em;
    margin-top:0.2em;
}

#edit_tabs h4{
    width:100%;
}

#edit_tabs th {
    text-align:left;
}

#edit_tabs td table{
    float:left;
}

#edit_tabs td[width="90%"][valign="top"]{
    font-size:11px;
}

input[type="button"]
{
	width:auto;
}

.none input[type=radio] {
    vertical-align:middle;
    padding-left:2px;
    margin-left:0.2em;
    margin-right:0.2em;
}

#newRecord, #leftColumn {
	margin-top:1em;
}

#bodytime a{
	color:#820908;
}

#bodytime a:hover{
    color:#820908;
	text-decoration:underline;
}

#colorPicker {
	height:18px;
	margin:-1.6em 0 0 -3px;
	padding: 2px 5px 0;
}


#colorPicker #themepickerLinkSpan {
    color:#EC864F;
    text-decoration:none;
    font-size:11px;
    font-weight:700;
    margin-left:2px;
}

#colorPicker #themepickerLinkSpan:hover {
    color:#fff;
}

