{{#if commitLog.length}}
    <div class="row-fluid">
        <div class="span12">
            <div class="extend results" id="history_log_results">
                {{#each commitLog}}
                    <article>
                        {{this.text}}
                        <br>
                        <date>{{this.text2}}</date>
                    </article>
                {{/each}}
            </div>
        </div>
    </div>
{{/if}}
