<form class="form-search-related" action="">
    <div class="control-group">
        <div class="filter controls">
            <div class="filter-view search">
                <div>
                    <input type="hidden" class="select2 search-filter" data-placeholder="{{str "LBL_MODULE"}}">
                    <div class="choice-filter"></div>
                    <input type="text" size=" " class="search-name" placeholder="{{str "LBL_BASIC_SEARCH"}}&hellip;">
                </div>
            </div>
        </div>
    </div>
</form>
