<div class="search-filter">
    <form class="form-search-related">
        <div class="control-group">
            <div class="filter controls controls-two btn-group-fit">
                <div class="toggle-actions actions">
                    <div class="btn-group" data-toggle="buttons-radio">
                        {{#each toggles}}
                                <a type="button" class="btn {{#if disabled}}disabled{{/if}}" {{#if disabled}}disabled{{/if}} data-view="{{toggle}}" data-mode="view" rel="tooltip" title="{{str title}}"><i class="{{class}}"></i></a>
                         {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-options extend hide">
        </div>
    </form>
</div>
<div class="main-content">
</div>
