<div class="row-fluid bcard1">
  <div class="span6">
    <label>Account:</label>
    <span class="dblclick">Plato's LED MFT</span>

    <label>Amount:</label>
    <span class="dblclick">$300,000 (USD)</span>

    <label>Stage:</label>
    <span class="dblclick">Prospecting</span>
  </div>
  <div class="span6">

    <label>Probability:</label>
    <span class="dblclick">30%</span>
    <label>Close Date:</label>
    <span class="dblclick">06/06/2012</span>
  </div>
</div>


<script>
  page = {
        "title": "Opportunities"
      , "module": "opportunity"
      , "record": {
          'title':"Plato's LED MFT"
        , 'avatar': 'logo_weyland.png'
      }
  };

  loadPartials([
      {"file":"common/header-view","target":"#view .headerpane","method":"replace"}
    , {"file":"common/search-filter-related","target":"#view .search-filter","method":"replace"}
    , {"file":"common/record-sub-panel","target":"#view .main-content","method":"replace"}
  ]);

  $(document).ready(function() {
    $('body').addClass('view');
    $('.form-search-related #related_filter').on('change',function(e){
      var module = $(this).select2('val').replace('filter_','sp_');

      $('#moduleActivity .results > li').each(function(){
        var $this = $(this);
        console.log($this.attr('id') +'='+ module)
        $this.toggle(module==='sp_all' || $this.attr('id')===module);
      });
    });
  });
</script>
