
<div class="btn-toolbar pull-right">
  <div class="btn-group pull-left">
    <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
    <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </div>
  <div class="btn-group dropdown">
    <a class="btn btn-primary" href="#">Edit</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Delete</a></li>
    </ul>
  </div>
  {{>drawerTrig}}
</div>

<a href="" class="avatar avatar42 pull-left">
  <img src="../img/logo_weyland.png" alt="Weyland logo">
</a>
<h1>Plato's LED Financial Apps <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i><span></h1>
