<div id="moduleActivity">
  <div class="tab-content">

    <div class="tab-pane active" id="activity-overview">
      <div class="block filtered tabs-left">
        <form class="omnibar clearfix" action="">
          <a href="" class="avatar avatar42 pull-left">
            <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
          </a>
          <div contenteditable="true" class="span10 sayit" dropzone="copy"></div>
        </form>
        <ul class="results">
          <li>
            <a href="" class="avatar avatar42 pull-left">
              <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
            </a>
            <p>
              <a href="profile_skhan.html">Sabra Khan</a> added <a href="#file1" data-toggle="tab">screenshot_766.png</a> file to the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
              <br>
              <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
            </p>
            <ul class="commented">
              <li>
                <a href="" class="pull-left avatar">
                  <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
                </a>
                <p>
                  <a href="profile_skhan.html">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
                  <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
                </p>
              </li>
              <div class="extend hide">
                <li>
                  <a href="" class="pull-left avatar">
                    <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
                  </a>
                  <p>
                    <a href="profile_skhan.html">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
                    <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
                  </p>
                </li>
                <li>
                  <a href="" class="pull-left avatar">
                    <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
                  </a>
                  <p>
                    <a href="profile_skhan.html">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
                    <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
                  </p>
                </li>
              </div>
              <li>
                <a href="" class="more">2 more comments...  <i class="icon-chevron"></i></a>
              </li>
            </ul>
            <div class="actions">
              <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
              <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
            </div>
          </li>
          <li>
            <a href="" class="avatar avatar42 pull-left">
              <img src="../img/avatar_james.jpg" alt="Skhan avatar">
            </a>
            <p>
              <a href="profile_skhan.html">Jim Atlas</a> added email to the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
              <br>
              <date class="date">about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
            </p>
            <ul class="commented"></ul>
            <div class="actions">
              <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
              <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
            </div>
          </li>
          <li>
            <a href="" class="avatar avatar42 pull-left">
              <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
            </a>
            <p>
              <a href="profile_skhan.html">Sabra Khan</a> updated phone, url, and email in the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
              <br>
              <date class="date">1 hour ago on 3/12/2012at 2:00 pm EST</date>
            </p>
            <ul class="commented"></ul>
            <div class="actions">
              <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
              <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
            </div>
          </li>
          <li>
            <a href="" class="avatar avatar42 pull-left">
              <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
            </a>
            <p>
              <a href="profile_skhan.html">Sabra Khan</a> added the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
              <br>
              <date class="date">2 hours ago on 3/12/2012 at 1:00 pm EST</date>
            </p>
            <ul class="commented"></ul>
            <div class="actions">
              <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
              <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-pane" id="activity-contacts">
      <table class="table datatable">
        <thead>
          <tr>
            <th class="nosort">
              <div class="btn-group">
                <b class="btn"><input type="checkbox" class="toggle-all"></b>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Email</a></li>
                  <li><a href="#">Mass Update</a></li>
                  <li><a href="#">Merge</a></li>
                  <li><a href="#">Export</a></li>
                </ul>
              </div>
            </th>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
            <th class="nosort">. . .</th>
          </tr>
        </thead>
        <tbody id="listed">
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_underwater.html">Underwater Mining Inc.</a></td>
            <td><span class="dblclick">San Francisco</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick"> (202) 312-5472</span></td>
            <td><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="activity-history">
      <ul class="nav nav-tabs results">
        <li>
          <a href="" class="avatar avatar42 pull-left">
            <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
          </a>
          <p>
            <a href="profile_skhan.html">Sabra Khan</a> added <a href="#file1" data-toggle="tab">screenshot_766.png</a> file to the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
            <br>
            <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
          </p>
          <ul class="commented">
            <li>
              <a href="" class="pull-left avatar">
                <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
              </a>
              <p>
                <a href="profile_skhan.html">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
                <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
              </p>
            </li>
            <div class="extend hide">
              <li>
                <a href="" class="pull-left avatar">
                  <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
                </a>
                <p>
                  <a href="profile_skhan.html">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
                  <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
                </p>
              </li>
              <li>
                <a href="" class="pull-left avatar">
                  <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
                </a>
                <p>
                  <a href="profile_skhan.html">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
                  <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
                </p>
              </li>
            </div>
            <li>
              <a href="" class="more">2 more comments...  <i class="icon-chevron"></i></a>
            </li>
          </ul>
          <div class="actions">
            <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
            <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
          </div>
        </li>
        <li>
          <a href="" class="avatar avatar42 pull-left">
            <img src="../img/avatar_james.jpg" alt="Skhan avatar">
          </a>
          <p>
            <a href="profile_skhan.html">Jim Atlas</a> added email to the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
            <br>
            <date class="date">about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </p>
          <ul class="commented"></ul>
          <div class="actions">
            <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
            <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
          </div>
        </li>
        <li>
          <a href="" class="avatar avatar42 pull-left">
            <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
          </a>
          <p>
            <a href="profile_skhan.html">Sabra Khan</a> updated phone, url, and email in the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
            <br>
            <date class="date">1 hour ago on 3/12/2012at 2:00 pm EST</date>
          </p>
          <ul class="commented"></ul>
          <div class="actions">
            <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
            <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
          </div>
        </li>
        <li>
          <a href="" class="avatar avatar42 pull-left">
            <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
          </a>
          <p>
            <a href="profile_skhan.html">Sabra Khan</a> added the <a href="detail_plato.html">Plato's LED Financial Apps</a> opportunity.
            <br>
            <date class="date">2 hours ago on 3/12/2012 at 1:00 pm EST</date>
          </p>
          <ul class="commented"></ul>
          <div class="actions">
            <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
            <a data-toggle="tab" href="#file1"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
          </div>
        </li>
      </ul>
    </div>

    <div class="tab-pane" id="activity-attachments">
      <table class="table datatable">
        <thead>
          <tr>
            <th class="nosort">
              <div class="btn-group">
                <b class="btn"><input type="checkbox" class="toggle-all"></b>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Email</a></li>
                  <li><a href="#">Mass Update</a></li>
                  <li><a href="#">Merge</a></li>
                  <li><a href="#">Export</a></li>
                </ul>
              </div>
            </th>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
            <th class="nosort">. . .</th>
          </tr>
        </thead>
        <tbody id="listed">
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_underwater.html">Underwater Mining Inc.</a></td>
            <td><span class="dblclick">San Francisco</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick"> (202) 312-5472</span></td>
            <td><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"> <i class="icon-star"></i></td>
            <td><a href="detail_perkin_kleiners.html">Perkin Kleiners</a></td>
            <td><span class="dblclick">Cupertino</span></td>
            <td><span class="dblclick">USA</span></td>
            <td><span class="dblclick">(408) 555-5271</span></td>
            <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
            <td>
              <span class="hide actions dropdown pull-right">
                <a class="btn btn-invisible dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
