<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="redirect01" stopProcessing="true">
          <match url="sugarcrm\.log\.*" />
          <action type="Redirect"
url="PlaceholderForSiteUrl/log_file_restricted.html" redirectType="Found"
/>
        </rule>
        <rule name="redirect02" stopProcessing="true">
          <match url="install.log" />
          <action type="Redirect"
url="PlaceholderForSiteUrl/log_file_restricted.html" redirectType="Found"
/>
        </rule>
        <rule name="redirect03" stopProcessing="true">
          <match url="upgradeWizard.log" />
          <action type="Redirect"
url="PlaceholderForSiteUrl/log_file_restricted.html" redirectType="Found"
/>
        </rule>
        <rule name="redirect04" stopProcessing="true">
          <match url="emailman.log" />
          <action type="Redirect"
url="PlaceholderForSiteUrl/log_file_restricted.html" redirectType="Found"
/>
        </rule>
        <rule name="redirect05" stopProcessing="true">
          <match url="not_imported_(.*).txt" />
          <action type="Redirect"
url="PlaceholderForSiteUrl/log_file_restricted.html" redirectType="Found"
/>
        </rule>
        <rule name="redirect06" stopProcessing="true">
          <match url="XTemplate/(.*)/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect07" stopProcessing="true">
          <match url="data/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect08" stopProcessing="true">
          <match url="examples/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect09" stopProcessing="true">
          <match url="include/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect10" stopProcessing="true">
          <match url="include/(.*)/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect11" stopProcessing="true">
          <match url="log4php/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect12" stopProcessing="true">
          <match url="log4php/(.*)/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect13" stopProcessing="true">
          <match url="metadata/(.*)/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect14" stopProcessing="true">
          <match url="modules/(.*)/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect15" stopProcessing="true">
          <match url="soap/(.*).php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
        <rule name="redirect16" stopProcessing="true">
          <match url="emailmandelivery.php" />
          <action type="Redirect" url="PlaceholderForSiteUrl/index.php"
redirectType="Found" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
