buildpath
.externalToolBuilders/
.project
.settings/
.idea
build/rome/builds/
sidecar/src/config.js
sidecar/src/config_si.php
sidecar/minified
sidecar/docs
sugarcrm/docs
sidecar/extensions/nomad/compiled/*.js
sidecar/extensions/portal/config.js
sugarcrm/clients/forecasts/config.js
sidecar/extensions/core/config.js
sidecar/extensions/nomad/config.js
sugarcrm/config_si.php
sugarcrm/portal2/config.js
*~
translations/
/.idea
/.settings
.DS_Store
sugarcrm/custom/include/
sugarcrm/custom/modules/
sugarcrm/custom/Extension/
sugarcrm/custom/themes/
build/rome/MAMP
atlassian-ide-plugin.xml
sugarcrm/node_modules
sugarcrm/vendor/autoload.php
sugarcrm/vendor/composer/
sugarcrm/vendor/ruflin/
sugarcrm/vendor/bin/
sugarcrm/vendor/phpunit/
sugarcrm/vendor/google/
sugarcrm/vendor/sebastian/
sugarcrm/vendor/symfony/
sugarcrm/vendor/ocramius/
sugarcrm/vendor/onelogin/
sugarcrm/vendor/doctrine/
sugarcrm/vendor/psr/
sugarcrm/vendor/
sugarcrm/testsunit/phpunit.xml
sugarcrm/tests/phpunit.xml
sugarcrm/styleguide/assets/css/sugar.css
sugarcrm/styleguide/assets/css/bootstrap.css

