buildpath
.externalToolBuilders/
.project
.settings/
.idea
build/rome/builds/
sidecar/src/config.js
sidecar/src/config_si.php
sidecar/minified
sidecar/docs
sugarcrm/docs
sidecar/extensions/nomad/compiled/*.js
sidecar/extensions/portal/config.js
sugarcrm/clients/forecasts/config.js
sidecar/extensions/core/config.js
sidecar/extensions/nomad/config.js
sugarcrm/config_si.php
sugarcrm/portal2/config.js
*~
/.idea
/.settings
.DS_Store
sugarcrm/custom/modules/*/Ext
sugarcrm/custom/application/Ext
build/rome/MAMP
atlassian-ide-plugin.xml
sugarcrm/node_modules
sugarcrm/vendor/*
!sugarcrm/vendor/HTMLPurifier
!sugarcrm/vendor/HTTP_WebDAV_Server
!sugarcrm/vendor/Pear
!sugarcrm/vendor/Smarty
!sugarcrm/vendor/XTemplate
!sugarcrm/vendor/Zend
!sugarcrm/vendor/lessphp
!sugarcrm/vendor/log4php
!sugarcrm/vendor/oauth2-php
!sugarcrm/vendor/nusoap
!sugarcrm/vendor/pclzip
!sugarcrm/vendor/reCaptcha
!sugarcrm/vendor/tcpdf
!sugarcrm/vendor/ytree
sugarcrm/testsunit/phpunit.xml
sugarcrm/tests/phpunit.xml
sugarcrm/styleguide/assets/css/sugar.css
sugarcrm/styleguide/assets/css/bootstrap.css
sugarcrm/dist
sugarcrm/custom/history
sugarcrm/custom/blowfish/
sugarcrm/cache/Expressions/
sugarcrm/cache/class_map.php
