[submodule "sugarcrm/sidecar"]
	path = sugarcrm/sidecar
	url = https://github.com/sugarcrm/sidecar.git

[submodule "sugarcrm/dist/identity-provider"]
	path = sugarcrm/dist/identity-provider
	url = https://github.com/sugarcrm/IdentityProvider.git
