.buildpath
.externalToolBuilders/
.project
.settings/
.idea
build/rome/builds/
sugarcrm/config_si.php
*~
translations/
/.idea
/.settings
.DS_Store
sugarcrm/custom/include/
sugarcrm/custom/modules/
sugarcrm/custom/Extension/
sugarcrm/custom/themes/
