[submodule "sugarcrm/sidecar"]
	path = sugarcrm/sidecar
	url = git@github.com:sugarcrm/sidecar.git
[submodule "sugarcrm/styleguide"]
	path = sugarcrm/styleguide
	url = https://github.com/sugarcrm/styleguide.git
