{{{toolbarHtml}}}
<div class="dashlet-unordered-list">
    <div class="dashlet-tabs tab{{tabs.length}}">
        {{{tabsHtml}}}
    </div>
    <div class="tab-content">
        {{{recordsHtml}}}
    </div>
</div>
