<div class="dashlet-options">
    <div class="row-fluid">
        <div class="span8">
            {{#each dashletConfig.filter}}
                {{field ../this model=../settings template="edit"}}
            {{/each}}
        </div>
        <div class="span4">
            <div class="btn-group pull-right dashlet-group" data-toggle="buttons-radio">
                <button class="btn{{#eq settings.attributes.visibility "user"}} active{{/eq}}" value="user" data-action="visibility-switcher"><i class="icon-user"></i></button>
                <button class="btn{{#eq settings.attributes.visibility "group"}} active{{/eq}}" value="group" data-action="visibility-switcher"><i class="icon-group"></i></button>
            </div>
        </div>
    </div>
</div>
