
     <!-- Carousel
    ================================================== -->
    <section id="carousel">
      <div class="page-header">
        <h1>Carousel <small>bootstrap-carousel.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>About</h3>
          <p>A generic plugin for cycling through elements. A merry-go-round.</p>
          <a href="js/bootstrap-carousel.js" target="_blank" class="btn">Download file</a>
        </div>
        <div class="span9 columns">
          <h2>Example carousel</h2>
          <p>Watch the slideshow below.</p>
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          <div class="alert alert-info">
            <strong>Heads up!</strong>
            When implementing this carousel, remove the images we have provided and replace them with your own.
          </div>
          <hr>
          <h2>Using bootstrap-carousel.js</h2>
          <p>Call via javascript:</p>
          <pre class="prettyprint linenums">$('.carousel').carousel()</pre>
          <h3>Options</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">Name</th>
               <th style="width: 50px;">type</th>
               <th style="width: 50px;">default</th>
               <th>description</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>interval</td>
               <td>number</td>
               <td>5000</td>
               <td>The amount of time to delay between automatically cycling an item.</td>
             </tr>
            </tbody>
          </table>
          <h3>Markup</h3>
          <p>Data attributes are integral to the carousel plugin. Check out the example code below for the various markup types.</p>
<pre class="prettyprint linenums">
&lt;div class="carousel"&gt;
  &lt;!-- Carousel items --&gt;
  &lt;div class="carousel-inner"&gt;
    ...
  &lt;/div&gt;
  &lt;!-- Carousel nav --&gt;
  &lt;a class="carousel-control left" href="#myCarousel" data-slide="prev"&gt;&amp;lsaquo;&lt;/a&gt;
  &lt;a class="carousel-control right" href="#myCarousel" data-slide="next"&gt;&amp;rsaquo;&lt;/a&gt;
&lt;/div&gt;
</pre>
          <h3>Methods</h3>
          <h4>.carousel(options)</h4>
          <p>Initializes the carousel with an optional options <code>object</code> and starts cycling through items.</p>
<pre class="prettyprint linenums">
$('.myCarousel').carousel({
  interval: 2000
})
</pre>
          <h4>.carousel('cycle')</h4>
          <p>Cycles through the carousel items from left to right.</p>
          <h4>.carousel('pause')</h4>
          <p>Stops the carousel from cycling through items.</p>
          <h4>.carousel(number)</h4>
          <p>Cycles the carousel to a particular frame (0 based, similar to an array).</p>
          <h4>.carousel('prev')</h4>
          <p>Cycles to the previous item.</p>
          <h4>.carousel('next')</h4>
          <p>Cycles to the next item.</p>
          <h3>Events</h3>
          <p>Bootstrap's modal class exposes a few events for hooking into modal functionality.</p>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 150px;">Event</th>
               <th>Description</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>slide</td>
               <td>This event fires immediately when the <code>slide</code> instance method is invoked.</td>
             </tr>
             <tr>
               <td>slid</td>
               <td>This event is fired when the carousel has completed it's slide transition.</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section id="colorpicker">
          <div class="page-header">
            <h1>Colorpicker for Bootstrap <small>bootstrap-colorpicker.js</small></h1>
          </div>
          <div class="row">
            <div class="span3 columns">
              <h3>About</h3>
              <p>Add color picker to field or to any other element.</p>
              <ul>
                <li>can be used as a component</li>
                <li>alpha picker</li>
                <li>multiple formats: hex, rgb, rgba, hsl, hsla</li>
              </ul>
              <p><a href="http://www.eyecon.ro/bootstrap-colorpicker/colorpicker.zip" target="_blank" class="btn">Download</a></p>
            </div>
            <div class="span9 columns">
              <h2>Example</h2>
              <p>Attached to a field with hex format specified via options.</p>
              <div class="well">
                <input type="text" class="span1" value="#8fff00" id="cp1" rel="colorpicker" >
              </div>
              <p>Attachet to a field with the rgba format specified via data tag.</p>
              <div class="well">
                <input type="text" class="span3" value="rgb(0,194,255,0.78)" id="cp2" data-color-format="rgba"  rel="colorpicker">
              </div>
              <p>As component.</p>
              <div class="well">
                <div class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="rgb" id="cp3" rel="colorpicker">
                    <input type="text" class="span2" value="" readonly >
                    <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
                </div>
              </div>
              <p>Using events to work with the color.</p>
              <div class="well">
                <a href="#" class="btn small" id="cp4" data-color-format="hex" data-color="rgb(255, 255, 255)"  rel="colorpicker">Change background color</a>
              </div>
              <hr>
              <h2>Using bootstrap-colorpicker.js</h2>
              <p>Call the colopicker via javascript:</p>
              <pre class="prettyprint linenums">$('[rel=colorpicker]').colorpicker()</pre>
              <h3>Options</h3>
              <table class="table table-bordered table-striped">
                <thead>
                 <tr>
                   <th style="width: 100px;">Name</th>
                   <th style="width: 50px;">type</th>
                   <th style="width: 100px;">default</th>
                   <th>description</th>
                 </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>format</td>
                   <td>string</td>
                   <td>'hex'</td>
                   <td>the color format - hex | rgb | rgba.</td>
                 </tr>
                </tbody>
              </table>

              <h3>Markup</h3>
              <p>Format a component.</p>
    <pre class="prettyprint linenums">
    &lt;div class=&quot;input-append color&quot; data-color=&quot;rgb(255, 146, 180)&quot; data-color-format=&quot;rgb&quot;&gt;
      &lt;input type=&quot;text&quot; class=&quot;span2&quot; value=&quot;&quot; &gt;
      &lt;span class=&quot;add-on&quot;&gt;&lt;i style=&quot;background-color: rgb(255, 146, 180)&quot;&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;/div&gt;
    </pre>
              <h3>Methods</h3>
              <h4>.colorpicker(options)</h4>
              <p>Initializes an colorpicker.</p>


              <h3>Events</h3>
              <p>Colopicker class exposes a few events for manipulating the colors.</p>
              <table class="table table-bordered table-striped">
                <thead>
                 <tr>
                   <th style="width: 150px;">Event</th>
                   <th>Description</th>
                 </tr>
                </thead>
                <tbody>
                 <tr>
                   <td>show</td>
                   <td>This event fires immediately when the color picker is displayed.</td>
                 </tr>
                 <tr>
                   <td>hide</td>
                   <td>This event is fired immediately when the color picker is hidden.</td>
                 </tr>
                 <tr>
                   <td>changeColor</td>
                   <td>This event is fired when the color is changed.</td>
                 </tr>
                </tbody>
              </table>
    <pre class="prettyprint linenums">
    $(&#039;.colorpicker&#039;).colorpicker().on(&#039;changeColor&#039;, function(ev){
      bodyStyle.backgroundColor = ev.color.toHex();
    });
    </pre>
            </div>
          </div>
        </section>

