    <!-- Drawers
    ================================================== -->
    <section id="drawers">
      <div class="page-header">
        <h1>Drawers</h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>About drawers</h3>
          <p>Drawer is a form of a modal that pushes main content down and expands from the top taking 100% of the screen width. 
            It is used for various Create work flows. Content that was on screen prior to drawer trigger is visible in the drawer
            on the bottom part of the screen.
          </p>
        </div>
        <div class="span9 columns">
          <h2><a target="_top" href="sugar7/leads_multi_modal.html">See live demo</a></h2>
          <p></p>
        </div>
      </div>
    </section>

