/*********************************************************************************
 *The contents of this file are subject to the SugarCRM Professional End User License Agreement 
 *("License") which can be viewed at http://www.sugarcrm.com/EULA.  
 *By installing or using this file, You have unconditionally agreed to the terms and conditions of the License, and You may 
 *not use this file except in compliance with the License. Under the terms of the license, You 
 *shall not, among other things: 1) sublicense, resell, rent, lease, redistribute, assign or 
 *otherwise transfer Your rights to the Software, and 2) use the Software for timesharing or 
 *service bureau purposes such as hosting the Software for commercial gain and/or for the benefit 
 *of a third party.  Use of the Software may be subject to applicable fees and any use of the 
 *Software without first paying applicable fees is strictly prohibited.  You do not have the 
 *right to remove SugarCRM copyrights from the source code or user interface. 
 * All copies of the Covered Code must include on each user interface screen:
 * (i) the "Powered by SugarCRM" logo and 
 * (ii) the SugarCRM copyright notice 
 * in the same form as they appear in the distribution.  See full license for requirements.
 *Your Warranty, Limitations of liability and Indemnity are expressly stated in the License.  Please refer 
 *to the License for the specific language governing these rights and limitations under the License.
 *Portions created by SugarCRM are Copyright (C) 2004 SugarCRM, Inc.; All Rights Reserved.  
 ********************************************************************************/
/*********************************************************************************
 * $Id: fonts.largest.css 16360 2006-08-24 18:24:27Z liliya $
 * Description:  Contains a variety of utility functions used to display UI 
 * components such as form headers and footers.  Intended to be modified on a per 
 * theme basis.
 ********************************************************************************/
 
h3,.monthHeaderH3,.schedulerTopDateCell
{
	font-size:16px;
}

#moduleList ul li,#lastView
{
	font-size:13px;
	height:30px;
}

.otherTab#MoreHandle,#MoreHandle
{
	font-size:12px;
	vertical-align:bottom;
	padding:0 6px;
}

#subModuleList, .leftList
{
	font:normal 14px Arial, Verdana, Helvetica, sans-serif;
}

ul#subModuleList li a
{
	padding:4px 3px 4px 6px;
}

#welcome
{
	font-size:14px;
	height:23px;
}

#subtabs
{
	font-size:14px;
	height:21px;
}

ul.subTabs
{
	font:13px Arial, Verdana, Helvetica, sans-serif;
}

.evenListRowS1 td,.oddListRowS1 td
{
	font-size:14px;
	padding-bottom:6px;
	padding-top:4px;
}

a.listViewCheckLink:link,a.listViewCheckLink:visited
{
	font-size:13px;
	font-weight:400;
	text-decoration:none;
}

.detail .list table tr.pagination td
{
	padding:4px 5px 5px 8px;
}

a.monthCalBodyDayItemLink:link,a.monthCalBodyDayItemLink:visited,a.monthCalBodyDayItemLink:hover
{
	font-size:12px;
}

.tm
{
	font-size:10px;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td[scope=row]
{
	width:160px;
}

ul#globalLinks
{
	height:20px;
	font:14px Arial, Verdana, Helvetica, sans-serif;
}

.olCapFontClass A
{
	font-size:11px;
}

body,.body,button,input[type=submit],input[type=reset],input[type=button],button[selected],input[type=submit][selected],input[type=reset][selected],input[type=button][selected],button,input[type=submit],input[type=reset],input[type=button]:hover,button,input[type=submit],input[type=reset],input[type=button]:focus,button[selected],input[type=submit][selected],input[type=reset][selected],input[type=button][selected]:focus,input,select,textarea,.headerBg,a.list td a:link,a.list td a:visited,a.list tr.pagination a:link,a.list tr.pagination a:visited,.edit,.subpanelTabForm,h5.edit td[scope=row],.edit td[scope=row],.edit td,.detail td[scope=row],h4.detail td[scope=row],.detail td,.other td[scope=row],.monthBox,a.monthViewDayHeight td a:link,a.monthViewDayHeight td a:visited,.monthCalBody td,a.yearCalBodyMonth > a:link,a.yearCalBodyMonth > a:visited,.schedulerDiv,#globalLinks #subtabs,#globalLinks ul.subTabs li a,#search
{
	font-size:14px;
}

table,td,#search input[name=query_string],.subTabMore,#newRecord form,#newRecord form button,#newRecord form input[type=submit],#newRecord form input[type=reset],#newRecord form input[type=button],#newRecord form .edit td[scope=row],#newRecord form a:link,#newRecord form a:visited,table.list .view th,.list th, .list td[scope=col],a.listViewCheckLink:hover,a.utilsLink:link,a.utilsLink:visited,a.tabFormAdvLink:link,a.tabFormAdvLink:visited,.subpanelTabForm h3,.other td,a.other td[scope=row] a:link,a.other td[scope=row] a:visited,a.monthViewDayHeight td[scope=row] a:link,a.monthViewDayHeight td[scope=row] a:visited,.calSharedUser,.rssItemDate,.dateFormat,.chartFootnote,.sqsMatchedSmartInputItem
{
	font-size:13px;
}

h2,h1,h4,h4.edit td[scope=row],h5,h5.listViewSubHeadS1
{
	font-size:15px;
}

#moduleList,.schedulerTopRow,.schedulerTopDeleteHeaderCell,.schedulerDeleteHeaderCell,.schedulerTopHeaderCell,.schedulerAttendeeHeaderCell,.schedulerAttendeeHeaderCell
{
	height:30px;
}

#globalLinks,ul.tablist,ul.subpanelTablist
{
	font:14px Arial, Verdana, Helvetica, sans-serif;
}
