<article class="inset-form-header">
    <div class="row-fluid">
        <div class="controls span6">
            <strong>
                Mass Update
            </strong>
        </div>
        <div class="span6">
            <div class="pull-right">
                <a href="#update" class="btn btn-primary">Update</a>
                <a href="#close" class="btn btn-invisible btn-dark"><i class="icon-remove"></i></a>
            </div>
        </div>
    </div>
</article>
<article class="inset-form-body">
    <div class="row-fluid">
        <div class="filter-field controls span3">
            <select name="field" class="select2 inherit-width buildit">
                <option data-values="" data-text="true" data-enabled="true">Name</option>
                <option data-values="Jim Brennan,Will Westin,Sally Smith" data-text="false" data-enabled="true">Assigned to</option>
                <option data-values="Prospecting,Value Proposition,Closed Won,Closed Lost" data-text="false" data-enabled="true">Sales Stage</option>
                <option data-values="true" data-text="false" data-enabled="true">Favorite</option>
            </select>
        </div>
        <div class="filter-value controls span7">
            <input type="text" name="value" class="inherit-width" placeholder="Enter a name...">
        </div>
        <div class="filter-actions controls span2">
            <a href="" class="btn btn-invisible btn-dark addme disabled"><i class="icon-plus"></i></a>
        </div>
    </div>
</article>

<script>
  $(document).ready(function() {

      // define global elements
      var $form = $('.mu').parents('form'),
          $options = $('.mu'),
          $header = $options.find('.inset-form-header'),
          $value,
          $select;

      initSelect2('.mu select.select2');

      $options.removeClass('hide');

      $form.on('change', '.mu .filter-field', function(e){
        $value = $(e.target).parents('.inset-form-body').find('.filter-value');
        $value.empty();

        if ( $(e.target).find('option').filter(':selected').data('text') ) {
            $('<input/>').appendTo($value).attr('type','text').attr('name','value').addClass('inherit-width');
        } else {
            $select = $('<select>').appendTo($value).attr('name','value').addClass('select2 inherit-width');

            //set the operations
            $select.find('option').remove();
            $('<option>').appendTo($select);
            $.each( $(e.target).find('option').filter(':selected').data('values').split(','), function(index,value){
                $('<option>').appendTo($select).attr('value', value).text(value);
            });
            $select.select2( getSelect2Constructor($select) );
        }
      });

      $form.on('change', '.mu .filter-value', function(e){
        $value = $(e.target).parents('.inset-form-body').find('.addme').removeClass('disabled');

      });

      // close att to target extend
      $header.find('a[href="#close"]').off('click').on('click', function(e){
          $options.addClass('hide');
          e.preventDefault();
          e.stopPropagation();
      });

      // if click update button then update the target
      // and close filter editor
      $header.find('a[href="#update"]').off('click').on('click', function(e){
          if ( !$(this).hasClass('disabled') ) {
              $options.addClass('hide');
          }
          throwMessage('The selected X items have been updated.','success');
          e.preventDefault();
          e.stopPropagation();
      });
  });
</script>
