RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# the url of the directory that contains .htaccess file
#
# RewriteBase /
RewriteBase /<web_root>/summer/splash/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^rest rest.php [L]
