#searchForm {
  position: relative;
  float: left;
  display: inline-block;
  width: ~"-moz-calc(100% - 208px)";
  width: ~"-webkit-calc(100% - 208px)";
  width: ~"calc(100% - 208px)";

  .btn {
    margin-right: 0;
  }
  label {
    &.hide {
      display: none;
    }
  }
  .rtlFloat(@direction,left);
  .dropdown-menu {
    // Typeahead
    &.typeahead {
      li, a {
      padding: 0;
      margin: 0;
      .border-radius(0);
      text-indent: 0;
      }
      li > a {
      padding: 10px;
      }
    }
  }

  .advanced .dropdown-menu {
    .border-radius(@borderRadiusSmall);
  li {
      &:first-child {
        border-top: none;
      }
      label {
        margin-bottom: 0;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        padding: 10px;
        .select-module {
          display: inline-block;
          margin-right: 6px;
        }
      }
  }
  }
}
.navbar-search {
  display: inline-block;
  margin-left: 0;
}

.searchSuggestions {
  border: 1px solid @grayLight;
  box-shadow: @shadowWidget;
  li {
    background: @white;
    &:not(:last-child) {
      border-bottom: 1px solid @grayLighter;
    }
    &.selected {
      background: @grayLighter;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -2px;
        bottom: -1px;
        width: 3px;
        background: @linkColor;
        background: -webkit-linear-gradient(@linkColor, @linkColorHover);
        background: linear-gradient(@linkColor, @linkColorHover);
      }
    }
    &.listItem:hover {
      cursor: pointer;
    }
    a {
      &:focus {
        outline: none;
      }
    }
  }
}
