#searchForm {
    position: relative;
    display: inline-block;
    width: 80%;
    
    .btn {
        margin-right: 0;
    }
    label {
        &.hide {
            display: none;
        }
    }
    .rtlFloat(@direction,left);
    .dropdown-menu {
        // Typeahead
        &.typeahead {
          li, a {
            padding: 0;
            margin: 0;
            .border-radius(0);
            text-indent: 0;
          }
          li > a {
            padding: 10px;
          }
        }
    }
        
    .advanced .dropdown-menu {
    	// [moey] Override sugarspecific/globalsearch.less.
		//   This is somehow "redundant" because sugarspecific/globalsearch.less actually
		//   overrides Bootstrap's default style and here we're again override it to
		//   get back to Bootstrap's default.		
    	background-color: @white;
    	
    	top: 24px;
    	border: 1px solid @grayLight;
    	.border-radius(4px);

		li {
			border-top: 1px solid @grayLighter;
		}
    }
}
.navbar-search {
    display: inline-block;
    margin-left: 0;
}
