@media (max-width: 768px) {

  .row-fluid .main-pane.span8 {
    padding-top: 81px !important;
  }
  // [moey] I didn't directly make this change in sugar-specific/responsive-sugar.less
  //   because it's also used for Sugar7.
  #searchForm .navbar-search .search-query {
    .box-sizing(border-box !important);
    width: 100% !important;
    height: 28px; // Due to `border-box`.
  }

  // For the 'Search people and ...' text below the omnibar / search field.
  .hybrid-list-info-text {
    margin-right: 0 !important;
  }
}

@media (max-width: 480px) {
  #searchForm:not(.active) {
    .search-query {
      display: inline-block;
      position: relative;
      right: auto;
    }
    div.advanced .btn-group {
      .btn {
        background-image: none;
        background-color: transparent;
        border: 1px solid transparent;
        .box-shadow(none);
        outline: none;
        text-shadow: none;
        border-width: 0;
        &:hover,
        &:active,
        &.active,
        &.disabled,
        &[disabled] {
          background-color: @white;
        }
      }
      a.advanced {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 400px) {

}
