li.hybrid-list-item {
    background: #F8F8F8;
    width: 100%;
    display: table;
    margin-top: 1px;
    padding: 0px 10px;
    list-style: none;

    &:hover {
        background: #F1F1F1;
        cursor: pointer;
    };

    div {
        display: table-cell;
        vertical-align: middle;
    }
}
