.switchboard-container {
    .row-fluid {
        margin: 15px 0;
        padding: 0 20px;
    }

    .select2-choice {
        background: none;
        border: none;
        font-weight: bold;
    }
}
