
{{#each meta.panels}}
    <p><b>{{str "LBL_PMSE_PROCESS_DEFINITION_IMPORT_TEXT" ../module}}</b></p>
    {{#each fields}}
    <div class="span10 controls">
        {{field ../../this}}
    </div>

    {{/each}}


{{/each}}

