<table class="table table-striped choose-primary">
  <thead>
    <tr>
      <th class="nosort">Select</th>
      <th>Account Name</th>
      <th>City</th>
      <th>Billing Country</th>
      <th>Phone</th>
      <th class="nosort">&#8230;</th>
    </tr>
  </thead>
  <tbody id="listed">
    <tr>
      <td><input type="radio" name="merge"></td>
      <td><a href="#">Trait Institute Inc</a></td>
      <td>San Jose</td>
      <td>USA</td>
      <td>305-333-2441</td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
    </tr>
   
    <tr>
      <td><input type="radio" name="merge"></td>
      <td><a href="#">Trait Institute Inc</a></td>
      <td>Denver</td>
      <td>USA</td>
      <td>617-333-2441</td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
    </tr>

    <tr>
      <td><input type="radio" name="merge"></td>
      <td><a href="#">Trait Institute Inc</a></td>
      <td>Cupertino</td>
      <td>USA</td>
      <td>301-333-2291</td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
    </tr>
  </tbody>
</table>
  <script>
    $(document).ready(function() {
      $('body').on('click', '.choose-primary input[type=radio]', function(){
        $('.btn.proceed-to-merge').removeClass('disabled');
      });
    });
  </script>
