<div class="thumbnail widget" id="widget_interactions-widget">
  <div class="btn-toolbar pull-right">
    <a href="#" data-toggle="widget" class="btn btn-invisible"><i class="icon-plus"></i></a>
    <a href="#" data-toggle="widget" class="btn btn-invisible"><i class="icon-search"></i></a>
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-invisible"><i class="icon-cog"></i></a>
    <ul class="dropdown-menu left carettop">
      <div>
        <li><a href="#">Settings</a></li>
        <li><a href="#" class="widget-remove">Remove</a></li>
      </div>
    </ul>
  </div>
  <h4 data-toggle="widget">Contacts</h4>
  <div class="widget-content">
    <table class="table table-striped choose-primary" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Account</th>
          <th class="nosort">&#8230;</th>
        </tr>
      </thead>
      <tbody id="listed">
        <tr>
          <td><a href="">Majed Itani</a></td>
          <td>Avery Software Co</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="">Jim Atlas</a></td>
          <td>AD Impoting Co</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="">Jeff Pan</a></td>
          <td>A.G. Parr PLC</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3"><a href="">More contacts...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


