<div class="btn-toolbar pull-right dropdown">
  <a href="common/data-table.html" data-toggle="proto" data-target="#view .main-content" data-mode="list" class="btn btn-invisible btn-link cancel">Cancel</a>
  <a href="#" title="Proceed to Merge" class="btn btn-primary disabled proceed-to-merge">Proceed to Merge</a>
  {{>drawerTrig}}
</div>
<h1>Choose Primary Account</h1>

<script>
  $(document).ready(function() {
    $('body').on('click', '.btn.proceed-to-merge', function(e){
        loadPartials([
          {"file":"merge/merge-interface-header.html","target":"#edit .headerpane","method":"replace"},
          {"file":"merge/merge-interface.html","target":"#edit .record","method":"replace"},
          {"file":"merge/merge-interface-sidebar.html","target":".sidebar-content .side-pane","method":"replace"}
        ]);
        e.preventDefault();
    });
  });
</script>