<h4 class="merge-interface-header">Trait Institute Inc
<a class="pull-right btn btn-link btn-invisible preview check-if-collapsed" href="preview/lead-preview.html" rel="tooltip" data-placement="bottom" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
</h4>


  <script>
    $(document).ready(function() {
    });
    $('.main-pane .record').addClass('record-merge-interface');
    $('body').on('click', '.merge-interface', function(){
    	$('.merge-save').removeClass('disabled');
    });

    $('body').on('click', '.col .show_extra', function(){
        $('.col .extra').toggleClass('hide');
        $(this).html('Less <i class="icon-caret-up"></i>').removeClass('show_extra').addClass('hide_extra');
    });

    $('body').on('click', '.col .hide_extra', function(){
        $('.col .extra').toggleClass('hide');
        $(this).html('More <i class="icon-caret-down"></i>').removeClass('hide_extra').addClass('show_extra');
    });

    $('body').on('click', '.check-if-collapsed', function(){
		if($('.btn.drawerTrig .icon-double-angle-left').length > 0) {
			$('.btn.drawerTrig .icon-double-angle-left').trigger('click');
		}
    });

	$(".fluid-div").sortable({
		items: ".col",
        axis: "x",
	});

	init_primary_drop();

	function init_primary_drop (){



	    $( ".primary-edit-mode .primary-lbl" ).draggable({
	      helper: function( event ) {
	        return $('<div class="primary-lbl static-ui-draggable"> Primary</div>');
	      },
	      stop: function(e) {
			var dropped_to = $(document.elementFromPoint(e.clientX, e.clientY+24)).closest('.col');
			$('.col').removeClass('primary-edit-mode');
			$('.col .primary-lbl').removeAttr('style');
			dropped_to.addClass('primary-edit-mode');
			setTimeout(init_primary_drop, 500);
	      }
	    });
	}

  </script>


<div class="merge-interface row-fluid">


	<div class="label-div">
        <div class="col pull-left">
			<div class="merge-row"><label for="">Account Name:</label></div>
			<div class="merge-row"><label for="">Industry:</label></div>
			<div class="merge-row"><label for="">Billing City:</label></div>
			<div class="merge-row"><label for="">Billing Postal Code:</label></div>
			<div class="merge-row"><label for="">Office Phone:</label></div>
			<div class="merge-row"><label for="">Website:</label></div>
			<div class="merge-row"><label for="">Shipping City:</label></div>
			<div class="merge-row"><label for="">Shipping Postal Code:</label></div>
			<div class="merge-row"><label for="">Teams:</label></div>
			<div class="extra hide">
				<div class="merge-row"><label for="">Company:</label></div>
				<div class="merge-row"><label for="">Title:</label></div>
			</div>
			<aside><a href="#" class="show_extra">More <i class="icon-caret-down"></i></a></aside>
        </div>
	</div>


<style>




</style>


	<div class="fluid-div">
        <div class="col primary-edit-mode">
        	<div class="primary-lbl"> Primary</div>
			<div class="box">
				<div class="merge-view">
					<div class="merge-row odd"><input type="radio" name="merge11"> Trait Institute Inc</div>
					<div class="merge-row even"><input type="radio" name="merge12"> Telecommunication</div>
					<div class="merge-row odd"><input type="radio" name="merge13"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge14"> 53697</div>
					<div class="merge-row odd"><input type="radio" name="merge15"> 720-888-5596</div>
					<div class="merge-row even"><input type="radio" name="merge16"> www.beansinfo.com</div>
					<div class="merge-row odd"><input type="radio" name="merge17"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge18"> 53697</div>
					<div class="merge-row odd"><input type="checkbox" name="merge19"> West, North</div>
					<div class="extra hide">
						<div class="merge-row even"><input type="radio" name="merge20"> IBM</div>
						<div class="merge-row odd"><input type="radio" name="merge21"> Director</div>
					</div>
				</div>
                <div class="merge-edit">
					<div class="merge-row"><input type="radio" name="merge11"> <input type="text" value="Trait Institute Inc" ></div>
					<div class="merge-row"><input type="radio" name="merge12"> <input type="text" value="Telecommunication" ></div>
					<div class="merge-row"><input type="radio" name="merge13"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge14"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="radio" name="merge15"> <input type="text" value="720-888-5596" ></div>
					<div class="merge-row"><input type="radio" name="merge16"> <input type="text" value="www.beansinfo.com" ></div>
					<div class="merge-row"><input type="radio" name="merge17"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge18"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="checkbox" name="merge19"> <input type="text" value="West, North" ></div>
					<div class="extra hide">
						<div class="merge-row"><input type="radio" name="merge20"> <input type="text" value="IBM" ></div>
						<div class="merge-row"><input type="radio" name="merge21"> <input type="text" value="Director" ></div>
					</div>
				</div>
			</div>
		</div>
        <div class="col">
        	<div class="primary-lbl"> Primary</div>
			<div class="box">
				<div class="merge-view">
					<div class="merge-row odd"><input type="radio" name="merge11"> TTTc</div>
					<div class="merge-row even"><input type="radio" name="merge12"> Telecommunication</div>
					<div class="merge-row odd"><input type="radio" name="merge13"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge14"> 53697</div>
					<div class="merge-row odd"><input type="radio" name="merge15"> 720-888-5596</div>
					<div class="merge-row even"><input type="radio" name="merge16"> www.beansinfo.com</div>
					<div class="merge-row odd"><input type="radio" name="merge17"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge18"> 53697</div>
					<div class="merge-row odd"><input type="checkbox" name="merge19"> West, North</div>
					<div class="extra hide">
						<div class="merge-row even"><input type="radio" name="merge20"> IBM</div>
						<div class="merge-row odd"><input type="radio" name="merge21"> Director</div>
					</div>
				</div>
				<div class="merge-edit">
					<div class="merge-row"><input type="radio" name="merge11"> <input type="text" value="TTTc" ></div>
					<div class="merge-row"><input type="radio" name="merge12"> <input type="text" value="Telecommunication" ></div>
					<div class="merge-row"><input type="radio" name="merge13"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge14"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="radio" name="merge15"> <input type="text" value="720-888-5596" ></div>
					<div class="merge-row"><input type="radio" name="merge16"> <input type="text" value="www.beansinfo.com" ></div>
					<div class="merge-row"><input type="radio" name="merge17"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge18"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="checkbox" name="merge19"> <input type="text" value="West, North" ></div>
					<div class="extra hide">
						<div class="merge-row"><input type="radio" name="merge20"> <input type="text" value="IBM" ></div>
						<div class="merge-row"><input type="radio" name="merge21"> <input type="text" value="Director" ></div>
					</div>
				</div>
			</div>
        </div>
		<div class="col">
        	<div class="primary-lbl"> Primary</div>
			<div class="box">
				<div class="merge-view">
					<div class="merge-row odd"><input type="radio" name="merge11"> LLC</div>
					<div class="merge-row even"><input type="radio" name="merge12"> Telecommunication</div>
					<div class="merge-row odd"><input type="radio" name="merge13"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge14"> 53697</div>
					<div class="merge-row odd"><input type="radio" name="merge15"> 720-888-5596</div>
					<div class="merge-row even"><input type="radio" name="merge16"> www.beansinfo.com</div>
					<div class="merge-row odd"><input type="radio" name="merge17"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge18"> 53697</div>
					<div class="merge-row odd"><input type="checkbox" name="merge19"> West, North</div>
					<div class="extra hide">
						<div class="merge-row even"><input type="radio" name="merge20"> IBM</div>
						<div class="merge-row odd"><input type="radio" name="merge21"> Director</div>
					</div>
				</div>
				<div class="merge-edit">
					<div class="merge-row"><input type="radio" name="merge11"> <input type="text" value="LLC" ></div>
					<div class="merge-row"><input type="radio" name="merge12"> <input type="text" value="Telecommunication" ></div>
					<div class="merge-row"><input type="radio" name="merge13"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge14"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="radio" name="merge15"> <input type="text" value="720-888-5596" ></div>
					<div class="merge-row"><input type="radio" name="merge16"> <input type="text" value="www.beansinfo.com" ></div>
					<div class="merge-row"><input type="radio" name="merge17"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge18"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="checkbox" name="merge19"> <input type="text" value="West, North" ></div>
					<div class="extra hide">
						<div class="merge-row"><input type="radio" name="merge20"> <input type="text" value="IBM" ></div>
						<div class="merge-row"><input type="radio" name="merge21"> <input type="text" value="Director" ></div>
					</div>
				</div>
			</div>
		</div>
        <div class="col">
        	<div class="primary-lbl"> Primary</div>
			<div class="box">
				<div class="merge-view">
					<div class="merge-row odd"><input type="radio" name="merge11"> IBM</div>
					<div class="merge-row even"><input type="radio" name="merge12"> Telecommunication</div>
					<div class="merge-row odd"><input type="radio" name="merge13"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge14"> 53697</div>
					<div class="merge-row odd"><input type="radio" name="merge15"> 720-888-5596</div>
					<div class="merge-row even"><input type="radio" name="merge16"> www.beansinfo.com</div>
					<div class="merge-row odd"><input type="radio" name="merge17"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge18"> 53697</div>
					<div class="merge-row odd"><input type="checkbox" name="merge19"> West, North</div>
					<div class="extra hide">
						<div class="merge-row even"><input type="radio" name="merge20"> IBM</div>
						<div class="merge-row odd"><input type="radio" name="merge21"> Director</div>
					</div>
				</div>
				<div class="merge-edit">
					<div class="merge-row"><input type="radio" name="merge11"> <input type="text" value="IBM" ></div>
					<div class="merge-row"><input type="radio" name="merge12"> <input type="text" value="Telecommunication" ></div>
					<div class="merge-row"><input type="radio" name="merge13"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge14"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="radio" name="merge15"> <input type="text" value="720-888-5596" ></div>
					<div class="merge-row"><input type="radio" name="merge16"> <input type="text" value="www.beansinfo.com" ></div>
					<div class="merge-row"><input type="radio" name="merge17"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge18"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="checkbox" name="merge19"> <input type="text" value="West, North" ></div>
					<div class="extra hide">
						<div class="merge-row"><input type="radio" name="merge20"> <input type="text" value="IBM" ></div>
						<div class="merge-row"><input type="radio" name="merge21"> <input type="text" value="Director" ></div>
					</div>
				</div>
			</div>
        </div>
		<div class="col">
        	<div class="primary-lbl"> Primary</div>
			<div class="box">
				<div class="merge-view">
					<div class="merge-row odd"><input type="radio" name="merge11"> SalesForce</div>
					<div class="merge-row even"><input type="radio" name="merge12"> Telecommunication</div>
					<div class="merge-row odd"><input type="radio" name="merge13"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge14"> 53697</div>
					<div class="merge-row odd"><input type="radio" name="merge15"> 720-888-5596</div>
					<div class="merge-row even"><input type="radio" name="merge16"> www.beansinfo.com</div>
					<div class="merge-row odd"><input type="radio" name="merge17"> San Jose</div>
					<div class="merge-row even"><input type="radio" name="merge18"> 53697</div>
					<div class="merge-row odd"><input type="checkbox" name="merge19"> West, North</div>
					<div class="extra hide">
						<div class="merge-row even"><input type="radio" name="merge20"> IBM</div>
						<div class="merge-row odd"><input type="radio" name="merge21"> Director</div>
					</div>
				</div>
				<div class="merge-edit">
					<div class="merge-row"><input type="radio" name="merge11"> <input type="text" value="SalesForce" ></div>
					<div class="merge-row"><input type="radio" name="merge12"> <input type="text" value="Telecommunication" ></div>
					<div class="merge-row"><input type="radio" name="merge13"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge14"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="radio" name="merge15"> <input type="text" value="720-888-5596" ></div>
					<div class="merge-row"><input type="radio" name="merge16"> <input type="text" value="www.beansinfo.com" ></div>
					<div class="merge-row"><input type="radio" name="merge17"> <input type="text" value="San Jose" ></div>
					<div class="merge-row"><input type="radio" name="merge18"> <input type="text" value="53697" ></div>
					<div class="merge-row"><input type="checkbox" name="merge19"> <input type="text" value="West, North" ></div>
					<div class="extra hide">
						<div class="merge-row"><input type="radio" name="merge20"> <input type="text" value="IBM" ></div>
						<div class="merge-row"><input type="radio" name="merge21"> <input type="text" value="Director" ></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


