<div class="howto">
    <h3>Merge</h3>
    <p>
Merge records quickly with the merge feature. You may merge up to 5 records at a time. For your
convenience, only data which is different between records is shown — you may choose to see all data
by pressing "More".
    </p>
    <p>
Select the desired information to keep from each record by using the radio buttons. If you don't
see the correct information you mat edit the Primary record.
	</p>
	<p>
At any time during the merge process you mat choose to Preview the final record in 
the right-hand side panel.
	</p>
	<p>
Once you have completed your merge selections, press Save and you will be left with 
1 record, the others will be archived and removed from all list views. All related
records will be linked to the new merged record.
	</p>
	<p>
Quick tip:<br>
It is best to use this feature in the Expanded view to see all merging records.

	</p>
</div>
