<div class="headerpane">
    <h1><span class="module-title">{{title}}</span></h1>
    <div class="btn-toolbar pull-right dropdown">
        {{#each meta.buttons}}
            {{field ../this}}
        {{/each}}
    </div>
</div>