
#dnb-industry-info,
#dnb-contact-list,
#dnb-contact-details,
#dnb-refresh-details,
#dnb-std-company-details,
#dnb-prem-company-details,
#dnb-news-detail {
	display: none;
}

#dnb-no-duns,
#dnb-search-hint {
	text-align: center;
	padding-left: 10px;
	padding-bottom: 5px;
}


div.dnb-checkbox-nav {
	float:left;
	width: 20px;
	margin:10px 5px;
	padding:0;
	overflow: hidden;
}
div.dnb-company-label {
	font-size: @fontSizeSmall;
    color: darken(@grayLight, 5%);
	padding-bottom: 2px;
}
div.txt {
	font-size: 12px;
	color: #454545;
}
div.dnb-company-list {
	font-size: 12px;
	color: #454545;
	clear: both;
}
div.url-txt {
	font-size: 13px;
	color: #1571CE;
}
div.dnb-show-less {
	height: 215px;
	overflow: hidden !important;
	margin: auto;
	padding: 0px;
}
div.dnb-show-all {
	height:auto;
}
/*div.dnb-company-details {
	overflow: scroll;
	height:300px;
}*/
div.dnb-show-more {
	height:25px;
	overflow: hidden;
	padding: 5px 0 0 35px;
	border: 1px solid #EEEEEE;
	font-weight: bold;
	font-size: 12px;
}
div.create-acc {
	overflow:hidden !important;
	margin:auto;
	padding:0px;
}
aside.create-no-data {
	margin:25px 0 0 0;
	text-align: center;
	height: 50px;
}


.dnb-refresh {
	margin-right: 15px;
	padding: 5px;
}

.label-uptodate {
	background-color: @green;
}

a.dnb-company-name {
	font-size: @baseFontSize + 2px;
}
a.dnb-companyname {
	font-size: 13px;
}
a.dnb-top-competitor {
	font-size: 13px;
	font-weight:bold;
}

div.accordion-inner {
	div.dnb-subtitle {
		margin:10px 0;
		line-height: 15px;
		overflow: hidden;
		padding: 0px;
		font-weight: bold;
		color:@gray;
	}
	h4 {
		font-weight: bold;
		margin:0 0 0 -10px;
		color: #759EEF;
	}
	.dnb-inner-nav {
		padding: 0px;
	}
}


div aside {
	text-align: center;
	overflow: hidden;
}

ul.list li {
	list-style: none;
	border-top: 1px solid @grayLighter;
	padding: 10px 0 0 10px;
	margin: 0;
}

ul.list li.jstree-leaf {
	padding: 10px 0 5px 5px;
}
.jstree li > a > .jstree-icon {
	padding: 5px;
}

input[type="checkbox"] .dnb_checkbox {
	margin:5px 0 0 0;
}
