
#dnb-industry-info,
#dnb-contact-list,
#dnb-contact-details,
#dnb-refresh-details,
#dnb-std-company-details,
#dnb-prem-company-details,
#dnb-news-detail {
	display: none;
}

#dnb-no-duns,
#dnb-search-hint {
	text-align: center;
	padding-left: 10px;
	padding-bottom: 5px;
}

div.dnb-checkbox-nav {
	float:left;
	width: 20px;
	margin: 10px 5px;
	padding: 0;
	overflow: hidden;
}
div.dnb-company-label {
	font-size: @fontSizeSmall;
	padding-bottom: 2px;
}
div.txt.import-data {
	padding-left: 12px;
	p {
		font-size: 12px;
		padding: 0;
	}
}
div.dnb-company-list {
	font-size: 12px;
	color: #454545;
	clear: both;
}
div.url-txt {
	font-size: 13px;
	color: #1571CE;
}
div.dnb-show-less {
	height: 215px;
	overflow: auto;
}
div.dnb-show-all {
	max-height: 335px;
	overflow: auto;
}
div.dnb-show-more {
	padding: 6px 0 6px 12px;
	border-top: 1px solid darken(@grayLighter,10%);
	width: 100%;
	.box-sizing(border-box);
	background-color: @white;
	border-radius: 0 0 4px 4px;
}
div.create-acc {
	overflow: hidden;
	margin: auto;
	padding: 0px;
}
aside.create-no-data {
	margin: 25px 0 0 0;
	text-align: center;
	height: 50px;
}

.btn-toolbar .dashlet-toolbar .label {
	letter-spacing: normal;
	font-size: 12px;
	font-weight: normal;
}

.dnb-refresh {
	margin-right: 15px;
	padding: 5px;
}

.label-uptodate {
	background-color: @green;
}

a.dnb-company-name {
	font-size: @baseFontSize + 2px;
}
a.dnb-companyname {
	font-size: 13px;
}
a.dnb-top-competitor {
	font-size: 13px;
	font-weight: bold;
}

input[type="checkbox"] .dnb_checkbox {
	margin: 5px 0 0 0;
}

//this is too general
div aside {
	text-align: center;
	overflow: hidden;
}

