h4.interactions-header {
    margin-bottom: 0;
}
.interactions-links-container {
    width: 100%;
}
article[class^="interactions-"] {
    width: 33%;
    display: inline-block;
    text-align: center;
}

article[class^="interactions-"]:hover {
    cursor: pointer;
}
.interactions-link.active article[class^="interactions-"] {
    background: #bfe5f7;
}
.interactions-calls,.interactions-emails {
    border-right: 1px solid #f5f5f5;
}
span[class^="interactions-"] {
    color: #595A5C;
}
.interactions-count {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}
.interactions-type {
    font-size: 80%;
    text-transform: uppercase;
}
.interactions-list-container {
    padding-top: 10px;
}