.dashlets .resource-list,
#tutorial .resource-list {
  display: table;
  margin: 10px 0;
  min-height: 86px;
}
.resource {
  display: table-cell;
  width: 33%;
  padding: 5px 15px 2px 15px;
  border-right: 1px dashed #d3d3d3;
}
.resource:last-child {
  border-right: none;
}

.side .resource-list,
.preview-data .resource-list,
.dashlets .span4 .resource-list,
#tutorial .resource-list {
  display: block;
  margin: 5px 20px;
}
.side .resource,
.preview-data .resource,
.dashlets .span4 .resource,
#tutorial .resource {
  display: block;
  width: 100%;
  padding: 15px 0 15px;
  border-bottom: 1px dashed #d3d3d3;
  border-right: none;
}
.side .resource:last-child,
.preview-data .resource:last-child,
.dashlets .span4 .resource:last-child,
#tutorial .resource:last-child {
  border-bottom: none;
}

.resource-info {
  margin-left: 44px;
}
.resource i {
  color: white;
  font-size: 20px;
  padding: 3px;
  display: inline-block;
}
.resource-info a {
  margin-bottom: 3px;
  margin-top: -2px;
  display: block;
  font-size: 14px;
}
.resource-info .details {
  font-size: 12px;
  line-height: 14px;
}

.popover.feedback .arrow {
  left: 74%
}

.popover.helpmodal {
  .popover-content {
    padding-top: 0;

    ul {
      margin-left: 0;
    }

    .helplet-body {
      max-height: 75px;
      overflow-y: auto;
      margin: 10px 0 10px 0;

      a:hover {
        text-decoration: underline;
      }

      p.body-text {
        margin-top: 10px;
      }
    }
  }

  .arrow {
    left: 94%;
  }

  .resource {
    display: block;
    width: auto;
    padding: 10px 15px 10px 0;
    border-right: none;
    border-bottom: 1px solid lighten(@grayLight, 40%);

    &:last-child {
      border-bottom: none;
    }

    i {
      font-size: initial;
      padding: 1px;
      &.fa-road {
        padding: 1px 0 0 0;
      }
    }
  }

  .resource-info {
    margin-left: 30px;

    &:last-child {
      border-bottom: none;
    }

    a {
      margin-top: 0;
    }
  }

  .btn.btn-link {
    font-size: 13px;
    margin: 0;
    padding: 0;
    &.disabled .label, .fa {
      color: white;
      cursor: default;
    }
  }
}
