.dashlets .resource-list {
  display: table;
  margin: 10px 0;
  min-height: 86px;
}
.resource {
  display: table-cell;
  width: 15%;
  .calcWidth(~"100% / 6");
  padding: 5px 15px 2px 15px;
  border-right: 1px dashed #d3d3d3;
  vertical-align: top;
  white-space: nowrap;
  &:last-child {
    border-right: none;
  }
}

.side,
.preview-data,
.dashlets .span4 {
   .resource-list {
    display: block;
    margin: 5px 12px;
  }
  .resource {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px dashed #d3d3d3;
    border-right: none;
    &:last-child {
      border-bottom: none;
    }
  }
}

.resource-thumbnail {
  vertical-align: middle;
  .label {
    padding: 0;
    line-height: 33px;
    text-align: center;
    margin-top: 2px;
  }
  i {
    color: @white;
    font-size: 16px;
    padding: 0;
    display: inline-block;
    width: 16px;
    line-height: 16px;
  }
}

.resource-info {
  margin-left: 36px;
  &:before {
    content: "";
    height: 33px;
    display: inline-block;
    vertical-align: middle;
  }
  a {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    vertical-align: middle;
    white-space: normal;
  }
}
