div.opportunity-metrics-wrapper {
    padding: 10px 10px 0 10px;

    div.opportunity-metric {
        margin-bottom: 10px;
        text-align: right;

        div.opportunity-metric-description {
            color: @grayLight;
            font-weight: bold;
            text-transform: uppercase;

            span {
                float: none;
                display: inline-block;
                font-weight: bold;
                font-size: 12px;
                text-align: center;
                text-shadow: 0px 1px 0 #636363;
                margin-right: 3px!important;
            }
        }

        div.deal-amount-metric {
            font-size: 2.5em;
            font-weight: bold;
            letter-spacing: -1px;

            & > i {
                color: inherit;
                &.icon-minus {
                    font-size: 22px;
                }
            }

            &.won {
                color: @green;
            }

            &.lost {
                color: @red;
            }

            &.active {
                color: @blue;
            }
        }
    }
}
