[data-type=opportunities-conditional-fieldset] {
  .fieldset.detail {
    margin-bottom: 11px;

    [data-type=enum] {
      margin-bottom: 9px;
    }

    input[type=checkbox] {
      margin-right: 7px;
    }
  }

  .opportunities_cascade_condition::after {
    color: @grayLight;
    font-size: @baseFontSize;
  }
}
