/* Special Styles for a field in the product templates module */

.record .record-cell[data-type="pricing-formula"] .span4 {
  .record-label {
    position: absolute;
    top: 0;
  }
  .pricing-factor {
    display: block;
    width: 100%;
    margin-top: -3px;
  }
}
