.record {
  clear: both;
  margin-bottom: 16px;

  .icon-pencil {
    position: relative;
    top: -1px;
    left: 2px;
  }

  .normal {
    font-size: 117%;
    font-weight: bold;
  }

  .big {
    font-size: 260%;
    color: black;
    line-height: normal;
  }

  .bigcell {
      margin: 16px 0;
  }

  .record-label {
    font-size: 91%;
    font-color: lighten(@gray, 20%);
  }

  .record-save-btns-bar {
    margin-right: 8px;
  }

  .row-fluid {
    margin: 10px 0;
  }

  .record-edit-link-wrapper {
    a {
      display: none;
      text-decoration: none;
      cursor: pointer;
      position: fixed;
      left: -10px

    }
  }

  .record-cell {
    display: inline-block;
    position: relative
  }

  .record-cell:hover > span > a {
    display: inline;
  }

  .control-group.email {
      clear: none;
      display: inline-block;
      margin-bottom: 9px;
      margin-left: 0px;
      .input-append.widget {
        top: -2px;
       }
      .row-fluid {
          margin: 0px;
      }
  }
}

.show-hide-toggle {
    margin: 10px 0;
}