@spotLightWidth: 500px;
@spotLightHalfWidth: 50px;
@spotLightHeight: 60px;
@spotLightGrey: #DBDBDB;

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#spotlight {
  .noselect();
  display: none;
  position: fixed;
  width: @spotLightWidth;
  min-height: @spotLightHeight;
  background-color: @grayLighter;
  top: 14%;
  z-index: 100000;
  left: ~'-moz-calc(50% - 250px)';
  left: ~'-webkit-calc(50% - 250px)';
  left: ~'calc(50% - 250px)';

  margin: 0 auto;
  border-radius: 10px;
  border: 6px solid rgba(0,0,0,.5);

  input[type=text] {
    display: block;
    height: inherit;
    border: 0;
    padding: 0 5px;
    margin: 0;
    position: absolute;
    .calcWidth(~"100% - 75px");
    color: @grayDark;
    background-color: @spotLightGrey;
    font-size: 34px;
    box-shadow: none;
    height: 50px;
    top: 5px;
    left: 5px;
  }

  img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;
  }

  i {
    margin: 3px 3px 0 0;
    &:hover {
      color: #333;
      cursor: pointer;
    }
  }

  .spotlight-searchbar {
    height: @spotLightHeight;
  }
  .spotlight-results {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style-type: none;

    li {
      height: 50px;
      margin: 5px 5px;
      background-color: transparent;
      border-radius: 3px;
      position: relative;

      .label {
        position: absolute;
        top: 9px;
        left: 6px;
      }

      .spotlight-text {
        position: absolute;
        left: 50px;
        font-size: 24px;
        top: 19px;
      }
      &.hover {
        background-color: @spotLightGrey;
      }
    }
  }
}
