.main-pane {
  .container-fluid {
    margin-top: 80px;
  }
}

table {
  thead {
    th:first-child {
      width: 30px;
    }
  }
  tbody {
    tr {
      td.remove {
        min-width: 30px;
        text-align: center;
        vertical-align: middle;
        i {
          font-size: 16px;
          &:hover {
            cursor: pointer;
            color: #333;
          }
        }
      }
    }
  }
  tfoot {
    tr {
      &:hover {
        background-color: #EDEDED;
      }
      &[data-sweetspot=add] {
        td {
          text-align: center;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
