.sweetspot-config {
  .sweetspot-themes {
    .radio {
      margin-top: 10px;
    }

    label.theme {
      position: absolute;
      display: block;
      white-space: nowrap;

      span {
        margin-left: 4px;
      }

      input[type=radio] {
        &:checked + span {
          font-weight: bold;
        }
      }
    }
  }
  table {
    tbody {
      tr {
        td.hotkey-controls {
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}

