    <div class="preview-headerbar">
        <h1>{{str title module}}</h1>
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <a href="javascript:void(0)" class="btn previous-row"><i class="icon-chevron-left"></i></a>
            <a href="javascript:void(0)" class="btn next-row"><i class="icon-chevron-right"></i></a>
          </div>
          <div class="btn-group">
            <a href="javascript:void(0)" data-toggle="tab" class="btn btn-invisible close"><i class="icon-remove"></i></a>
          </div>
        </div>
    </div>