.edit tr td[scope=row] {
    text-align: right;
    width: 15%;
}
.required.no-shadow {
    box-shadow: none;
}
.right {
    text-align: right;
    margin-bottom: 10px;
    float: right;
}
#template_name,
#from_name,
#from_address,
#template_description {
	width: 60%;
}

#email_body_container {
	padding: 2px;
	border: 1px solid lightgray;
}