<!-- Code
================================================== -->
<section id="code">
  <div class="page-header">
    <h1>Code <small>Inline and block code snippets</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Inline</h2>
      <p>Wrap inline snippets of code with <code>&lt;code&gt;</code>.</p>

      <p><strong>Note:</strong> Be sure to keep code within <code>&lt;pre&gt;</code> tags as close to the left as possible; it will render all tabs.</p>
    </div><!--/span-->
    <div class="span4">
      <h2>Google Prettify</h2>
      <p>Take the same <code>&lt;pre&gt;</code> element and add two optional classes for enhanced rendering.</p>
<pre class="prettyprint linenums" style="margin-bottom: 9px;">
&lt;p&gt;Sample text here...&lt;/p&gt;
</pre>
    </div><!--/span-->
  </div><!--/row-->
</section>

              <hr>


