<!--
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

-->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         strict="true"
         timeoutForSmallTests="30"
         timeoutForMediumTests="40"
         timeoutForLargeTests="60"
         syntaxCheck="false"
         bootstrap="SugarTestHelper.php"
        >
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Sugar FRM Test Suite">
            <directory>./modules/ACL/</directory>
            <directory>./modules/Administration/</directory>
            <directory>./modules/Configurator/</directory>
            <directory>./modules/Connectors/</directory>
            <directory>./modules/DynamicFields/</directory>
            <directory>./modules/EmailAddresses/</directory>
            <directory>./modules/Employees/</directory>
            <directory>./modules/Expression/</directory>
            <directory>./modules/Home/</directory>
            <directory>./modules/Import/</directory>
            <directory>./modules/ModuleBuilder/</directory>
            <directory>./modules/MySettings/</directory>
            <directory>./modules/Notifications/</directory>
            <directory>./modules/OAuthKeys/</directory>
            <directory>./modules/SNIP/</directory>
            <directory>./modules/SavedSearch/</directory>
            <directory>./modules/Schedulers/</directory>
            <directory>./modules/SchedulersJobs/</directory>
            <directory>./modules/Studio/</directory>
            <directory>./modules/SubPanel/</directory>
            <directory>./modules/SugarFavorites/</directory>
            <directory>./modules/SugarFeed/</directory>
            <directory>./modules/Teams/</directory>
            <directory>./modules/Trackers/</directory>
            <directory>./modules/UpgradeWizard/</directory>
            <directory>./modules/UserPreferences/</directory>
            <directory>./modules/Users/</directory>
        </testsuite>
        <testsuite name="Sugar Include Test Suite">
            <directory>./include/</directory>
        </testsuite>
        <testsuite name="Sugar Core Test Suite">
            <directory>./data/</directory>
            <directory>./install/</directory>
            <directory>./jssource/</directory>
            <directory>./ModuleInstall/</directory>
        </testsuite>
        <testsuite name="Sugar API Test Suite">
            <directory>./clients/base/api/</directory>
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Sugar SC Test Suite">
            <directory>./modules/Accounts/</directory>
            <directory>./modules/Calendar/</directory>
            <directory>./modules/Calls/</directory>
            <directory>./modules/Contacts/</directory>
            <directory>./modules/Dashboards/</directory>
            <directory>./modules/Documents/</directory>
            <directory>./modules/iCals/</directory>
            <directory>./modules/MassUpdate/</directory>
            <directory>./modules/Meetings/</directory>
            <directory>./modules/Notes/</directory>
            <directory>./modules/Project/</directory>
            <directory>./modules/ProjectTask/</directory>
            <directory>./modules/ReportMaker/</directory>
            <directory>./modules/Reports/</directory>
            <directory>./modules/Tasks/</directory>
            <directory>./modules/Workflow/</directory>
        </testsuite>
        <testsuite name="Sugar SP Test Suite">
            <directory>./modules/Bugs/</directory>
            <directory>./modules/Cases/</directory>
            <directory>./modules/KBDocuments/</directory>
        </testsuite>
        <testsuite name="Sugar MAR Test Suite">
            <directory>./modules/ActivityStream/</directory>
            <directory>./modules/CampaignLog/</directory>
            <directory>./modules/Campaigns/</directory>
            <directory>./modules/CampaignTrackers/</directory>
            <directory>./modules/EmailMan/</directory>
            <directory>./modules/EmailTemplates/</directory>
            <directory>./modules/Emails/</directory>
            <directory>./modules/InboundEmail/</directory>
            <directory>./modules/Leads/</directory>
            <directory>./modules/Mailer/</directory>
            <directory>./modules/OutboundEmailConfiguration/</directory>
            <directory>./modules/ProspectLists/</directory>
            <directory>./modules/Prospects/</directory>
        </testsuite>
        <testsuite name="Sugar SFA Test Suite">
            <file>./data/acl/SugarACLForecastManagerWorksheets.php</file>
            <file>./data/acl/SugarACLForecastWorksheets.php</file>
            <directory>./include/SugarForecasting/</directory>
            <directory>./modules/Contracts/</directory>
            <directory>./modules/Currencies/</directory>
            <directory>./modules/ForecastManagerWorksheets/</directory>
            <directory>./modules/Forecasts/</directory>
            <directory>./modules/ForecastWorksheets/</directory>
            <directory>./modules/Opportunities/</directory>
            <directory>./modules/ProductTemplates/</directory>
            <directory>./modules/Products/</directory>
            <directory>./modules/RevenueLineItems/</directory>
            <directory>./modules/Quotas/</directory>
            <directory>./modules/Quotes/</directory>
            <directory>./modules/TimePeriods/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./cache</directory>
        </blacklist>
        <whitelist>
            <exclude>
                <directory>./soap/</directory>
                <directory>./service/</directory>
                <directory>./rest/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
