<div class="process-status-chart">
    <div class="nv-chart nv-chart-multibar" data-content="chart">
        <svg id="{{cid}}"></svg>
    </div>
    <div class="block-footer hide" data-content="nodata">{{str "LBL_NO_DATA_AVAILABLE"}}</div>
</div>