
<div class="dashlet-options">
    <div class="row-fluid">
        {{#if settings.attributes.visibility}}
            <div class="btn-group dashlet-group" data-toggle="buttons-radio">
                <button class="btn{{#eq settings.attributes.visibility "user"}} active{{/eq}}" value="user" data-action="visibility-switcher" rel="tooltip" data-container="body" data-placement="bottom" title="{{str "My Business Rules" this.module}}" track="click:viewMyUserDashlet">{{str "My Business Rules" this.module}}</button>
                <button class="btn{{#eq settings.attributes.visibility "group"}} active{{/eq}}" value="group" data-action="visibility-switcher" rel="tooltip" data-container="body" data-placement="bottom" title="{{str "All Business Rules" this.module}}" track="click:viewMyTeamsDashlet">{{str "All Business Rules" this.module}}</button>
            </div>
        {{/if}}
    </div>
</div>