// LABELS
// ------

.label {
  padding: 4px;
  font-size: @baseFontSize * .75;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  background-color: @blue;
  .border-radius(3px);
}
.label-important, .label-alert  { background-color: @red; }
.label-warning, .label-note     { background-color: @yellow; }
.label-success, .label-lead     { background-color: @green; }
.label-info, .label-contact     { background-color: @blueLight; }
.label-file                     { background-color: @orange; }
.label-document                 { background-color: @purple; }