// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// Activity
#activity article .avatar {text-indent: 15px; margin-right: 8px;}
article {
  padding-bottom: 8px; 
  margin-bottom: 16px;
  border-bottom: 1px solid #e7e7e7;
}

// Position
.center {
  .center-block();
}
.tcenter {
  text-align: center !important;
}
.tleft {
  text-align: left !important;
}
.tright {
  text-align: right !important;
}
