// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


// GLOBAL VALUES
// --------------------------------------------------

// Grays
@black:                 #000;
.black {background: @black;}

@grayDarker:            #222;
.grayDarker {background: @grayDarker;}

@grayDark:              #333;
.grayDark {background: @grayDark;}

@gray:                  #595A5C;
.gray {background: @gray;}

@grayLight:             #b7b7b7;
.grayLight {background: @grayLight;}

@grayLighter:           #e7e7e7;
.grayLighter {background: @grayLighter;}

@white:                 #fff;
.white {background: @white;}

// Accent colors (hue is roughly 20%)
@blueLight:             lighten(@blue, 30%);
.blueLight {background: @blueLight;}

@blue:                  #0c7ec7;
.blue {background: @blue;}

@blueDark:              darken(@blue, 10%);
.blueDark {background: @blueDark;}

@green:                 #0cc763;
.green {background: @green;}

@red:                   #C60C30;
.red {background: @red;}

@yellow:                #e0d20d;
.yellow {background: @yellow;}

@orange:                #c67e0c;
.orange {background: @orange;}

@pink:                  #c70ca2;
.pink {background: @pink;}

@purple:                #830cc7;
.purple {background: @purple;}

// Links
@linkColor:             @blue;
.linkColor {background: @linkColor;}

@linkColorHover:        darken(@linkColor, 10%);
.linkColorHover {background: @linkColorHover;}



// Typography
@baseFontSize:          13px;
@baseFontFamily:        Arial, sans-serif;
@baseLineHeight:        18px;
@textColor:             @gray;
.textColor {background: @textColor;}

// Buttons
@primaryButtonBackground:    @linkColor;
.primaryButtonBackground {background: @primaryButtonBackground;}

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:        1000;
@zindexPopover:         1010;
@zindexTooltip:         1020;
@zindexFixedNavbar:     1030;
@zindexModalBackdrop:   1040;
@zindexModal:           1050;

// Input placeholder text color
@placeholderText:       @grayLight;

// Backgrounds
body.login {
background: #333 url(/img/hixs_pattern_evolution.png);
}
.login-footer {margin-bottom: 26px;}

.sub-brand {
  color: @gray;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

date {font-size: 11px;}

// Footer
footer p, footer p a {
color: @gray;
}

// Navbar
@navbarHeight:                    40px;
@navbarBackground:                darken(@grayDark, 10%);
.navbarBackground {background: @navbarBackground;}

@navbarBackgroundHighlight:       @grayDark;
.navbarBackgroundHighlight {background: @navbarBackgroundHighlight;}

@navbarText:                      @white;
.navbarText {background: @navbarText;}

@navbarLinkColor:                 @white;
.navbarLinkColor {background: @navbarLinkColor;}

@navbarLinkColorHover:            @grayLighter;
.navbarLinkColorHover {background: @navbarLinkColorHover;}

// Form states and alerts
@warningText:             darken(@yellow, 25%);
@warningBackground:       lighten(@yellow, 30%);
@warningBorder:           darken(spin(@warningBackground, -1), 20%);
.warningBackground {background: @warningBackground; border: 2px solid @warningBorder;}

@errorText:               darken(@red, 25%);
@errorBackground:         lighten(@red, 55%);
@errorBorder:             darken(spin(@errorBackground, -1), 10%);
.errorBackground {background: @errorBackground; border: 2px solid @errorBorder;}

@successText:             darken(@green, 20%);
@successBackground:       lighten(@green, 50%);
@successBorder:           darken(spin(@successBackground, -1), 20%);
.successBackground {background: @successBackground; border: 2px solid @successBorder;}

@infoText:                darken(@blue, 20%);
@infoBackground:          lighten(@blueLight, 10%);
@infoBorder:              darken(spin(@infoBackground, -1), 20%);
.infoBackground {background: @infoBackground; border: 2px solid @infoBorder;}


// GRID
// --------------------------------------------------

// Default 940px grid
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Fluid grid
@fluidGridColumnWidth:    6.382978723%;
@fluidGridGutterWidth:    2.127659574%;
