.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.module-edit {
  display: none;
}
.module-edit .headerpane {
  position: absolute;
  right: 1px;
  left: 0;
}
.module-edit .record {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: auto;
}
.drawer {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  bottom: 50%;
  display: block;
  -webkit-transition: all none;
  -moz-transition: all none;
  -o-transition: all none;
  transition: all none;
}
.drawer.expand {
  height: auto;
  bottom: 60px;
}
.module-view {
  display: block;
}
.module-view .record {
  margin: 0;
}
.drawer-squeezed {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  bottom: 0;
}
.drawer-squeezed.deactivate {
  position: relative;
  height: 100%;
  top: 0;
}
.drawer-squeezed.collapse {
  height: 62px;
  top: auto;
}
.drawer-tab {
  display: none;
}
.drawer-tab .btn {
  position: absolute;
  height: 15px;
  width: 20px;
  top: 2px;
  left: 50%;
  margin-left: -10px;
  z-index: 1011;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.drawer-backdrop {
  z-index: 1010;
  background-color: #d5d5d5;
  opacity: .5;
  display: none;
  border-top: 4px solid #8b8c8e;
}
.drawer-backdrop.drawer-squeezed.collapse {
  height: 59px;
}
.drawer-backdrop.drawer-squeezed,
.drawer-squeezed .drawer-tab {
  display: block;
}
