<div class="headerpane">
  <div class="btn-toolbar pull-right dropdown">
    <a href="#" data-toggle="dropdown" title="Create Account" class="btn btn-primary dropdown-toggle">Create</a>
    <ul class="dropdown-menu">
      <li><a data-toggle="modal" href="#createAccount">Account</a></li>
      <li><a data-toggle="modal" href="#createContact">Contacts</a></li>
      <li><a data-toggle="modal" href="#createOpportunity">Opportunities</a></li>
    </ul>
    {{>drawerTrig}}
  </div>
  <h1>My Dashboard</h1>
</div>
