<div class="headerpane">
  <div class="btn-toolbar pull-right dropdown">
    <div class="btn-group">
      <a href="javascript:void(0)" class="btn previous-row"><i class="icon-chevron-left"></i></a>
      <a href="javascript:void(0)" class="btn next-row"><i class="icon-chevron-right"></i></a>
    </div>
    <div id="pageConfig" class="btn-group">
      <a href="partial/lead/lead-edit.html" data-toggle="tab" data-target="#record" data-mode="view" title="Edit lead" class="btn btn-primary">Edit</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Delete</a></li>
        <li><a href="partial/lead/lead-create.html" data-toggle="tab" data-target="#edit" data-mode="edit" class="btn btn-invisible btn-link save">Create New</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
    <a href="#overview" title="Create Lead" class="btn btn-invisible drawerTrig"><i class="icon-chevron-right two"></i></a>
  </div>
  <span class="avatar avatar42">
    <img src="../img/avatar_mia.jpg">
  </span>
  <h1>
    B.H. Edwards Inc
    <span><i class="icon-favorite active"></i></span>
  </h1>
</div>
<div class="main-content">
  <form class="form-horizontal padded">
    <fieldset class="card2">
      <div class="row-fluid control-group">
        <div class="control-label span2">
            <div class="span10" name="">
                <span sfuuid="33">
                    <i class="icon-favorite active">
                    </i>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                Office Phone
            </div>
            <div class="span10" name="phone_office">
                <span sfuuid="34">
                    (424) 856-2119
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                Website
            </div>
            <div class="span10" name="website">
                <span sfuuid="35">
                    www.sugarphone.cn
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                Email Address
            </div>
            <div class="span10" name="email1">
                <span sfuuid="36">
                    vegan.qa.sales@example.co.uk
                </span>
            </div>
        </div>
        <div class="row-fluid" style="display: block; ">
            <div class="span2">
                Billing Address
            </div>
            <div class="span10" name="">
                <span sfuuid="37" class="address">
                    <span sfuuid="38">
                        777 West Filmore Ln
                    </span>
                    <span sfuuid="39">
                        Ohio
                    </span>
                    <span sfuuid="40">
                        CA
                    </span>
                    <span sfuuid="41">
                        82029
                    </span>
                    <span sfuuid="42">
                        USA
                    </span>
                </span>
            </div>
        </div>
        <div class="row-fluid" style="display: block; ">
            <div class="span2">
                Shipping Address
            </div>
            <div class="span10" name="">
                <span sfuuid="43" class="address">
                    <span sfuuid="44">
                        777 West Filmore Ln
                    </span>
                    <span sfuuid="45">
                        Ohio
                    </span>
                    <span sfuuid="46">
                        CAdasdasd
                    </span>
                    <span sfuuid="47">
                        82029asdadsa
                    </span>
                    <span sfuuid="48">
                        USAdadasdas
                    </span>
                </span>
            </div>
        </div>
        <div class="row-fluid" style="display: block; ">
            <div class="span2">
                Assigned to
            </div>
            <div class="span10" name="assigned_user_name">
                <span sfuuid="50">
                    <a href="#Users/seed_sarah_id">Sarah Smith</a>
                </span>
            </div>
        </div>
        <div class="row-fluid" style="display: block; ">
            <div class="span2">
                Teams
            </div>
            <div class="span10" name="team_name">
                <span sfuuid="51">
                    <a href="#Teams/[object Object]">[object Object],[object Object]</a>
                </span>
            </div>
        </div>
        <span class="extend">
            <div class="row-fluid">
                <a href="javascript:void(0)" class="more hide">Show More <i class="icon-chevron-down"></i></a>
                <a href="javascript:void(0)" class="less">Show Less <i class="icon-chevron-up"></i></a>
            </div>
        </span>
    </div>
</div>
