.alert .close {
    right: auto;
    left: 10px;
}

.alert span .btn-link.btn-inline {
    margin: 0;
}

.alert-top :not(.alert-confirmation) > .alert,
.alert.alert-success,
.alert.alert-danger,
.alert.alert-error,
.alert.alert-info {
    padding-left: 30px;
    padding-right: 10px;
}
.alert-confirmation .alert .row-fluid .alert-btn-cancel {
    border-left: 1px solid @warningBorder;
    border-right: none;
}
