/* Product Catalog Quick Picks Dashlet */

.recent-used-product {
  .listed {
    li {
      padding: 1px;
    }
  }

  .tab-content {
    .recent-records-list {
      padding-top: 8px;
      font-size: 12px;
      margin-right: 16px;

      .recent-records {
        i {
          font-size: 18px;
          font-weight: 500;
          align-self: baseline;
        }

        .recent-link {
          margin-right: 8px;
          text-align: center;
        }

        border-bottom: none;
      }
    }
  }
}

/* NEW SKIN END */
