{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if isAuthenticated}}
    <a id="tour" class="btn btn-invisible"><i class="icon-road"></i> {{str "LNK_TOUR"}}</a>
    <a id="feedback" class="btn btn-invisible"><i class="icon-comment"></i> {{str "LBL_FEEDBACK"}}</a>
    <a id="help" class="btn btn-invisible disabled"><i class="icon-exclamation-sign"></i> {{str "LBL_HELP"}}</a>
    <a id="support" class="btn btn-invisible"><i class="icon-question-sign"></i> {{str "LBL_SUPPORT"}}</a>
{{/if}}
