<header class="jumbotron subhead">
  <div class="hero-unit">
  {{#search}}
    <div class="pull-right">
      <select name="sections" id="find_patterns" class="select2 search" data-placeholder="Find any pattern&hellip;">
        <option></option>
      </select>
    </div>
  {{/search}}
    <a class="cube" href="dashboard.html" rel="tooltip" data-original-title="Dashboard"></a>
    <h1>{{ title }}</h1>
    <div class="section-dropdown dropdown-menu-container">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-chevron-down"></b></a>
      <ul class="dropdown-menu right carettop">
        <li><a href="index.html">Overview</a></li>
      </ul>
    </div>
  </div>
  <p class="lead">{{{ description }}}</p>
{{#subnav}}
  <div class="subnav">
    <ul class="nav nav-pills">
{{#sections}}
  {{{sectionLink}}}
{{/sections}}
    </ul>
  </div>
{{/subnav}}
</header>
