<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li><a class="cube" href="index.html" rel="tooltip" title="Dashboard"></a></li>
          <li>
            <a href="index.html">Overview</a>
          </li>
          <li>
            <a href="scaffolding.html">Scaffolding</a>
          </li>
          <li>
            <a href="base-css.html">Base CSS</a>
          </li>
          <li>
            <a href="components.html">Components</a>
          </li>
          <li>
            <a href="widgets.html">Widgets</a>
          </li>
          <!-- <li>
            <a href="theming.html">Theming</a>
          </li> -->
          <li>
            <a href="charting.html">Charting</a>
          </li>
          <li>
            <a href="sugar7/index.html">Prototypes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
