<div class="block thumbnail">
  <h4>Events</h4>
  <div id="donut" style="height: 300px">
    <svg></svg>
  </div>
  <div class="actions dropdown pull-right">
    <a data-toggle="dropdown" rel="tooltip" class="dashletActionAdmin dropdown-toggle" href="#" title="Admin"><i class="icon-cog"></i></a>
    <ul class="dropdown-menu">
      <li><a href="">Expand</a></li>
      <li><a href="">Chart options</a></li>
      <li class="primary"><a href="" class="remove">Remove dashlet</a></li>
    </ul>
  </div>
</div>

<script src="../js/nvd3/data/pie_data.js"></script>
<script src="js/dashboard-chart.js"></script>
