<div class="thumbnail block widget" {{{target_id}}}>
  <div class="btn-toolbar pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-invisible" rel="tooltip" title="Admin"><span class="icon-cog"></span></a>
    <ul class="dropdown-menu left carettop">
      <div>
        <li><a href="#" class="primary">Expand</a></li>
        <li><a href="#">Chart options</a></li>
        <li><a href="#" class="widget-remove">Remove</a></li>
      </div>
    </ul>
  </div>
  <h4>Events</h4>
  <div id="donut" style="height: 300px">
    <svg></svg>
  </div>
</div>

<script src="../js/nvd3/data/pie_data.js"></script>
<script src="js/dashboard-chart.js"></script>
