<div class="thumbnail widget" {{{target_id}}}>
  <div class="btn-toolbar pull-right">
    <a href="#" class="btn btn-invisible" data-toggle="widget"><i class="icon-chevron-up"></i></a>
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-invisible"><i class="icon-cog"></i></a>
    <ul class="dropdown-menu left carettop">
      <div>
        <li><a href="#" class="primary">Expand</a></li>
        <li><a href="#">Chart options</a></li>
        <li><a href="#" class="widget-remove">Remove</a></li>
      </div>
    </ul>
  </div>
  <h4 data-target="{{sourceid}}" data-toggle="widget">Events</h4>
  <div class="widget-content">
    <div id="donut" style="height: 300px">
      <svg></svg>
    </div>
  </div>
</div>

<script src="../js/nvd3/data/pie_data.js"></script>
<script src="js/dashboard-chart.js"></script>
