<div class="thumbnail widget viz with-options" {{{target_id}}}>
    {{>dashletControls}}
    <h4>Org Chart</h4>
    <div class="dashlet-options">
        <div class="row-fluid">
            <div class="span4">
                <div class="btn-group">
                    <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                      <span>Jim Brennan</span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu carettop">
                        <li>
                            <div id="organization" class="jstree-sugar jstree jstree-0 jstree-focused"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span8">
                <div class="dashlet-group pull-right">
                    <a href="#show-all-nodes" class="btn" rel="tooltip" data-original-title="Show all nodes"><i class="icon-sitemap"></i></a>
                    <a href="#zoom-to-fit" class="btn" rel="tooltip" data-original-title="Zoom to fit"><i class="icon-fullscreen"></i></a>
                </div>
                <div class="btn-slider pull-right">
                    <div class="noUiSliderEnds">
                        <a href="#zoom-out" class="zoom-control"><i class="icon-minus-sign"></i></a>
                        <div id="sliderChartZoom" class="noUiSlider"></div>
                        <a href="#zoom-in" class="zoom-control"><i class="icon-plus-sign"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-content">
        <div id="org" class="nv-chart nv-chart-texture">
            <svg></svg>
        </div>
    </div>
</div>
<script src="js/charts/org-chart.js"></script>
