{{#if this.model.id}}
{{#eq this.model.attributes.converted "0"}}<span class="label">{{str "LBL_UNCONVERTED" this.module}}</span>{{/eq}}
{{#eq this.model.attributes.converted "1"}}<span class="label label-success">{{str "LBL_CONVERTED" this.module}}</span>{{/eq}}
{{/if}}
