<div class="howto">
    <h3>How to create a lead</h3>
    <p>Please fill in all the required fields. A required field is any field that does not have a placeholder of optional.</p>
    <p>When finished you can chose to <a>save and be returned to the opportunity list view, save and view</a> which will bring you to a record view or <a>save and create another record.</a></p>
    <p>The primary fields for a record are shown. If additional fields are provided, you can click on the more link at the bottom of the primary fields to expose more detail to provide.</p>
</div>
