<div class="side sidebar-content span4">
    <div class="preview-pane active">
    <!-- <div class="tab-pane" id="file1"> -->
        <div class="block" id="">
            <a href="#overview" data-toggle="tab" class="actions"><i class="icon-remove"></i></a>
            <h4>Screenshot_766.png</h4>
            <br>
            <img src="http://placehold.it/400x300">
            <div class="card2">
                <div class="row-fluid">
                    <div class="span3">Added:</div>
                    <div class="span9">1 hour ago at 3:00 pm EST</div>
                </div>
                <div class="row-fluid">
                    <div class="span3">Added By:</div>
                    <div class="span9"><a href="profile_skhan.html">Sabra Khan</a></div>
                </div>
                <div class="row-fluid">
                    <div class="span3">File Type:</div>
                    <div class="span9">PNG</div>
                </div>
            </div>
        </div>
    </div>
</div>
