<article class="filter-body add-to-target-filter">
  <div class="row-fluid">
    <div class="filter-field controls span3">
        <select name="field" data-placeholder="Select field name..." class="select2 inherit-width">
          <option></option>
          <option value="target list">Target List</option>
          <option value="type">Type</option>
          <option value="description">Description</option>
          <option value="user">User</option>
        </select>
    </div>
    <div class="filter-opera controls span3">
      <select name="opera" class="select2 inherit-width" data-placeholder="Select operator..." style="display: none;">
        <option></option>
        <option value="matches">matches</option>
        <option value="contains">contains</option>
        <option value="not matches">not matches</option>
        <option value="not contains">not contains</option>
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    </div>
    <div class="filter-value controls span4">
      <input type="text" name="value" value="Global">
    </div>
    <div class="filter-actions controls span2">
      <a href="#add-target-filter-row" class="addme btn btn-invisible btn-dark disabled"><i class="icon-plus"></i></a>
    </div>
  </div>
</article>
