
<!-- add to target row -->
<article class="filter-body" id="filter_row_new">
  <div class="row-fluid">
    <div class="filter-field controls span5">
      <select id="select01a" data-placeholder="Select target list..." class="select2 choose-region inherit-width">
        <option></option>
        <option value="pk1">Global Atlantic, default</option>
        <option value="pk2">Global East, default</option>
        <option value="pk3">Global North, default</option>
        <option value="pk4">Global Pacific, default</option>
        <option value="pk5">Global Pacific, seed</option>
        <option value="target-search">Search for more...</option>
      </select>
    </div>
    <div class="filter-value controls span5">
      <!-- <input name="value" type="text" class="inherit-width" placeholder="Enter a name..."> -->
    </div>
    <div class="filter-actions controls span2">
      <a href="#" class="addme btn btn-invisible btn-dark disabled"><i class="icon-plus"></i></a>
    </div>
  </div>
</article>
