<form class="form-horizontal padded create-new-target-form">
  <fieldset class="card2">
    <div class="row-fluid">
      <div class="span6">
        <div class="row-fluid control-group">
          <div class="control-label span2">
            <label for="input03">Name:</label>
          </div>
          <div class="controls span10">
            <input type="text" value="Value" id="input03" class="inherit-width">
          </div>
        </div>
        <div class="row-fluid control-group">
          <div class="control-label span2">
            <label for="input04">Assigned to:</label>
          </div>
          <div class="controls span10">
            <select id="select02az" data-placeholder="Select..." class="select2 choose-region inherit-width">
              <option value="pk0"></option>
              <option value="pk1">Value</option>
              <option value="pk1">Value</option>
              <option value="pk1">Value</option>
              <option value="pk1">Value</option>
              <option value="pk1">Value</option>
            </select>
          </div>
        </div>
        <div class="row-fluid control-group">
          <div class="control-label span2">
            <label for="input03">Description:</label>
          </div>
          <div class="controls span10">
            <textarea placeholder="Optional" style="width:222%;height:80px;" ></textarea>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="row-fluid control-group">
          <div class="control-label span2">
            <label for="input03">Type:</label>
          </div>
          <div class="controls span10">
            <input type="text" value="Value" id="input03" class="inherit-width">
          </div>
        </div>
        <div class="row-fluid control-group">
          <div class="control-label span2">
            <label for="input04">Team:</label>
          </div>
          <div class="controls span10">
            <input type="text" placeholder="Select..." id="input03" class="" style="width:42%">
            <a href="#" class="btn"><i class="icon-star"></i></a>
            <a href="#" class="btn"><i class="icon-minus"></i></a>
            <a href="#" class="btn"><i class="icon-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>


<script>
    initSelect2('select.select2');
</script>
