<!-- extend header row -->
<article class="inset-form-header">
    <div class="row-fluid">
        <div class="controls span6">
            <strong>Add to target list</strong>
        </div>
        <div class="span6">
            <div class="pull-right">
                <a href="#create" class="btn btn-link btn-invisible">Create new target list</a>
                <!-- <a href="#delete" class="btn btn-link btn-invisible hide">Delete</a> -->
                <a href="#update" class="btn btn-primary disabled">Update</a>
                <a href="#close" class="btn btn-invisible btn-dark"><i class="icon-remove"></i></a>
            </div>
        </div>
    </div>
</article>

<script>
  $(document).ready(function() {

      // define global elements
      var _form = $('.att').parents('form'),
          _options = $('.att'),
          _header = $('.att .inset-form-header'),
          _choices,
          _results;

      initSelect2('.att select.select2');

      _options.removeClass('hide');

      $('body').off('click','a[href="#cancel-drawer"]').on('click', 'a[href="#cancel-drawer"]', function(e){
          drawer(false);
          e.preventDefault();
          e.stopPropagation();
      });

      // if form changes enable update button
      _form.on('change', function(e){
          if ( $(e.target).select2('val') === 'target-search' ) {
              // show search and select target form
              loadPartials([
                {"file":"add-to-target/buttons","target":"#edit .headerpane","method":"replace"},
                {"file":"add-to-target/search-and-select-target-lists","target":"#edit .record","method":"replace"},
                {"file":"add-to-target/how-to-search-target","target":".side-pane.active","method":"replace"},
              ]);
              drawer(true);
          }
          enableUpdateTargetButton();
          $(e.target).parents('.inset-form-body').find('.addme').removeClass('disabled');
      });

      // close att to target extend
      _header.find('a[href="#close"]').off('click').on('click', function(e){
          _options.addClass('hide');
          e.preventDefault();
          e.stopPropagation();
      });

      // if click update button then update the target
      // and close filter editor
      _header.find('a[href="#update"]').off('click').on('click', function(e){
          if ( !$(this).hasClass('disabled') ) {
              _options.addClass('hide');
          }
          throwMessage('The selected X items have been added to the target Y.','success');
          e.preventDefault();
          e.stopPropagation();
      });

      // create a new target list
      _header.find('a[href="#create"]').off('click').on('click', function(e){
          $('.side-pane.active .howto').remove();
          loadPartials([
              {"file":"add-to-target/buttons-create","target":"#edit .headerpane","method":"replace"},
              {"file":"add-to-target/create-new-target-form","target":"#edit .record","method":"replace"},
              {"file":"add-to-target/how-to-create-new-target","target":".side-pane.active","method":"append"},
          ]);
          drawer(true);
          e.preventDefault();
          e.stopPropagation();
      });

      // add new target row
      _options.off('click','.addme').on('click', '.addme', function(e) {
          var row = $(this).parents('.inset-form-body'),
              isNewRow = (row.attr('id')==='filter_row_new'?true:false),
              filterRows = _options.find('article[id*="filter_row_"]');
          if (isNewRow) {
              row.attr('id', 'filter_row_'+ filterRows.length);
              enableRemoveFilterRow( row );
              createFilterRow('new', true);
          }
          enableUpdateTargetButton();
          e.preventDefault();
          e.stopPropagation();
      });

      // remove target row
      _options.off('click','.removeme').on('click', '.removeme', function(e) {
          var row = $(this).parents('.inset-form-body');
          row.remove();
          e.preventDefault();
          e.stopPropagation();
      });

      // remove all existing rows
      _options.find('article[id*="filter_row_"]').remove();

      // add first row
      createFilterRow('new', true);

      function createFilterRow (index,isNewRow) {
          loadContent('add-to-target/add-to-target-row.html', '.att', undefined, 'append');
          if (!isNaN(index)) {
              _form.find('#filter_row_new').attr('id','filter_row_'+ index);
          }
          var row = _form.find('#filter_row_'+ index);
          // enable select2 for filter row
          row.find('.select2').each(function(){
            var $this = $(this)
              , ctor = getSelect2Constructor($this);
            $this.select2( ctor );
          });
      }

      function enableRemoveFilterRow (filterRow) {
          filterRow.find('.addme').removeClass('disabled');
          filterRow.find('.addme').after(
            '<a href="#" class="removeme btn btn-invisible btn-dark"><i class="icon-minus"></i></a>'
          );
      }

      function enableUpdateTargetButton () {
          _header.find('a[href="#update"]').removeClass('disabled');
      }

  });
</script>
