<table class="add-to-target-table table table-striped filter">
  <tr class="add-to-target-list-header">
    <td style="border-bottom:1px solid #ddd">
      <strong>Add to target list</strong>

    </td>
  </tr>

  <tr>
    <td style="">
      <span class="pull-left">
          <select id="select01a" data-placeholder="Select target list..." class="select2 choose-region">
            <option value="pk0"></option>
            <option value="pk1">Global Atlantic, default</option>
            <option value="pk2">Global East, default</option>
            <option value="pk3">Global North, default</option>
            <option value="pk4">Global Pacific, default</option>
            <option value="pk5">Global Pacific, seed</option>
            <option value="pk6">Search for more...</option>
          </select>
      </span>
      &nbsp;
      <span>
        <input type="text" name="" value="Global">
      </span>

      <span class="pull-right">
        <i class="add-targter-filter-add icon-plus" style="padding:0 1em"></i>
      </span>
    </td>
  </tr>
</table>



  <table class="add-to-target-table-duplicates table table-striped">
    <thead>
      <tr>
        <th class="nosort" style="width:3%">Select</th>
        <th style="width:10%">Target List</th>
        <th style="width:10%">Type</th>
        <th style="width:30%">Description</th>
        <th style="width:10%">User</th>
        <th style="width:10%" class="nosort">&#8230;</th>
      </tr>
    </thead>
    <tbody id="listed-tar">

      <tr>
        <td><input type="radio" name="tar1"></td>
        <td>Global Atlantic</td>
        <td>Suppress</td>
        <td>Needs to be attached</td>
        <td>jbiter</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td><input type="radio" name="tar2"></td>
        <td>Global East</td>
        <td>Default</td>
        <td> </td>
        <td>jbiter</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td><input type="radio" name="tar3"></td>
        <td>Global North</td>
        <td>Default</td>
        <td> </td>
        <td>jbiter</td>
        <td>&nbsp;</td>
      </tr>

    </tbody>
  </table>




<script>

  $(document).ready(function() {

    $('tr.add-to-target-list-header').remove();

    initSelect2('select.select2');

    $('.add-to-target-table-duplicates').dataTable({
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false
    });

    $('body').on('click', '#listed-tar input[type=radio]', function(){
      $('a.btn.select-and-update').removeClass('disabled');
    });

    $('body').on('change', 'form.create-new-target-form input, form.create-new-target-form textarea, form.create-new-target-form #select02az', function(){
      $('a.btn.save-and-update').removeClass('disabled');
    });


    $('body').on('click', '.select-and-update, .save-and-update', function(){
      drawer(false);
      throwMessage('<strong>Success!</strong> You successfully updated target list', 'success', true);
      $('table.add-to-target-table').remove();
    });


    $('body').on('click', '.create-a-new-target-list', function(){
      $('.side-pane.active .howto').remove();
      loadPartials([
        {"file":"add-to-target/buttons-create","target":"#edit .headerpane","method":"replace"},
        {"file":"add-to-target/create-new-target-form","target":"#edit .record","method":"replace"},
        {"file":"add-to-target/how-to-create-new-target","target":".side-pane.active","method":"append"},
      ]);
    });

  });
</script>










