<form class="form-search inset-form" id="search_and_select_target">
  <div id="add-to-target-filters" class="filter-options extend">
  </div>
</form>

<table id="add-to-target-table-duplicates" class="table table-striped">
  <thead>
    <tr>
      <th class="nosort" style="width:3%">Select</th>
      <th style="width:10%">Target List</th>
      <th style="width:10%">Type</th>
      <th style="width:30%">Description</th>
      <th style="width:10%">User</th>
      <th style="width:10%" class="nosort">&#8230;</th>
    </tr>
  </thead>
  <tbody id="listed-tar">
    <tr>
      <td><input type="checkbox" name="tar1"></td>
      <td>Global Atlantic</td>
      <td>Suppress</td>
      <td>Needs to be attached</td>
      <td>jbiter</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="tar2"></td>
      <td>Global East</td>
      <td>Default</td>
      <td> </td>
      <td>jbiter</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="tar3"></td>
      <td>Global North</td>
      <td>Default</td>
      <td> </td>
      <td>jbiter</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<script>

  $(document).ready(function() {

    loadPartials([
      {"file":"add-to-target/add-to-target-filter-row","target":"#add-to-target-filters","method":"append"}
    ]);
    initSelect2('select.select2');
    $('select[name="field"]').select2('val','target list');
    $('select[name="opera"]').select2('val','matches');

    $('a[href="#add-target-filter-row"]').on('click', function(e){
      loadPartials([
        {"file":"add-to-target/add-to-target-filter-row","target":"#add-to-target-filters","method":"append"}
      ]);
      initSelect2('select.select2');
      var row = $(e.target).parents('.filter-body');
      console.log(e.target)
      row.find('.addme').removeClass('disabled');
      row.find('.addme').after(
        '<a href="#" class="removeme btn btn-invisible btn-dark"><i class="icon-minus"></i></a>'
      );
      e.preventDefault();
      e.stopPropagation();
    });

    $('#add-to-target-table-duplicates').dataTable({
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false
    });

    $('body').on('click', '#listed-tar input[type=checkbox]', function(){
      $('a[href="#select-and-update"]').removeClass('disabled');
    });

    $('body').on('change', '#create-new-target-form', function(){
      $('a[href="#save-and-update"]').removeClass('disabled');
    });

    $('body').on('click', 'a[href="#select-and-update"], a[href="#save-and-update"]', function(){
      drawer(false);
      throwMessage('<strong>Success!</strong> You successfully updated target list', 'success', true);
      $('.add-to-target-filter').remove();
    });

    $('body').on('click', 'a[href="#create-a-new-target-list"]', function(){
      $('.side-pane.active .howto').remove();
      loadPartials([
        {"file":"add-to-target/buttons-create","target":"#edit .headerpane","method":"replace"},
        {"file":"add-to-target/create-new-target-form","target":"#edit .record","method":"replace"},
        {"file":"add-to-target/how-to-create-new-target","target":".side-pane.active","method":"replace"},
      ]);
    });

  });
</script>
