<style>
.thumbnail .listed li span[class^="filetype-"] {
  margin: 0 12px 12px 0;
}
</style>

<div class="thumbnail widget" {{{target_id}}}>
    <div class="btn-toolbar pull-right">
      <a href="#" data-toggle="widget" class="btn btn-invisible" rel="tooltip" data-original-title="Collapse" data-placement="top"><i class="icon-chevron-up"></i></a>
      <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-invisible" rel="tooltip" data-original-title="Settings" data-placement="top"><i class="icon-cog"></i></a>
      <ul class="dropdown-menu left carettop">
        <li><a href="#">Create Attachment</a></li>
        <li><a href="#">Refresh</a></li>
        <li><a href="#">Move</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Add to dashboard</a></li>
        <li><a href="#" class="widget-remove">Close</a></li>
      </ul>
    </div>
  <h4 data-toggle="widget">Attachments</h4>
  <ul class="unstyled widget-content listed">
    <li>
      <img src="../img/attachment-tn-1.png" class="thumbnail pull-left">
      <div class="actions pull-right">
        <a href="#" class="btn btn-invisible btn-dark"><i class="icon-external-link"></i></a>
      </div>
      <p><a href="#">Sales Report PDF</a><br>
      <date class="date">1 day ago on 03/11/2012 at 1:00 pm EST</date></p>
    </li>
    <li>
      <img src="../img/attachment-tn-2.png" class="pull-left">
      <div class="actions pull-right">
        <a href="#" class="btn btn-invisible btn-dark"><i class="icon-external-link"></i></a>
      </div>
      <p><a href="#">Screenshot_776.png</a><br>
      <date class="date">2 days ago on 03/10/2012 at 1:45 pm EST</date></p>
    </li>
    <li>
      <span class="filetype-thumbnail pull-left" data-filetype="TXT"><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="28" height="33" id="filetype-svg2"><g id="layer1"><path d="m 1,1 19,0 7,7 0,24 -26,0 z" id="rect2985"
style="fill:#ececec;fill-rule:evenodd;stroke:#000000;stroke-width:0.93396699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1" /><path d="m 20,1 0,7 7,0 z" id="path3764"
style="fill:#cccccc;fill-opacity:1;stroke:#000000;stroke-width:1px;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:1" /></g></svg></span>
      <div class="actions pull-right">
        <a href="#" class="btn btn-invisible btn-dark"><i class="icon-external-link"></i></a>
      </div>
      <p><a href="#">Important Notice!</a><br>
      <date class="date">73 days ago on 11/09/2011 at 11:40 am EST</date></p>
    </li>
    <div class="extend hide">
    <li>
      <img src="../img/attachment-tn-1.png" class="thumbnail pull-left">
      <div class="actions pull-right">
        <a href="#" class="btn btn-invisible btn-dark"><i class="icon-external-link"></i></a>
      </div>
      <p><a href="#">Sales Report PDF</a><br>
      <date class="date">1 day ago on 03/11/2012 at 1:00 pm EST</date></p>
    </li>
    <li>
      <img src="../img/attachment-tn-2.png" class="pull-left">
      <div class="actions pull-right">
        <a href="#" class="btn btn-invisible btn-dark"><i class="icon-external-link"></i></a>
      </div>
      <p><a href="#">Screenshot_776.png</a><br>
      <date class="date">2 days ago on 03/10/2012 at 1:45 pm EST</date></p>
    </li>
    <li>
      <img src="../img/attachment-tn-3.png" class="pull-left">
      <div class="actions pull-right">
        <a href="#" class="btn btn-invisible btn-dark"><i class="icon-external-link"></i></a>
      </div>
      <p><a href="#">Important Notice!</a><br>
      <date class="date">73 days ago on 11/09/2011 at 11:40 am EST</date></p>
    </li>
    </div>
    <li>
      <a href="#" name="show_more_button" class="more">More attachments&hellip;</a>
    </li>
  </ul>

</div>
