<div class="thumbnail widget" {{{target_id}}}>
  {{>dashletControls}}
  <h4>Email</h4>
  <div class="tabbable tabs-full widget-content">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#email-templates" data-toggle="tab">Templates</a></li>
      <li><a href="#email-attachements" data-toggle="tab">Attachments</a></li>
      <li><a href="#email-options" data-toggle="tab">Options</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="email-templates">


      <div class="compose-links-container">
          <div class="row-fluid">

              <div class="carousel slide" id="email_template_carousel">
                  <div class="carousel-inner">
                      <div class="item active">
                          <ul class="thumbnails">

                              <li class="span6">
                                  <div class="thumbnail" id="thumbnail-806142b6-7cd1-e51a-2b35-50ca09a8b93e">
                                      <img src="../img/email/email-template1.png" width="150px" height="250px">
                                      <div class="caption">
                                          <h5>Happy Holidays</h5>
                                          <a class="btn template-select-button btn-primary btn-mini" data-templateid="806142b6-7cd1-e51a-2b35-50ca09a8b93e" href="javascript:void(0)">Select</a>
                                      </div>
                                  </div>
                              </li>

                              <li class="span6">
                                  <div class="thumbnail" id="thumbnail-a1c258b8-1944-1e9c-dd33-50ca16ddb850">
                                      <img src="../img/email/email-template2.png" width="150px" height="250px">
                                      <div class="caption">
                                          <h5>Happy Yuletide</h5>
                                          <a class="btn template-select-button btn-primary btn-mini" data-templateid="a1c258b8-1944-1e9c-dd33-50ca16ddb850" href="javascript:void(0)">Select</a>
                                      </div>
                                  </div>
                              </li>

                          </ul>
                      </div><div class="item ">
                          <ul class="thumbnails">

                              <li class="span6">
                                  <div class="thumbnail" id="thumbnail-b269c0f5-26db-2db5-a978-50ca2145fa42">
                                      <img src="../img/email/email-template1.png" width="150px" height="250px">
                                      <div class="caption">
                                          <h5>Let It Snow</h5>
                                          <a class="btn template-select-button btn-primary btn-mini" data-templateid="b269c0f5-26db-2db5-a978-50ca2145fa42" href="javascript:void(0)">Select</a>
                                      </div>
                                  </div>
                              </li>

                              <li class="span6">
                                  <div class="thumbnail" id="thumbnail-bace64aa-ffeb-1cb7-0c2f-50ca21b34f46">
                                      <img src="../img/email/email-template2.png" width="150px" height="250px">
                                      <div class="caption">
                                          <h5>Happy Apocalypse</h5>
                                          <a class="btn template-select-button btn-primary btn-mini" data-templateid="bace64aa-ffeb-1cb7-0c2f-50ca21b34f46" href="javascript:void(0)">Select</a>
                                      </div>
                                  </div>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <a data-slide="prev" data-id="email_template_carousel" class="left carousel-control"></a>
                  <a data-slide="next" data-id="email_template_carousel" class="right carousel-control"></a>
              </div>

          </div>
      </div>


      </div>
      <div class="tab-pane" id="email-attachements">
          <ul class="listed">
            <li>
                <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
                <br>
                <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
            </li>
            <li>
                <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
                <br>
                <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
            </li>
            <li>
                <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
                <br>
                <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
            </li>
            <li>
                <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
            </li>
          </ul>
      </div>
      <div class="tab-pane" id="email-options">
          <ul class="listed">
            <li>
                <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
                <br>
                <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
            </li>
            <li>
                <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
                <br>
                <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
            </li>
            <li>
                <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
                <br>
                <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
            </li>
            <li>
                <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $('#email_template_carousel').carousel('pause');
  $('#email_template_carousel a.right.carousel-control').click(function(e){
    $('#email_template_carousel').carousel('next');
  })
  $('#email_template_carousel a.left.carousel-control').click(function(e){
    $('#email_template_carousel').carousel('prev');
  })
</script>
