<div class="thumbnail widget" {{{target_id}}}>
  {{>dashletControls}}
  <h4>Interactions</h4>
  <div class="dashlet-options">
    <div class="row-fluid">
      <div class="span8">
        <select name="interactions-filter" class="select2 dashlet-filter inherit-width">
          <option value="-7d">Last 7 Days</option>
          <option value="-30d">Last 30 Days</option>
          <option value="-30d">Last Quarter</option>
          <option value="favorites">Favorites</option>
          <option value="custom">My Custom Filter</option>
        </select>
      </div>
      <div class="span4">
        <div class="btn-group pull-right dashlet-group" data-toggle="buttons-radio">
          <button class="btn" rel="tooltip" data-original-title="My Interactions" data-placement="top"><i class="icon-user"></i></button>
          <button class="btn active" rel="tooltip" data-original-title="All Interactions" data-placement="top"><i class="icon-group"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="tabbable tabs-full tabs-four widget-content">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#interaction-calls" data-toggle="tab"><span class="count">6</span> Calls</a></li>
      <li><a href="#interaction-emails-sent" data-toggle="tab"><span class="count">16</span> Emails (sent)</a></li>
      <li><a href="#interaction-emails-recv" data-toggle="tab"><span class="count">16</span> Emails (rec.)</a></li>
      <li><a href="#interaction-meetings" data-toggle="tab"><span class="count">23</span> Meetings</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="interaction-calls">
        <ul class="listed">
          <li>
            <a href="#profile">Sabra Khan</a> called <a href="#contact">Mike Adams</a> for 24 min.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> 1 day ago on 11/14/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Sabra Khan</a> called <a href="#contact">Mike Adams</a> for 24 min.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> 2 days ago on 11/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Sabra Khan</a> called <a href="#contact">Mike Adams</a> for 24 min.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> 13 days ago on 11/1/2012 at 3:00 pm EST</date>
          </li>
          <div class="extend hide">
          <li>
            <a href="#profile">Sabra Khan</a> called <a href="#contact">Mike Adams</a> for 24 min.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> 1 day ago on 11/14/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Sabra Khan</a> called <a href="#contact">Mike Adams</a> for 24 min.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> 2 days ago on 11/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Sabra Khan</a> called <a href="#contact">Mike Adams</a> for 24 min.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> 13 days ago on 11/1/2012 at 3:00 pm EST</date>
          </li>
          </div>
          <li>
                <a href="#" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="interaction-emails-sent">
        <ul class="listed">
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="interaction-emails-recv">
        <ul class="listed">
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="interaction-meetings">
        <ul class="listed">
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="interaction-meetings">
        <ul class="listed">
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED</a> opportunity.
            <br>
            <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
          </li>
          <li>
            <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".dashlet-filter").each(function(){
      var $this = $(this)
        , ctor = getSelect2Constructor($this);
      $this.select2( ctor );
    });
    $('.dashlet-group').button();
  });
</script>
