<div class="thumbnail block widget" {{{target_id}}}>
  <div class="btn-toolbar pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-invisible"><span class="icon-cog"></span></a>
    <ul class="dropdown-menu left carettop">
      <div>
        <li><a href="#">Settings</a></li>
        <li><a href="#" class="widget-remove">Remove</a></li>
      </div>
    </ul>
  </div>
  <h4>Interactions</h4>
    <div class="tabbable tabs-full">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#interaction-calls" data-toggle="tab"><span class="count">6</span> Calls</a></li>
        <li><a href="#interaction-emails" data-toggle="tab"><span class="count">5</span> Emails</a></li>
        <li><a href="#interaction-meetings" data-toggle="tab"><span class="count">25</span> Meetings</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="interaction-calls">
            <ul class="listed">
              <li>
                      <a href="profile.html">Sabra Khan</a> called <a href="contact.html">Mike Adams</a> for 24 min.
                      <br>
                      <date class="date"><i class="icon-plus-sign icon-added"></i> 1 day ago on 11/14/2012 at 3:00 pm EST</date>
              </li>
              <li>
                      <a href="profile.html">Sabra Khan</a> called <a href="contact.html">Mike Adams</a> for 24 min.
                      <br>
                      <date class="date"><i class="icon-plus-sign icon-added"></i> 2 days ago on 11/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                      <a href="profile.html">Sabra Khan</a> called <a href="contact.html">Mike Adams</a> for 24 min.
                      <br>
                      <date class="date"><i class="icon-plus-sign icon-added"></i> 13 days ago on 11/1/2012 at 3:00 pm EST</date>
              </li>
              <div class="extend hide">
              <li>
                      <a href="profile.html">Sabra Khan</a> called <a href="contact.html">Mike Adams</a> for 24 min.
                      <br>
                      <date class="date"><i class="icon-plus-sign icon-added"></i> 1 day ago on 11/14/2012 at 3:00 pm EST</date>
              </li>
              <li>
                      <a href="profile.html">Sabra Khan</a> called <a href="contact.html">Mike Adams</a> for 24 min.
                      <br>
                      <date class="date"><i class="icon-plus-sign icon-added"></i> 2 days ago on 11/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                      <a href="profile.html">Sabra Khan</a> called <a href="contact.html">Mike Adams</a> for 24 min.
                      <br>
                      <date class="date"><i class="icon-plus-sign icon-added"></i> 13 days ago on 11/1/2012 at 3:00 pm EST</date>
              </li>
              </div>
              <li>
                    <a href="#" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
              </li>
            </ul>
        </div>
        <div class="tab-pane" id="interaction-emails">
            <ul class="listed">
              <li>
                  <a href="profile.html">Jim Atlas</a> added email to the <a href="opportunity_plato.html">Plato's LED</a> opportunity.
                  <br>
                  <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                  <a href="profile.html">Jim Atlas</a> added email to the <a href="opportunity_plato.html">Plato's LED</a> opportunity.
                  <br>
                  <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                  <a href="profile.html">Jim Atlas</a> added email to the <a href="opportunity_plato.html">Plato's LED</a> opportunity.
                  <br>
                  <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                  <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
              </li>
            </ul>
        </div>
        <div class="tab-pane" id="interaction-meetings">
            <ul class="listed">
              <li>
                  <a href="profile.html">Jim Atlas</a> added email to the <a href="opportunity_plato.html">Plato's LED</a> opportunity.
                  <br>
                  <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                  <a href="profile.html">Jim Atlas</a> added email to the <a href="opportunity_plato.html">Plato's LED</a> opportunity.
                  <br>
                  <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                  <a href="profile.html">Jim Atlas</a> added email to the <a href="opportunity_plato.html">Plato's LED</a> opportunity.
                  <br>
                  <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
              </li>
              <li>
                  <a href="javascript:void(0)" name="show_more_button" class="more">More calls<i class="icon-caret-down"></i></a>
              </li>
            </ul>
        </div>
      </div>
    </div>
</div>
