<div class="thumbnail widget" {{{target_id}}}>
  {{>dashletControls}}
  <h4>Stats</h4>
  <ul class="unstyled widget-content">
    <li>
      36% Emails <span class="pull-right strong">167</span>
      <div class="progress progress-striped ">
        <div class="bar" style="width: 36%;"></div>
      </div>
    </li>
    <li>52% Phone Calls <span class="pull-right strong">77</span>
      <div class="progress progress-success progress-striped ">
        <div class="bar" style="width: 52%;"></div>
      </div>
    </li>
    <li>93% Texts <span class="pull-right strong">157</span>
      <div class="progress progress-warning progress-striped ">
        <div class="bar" style="width: 93%;"></div>
      </div>
    </li>
    <li>5% Sales Stage <span class="pull-right strong">8</span>
      <div class="progress progress-danger progress-striped ">
        <div class="bar" style="width: 5%;"></div>
      </div>
    </li>
  </ul>
</div>
