<div class="widget-control">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle btn">&hellip;</a>
  <ul class="dropdown-menu left carettop widget-options" id="widget-options">
      <li><a href="widget/attachments-widget.html" data-toggle="proto" data-target="#overview" data-method="toggle"><label class="radio checked"><i class="icon-null"></i>&nbsp;Attachments</label></a></li>
      <li><a href="chart/events-chart.html" data-toggle="proto" data-target="#overview" data-method="toggle"><label class="radio"><i class="icon-null"></i>&nbsp;Events</label></a></li>
      <li><a href="widget/interactions-widget.html" data-toggle="proto" data-target="#overview" data-method="toggle"><label class="radio"><i class="icon-null"></i>&nbsp;Interactions</label></a></li>
      <li><a href="widget/stats-widget.html" data-toggle="proto" data-target="#overview" data-method="toggle"><label class="radio"><i class="icon-null"></i>&nbsp;Stats</label></a></li>
  </ul>
</div>

<script>
$(function() {

  var sidepane_widgets = $('#overview .widget');

  // check marks for instatiated widgets
  if ( sidepane_widgets.length ){
    sidepane_widgets.each(function(){
      var link_id = $(this).attr('id').replace(/_/g,'/') + '.html';
      $('#widget-options a[href="'+link_id+'"]').find('i').addClass('icon-ok');
    });
  }

  // handle adding and removing widgets in control
  $('.widget-options a').off('click').on('click', function(e) {

    var target = $(this).find('i');

    if (target.hasClass('icon-ok')) {
      target.removeClass('icon-ok');
      var target_id = $(this).attr('href').replace(/\//g,'_').replace('.html','');
      $('#overview #'+ target_id).remove();
      e.stopPropagation();
      e.preventDefault();
    }
    else {
      target.addClass('icon-ok');
    }

  });

  // enable remove option in widget
  $('#overview').off('click', '.widget-remove').on('click', '.widget-remove', function(){
    var link_id = $(this).parents('.widget').attr('id').replace(/_/g,'/') + '.html';
    $('#widget-options a[href="'+link_id+'"]').find('i').removeClass('icon-ok');
    $(this).parents('.widget').remove();
  });

  $('#overview')
    .off('click', '.widget [data-toggle="widget"]')
    .on('click', '.widget [data-toggle="widget"]', function(){
      $(this).parents('.widget').toggleClass('out');
    });

});

// toggle expand full screen
function attachToggleExpand(chartSelector, chart) {
  var widget = $(chartSelector).parents('.thumbnail.viz');
  widget
    .find('.dropdown-menu a[href="#expand"]')
    .on('click', function(){ toggleExpand(widget, chart); });
}

function toggleExpand(widget,chart) {
    if ( widget.hasClass('expanded') )
    {
        widget.removeClass('expanded');
        widget.find('h4').removeClass('headerpane');
        widget
          .find('.dropdown-menu a[href="#expand"]')
          .text('Expand');
        chart.resize();
    }
    else
    {
        widget.addClass('expanded');
        widget.find('h4').addClass('headerpane');
        widget
          .find('.dropdown-menu a[href="#expand"]')
          .text('Collapse');
        setTimeout( function(){ chart.resize(); }, 200);
    }
}
</script>
