<div class="totalsRow">
    {{#each fields}}
        <div class="totalsRowItem {{name}}Item">
            <div class="record-label totalsRowLabel">{{label}}</div>
            <div class="totalsRowValue">{{formatCurrency value}}</div>
        </div>
    {{/each}}
</div>
