{{!
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement (""License"") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the ""Powered by SugarCRM"" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
}}

<div class="page-header">
    <h1>Documentation <small>A guide to developing in Sugar7.</small></h1>
</div>

<section>
    <ul class="sg-main listed">
        <li><i class="icon-book icon-3x"></i><a href="#Styleguide/docs/index">Core Elements</a></li>
        <li><i class="icon-columns icon-3x"></i><a href="#Styleguide/layout/records">Default Module Layout</a></li>
        <li><i class="icon-reorder icon-3x"></i><a href="#Styleguide/layout/list">Default List View</a></li>
        {{! <li><i class="icon-list-alt icon-3x"></i><a href="#Styleguide/layout/record">Default Record Detail View</a></li> }}
        {{! <li><i class="icon-list-alt icon-3x"></i><a href="#Styleguide/layout/record-card2">Default Record Detail View (labels on left)</a></li> }}
        <li><i class="icon-plus icon-3x"></i><a href="#Styleguide/create">Default Record Create View</a></li>
        <li><i class="icon-list-alt icon-3x"></i><a href="#Styleguide/field/all">Example Sugar7 Fields</a></li>
        {{! <li><i class="icon-heart icon-3x"></i><a href="styleguide/tests/global.html">Styleguide Tests</a></li> }}
        <li><i class="icon-edit icon-3x"></i><a href="#Styleguide/docs/base_edit">Updating Documentation</a></li>
    </ul>
</section>
