<div class="inline-drawer">

  <article class="inline-drawer-header row-fluid">
    <div class="span12">
      LBL_DRAWER_HEADER
      <a class="pull-right btn btn-invisible drawer-close"><i class="icon-remove"></i></a>
    </div>
  </article>


<!--
  <article class="inline-drawer-row row-fluid">
    <div class="span12">
      Drawer Row
    </div>
  </article>

  <article class="inline-drawer-row row-fluid">
    <div class="span12">
      Drawer Row
    </div>
  </article>

  <article class="inline-drawer-row row-fluid">
    <div class="span12">
      Drawer Row
    </div>
  </article>

  <article class="inline-drawer-row row-fluid">
    <div class="span12">
      Drawer Row
    </div>
  </article>
-->


  <table id="example_log" class="table datatable table-striped">
    <thead>
      <tr>
        <th>LBL_CREATE</th>
        <th>date_created</th>
        <th>field_name</th>
        <th>data_type</th>
        <th>before_value_string</th>
        <th>after_value_string</th>
      </tr>
    </thead>
    <tbody id="listed">
      <tr>
        <td>admin</td>
        <td>01/23/2013 01:05am</td>
        <td>Name:</td>
        <td>name</td>
        <td>Avery Software Co</td>
        <td>Avery Software Cop</td>
      </tr>
      <tr>
        <td>admin</td>
        <td>01/23/2013 01:45am</td>
        <td>Name:</td>
        <td>name</td>
        <td>Avery Software Cop</td>
        <td>Avery Software Coop</td>
      </tr>
      <tr>
        <td>admin</td>
        <td>01/23/2013 02:00am</td>
        <td>Name:</td>
        <td>name</td>
        <td>Avery Software Coop</td>
        <td>Avery Software Inc</td>
      </tr>
      <tr>
        <td>skhan</td>
        <td>01/23/2013 02:01am</td>
        <td>Name:</td>
        <td>name</td>
        <td>Avery Software Coop</td>
        <td>ASI</td>
      </tr>
      <tr>
        <td>skhan</td>
        <td>01/23/2013 02:03am</td>
        <td>Name:</td>
        <td>name</td>
        <td>Avery Software Coop</td>
        <td>ASI</td>
      </tr>
    </tbody>
  </table>

  <script src="../js/jquery.datatables.js"></script>
  <script src="js/datatables.js"></script>
  <script>
    $(document).ready(function() {
      $('#example_log').dataTable({
        "bFilter": false,
        "bInfo":false,
        "bPaginate": false,
        "sScrollY": "128px",
        "bScrollCollapse": true,
      });
      $('body').on('click','.drawer-close',function(){
        $(this).closest('.inline-drawer').remove();
      });
    });
  </script>


</div>