<div class="drawer-tab">
  <a href="#" title="Collapse list pane" class="btn"><i class="icon-chevron-down"></i></a>
</div>

<script>
  $(document).ready(function() {

    $('#content>.container-fluid').append('<div class="drawer-backdrop"></div>');

    // expand edit row
    $('.drawer-tab .btn').off('click').on('click', function (e) {
      $(this).find('i').toggleClass('icon-chevron-up').toggleClass('icon-chevron-down');
      $('.drawer').toggleClass('expand');
      $('.drawer-squeezed').toggleClass('collapse');
      e.preventDefault();
    });

  });

  function drawer(show) {
      $('.module-edit').toggleClass('drawer',show);
      $('.module-view').toggleClass('drawer-squeezed',show);
      $('.drawer-backdrop').toggleClass('drawer-squeezed',show);
      if (!show) {
		$('.drawer-tab .btn').find('i').removeClass('icon-chevron-up').addClass('icon-chevron-down');
        $('.drawer').removeClass('expand');
        $('.drawer-squeezed').removeClass('collapse');
        $('.drawer-backdrop').removeClass('collapse');
        $('.module-edit').removeClass('expand');
        $('.module-view').removeClass('collapse');
      }
  }
</script>
