<div class="btn-toolbar pull-right dropdown">
  <a href="partial/{{module}}/{{module}}-table.html" data-toggle="proto" data-target="#view .main-content" data-mode="list" class="btn btn-invisible btn-link cancel">Cancel</a>
  <span class="form-change-actions">
    <a href="partial/common/record-create.html" data-toggle="proto" data-target="#edit .record" data-mode="edit" class="btn btn-invisible btn-link save_and_create_new">Save and create new</a>
    <a href="partial/{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view" class="btn btn-invisible btn-link save_and_view">Save and view</a>
  </span>
  <a href="partial/{{module}}/{{module}}-table.html" data-toggle="proto" data-target="#view .main-content" data-mode="list" title="Save Lead" class="btn btn-primary save">Save</a>
  {{>drawerTrig}}
</div>
<h1>Create {{title}}</h1>

<script>
  $(document).ready(function() {
    // create record view
    $('body').on( 'change', 'form', function(){ invokeSaveButtons(); });
    $('body')
      .off('click', '.form-change-actions .btn.save')
      .on( 'click', '.form-change-actions .btn.save', function(e){
        throwMessage('<strong>Success!</strong> You successfully created the {{module}} "ASDF"', 'success', true)
      });
  });

  function invokeSaveButtons(){
    $('.form-change-actions .btn').show();
  }
</script>
