<div class="btn-toolbar pull-right dropdown">
    <a href="partial/lead/lead-table.html" data-toggle="tab" data-target="#view .main-content" data-mode="list" class="btn btn-invisible btn-link cancel">Cancel</a>
    <a href="partial/{{module}}/{{module}}-view.html" data-toggle="tab" data-target="#view .record" data-mode="view" title="Save {{module}}" class="btn btn-primary">Save</a>
  <a href="#overview" title="Create lead" class="btn btn-invisible drawerTrig"><i class="icon-chevron-right"></i></a>
</div>
<h1>Leads</h1>
