<div class="btn-toolbar pull-right dropdown">
  <div id="pageConfig" class="btn-group">
    <a href="partial/{{module}}/{{module}}-create.html" data-toggle="tab" data-target="#edit .record" data-mode="edit" title="Create {{module}}" class="btn btn-primary">Create</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Edit all</a></li>
    </ul>
  </div>
  <a href="#overview" title="Create {{module}}" class="btn btn-invisible drawerTrig"><i class="icon-chevron-right"></i></a>
</div>










<h1>{{title}}</h1>

<script>
$(document).ready(function() {
  // column collapse
  $('body').on('click', '.drawerTrig', function (e) {
    $(this).find('i').toggleClass('icon-chevron-left').toggleClass('icon-chevron-right');
    $('.side').toggleClass('hide');
    $('.main-pane').toggleClass('span8').toggleClass('span12');
    e.preventDefault();
  });
});
</script>
