<div class="btn-toolbar pull-right dropdown">
  <span class="btn btn-invisible fav-star"><i class="icon-favorite active"></i></span>
  <div class="btn-group">
    <a href="javascript:void(0)" class="btn previous-row"><i class="icon-chevron-left"></i></a>
    <a href="javascript:void(0)" class="btn next-row"><i class="icon-chevron-right"></i></a>
  </div>
  <div id="pageConfig" class="btn-group">
    <a href="{{module}}/{{module}}-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit {{module}}" class="btn btn-primary">Edit</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
       <li><a href="{{module}}/{{module}}-create.html" data-toggle="proto" data-target="#edit .record" data-mode="edit">Create new</a></li>
      {{#convertLead}}{{module}}{{/convertLead}}
      <li><a href="#">Delete</a></li>
      <!-- <li><a href="#">Settings</a></li> -->
      <li><a class="view_change_log" href="#">View Change Log</a></li>
    </ul>
  </div>
  {{>drawerTrig}}
</div>
<span class="avatar avatar42">
  <img src="../img/{{record.avatar}}">
</span>
<h1>{{record.title}}</h1>
