
<div class="btn-toolbar pull-right dropdown">
  <span class="btn btn-invisible fav-star"><i class="icon-favorite active"></i></span>
  <div class="btn-group">
    <a href="javascript:void(0)" class="btn previous-row"><i class="icon-chevron-left"></i></a>
    <a href="javascript:void(0)" class="btn next-row"><i class="icon-chevron-right"></i></a>
  </div>
  <div id="pageConfig" class="btn-group">
    <a href="partial/{{module}}/{{module}}-edit.html" data-toggle="tab" data-target="#view .record" data-mode="view" title="Edit {{module}}" class="btn btn-primary">Edit</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Delete</a></li>
      <li><a href="partial/{{module}}/{{module}}-create.html" data-toggle="tab" data-target="#edit .record" data-mode="edit" class="btn btn-invisible btn-link save">Create new</a></li>
      {{#convertLead}}{{module}}{{/convertLead}}
      <li><a href="#">Settings</a></li>
      <li><a href="partial/lead/find-duplicates.html" data-toggle="tab" data-target="#view .record" data-mode="view" title="Edit {{module}}">Find duplicates</a></li>
    </ul>
  </div>
  <a href="#overview" title="Create {{module}}" class="btn btn-invisible drawerTrig"><i class="icon-chevron-right one"></i><i class="icon-chevron-right two"></i></a>
</div>
<span class="avatar avatar42">
  <img src="../img/avatar_mia.jpg">
</span>
<h1>{{record.title}}</h1>
