<div class="btn-toolbar pull-right dropdown">
  <div id="pageConfig" class="btn-group">
    <a href="{{module}}/{{module}}-create.html" data-toggle="proto" data-target="#edit .record" data-mode="edit" title="Create {{module}}" class="btn btn-primary">Create</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
	  <li><a class="edit-all-records" href="#">Edit all records</a></li>
    </ul>
  </div>
  {{>drawerTrig}}
</div>
<h1>{{title}}</h1>
