<div class="btn-toolbar pull-right dropdown">
  <a href="partial/{{module}}/{{module}}-view.html" data-toggle="tab" data-target="#view .record" data-mode="view" class="btn btn-invisible btn-link">Cancel</a>
  <div id="pageConfig" class="btn-group">
    <a href="partial/{{module}}/{{module}}-view.html" data-toggle="tab" data-target="#view .record" data-mode="view" title="Save {{module}}" class="btn btn-primary">Save</a><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Delete</a></li>
      <li><a href="partial/{{module}}/{{module}}-create.html" data-toggle="tab" data-target="#edit .record" data-mode="edit" class="btn btn-invisible btn-link save">Create new</a></li>
      <li><a href="#">Convert {{module}}</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </div>
  <a href="#overview" title="Collapse sidebar" class="btn btn-invisible drawerTrig"><i class="icon-chevron-right one"></i><i class="icon-chevron-right two"></i></a>
</div>
<span class="avatar avatar42">
  <img src="../img/avatar_mia.jpg">
</span>
<h1>
  <input type="text" value="{{record.title}}" id="input01" class="input-xlarge">
</h1>
