<div class="block filtered tabbable tabs-left" id="moduleActivity">
  <ul class="nav nav-tabs results">
    <li>
      <a href="" class="avatar avatar42 pull-left">
        <img src="../img/avatar_james.jpg" alt="Skhan avatar">
      </a>
      <p>
        <a href="#profile">Jim Atlas</a> added email to the <a href="record.html">Plato's LED Financial Apps</a> opportunity.
        <br>
        <date class="date"><i class="icon-plus-sign icon-added"></i> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
      <div class="actions">
        <a class="remove" href="#"><i class="icon-remove" rel="tooltip" data-title="Remove"></i></a>
        <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
        <a href="preview/email-preview.html" data-toggle="proto" data-target="#preview" data-mode="preview"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
      </div>
    </li>
    <li>
      <a href="" class="avatar avatar42 pull-left">
        <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
      </a>
      <p>
        <a href="#profile">Sabra Khan</a> updated <a href="" rel="tooltip" data-title="From: this<br>To: that">phone</a>, <a href="" rel="tooltip" data-title="From: this<br>To: that">url</a>, and <a href="" rel="tooltip" data-title="From: this<br>To: that">email</a> in the <a href="record.html">Plato's LED Financial Apps</a> opportunity.
        <br>
        <date class="date"><i class="icon-ok-sign icon-updated"></i> 1 hour ago on 3/12/2012at 2:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
      <div class="actions">
        <a class="remove" href="#"><i class="icon-remove" rel="tooltip" data-title="Remove"></i></a>
        <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
        <a href="preview/contact-preview.html" data-toggle="proto" data-target="#preview" data-mode="preview"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
      </div>
    </li>
    <li>
      <a href="" class="avatar avatar42 pull-left">
        <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
      </a>
      <p>
        <a href="#profile">Sabra Khan</a> updated <a href="" rel="tooltip" data-title="From: this<br>To: that">email</a> the <a href="record.html">Plato's LED Financial Apps</a> opportunity.
        <br>
        <date class="date"><i class="icon-ok-sign icon-updated"></i> 2 hours ago on 3/12/2012 at 1:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
      <div class="actions">
        <a class="remove" href="#"><i class="icon-remove" rel="tooltip" data-title="Remove"></i></a>
        <a class="comment" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
        <a href="preview/opportunity-preview.html" data-toggle="proto" data-target="#preview" data-mode="preview"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
      </div>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function() {

    loadPartials([
      {"file":"common/omnibar","target":"#view .main-content","method":"prepend"}
    ]);

    $('.form-search-related .filter .actions a[data-view="activitystream"]').button('toggle');

    $('.comment').toggle(
      function () {
        $(this).parent().parent().parent().find('.acomment').remove();
        $(this).parent().parent().find('ul').append('<li class="acomment"><div class="control-group form-horizontal"><div class="controls controls-two btn-fit"><div data-placeholder="Add your comment&hellip;" class="reply" contenteditable="true"><span class="placeholder">Add your comment&hellip;</span></div><input type="submit" class="btn btn-primary" value="Reply"></div></div></li>');
        $(this).addClass('active');
        return false;
      },
      function () {
        $(this).parent().parent().parent().find('.acomment').remove();
        $(this).removeClass('active');
        return false;
      }
    );

    // toggle more hide
    $('.commented .more').toggle(
      function () {
        $(this).parent().parent().parent().find('.comment').hide();
        $(this).parent().prev('.extend').removeClass('hide');
        return false;
      },
      function () {
        $(this).parent().parent().parent().find('.comment').show();
        $(this).parent().prev('.extend').addClass('hide');
        $(this).html('2 more comments...');
        return false;
      }
    );

    // $('.actions').find('a[data-toggle=tab]').on('click', function () {
    //   $('.nav-tabs').find('li').removeClass('on');
    //   $(this).parent().parent().addClass('on');
    // });

    // generic dropdown action menu
    $('.actions').find('a.remove').on('click', function () {
      $('.tooltip').remove();
      $(this).parent().parent().remove();
      return false;
    });
  });
</script>
