<table id="example_leads" class="table datatable table-striped">
  <thead>
    <tr>
      <th class="nosort">
        <div class="btn-group">
          <b class="btn"><input type="checkbox" class="toggle-all"></b>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a href="#">Email</a></li>
            <li class="mass_update"><a href="mass-update/form.html" data-toggle="proto" data-target=".mu">Mass Update</a></li>
            <li class="merge disabled"><a href="#">Merge</a></li>
            <li class="add_to_target_list"><a href="add-to-target/filter.html" data-toggle="proto" data-target=".att">Add to Target List</a></li>
            <li><a href="#" class="disabled">Export</a></li>
          </ul>
        </div>
      </th>
      <th style="width:10%">Name</th>
      <th>City</th>
      <th>Country</th>
      <th style="width:35%">Description</th>
      <th>Email</th>
      <th class="nosort morecol2" style="width:7%">
        <a href="" data-toggle="dropdown" class="dropdown-toggle">. . .</a>
        <ul class="dropdown-menu left carettop">
          <li><a href="#column1">Column1</a></li>
          <li><a href="#column2">Column2</a></li>
          <li><a href="#column3">Column3</a></li>
        </ul>
      </th>
    </tr>
  </thead>
  <tbody id="listed">
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>

    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales@perkins.com">sales@perkins.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><span sfuuid=""><a href="{{module}}/{{module}}-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Plato's LED MFT</a></span></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="textarea" sfuuid="">This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. This is a description field, usually very long, and will be cut off and treated as if it was a regular text field. </span></td>
      <td><span sfuuid=""><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></span></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="preview/{{module}}-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#">Edit</a></li>
            <li><a class="delete disabled" href="#"> Delete</a></li><li><a class="convert_lead" href="#"> Convert</a></li>
          </ul>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <a href="#" name="show_more_button" class="more padded">More {{title}}&hellip;</a>
</div>

<script src="js/datatables.js"></script>
<script>
  $(document).ready(function() {
    $('.form-search-related .filter .actions a[data-view="list"]').button('toggle');
  });

  var oTbl;
  initDataTable('#example_leads');

  var window_height = $(window).height();

  $(window).resize(function(e) {
    setTimeout(function(){
      if(window_height != $(window).height()) {
        initDataTable('#example_leads');
      }
    },150)
  });

  function initDataTable(element){
    if($(element).hasClass('dataTable') === true) {
      destroyDatatable(oTbl);
    }
    oTbl = $('#example_leads').dataTable({
        "bFilter": false,
        "bInfo":false,
        "bPaginate": false,
        "sScrollY": calcDataTableHeight(),
        "bScrollCollapse": true,
    });
  }

  function destroyDatatable(element){
    element.fnDestroy();
  }

  function calcDataTableHeight() {
    return $(window).height()-280;
  };

</script>
