<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse">
        <ul class="nav">
          <li><a class="cube" href="dashboard.html" rel="tooltip" title="Dashboard"></a></li>
          <li><a href="accounts.html">Accounts</a></li>
          <li><a href="contacts.html">Contacts</a></li>
          <li><a href="forecast.html">Forecasts</a></li>
          <li><a href="opportunities.html">Opportunities</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li id="gen17"><a href="index.php?module=Campaigns&amp;action=index" id="moduleTab_Campaigns">Campaigns</a></li>
              <li id="gen18"><a href="index.php?module=Quotes&amp;action=index" id="moduleTab_Quotes">Quotes</a></li>
              <li id="gen19"><a href="#" id="moduleTab_Subscriptions">Subscriptions</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <button href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">3</button>
            <ul class="dropdown-menu">
              <li><a href="">System-wide maintenance &hellip;</a></li>
              <li><a href="">Upgrade to 7.0!</a></li>
              <li><a href="">Please take our survey.</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../img/avatar_sabra.jpg" alt="skahn" class="avatar">skhan <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profile.html">Profile</a></li>
              <li><a href="#">Password</a></li>
              <li><a href="#">Advanced</a></li>
              <li><a href="#">External Accounts</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus icon-md"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu quick">
              <li><a data-toggle="modal" href="partial/quickcreateaccount-modal.html" class="modal-link">Create Account</a></li>
              <li><a data-toggle="modal" href="partial/quickcreatecontact-modal.html" class="modal-link">Create Contact</a></li>
              <li><a data-toggle="modal" href="partial/quickcreateopportunity-modal.html" class="modal-link">Create Opportunity</a></li>
            </ul>
          </li>
        </ul>
        <div id="searchForm">
          <form class="navbar-search pull-right" action="">
            <input type="text" class="search-query" placeholder="Search..." data-provide="typeahead" data-items="10" data-source="[&quot;Bad links in Pitch&quot;,&quot;Broken images in pdf&quot;,&quot;Misspellings everywhere&quot;,&quot;404 on faq&quot;,&quot;HTML is broken&quot;,&quot;Page link is not redirecting&quot;,&quot;Improper text in search placeholder&quot;,&quot;Misaligned elements&quot;,&quot;Need new text on log in&quot;,&quot;Image broken on profile&quot;]">
            <div class="advanced">
              <div class="pull-right">
                <div class="btn-group">
                  <a class="advanced dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="title">Advanced Search:</li>
                    <li><input type="checkbox"> Accounts</li>
                    <li><input type="checkbox"> Cases</li>
                    <li><input type="checkbox"> Opportunities</li>
                    <li><input type="checkbox"> Reports</li>
                  </ul>
                  <a class="btn btn-inverse" href="#"><i class="icon icon-search"></i></a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
