<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse">
        <ul id="navMenu" class="nav">
          <li><a class="cube" href="dashboard.html" rel="tooltip" title="Dashboard"></a></li>
          <!-- <li class="menu-item"><a href="forecast.html">Forecasts</a></li> -->
          <li class="menu-item"><a href="leads.html">Leads</a></li>
          <li class="menu-item"><a href="#">Module A</a></li>
          <li class="menu-item"><a href="#">Module B</a></li>
          <li class="menu-item"><a href="#">Module C</a></li>
          <!-- <li class="menu-item"><a href="#">Campaigns</a></li>
          <li class="menu-item"><a href="#">Quotes</a></li>
          <li class="menu-item"><a href="#">Subscriptions</a></li>
          <li class="menu-item"><a href="#">Reports</a></li>
          <li class="menu-item"><a href="#">Documents</a></li>
          <li class="menu-item"><a href="#">oppQ</a></li>
          <li class="menu-item"><a href="#">Emails</a></li>
          <li class="menu-item"><a href="#">Products</a></li>
          <li class="menu-item"><a href="#">Cases</a></li> -->
          <li class="dropdown" id="more">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-chevron-down"></b></a>
            <ul class="dropdown-menu" id="moreLinks">
              <li><a href="#">Filter Menu By</a></li>
            </ul>
          </li>
        </ul>
        <ul id="navForms" class="nav pull-right">
          <li class="divider-vertical"></li>
          <!-- <li class="dropdown">
            <button href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">3</button>
            <ul class="dropdown-menu">
              <li><a href="">System-wide maintenance &hellip;</a></li>
              <li class="divider"></li>
              <li><a href="">Upgrade to 7.0!</a></li>
              <li class="divider"></li>
              <li><a href="">Please take our survey.</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../img/avatar_sabra.jpg" alt="skahn" class="avatar">skhan <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Password</a></li>
              <li><a href="#">Advanced</a></li>
              <li><a href="#">External Accounts</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus icon-md"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu quick">
              <li><a href="#">Create Account</a></li>
              <li><a href="#">Create Contact</a></li>
              <li><a href="#">Create Opportunity</a></li>
              <li><a href="#">Edit Dashlets</li>
            </ul>
          </li>
        </ul>
        <div id="searchForm">
          <form class="navbar-search pull-right" action="">
            <input type="text" class="search-query span2" placeholder="Search" data-provide="typeahead_sugar" data-items="10" data-source="[&quot;Bad links in Pitch&quot;,&quot;Broken images in pdf&quot;,&quot;Misspellings everywhere&quot;,&quot;404 on faq&quot;,&quot;HTML is broken&quot;,&quot;Page link is not redirecting&quot;,&quot;Improper text in search placeholder&quot;,&quot;Misaligned elements&quot;,&quot;Need new text on log in&quot;,&quot;Image broken on profile&quot;]">
            <div class="advanced">
              <div class="btn-toolbar pull-right">
                <div class="btn-group">
                  <a class="advanced btn-link btn-invisible dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu reset-width">
                    <!--
                    <li class="title">Advanced Search:</li>
                    <li class="divider"></li>
                  -->
                    <li><label><input class="search_all" type="checkbox"> Search All</label></li>
                    <li><label><input class="search_accounts" type="checkbox"> Accounts</label></li>
                    <li><label><input class="search_cases" type="checkbox"> Cases</label></li>
                    <li><label><input class="search_contacts" type="checkbox"> Contacts</label></li>
                    <li><label><input class="search_leads" type="checkbox"> Leads</label></li>
                    <li><label><input class="search_notes" type="checkbox"> Notes</label></li>
                    <li><label><input class="search_opportunities" type="checkbox"> Opportunities</label></li>
                    <li><label><input class="search_reports" type="checkbox"> Reports</label></li>
                  </ul>
                  <a class="btn btn-inverse" href="#"><i class="icon icon-search"></i></a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>

<script>
$(document).ready(function() {

    $('body').on('click', 'ul.dropdown-menu > li [type=checkbox]', function(el){
      if($(this).hasClass('search_all')===true) {
        if($(this).attr('checked')) {
          $(this).closest('ul').find('li').each(function(){
            $(this).find('input[type=checkbox]').attr('checked','checked');
          });
        } else {
          $(this).closest('ul').find('li').each(function(){
            $(this).find('input[type=checkbox]').removeAttr('checked');
          });
        }
      }
      el.stopPropagation();
    });

    //http://jsfiddle.net/vNqTF/
    $(window).resize(  (function(){
        // Closure to initialize everything...
        // Clone all links in the menu and add them to the "more" tab
        $("#navMenu").find("li.menu-item").each(function(index){
            $('#moreLinks').prepend($(this).clone());
        });
        // Get links in menu and in "more" tab, calculate total width of links
        var menuLinks = (function(){
                var links = $("#navMenu > li.menu-item");
                links.each(function(){
                    // Pre-calculate link widths to make checkWidth function more efficient
                    $(this).data("linkWidth", $(this).outerWidth(true));
                });
                return links;
            })()
          , moreLinks = $("#moreLinks > li.menu-item")
          , linksWidth = $("#navMenu").children().get().reduce(function(a,b){ return a + $(b).outerWidth(true); }, 0)
          , moreWidth = $("#more").outerWidth(true) + $('#navMenu > li:first-child').outerWidth(true) + $('#navMenu > li:first-child').offset().left
            // Function that actually checks which links to display/hide
          , checkWidth = function(){
              var menuWidth = $('#navForms').position().left - $("#searchForm").outerWidth(true) - 10
                  , w = moreWidth;
              menuLinks.each(function(index){
                  // Sum up link widths and compare to menu width
                  w += $(this).data("linkWidth");
                  if (w > menuWidth) {
                      // Links already too wide, hide all remaining links
                      menuLinks.slice(index).hide();
                      moreLinks.slice(index).show();
                      return false;
                  }
                  moreLinks.eq(index).hide();
                  $(this).show();
              });
          };
        // Adjust menu to initial conditions (will hide links in "more" tab if window wide enough at beginning)
        checkWidth();
        // Return the actual function from the closure that will be executed when window is resized
        return checkWidth;
    }()) );

    // set active menu item
    var pageName = window.location.href.split('/').pop().split('#').shift();
    $("#navMenu").find("li.menu-item").each(function(){
        if ($(this).find('a').attr('href') === pageName) {
            $(this).addClass('active');
            return false;
        }
    });

  $.fn.typeahead.defaults = {
      source: []
    , items: 8
    , menu: '<ul class="typeahead dropdown-menu custom"></ul>'
    , item: '<li>Bugs, <a href="#"></a>, xyz</li>'
  }

  $(document).on('focus.typeahead.data-api', '[data-provide="typeahead_sugar"]', function (e) {
    var $this = $(this)
    if ($this.data('typeahead')) return
    e.preventDefault()
    $this.typeahead($this.data())
  });

});
</script>
