<form class="omnibar clearfix" action="">
  <a href="" class="avatar avatar42 pull-left">
    <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
  </a>
  <div contenteditable="true" class="sayit" dropzone="copy">Type a note or drag and drop an attachment</div>
</form>

<script>
  $(document).ready(function() {
    $('body')
      .off( 'click', '.omnibar')
      .on( 'click', '.omnibar', function (e) {
          e.preventDefault();
          e.stopPropagation();
          var omnibar = $(this);
          omnibar.toggleClass('active');
          if(omnibar.hasClass('active')) {
            omnibar.append('<div class="inputactions"><a href=""><i class="icon-tag"></i></a> <a href=""><i class="icon-paper-clip"></i></a> <input type="submit" class="pull-right btn btn-primary"><span class="pull-right"><a href="" class="btn btn-invisible btn-link">Send to Everyone</a> &nbsp;</div>');
            $('.sayit').html('');
          } else {
            $('.inputactions').remove();
          }
        }
      );
  });
</script>
