<div class="filtered tabbable tabs-left" id="moduleActivity">
  <ul class="nav results">
    <li id="sp_files" class="subpanel clearfix">
      <div class="subpanel-header">
        <div class="label label-module-sm label-Files pull-left" rel="tooltip" data-title="Module">Co</div>
        <h4 class="pull-left">Module name (10)</h4>
      </div>
    </li>
    <li id="sp_opportunities" class="subpanel clearfix">
      <div class="subpanel-header">
        <div class="label label-module-sm label-Opportunities pull-left" rel="tooltip" data-title="Module">Op</div>
        <h4 class="pull-left">Module name (0)</h4>
      </div>
    </li>
    <li id="sp_bugs" class="subpanel clearfix">
      <div class="subpanel-header">
        <div class="label label-module-sm label-Bugs pull-left" rel="tooltip" data-title="Module">Bu</div>
        <h4 class="pull-left">Module name</h4>
      </div>
    </li>
    <li id="sp_null" class="subpanel clearfix">
      <div class="subpanel-header">
        <h4 class="tcenter">No records selected, <a href="#">view all records</a> or <a href="#">choose a predefined filter view</a>.</h4>
      </div>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function() {

    // loadPartials([
    //   {"file":"common/omnibar","target":"#view .main-content","method":"prepend"}
    // ]);

    $('.form-search-related .filter .actions a[data-view="list"]').button('toggle');

    $('#moduleActivity .results > li').each(function(){
        var $this = $(this);
        if ($this.attr('id')!=='sp_null') {
          page.panel_id = '#'+$this.attr('id') + ' .subpanel-list';
          page.panel_title = $this.find('.label').data('title');
          loadPartials([
            {"file":"common/subpanel-controls","target":'#'+$this.attr('id') + ' .subpanel-header',"method":"append"},
            {"file":"common/subpanel-list","target":'#'+$this.attr('id'),"method":"append"}
          ]);
        }
    });

    $('#moduleActivity')
        .off('click', '.subpanel-controls a[data-toggle="subpanel"]')
        .on('click', '.subpanel-controls a[data-toggle="subpanel"]', function(){
            $(this).parents('.subpanel').toggleClass('out');
        });

    $('.comment').toggle(
      function () {
        $(this).parent().parent().parent().find('.acomment').remove();
        $(this).parent().parent().find('ul').append('<li class="acomment"><div class="control-group form-horizontal"><input placeholder="Add your comment..." class="reply span11"> <input type="submit" class="btn btn-primary" value="Reply"></div></li>');
        $(this).addClass('active');
        return false;
      },
      function () {
        $(this).parent().parent().parent().find('.acomment').remove();
        $(this).removeClass('active');
        return false;
      }
    );

    // toggle more hide
    $('.commented .more').toggle(
      function () {
        $(this).parent().prev('.extend').removeClass('hide');
        return false;
      },
      function () {
        $(this).parent().prev('.extend').addClass('hide');
        $(this).html('2 more comments...');
        return false;
      }
    );
  });
</script>
