<div class="block filtered tabbable tabs-left" id="moduleActivity">
  <ul class="nav nav-tabs results">
    <li>
      <div class="label label-module label-Files pull-left" rel="tooltip" data-title="File">
        Fi
      </div>
      <p>
         Added <a href="preview/screenshot-preview.html" data-mode="preview" data-toggle="proto" data-target="#preview">screenshot_766.png</a> file.
        <br>
        <date class="date"><a href="#profile">Sabra Khan</a> 1 hour ago on 3/12/2012  at 3:00 pm EST</date>
      </p>
      <ul class="commented">
        <li>
          <a href="" class="pull-left avatar">
            <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
          </a>
          <p>
             commented "This is a solid flow chart for figuring out our goals"<br>
            <date class="date"><a href=" #profile">Sabra Khan</a> 1 hour ago on 3/12/2012  at 3:00 pm EST</date>
          </p>
        </li>
        <div class="extend hide">
          <li>
            <a href="" class="pull-left avatar">
              <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
            </a>
            <p>
              <a href=" #profile">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
              <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
            </p>
          </li>
          <li>
            <a href="" class="pull-left avatar">
              <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
            </a>
            <p>
              <a href="#profile">Sabra Khan</a> commented "This is a solid flow chart for figuring out our goals"<br>
              <date class="date">1 hour ago on 3/12/2012  at 3:00 pm EST</date>
            </p>
          </li>
        </div>
        <li>
          <a href="" class="more">2 more comments...</a>
        </li>
        <li class="acomment">
          <div class="control-group form-horizontal">
            <div class="controls controls-two btn-fit">
              <div data-placeholder="Add your comment&hellip;" class="reply" contenteditable="true"><span class="placeholder">Add your comment&hellip;</span></div>
              <input type="submit" class="btn btn-primary" value="Reply">
            </div>
          </div>
        </li>
      </ul>
       <div class="actions btn-group">
         <a class="comment btn btn-mini" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
         <a href="#file1" class="btn btn-mini"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
         <a href="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-caret-down"></i></a>
         <ul class="dropdown-menu pull-right">
           <li><a href="#">Delete</a></li>
         </ul>
      </div>
    </li>
    <li>
      <div class="label label-module label-Opportunities pull-left" rel="tooltip" data-title="Opportunity">
        Op
      </div>
      <p>
         Updated <a href="record.html">Plato's LED Financial Apps</a> opportunity.
        <br>
        <date class="date"><a href="#profile">Jim Atlas</a> about 1 minute ago on 3/12/2012 at 3:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
        <div class="actions btn-group">
          <a class="comment btn btn-mini" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
          <a href="#file1" class="btn btn-mini"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
          <a href="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-caret-down"></i></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Delete</a></li>
          </ul>
       </div>
    </li>
    <li>
      <div class="label label-module label-Bugs pull-left" rel="tooltip" data-title="Bug">
        Bu
      </div>
      <p>
        Added <a href="detail_bug.html" data-mode="preview" data-toggle="tab">Page link is not redirecting</a> bug.
        <br>
        <date class="date"><a href="#profile">Uriah Welcome</a> 1 hour ago on 3/12/2012 at 2:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
        <div class="actions btn-group dropdown">
          <a class="comment btn btn-mini" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
          <a href="#file1" class="btn btn-mini"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
          <a href="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-caret-down"></i></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Delete</a></li>
          </ul>
       </div>
    </li>
    <li>
      <div class="label label-module label-Opportunities pull-left" rel="tooltip" data-title="Opportunity">
        Op
      </div>
      <p>
         Updated <a href="" rel="tooltip" data-html="true" data-title="From: this<br>To: that">phone</a>, <a href="" rel="tooltip" data-html="true" data-title="From: this<br>To: that">url</a>, and <a href="" rel="tooltip" data-html="true" data-title="From: this<br>To: that">email</a> in the <a href="record.html">Plato's LED Financial Apps</a> opportunity.
        <br>
        <date class="date"><a href="#profile">Sabra Khan</a> 1 hour ago on 3/12/2012at 2:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
      <div class="actions btn-group">
        <a class="comment btn btn-mini" href="#comment"><i class="icon-comment" rel="tooltip" data-title="Comment"></i></a>
        <a href="#file1" class="btn btn-mini"><i class="icon-eye-open" rel="tooltip" data-title="Preview"></i></a>
       </div>
    </li>
    <li>
      <div class="label label-module label-Accounts pull-left" rel="tooltip" data-title="Account">
        Ac
      </div>
      <p>
        Updated <a href="" rel="tooltip" data-html="true" data-title="From: this<br>To: that">email</a> the <a href="record.html">Plato's LED</a> Account.
        <br>
        <date class="date"><a href="#profile">Sabra Khan</a> 2 hours ago on 3/12/2012 at 1:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
       <div class="actions btn-group">
         <a class="comment btn btn-mini" href="#comment" rel="tooltip" data-title="Comment"><i class="icon-comment"></i></a>
         <a href="#file1" class="btn btn-mini" rel="tooltip" data-title="Preview"><i class="icon-eye-open"></i></a>
         <a href="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"  rel="tooltip" data-title="More"><i class="icon-caret-down"></i></a>
         <ul class="dropdown-menu pull-right">
           <li><a href="#">Delete</a></li>
         </ul>
      </div>
    </li>
    <li>
      <a href="" class="pull-left avatar avatar42" rel="tooltip" data-html="true" data-title="<b>Sabra Khan</b><br>Closed: 100<br>New: 10">
        <img src="../img/avatar_sabra.jpg" alt="Skhan avatar">
      </a>
      <p>
        Comment: We need more time to close the Tardis deal.
        <br>
        <date class="date"><a href="#profile">Sabra Khan</a> 2 hours ago on 3/12/2012 at 1:00 pm EST</date>
      </p>
      <ul class="commented"></ul>
       <div class="actions btn-group">
         <a class="comment btn btn-mini" href="#comment" rel="tooltip" data-title="Comment"><i class="icon-comment"></i></a>
         <a href="#file1" class="btn btn-mini" rel="tooltip" data-title="Preview"><i class="icon-eye-open"></i></a>
         <a href="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"  rel="tooltip" data-title="More"><i class="icon-caret-down"></i></a>
         <ul class="dropdown-menu pull-right">
           <li><a href="#">Delete</a></li>
         </ul>
      </div>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function() {

    loadPartials([
      {"file":"common/omnibar","target":"#view .main-content","method":"prepend"}
    ]);

    $('.form-search-related .filter .actions a[data-view="activitystream"]').button('toggle');

    $('.comment').toggle(
      function () {
        $(this).parent().parent().parent().find('.acomment').remove();
        $(this).parent().parent().find('ul').append('<li class="acomment"><div class="control-group form-horizontal"><div class="controls controls-two btn-fit"><div data-placeholder="Add your comment&hellip;" class="reply" contenteditable="true"><span class="placeholder">Add your comment&hellip;</span></div><input type="submit" class="btn btn-primary" value="Reply"></div></div></li>');
        $(this).addClass('active');
        return false;
      },
      function () {
        $(this).parent().parent().parent().find('.acomment').remove();
        $(this).removeClass('active');
        return false;
      }
    );

    // toggle more hide
    $('.commented .more').toggle(
      function () {
        $(this).parent().prev('.extend').removeClass('hide');
        return false;
      },
      function () {
        $(this).parent().prev('.extend').addClass('hide');
        $(this).html('2 more comments...');
        return false;
      }
    );
  });
</script>
