<article class="filter-body" id="filter_row_new">
  <div class="row-fluid">
    <div class="filter-field controls span3">
      <select name="field" class="chzn-select chzn-inherit-width" data-placeholder="Select field name...">
          <option value="name">Name</option>
          <option value="assigned">Assigned to</option>
          <option value="stage">Sales Stage</option>
          <option value="favorite">Favorite</option>
          <option value="created">Created</option>
      </select>
    </div>
    <div class="filter-opera controls span3">
      <select name="opera" class="chzn-select chzn-inherit-width" data-placeholder="Select operator...">
      </select>
    </div>
    <div class="filter-value controls span6">
      <input name="value" type="text" class="inherit-width" placeholder="Enter a name...">
      <a href="#" class="addme btn btn-invisible btn-dark"><i class="icon-plus"></i></a>
    </div>
  </div>
</article>
