<!-- synced dom with sidecar on 2/1/2113 -->
<form class="form-search-related" action="" id="{{sourceid}}">

    <div class="control-group">
        <div class="filter controls controls-two btn-group-fit">
            <div class="filter-view search">
                <div>
                    <input id="related_filter" type="hidden" class="select2 related-filter" data-placeholder="Related">
                    <input id="search_filter" type="hidden" class="select2 search-filter" data-placeholder="Filter">
                    <input id="search_name" type="text" size=" " class="search-name" placeholder="Search&hellip;">
                </div>
            </div>
            <div class="actions">
              <div class="btn-group" data-toggle="buttons-radio">
                <a href="common/{{activity_stream}}.html" class="btn" data-view="activitystream" data-toggle="proto" data-target="#view .main-content" data-mode="view" rel="tooltip" data-original-title="Activity stream"><i class="icon-th-list"></i></a>
                <a href="common/{{data_table}}.html" class="btn" data-view="list" data-toggle="proto" data-target="#view .main-content" data-mode="view" rel="tooltip" data-original-title="List"><i class="icon-table"></i></a>
              </div>
            </div>
        </div>
    </div>

    <div class="filter-options inset-form extend hide">
        <article class="inset-form-header">
            <div class="row-fluid">
                <div class="controls span6">
                    <input name="filter" type="text" value="" class="inherit-width" placeholder="Enter new filter name...">
                    <input name="id" type="hidden" value="">
                </div>
                <div class="span6">
                    <div class="pull-right">
                        <a href="#delete" class="btn btn-link btn-invisible hide">Delete</a>
                        <a href="#save" class="btn btn-primary disabled">Save</a>
                        <a href="#close" class="btn btn-invisible btn-dark"><i class="icon-remove"></i></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="inset-form-body">
          <div class="row-fluid">
            <div class="controls span3">
                <input type="text" value="Module" disabled="disabled" class="disabled inherit-width">
            </div>
            <div class="controls span3">
                <input type="text" value="{{title}}" disabled="disabled" class="disabled inherit-width">
            </div>
            <div class="filter-value controls span6">
            </div>
          </div>
        </article>
    </div>

    <div class="mu inset-form extend hide">
    </div>

    <div class="att inset-form extend hide">
    </div>

</form>

<script>
  var availableFilters = [
    {"label":"Recent", "id":"filter_recent", "disabled":false, "selected":false, "classes":"", "spec":[
      {'field':'created','opera':'Last 7 days','value':''}
    ]},
    {"label":"Favorites", "id":"filter_favorites", "disabled":false, "selected":false, "classes":"", "spec":[
      {'field':'favorite','opera':'true'}
    ]},
    {"label":"My Saved Filter", "id":"filter_saved", "disabled":false, "selected":false, "classes":"", "spec":[
      {'field':'assigned','opera':'matches','value':'westin'},
      {'field':'stage','opera':'closed won'},
      {'field':'created','opera':'Last 7 days'}
    ]},
    {"label":"All", "id":"filter_all", "disabled":false, "selected":false, "editor":false, "classes":"result-related result-separator", "spec":[
    ]},
    {"label":"Files", "id":"filter_files", "disabled":false, "selected":false, "editor":true, "classes":"result-related result-separator", "spec":[
      {'field':'module','opera':'Files','value':''},
      {'field':'related','opera':'true','value':''}
    ]},
    {"label":"Opportunities", "id":"filter_opportunities", "disabled":false, "selected":false, "editor":true, "classes":"result-related", "spec":[
      {'field':'module','opera':'Opportunities','value':''},
      {'field':'related','opera':'true','value':''}
    ]},
    {"label":"Bugs", "id":"filter_bugs", "disabled":false, "selected":false, "editor":true, "classes":"result-related", "spec":[
      {'field':'module','opera':'Bugs','value':''},
      {'field':'related','opera':'true','value':''}
    ]},
    {"label":"Accounts", "id":"filter_accounts", "disabled":false, "selected":false, "editor":true, "classes":"result-related", "spec":[
      {'field':'module','opera':'Accounts','value':''},
      {'field':'related','opera':'true','value':''}
    ]},
    {"label":"History", "id":"filter_null", "disabled":false, "selected":false, "editor":true, "classes":"result-related", "spec":[
      {'field':'module','opera':'History','value':''},
      {'field':'related','opera':'true','value':''}
    ]},
    {"label":"Quotes", "id":"filter_quotes", "disabled":true, "selected":false, "editor":true, "classes":"result-related", "spec":[
      {'field':'module','opera':'Quotes','value':''},
      {'field':'related','opera':'true','value':''}
    ]},
    {"label":"Create", "id":"filter_new", "disabled":false, "selected":false, "classes":"primary filter-new result-separator", "spec":[]}
  ];

  // add the current module as default select2 filter
  // if ( window.location.pathname.split('/').pop() !== 'dashboard.html') {
  //     availableFilters.unshift(
  //         {"label":"{{title}}", "id":"filter_module", "disabled":true, "selected":true, "classes":"filter-disabled", "spec":[]}
  //     );
  // }

  // disable related record filter for current module
  $.each(availableFilters, function(index,value){
    if (value.label === '{{title}}')
    {
      value.disabled = true;
    }
    // if ((!page.mode || page.mode === 'list') && value.classes.indexOf('result-related')!==-1) {
    //   value.disabled = true;
    // }
  });

  var filterFields = {
    'default': {'label':'','opera':'','value':'','disabled':true,'text':false},
    'name': {'label':'Name','opera':'matches,contains,not matches,not contains,true,false','disabled':false,'text':true},
    'assigned': {'label':'Assigned to','opera':'matches','disabled':true,'text':true},
    'stage': {'label':'Sales Stage','opera':'prospecting,value proposition,closed won,closed lost','disabled':false,'text':false},
    'favorite': {'label':'Favorite','opera':'true,false','disabled':false,'text':false},
    'related': {'label':'Related','opera':'true,false','disabled':false,'text':false},
    'created': {'label':'Created','opera':'Last 7 days,Last 30 days,Last 90 days,Last year','disabled':false,'text':false},
    'module': {'label':'Module','opera':'Leads,Accounts,Contacts,Opportunities,Quotes','disabled':false,'text':false},
  };
//TODO: do we need an apply or does a search happen each time a filter row is added or updated
//TODO: when result is chosen, should we remove filter row choices or keep them and set create filter to use existing filter row choices.
//TODO: remove choice on single backspace
//TODO: prevent adding blank filter row

  $(document).ready(function() {

      // define global elements
      var _form = $('#{{sourceid}}'),
          _related = $('#{{sourceid}} #related_filter'),
          _filter = $('#{{sourceid}} #search_filter'),
          _options = $('#{{sourceid}} .filter-options'),
          _header = $('#{{sourceid}} .inset-form-header'),
          _related_choices,
          _related_results,
          _filter_choices,
          _filter_results,
          _hasRelated = (!page.mode || page.mode!=='list')?true:false;

      if ( !_hasRelated ) {
        var related_data = [];
      } else {
        var related_data = availableFilters
                  .map(function(d,i){
                    return {"id":d.id,"text":d.label,"classes":d.classes,"index":i};
                  })
                  .filter(function(d){
                    if (d.disabled===true) {
                      return false;
                    }
                    if ( d.classes.indexOf('result-related')===-1) {
                      return false;
                    }
                    return true;
                  });
      }

      var filter_data = availableFilters
                  .map(function(d,i){
                    return {"id":d.id,"text":d.label,"classes":d.classes,"index":i};
                  })
                  .filter(function(d){
                    if (d.disabled===true) {
                      return false;
                    }
                    if ( d.classes.indexOf('result-related')!==-1) {
                      return false;
                    }
                    return true;
                  });

        _related.select2({
            data:related_data,
            multiple:false,
            minimumResultsForSearch:7,
            formatSelection: function(item) {
                if (item.id === item.text) {
                    return item.text;
                } else {
                    return '<div class="'+ item.classes +'"><span class="select2-choice-type">'+ (_hasRelated?'Related':'Module') +'<i class="icon-caret-down"></i></span><span class="select2-choice-related" data-id="' + item.id.replace('filter_','') +'" rel="'+item.index+'">'+ item.text +'</span></div>';
                }
            },
            formatResult: function (option) {
                var rtn = '<div id="'+ option.id +'" class="'+ option.classes +'"><span class="select2-match"></span>'+ option.text +'</div>';
                return rtn;
            },
            dropdownCss: {width:'auto'},
            dropdownCssClass: 'search-related-dropdown'
        });
        _related.select2("data", {id: "filter_module", text: (_hasRelated?'All':'{{title}}')});
        if (!_hasRelated) {
            _related.select2("disable", true);
        }

      _filter.select2({
          data:filter_data,
          multiple:false,
          minimumResultsForSearch:7,
          formatSelection: function(item) {
              console.log(item)
              if (item.id === item.text) {
                  return item.text;
              } else {
                  return '<div class="'+ item.classes +'"><span class="select2-choice-type">Filter<i class="icon-caret-down"></i></span><span class="select2-choice-filter" data-id="' + item.id.replace('filter_','') +'" rel="'+item.index+'">'+ item.text +'</span></div>';
              }
          },
          formatResult: function (option) {
              var rtn = '<div id="'+ option.id +'" class="'+ option.classes +'"><span class="select2-match"></span>'+ option.text +'</div>';
              return rtn;
          },
          dropdownCss: {width:'auto'},
          dropdownCssClass: 'search-filter-dropdown'
      });
      _filter.select2("data", {id: "filter_recent", text: "Recent"});

      // add the current module as default select2 filter
      // if ( window.location.pathname.split('/').pop() !== 'dashboard.html') {
      //     _filter.select2('data',[{"text":"{{title}}", "id":"filter_module", "disabled":true, "selected":true, "classes":"filter-disabled", "spec":[]}]);
      // }
      // disable all related record filters for list view

      // define global select2 elements
      _related_choices = $('#{{sourceid}} #s2id_related_filter .select2-choice');
      _related_results = $('.search-related-dropdown .select2-results');

      _filter_choices = $('#{{sourceid}} #s2id_search_filter .select2-choice');
      _fitler_results = $('.search-filter-dropdown .select2-results');

      // prepend legend to .select2-choices
      // _choices.prepend('<legend class="select2-legend">Filter <i class="icon-caret-down"></i></legend>');

      // create new filter
      _fitler_results.on('mouseup', '.select2-result-label', function(e){
          if ($(this).find('.filter-new').length) {
            editFilterForm( availableFilters.length-1, true );
            _filter.select2('close');
            e.preventDefault();
            e.stopPropagation();
          }
      });

      _related_choices.on('mousedown', 'span.select2-choice-related', function(e){
          e.preventDefault();
          e.stopPropagation();
      });

      //edit existing filter
      _filter_choices.on('mousedown', 'span.select2-choice-filter', function(e){
          var index = isNaN($(this).attr('rel'))?0:$(this).attr('rel');
          editFilterForm( index, false );
          e.preventDefault();
          e.stopPropagation();
      });

      // if form changes enable save button
      _form.on('change', function(){
          enableSaveFilterButton();
      });
      _header.find('input[name="filter"]').on('keyup', function(){
          enableSaveFilterButton();
      });

      function editFilterForm (index,isNewFilter) {

          var data = availableFilters[index];

          // if (data.classes.indexOf('filter-new')===-1) {
          //     _results.find('.filter-new').removeClass('result-selected').addClass('active-result');
          // }

          _options.find('article[id*="filter_row_"]').remove();
          _header.find('input[name="filter"]').val( data.classes.indexOf('filter-new')>-1?'':data.label );
          _header.find('input[name="id"]').val(data.id);

          // populate filter rows
          $.each(data.spec, function(index,value){
              createFilterRow(index, value, false);
          });

          // add new defalt row
          createFilterRow('new', {'field':'default','opera':'','value':''}, true);
          _header.find('a[href="#delete"]').toggleClass( 'hide', (_header.find('input[name="id"]').val()==='filter_new') );

          // if click save button then update the filter spec
          // and close filter editor
          _header.find('a[href="#save"]').off('click').on('click', function(e){
              if ( !$(this).hasClass('disabled') ) {
                  saveFilter(index,data);
                  //_results.find('.filter-new').removeClass('result-selected').addClass('active-result');
                  _options.addClass('hide');
              }
              e.preventDefault();
              e.stopPropagation();
          });

          _header.find('a[href="#delete"]').off('click').on('click', function(e){
              removeFilter(index,data);
              _options.addClass('hide');
          });

          // close filter option extend
          // and reinstate the filter being edited
          _header.find('a[href="#close"]').off('click').on('click', function(e){

              //_results.find('.filter-new').removeClass('result-selected').addClass('active-result');
              _options.addClass('hide');
              e.preventDefault();
              e.stopPropagation();
          });

          // add filter row
          _options.off('click','.addme').on('click', '.addme', function(e) {
              var row = $(this).parents('.inset-form-body'),
                  isNewRow = (row.attr('id')==='filter_row_new'?true:false),
                  filterRows = _options.find('article[id*="filter_row_"]');

              if (isNewRow) {
                  row.attr('id', 'filter_row_'+ filterRows.length);
                  enableRemoveFilterRow( row );
                  createFilterRow('new', {'field':'default','opera':'','value':''}, true);
              }
              if (isNewFilter) {
                  createFieldRowChoice( row, _filter_choices, isNewFilter );
              }
              enableSaveFilterButton();
              e.preventDefault();
              e.stopPropagation();
          });

          // remove filter row
          _options.off('click','.removeme').on('click', '.removeme', function(e) {
              var row = $(this).parents('.inset-form-body'),
                  id = 's2id_search_filter_f_'+ parseInt(row.attr('id').substr(11),10);
              _filter_choices.find('#'+id).remove();
              row.remove();
              e.preventDefault();
              e.stopPropagation();
          });

          // show edit filter options form
          _options.removeClass('hide');
      }

      function saveFilter (index,data) {

          var title = _header.find('input[type="text"]').val(),
              filterRows = _options.find('article[id*="filter_row_"]'),
              row,
              filter = {};

              filter.label = title;
              filter.id = data.id;
              filter.disabled = false;
              filter.selected = true;
              filter.classes = '';
              filter.spec = [];

          filterRows.each( function(index,value) {
              row = $(value);
              if ( row.attr('id')!=='filter_row_new' ) {
                  filter.spec.push({
                      'field': row.find('select[name="field"]').val(),
                      'opera': row.find('select[name="opera"]').val(),
                      'value': row.find('input[name="value"]').val()
                  });
              }
          });

          // check to see if this is a new filter
          if ( data.id==='filter_new' ) {
              filter.id = 'filter_'+ availableFilters.length;
              var option = '<option value="'+ filter.id +'" selected="selected" class="custom-choice custom-result">'+ title +'</option>';

              // if module filter exists,
              if ( _filter.find('option').first().hasClass('filter-disabled') ) {
                  // insert at second else first
                  _filter.find('option').first().after( option );
                  availableFilters.splice(1,0,filter);
              } else {
                  // create new result at top
                  _filter.prepend( option );
                  availableFilters.unshift(filter);
              }
          } else {
              availableFilters[index] = filter;
              _filter.find( 'option[value="'+ data.id +'"]' ).text(title).attr('selected', 'selected');
          }

          // remove field specific filter choices
          _filter_choices.find('li[id*="s2id_search_filter_f_"]').remove();
      }

      function removeFilter (index,data) {
          availableFilters.splice(index,1);
          _filter.find( 'option[value="'+ data.id +'"]' ).remove();
      }

      function createFilterRow (index,spec,isNewRow) {

          loadContent('common/search-filter-row.html', '.filter-options', undefined, 'append');

          if (!isNaN(index)) {
              _form.find('#filter_row_new').attr('id','filter_row_'+ index);
          }

          var row = _form.find('#filter_row_'+ index),
              field = row.find('select[name="field"]'),
              opera = row.find('select[name="opera"]'),
              value = row.find('input[name="value"]');

          // enable select2 for filter row
          row.find('.select2').each(function(){
            var $this = $(this)
              , ctor = getSelect2Constructor($this);
            $this.select2( ctor );
          });

          setFilterRowInputs( spec, filterFields[spec.field] );

          if (!isNewRow) {
              enableRemoveFilterRow( row );
          }

          field.on('change', function(){
              spec.field = field.val();
              setFilterRowInputs( spec, filterFields[spec.field] );
          });

          function setFilterRowInputs(spec,fieldDef) {

              //set the field
              if (spec.field!=='') {
                field.select2('val',spec.field);
              }

              //set the operations
              opera.find('option').remove();
              $('<option>').appendTo(opera);
              $.each( fieldDef.opera.split(','), function(index,value){
                  $('<option>').appendTo(opera).attr('value', value).text(value);
              });

              //set opera selected to spec value
              if (spec.opera!=='') {
                  opera.select2('val',spec.opera);
              } else if ( fieldDef.disabled==true && fieldDef.opera!=='' ) {
                  opera.select2('val',fieldDef.opera);
              } else {
                  opera.select2('val','');
              }
              if (spec.opera!=='' || fieldDef.opera!=='') {
                  row.find('.filter-opera .select2-container').show();
              } else {
                  row.find('.filter-opera .select2-container').hide();
              }
              //set opera enabled to field enabled
              if (fieldDef.disabled) {
                  opera.attr('disabled','disabled');
              } else {
                opera.removeAttr('disabled');
              }
              opera.trigger("liszt:updated");

              // hide text input if spect text is false
              value.css('display', (fieldDef.text?'inline-block':'none'));

              // set text input value if spec value is not empty
              value.val(spec.value);
          }
      }

      function enableRemoveFilterRow (filterRow) {
          filterRow.find('.addme').after(
            '<a href="#" class="removeme btn btn-invisible btn-dark"><i class="icon-minus"></i></a>'
          );
      }

      function enableSaveFilterButton () {
          _header.find('a[href="#save"]').toggleClass( 'disabled', _header.find('input[name="filter"]').val()==='' );
      }

      function createFieldRowChoice (filterRow,choices) {
          var id = 's2id_search_filter_f_'+ parseInt(filterRow.attr('id').substr(11),10),
              field = filterRow.find('select[name="field"] option:selected').text(),
              opera = filterRow.find('select[name="opera"]').val(),
              html = filterRow.find('input[name="value"]').val(),
              index = 99;

          if (html ==='') {
              html = opera;
          }

          if (_choices.find('#'+id).length ) {
              _choices.find('#'+id).find('a').text(html);
              return false;
          } else {
              $('#{{sourceid}} #s2id_search_filter .search-field').before(
                  searchChoiceConstructor(id, {html:html,array_index:index,classes:'search-choice-field'}, field )
              );
              return true;
          }
      }

      function searchChoiceConstructor (id,item,type) {
          if (typeof type==='undefined') {
            type = item.classes.indexOf('filter-disabled')!==-1 ? 'Module' : 'Filter';
          }
          return item.classes.indexOf('filter-new')===-1 ? '<li class="search-choice search-choice-option '+ item.classes +'" id="'+ id +'"><span>'+ type +'</span><a href="javascript:void(0)" rel="'+ item.array_index +'">'+ item.html +'</a></li>' : '';
      }
  });

</script>
