<!-- synced dom with sidecar on 11/21/2112 -->
<form class="form-search" action="" id="{{sourceid}}">
    <div class="row-fluid">
        <div class="control-group filter">
            <div class="controls">
                <div class="search">
                    <select id="search_filter" class="chzn-select search" multiple data-placeholder=" ">
                      <option value="favorites">My Favorites</option>
                      <option value="my{{title}}">My {{title}}</option>
                      <option value="mycustomfilter">My Custom Filter</option>
                      <!-- <option class="primary newfilter">+ Create a filter</option> -->
                    </select>
                    <!--<legend class="chzn-select-legend">Filter <i class="icon-caret-down"></i></legend>-->
                </div>
            </div>
        </div>
        <div class="toolbar-btns">
            <div class="pull-right">
                <a href="partial/{{module}}/{{module}}-activitystream.html" class="btn btn-invisible" data-view="activitystream" data-toggle="tab" data-target="#view .main-content" data-mode="view"><i class="icon-th-list"></i></a>
                <a href="#" class="btn btn-invisible" data-view="timeline"><i class="icon-time"></i></a>
                <a href="#" class="btn btn-invisible" data-view="calendar"><i class="icon-calendar"></i></a>
                <a href="partial/{{module}}/{{module}}-table.html" data-view="list" class="btn btn-invisible active" data-toggle="tab" data-target="#view .main-content" data-mode="view"><i class="icon-table"></i></a>
                <!-- <ul class="nav nav-tabs">
                    <li class=""><a href="partial/{{module}}/{{module}}-activitystream.html" class="btn btn-invisible" data-view="activitystream" data-toggle="tab" data-target="#view .main-content" data-mode="view"><i class="icon-th-list"></i></a></li>
                    <li class=""><a href="#" class="btn btn-invisible" data-view="timeline"><i class="icon-time"></i></a></li>
                    <li class=""><a href="#" class="btn btn-invisible" data-view="calendar"><i class="icon-calendar"></i></a></li>
                    <li class="active"><a href="partial/{{module}}/{{module}}-table.html" data-view="list" class="btn btn-invisible" data-toggle="tab" data-target="#view .main-content" data-mode="view"><i class="icon-table"></i></a></li>
                </ul> -->
            </div>
        </div>
    </div>

    <div class="filter-options extend hide">
        <article class="filter-header">
            <input type="text" placeholder="Enter new filter name...">
            <div class="pull-right">
                <a href="#save" class="btn btn-primary disabled">Save</a>
                <a href="#" class="btn btn-invisible filter-close"><i class="icon-remove"></i></a>
            </div>
        </article>
        <article class="filter-body">
          <div class="row-fluid">
            <div class="controls span3">
                <input type="text" value="Module" disabled="disabled" class="disabled inherit-width">
            </div>
            <div class="controls span3">
                <input type="text" value="{{title}}" disabled="disabled" class="disabled inherit-width">
            </div>
            <div class="filter-value controls span6">
            </div>
          </div>
        </article>
    </div>
    <div class="mu extend hide">
        <article class="filter-header">
            <strong>
                Mass Update
            </strong>
            <div class="pull-right">
                <a href="#" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-invisible"><i class="icon-remove"></i></a>
            </div>
        </article>
        <article class="filter-body">
            <div class="row-fluid">
                <div class="controls span3">
                    <select class="chzn-select chzn-inherit-width buildit">
                        <option>
                            Name
                        </option>
                        <option>
                            Sales Stage
                        </option>
                    </select>
                </div>
                <div class="controls span3">
                    <select class="chzn-select chzn-inherit-width">
                        <option>
                            matches
                        </option>
                    </select>
                </div>
                <div class="filter-value controls span6">
                    <input type="text" class="inherit-width" placeholder="Enter a name...">
                    <a href="" class="btn btn-invisible addme"><i class="icon-plus"></i></a>
                </div>
            </div>
        </article>
    </div>
</form>

<script>
  //TODO: add new filter to dropdown
  $(document).ready(function() {

      // load first filter option row
      loadContent('partial/common/search-filter-row.html', '.filter-options', undefined, 'append');

      // toggle module search (needs tap logic for mobile)
      $('#{{sourceid}}.form-search').on('click', '.addit', function(e) {
          $(this).toggleClass('active');
          $(this).parent().parent().parent().find('.form-addit').toggleClass('hide');
          e.stopPropagation();
          e.preventDefault();
      });


      // select filter dropdown option
      $("#search_filter_chzn .chzn-results > li").bind('click',function(e){
          var li_active = $("#{{sourceid}} ul.chzn-choices").find('.search-choice').first().attr('id'),
              li_orig = li_active.replace("_chzn_c_","_chzn_o_");

          // if active filter "pills" exist, remove pill from dom
          // if($("ul.chzn-choices").find('.search-choice').length > 1) {
          //   $("ul.chzn-choices").find('.search-choice').first().remove();
          // }
          $("#{{sourceid}} #"+li_orig).removeClass("result-selected").addClass("active-result");

          if($('#{{sourceid}} .chzn-container').hasClass('chzn-container-active') === true ) {
              $('#{{sourceid}} .chzn-container').removeClass('chzn-container-active');
          }
          e.stopPropagation();
          e.preventDefault();
      });


      // table - mass update
      $('body').on('click', '.tmu', function(e) {
          $('.mu').show();
          e.stopPropagation();
          e.preventDefault();
      });


      /* New Filter Form
      ---------------------- */

      // if filter name changes or is erased
      $('#{{sourceid}} .filter-header input[type="text"]').on('keyup change', function(){
          $('#{{sourceid}} .filter-header a[href="#save"]').toggleClass( 'disabled', $('#{{sourceid}} .filter-header input[type="text"]').val()==='' );
      });

      // if click save button
      $('#{{sourceid}} .filter-header a[href="#save"]').on('click', function(e){
          var choicesLength = $('#{{sourceid}} #search_filter_chzn .chzn-choices li').length;
          if ( !$(this).hasClass('disabled') ) {
              $('#{{sourceid}} #search_filter_chzn .chzn-choices li').slice(1,choicesLength-1).remove();
              $('#{{sourceid}} #search_filter_chzn .search-field').before(
                  searchChoiceConstructor(2, $('#{{sourceid}} .filter-header input[type="text"]').val(), 99 )
              );
          }
          e.stopPropagation();
          e.preventDefault();
      });

      // close filter option extend
      $('#{{sourceid}} .filter-header .filter-close').on('click', function(e){
          $(this).parents('.form-search').find('.filter-options').addClass('hide');
          $('#{{sourceid}} .filter-header input[type="text"]').val('');
          e.stopPropagation();
          e.preventDefault();
      });


      /* Filter Option Rows
      ---------------------- */

      // add search filter row to current filter set
      $('#{{sourceid}}.form-search').on('click', '.addme', function(e) {
          var article = $(this).parents('article');
          $(this).after('<a href="#" class="removeme btn btn-invisible"><i class="icon-minus"></i></a>');
          $('.form-search ul.chzn-choices li.search-field').before('<li class="search-choice search-choice-option" id="'+article.attr('id')+'_choice"><span>'+article.find('.buildit').val()+'</span><a>'+article.find('.operator').val()+'</a></li>');
          loadContent('partial/common/search-filter-row.html', '.filter-options', undefined, 'append');
          e.preventDefault();
      });

      // remove filter option
      $('#{{sourceid}} .filter-options').on('click', '.removeme', function(e) {
          $(this).parents('.filter-body').remove();
          e.preventDefault();
      });

      // on search filter input click
      // $('.form-search').on('click', '.search', function() {
      //     $(this).toggleClass('active');
      //     // $(this).parent().parent().parent().find('.dataTables_filter').toggle( function () {
      //     //   $(this).find('input').focus();
      //     // });
      //     $(this).parent().parent().parent().find('.form-search').toggle(function() {
      //         $(this).find('input').focus();
      //     });
      //     $(this).parent().parent().parent().find('.form-search').toggleClass('hide');
      //     return false;
      // });


      /* HTML setup
      ---------------------- */

      // add the current module as default filter
      if ( window.location.pathname.split('/').pop() !== 'dashboard.html') {
          $('#{{sourceid}}.form-search ul.chzn-choices').prepend('<li class="search-choice search-choice-option" id="search_filter_00_choice"><span>Module</span><span>{{title}}</span></li>');
      }

      // prepend legend to .chzn-choices
      $('#{{sourceid}} #search_filter_chzn .chzn-choices').prepend(
          '<legend class="chzn-select-legend"><i class="icon-caret-down"></i></legend>'
      );

      // append create filter icon
      $('#{{sourceid}} #search_filter_chzn').append('<div class="filter-create"><i class="icon-plus"></i></div>');
      $('#{{sourceid}} .filter-create').on('mousedown', function(e){
          $(this).parents('.form-search').find('.filter-options').removeClass('hide');
          e.stopPropagation();
          e.preventDefault();
      });

      // append checkmarks to filter dropdown results
      $('#{{sourceid}} #search_filter_chzn .chzn-results').find('li').after("<span class='icon-ok' />");

      // instatiate filter select chosen
      $("#{{sourceid}} #search_filter").chosen({ searchChoiceConstructor: searchChoiceConstructor });

  });
  function invokeSaveButtons(){
      $('.form-change-actions .btn').show();
  }
  function searchChoiceConstructor (id,html,index){
    return '<li class="search-choice search-choice-option" id="search_filter_'+index+'_choice"><span>Filter</span><a>'+html+'</a></li>';
  }
</script>

