<div class="subpanel-list">
<table class="highlight table table-striped">
  <thead>
    <tr>
      <th>{{panel_title}}</th>
      <th>Account</th>
      <th>Stage</th>
      <th>Amount</th>
      <th class="nosort">Actions</th>
      <th class="nosort">&#8230;</th>
    </tr>
  </thead>
  <tbody id="listed">
    <tr>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$330,000</td>
      <td><a href="lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#overview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
    </tr>
    <tr>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$100,000</td>
      <td><a href="lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#overview-edit" data-mode="preview"><i class="icon-eye-open"></i></a></td>
    </tr>
  </tbody>
</table>
</div>
