      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><div class="controls span12"><input type="text" value="..." class="inherit-width"></div></td>
      <td><div class="controls span12"><input type="text" value="..." class="inherit-width"></div></td>
      </td>
      <td>
        <div class="controls span12">
          <select name="priority" class="chzn-select chzn-narrow inherit-width" tabindex="3" >
            <option value="one" selected>One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four-</option>
          </select>
        </div>
      </td>
      <td><div class="controls span12"><input type="text" value="..." class="inherit-width"></div></td>
      <td><div class="controls span12"><input type="text" value="..." class="inherit-width"></div></td>

      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
