.left_Whisker {
  border-left: 1pt solid #d0d3d4;
  height: 20pt;
  margin-top: -1pt;
}

.hr1 {
  position: absolute;
  border-top: 1px solid #d0d3d4;
  margin-top: -13pt;
  margin-left: 1pt;
  width: 99%;
}

.right_Whisker {
  position: absolute;
  border-left: 1pt solid #d0d3d4;
  margin-left: 99%;
  margin-top: -20pt;
  height: 20pt;
}

.box_Plot {
  position: absolute;
  margin-top: -15pt;
  border-top: 5pt solid #d0d3d4;
}

.median_Line {
  position: absolute;
  border-left: 1pt solid #000;
  margin-top: -19pt;
  height: 9pt;
}

.box_Plot_Caret {
  position: absolute;
  height: 3pt;
  margin-top: -11pt;
  background-repeat: no-repeat;
  width: 4.5pt;
}

.likely_value {
  position: absolute;
  font-size: 7pt;
  font-weight: 600;
  margin-top: -9pt;
}

.list {
  overflow: hidden;
}
