// Setting widths for filter row fields
.console-config .row-fluid div {
  width: 28%;
  display: inline-block;
}

.console-config .row-fluid .filter-selector div {
  width: 100%;
}

// Hiding filter row fields
.console-config .row-fluid .hide {
  display: none;
}

// Hides "From/To" labels of values from "between" operators to save space
.console-config .row-fluid .add-on {
  display: none;
}

// Fixes issue with select2 fields automatically opening a search dropdown on creation
.console-config .filter-selector .select2-drop {
  display: none;
}

// Setting proper alignments of filter row fields
.console-config .row-fluid .filter-actions.btn-group {
  width: auto;
  vertical-align: top;
}

.console-config .row-fluid .span4 {
  margin-left: 0;
  float: none;
  vertical-align: top;
}

.console-config-fields .bordered {
  border: 1px solid @grayLightish;
  cursor: pointer;
  padding: 5px;
  color: #176de5;
  border-radius: 5px;
}

.console-config-fields {
  & * .fieldset-field {
    width: 50%;
  }
}

/* side pane */
.config-side-pane {
  display: flex;
  border-bottom: 1px solid #ddd;
  background-color: @grayLighter;
  overflow-x: scroll;
}

/* Create two equal columns that sits next to each other */
.config-side-pane .column {
  flex: 50%;
  padding: 10px;
}

.config-side-pane .border-right {
  border-right: 1px solid  #ddd;
}

.config-side-pane nav ul.field-list {
  width: auto;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid black;
  list-style-type: none;
  padding-inline-start: 5px;
  margin: 0;
  padding-top: 8px;
}

.config-side-pane .columns nav ul.multi-field {
  height: 63px;
  width: auto;
  border: 1px solid grey;
  border-radius: 16px;
  list-style-type: none;
  padding-inline-start: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0;
  background-color: @grayMid;
  cursor: pointer;
}

.config-side-pane .fields nav ul.field-list {
  width: auto;
  border: 1px solid grey;
  list-style-type: none;
  padding-inline-start: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.config-side-pane .columns nav ul.field-list {
  height: 480px;
  width: 200px;
}

.config-side-pane .fields nav ul.field-list {
  height: 500px;
}

.config-side-pane .columns nav li {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.config-side-pane .fields nav li {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.config-side-pane .columns nav .pill {
  border-radius: 16px;
  background-color: @gray;
  color: white;
  margin: 3px;
  margin-bottom: 5px;
  cursor: pointer;

  &:not(.multi-field-block) {
    padding-right: 18px;
  }
}

.config-side-pane .columns nav .pill .list-header {
  color: black;
  position: relative;
  padding-right: 18px;
}

.config-side-pane .columns nav .outer {
  margin-left: 6px;
}

.config-side-pane .multi-field-label {
  > .fa {
    color: black;
  }

  cursor: pointer;
}

.multi-line-list-view {
  overflow: auto;

  &.console-preview {
    .multi-line-table {
      border: 1px solid @tableTheadRowBorderColor;

      th,
      td {
        vertical-align: middle;
        font-weight: normal;
        line-height: 16px;
        padding: 6px 4px 6px 14px;
      }

      tbody tr:not(:last-child) {
        border-bottom: 1px solid @tableTheadRowBorderColor;
      }

      .cell-bar--long,
      .cell-bar--short {
        border-radius: 4px;
        height: 10px;
        margin: 6px 0;
        background-color: @grayMid;
      }

      .cell-bar--long {
        width: 120px;
      }

      .cell-bar--short {
        width: 80px;
      }
    }
  }
}

.config-side-pane .columns nav li.multi-field-block {
  padding-left: 0;
  height: 75px;
  margin-bottom: 5px;
}

.config-side-pane .columns nav li.list-header {
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.config-side-pane .columns nav i.console-field-remove {
  float: right;
  padding-right: 3px;
  cursor: pointer;
  z-index: 1;
  margin-top: 3px;
}

.config-side-pane .columns nav .pill i.console-field-remove {
  color: white;
  position: absolute;
  left: 90%;
}

.config-side-pane .columns nav li.list-header i.console-field-remove {
  color: black;
  left: 90%;
}

.config-side-pane .columns nav ul.multi-field:hover li.list-header i.console-field-remove {
  visibility: visible;
}

.config-side-pane .columns nav ul.multi-field li.list-header i.console-field-remove {
  visibility: hidden;
}

.config-side-pane .columns nav i.multi-field-column-remove {
  float: right;
  padding-right: 3px;
  cursor: pointer;
  z-index: 1;
  margin-top: 3px;
}

.config-side-pane .columns nav .pill i.multi-field-column-remove {
  color: white;
}

.config-side-pane .columns nav li.list-header i.multi-field-column-remove {
  color: black;
  left: 90%;
}

.config-side-pane .columns nav ul.multi-field:hover li.list-header i.multi-field-column-remove {
  visibility: visible;
  position: absolute;
}

.config-side-pane .columns nav ul.multi-field li.list-header i.multi-field-column-remove {
  visibility: hidden;
  position: absolute;
}

.config-side-pane .columns li.pill:hover i {
  visibility: visible;
}

.config-side-pane .columns li.pill i {
  visibility: hidden;
}

.config-side-pane .columns nav li.multi-field-block div.multi-field-hint {
  position: relative;
  left: 20px;
  top: 10px;
  color: grey;
}
