/* Omnichannel
  ----------------*/
.omni-button {
  .btn {
    background-image: none;
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
  }

  .omni-circle {
    height: 11px;
    width: 11px;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    display: inline-block;
    vertical-align: text-bottom;
  }

  .omni-label {
    color: #000;
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 600;
  }

  .logged-out {
    .omni-circle {
      border: 1px solid #9aa5ad;
    }
  }

  .logged-in {
    .omni-circle {
      background-color: #6cdf46;
    }
  }

  .active-session {
    background-color: #212121;
    border: 2px solid #0c5ec8;

    .omni-circle {
      background-color: #6cdf46;
    }

    .omni-label {
      color: #fff;
    }
  }
}

.omni-console {
  position: absolute;
  background-color: @grayLighter;
  border-top-left-radius: @baseBorderRadius;
  border-top-right-radius: @baseBorderRadius;
  border-left: 1px solid fade(@black, 10%);
  border-top: 1px solid fade(@black, 10%);
  border-right: 1px solid fade(@black, 10%);
  margin: 2px 2px 0;
  z-index: @zindexHeaderpane + 1;

  .omni-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
    padding: 4px 8px;
    border-bottom: 1px solid fade(@black, 10%);

    h4 {
      padding: 0;
      margin: 0;
    }

    .btn {
      padding: 0;
    }
  }

  .omni-ccp {
    position: absolute;
    left: 0;
    top: 28px;
    bottom: 0;
    width: 300px;

    #containerDiv {
      background-color: grey;
      width: 100%;
      height: 100%;
    }
  }

  .omni-dashboard {
    position: absolute;
    left: 300px;
    top: 28px;
    right: 0;
    bottom: 0;
  }
}
