.control-group {
  .controls.has-refresh.btn-group-fit {
    .filter-view {
      margin-right: 30px;
    }

    .toggle-actions {
      .pipeline-refresh-btn {
        right: 88px;
      }
    }
  }
}

.pipeline-records {
  .search-name {
    display: none;
  }

  .headerpane {
    border-bottom: none;

    .headerpaneContainer {
      min-height: 55px;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      border-top: none;

      .nav-tabs {
        margin-bottom: 0;
        padding-top: 26px;
        min-height: 39px;
        border-bottom: none;

        &.pull-left {
          .tab {
            margin-left: 20px;

            &:not(:first-child) {
              min-width: 200px;
              width: 200px;
            }

            .stageButton {
              height: 40px;
              margin-left: 2px;
              margin-right: 2px;
              border-radius: 5px 5px 0 0;
              line-height: 33px;
              font-size: 12px;
              outline: none;

              &.selected {
                background-color: #efefef;
                background-image: -moz-linear-gradient(top, #fff, #efefef);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#efefef));
                background-image: -webkit-linear-gradient(top, #fff, #efefef);
                background-image: -o-linear-gradient(top, #fff, #efefef);
                background-image: linear-gradient(to bottom, #fff, #efefef);
                border-bottom: none;
              }

              &.input[type=radio] {
                display: none;
              }
            }
          }
        }

        .pull-right {
          margin-right: 20px;
          font-size: 20px;

          .btn-group a > .fa {
            color: #555;
          }
        }
      }
    }
  }
}
