/* SIDE DRAWER
  ----------------*/

.side-drawer {
  position: fixed;
  left: 25%;
  right: 0;
  display: none;
  z-index: @zindexHeaderpane + 1;

  .close-drawer {
    width: 30px;
    left: -25px;
    top: 10px;
    position: absolute;

    .btn {
      background: @grayLighter;
      border-right: none;
      margin-left: 0;
    }
  }

  .dashboard {
    border-radius: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    overflow-x: none;
    overflow-y: visible;
  }
}
