// Portal local
ul.nav.nav-tabs li.activity > a,
ul.nav.nav-tabs li.activity > p {
  display:inline-block;
}
#folded > div {
    width: inherit;
}
#dashboard  #folded .tab-pane.active {
  position: fixed !important;
  top: 47px;
  right: 0;
  height: 100%;
  width: inherit;
  padding: 20px 0;
  border-left: 1px solid darken(@grayLighter, 4%);
}
#folded .tab-pane {
    border: none;
}
#folded .tab-pane.active {
  position: fixed !important;
  top: 93px;
  right: 0;
  // background: @grayLighter;
  height: 100%;
  width: inherit;
  padding: 20px 0;
  // border-left: 1px solid darken(@grayLighter, 4%);
}
#folded .tab-pane .block span.label  {margin: 0 10px 0 0;}
#folded .tab-pane .block {width: 90%; margin-left: 5%;}
#folded [data-toggle="tab"].actions {top: 0; color: @gray;}

.search-query {
  .border-radius(4px);
}

#moduleActivity {
  margin-bottom: 0;
  h4 {
    text-indent: 20px;
    margin-bottom: 0;
  }
  .actions {
    right: 20px;
    top: 0;
  }
  ul.results {
    margin: 0;
    &> li {
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 9px;
    }
  }
}

@import "../base/components/drawer.less";
