// Portal local
ul.nav.nav-tabs li.activity > a,
ul.nav.nav-tabs li.activity > p {
  display:inline-block;
}
#folded > div {
    width: inherit;
}

.dashboard{
  padding: 10px 10px 0 10px;
  .headerpane{
    .border-radius(3px);
  }
}

#folded .tab-pane {
    border: none;
}
#folded .tab-pane.active {
  position: fixed;
  right: 0;
  height: 100%;
  width: 34%;
  padding: 10px 0 0;
}

#folded .tab-pane.active .card2,
#folded .tab-pane.active h4 > span {
  margin-left: 20px
}

#folded .tab-pane.active h4 {
  margin-top: 0;
  margin-right: -5%;
  line-height: 36px;
  padding-bottom: 14px;
  font-weight: normal;
}

#folded .tab-pane.active .closeSubdetail {
  margin-top: 10px;
}

#folded .tab-pane .block {margin-right: 5%;}
#folded [data-toggle="tab"].actions {top: 0; color: @gray;}

.search-query {
  .border-radius(4px);
}

#moduleActivity {
  margin-bottom: 0;
  h4 {
    text-indent: 20px;
    margin-bottom: 0;
  }
  .actions {
    right: 20px;
    top: 0;
  }
  ul.results {
    margin: 0;
    &> li {
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 9px;
    }
  }
}

.modal-body > .form-horizontal {
  padding: 20px;
  margin-left: 0;
}


@import "../base/components/drawer.less";
