<div class="forecasts-chart-wrapper">
{{#if isForecastAdmin}}
    {{{str "LBL_DASHLET_FORECAST_NOT_SETUP_ADMIN" 'Forecasts'}}}
{{else}}
    {{{str "LBL_DASHLET_FORECAST_NOT_SETUP" 'Forecasts'}}}
{{/if}}
</div>
