<div class="page-header">
    <h1>Date Field <small>driven by jQuery datetime picker plugin</small></h1>
</div>
<div class="description">
    <p>See the <a href="#Styleguide/docs/forms.datetime">documentation page</a> for implementation details for the date and datetimecombo fields.</p>
</div>
