{{!
/*
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright  2004-2014 SugarCRM Inc.  All rights reserved.
 */
}}
<a class="btn btn-invisible{{#if voted}} disabled{{/if}}{{#if votedUseful}} voted{{/if}}"
    data-action="useful"><i class="icon-thumbs-up"></i> {{str "LBL_USEFUL" this.module}}</a>
<a class="btn btn-invisible{{#if voted}} disabled{{/if}}{{#if votedNotUseful}} voted{{/if}}"
    data-action="notuseful"><i class="icon-thumbs-down"></i> {{str "LBL_NOT_USEFUL" this.module}}</a>
