// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------

// Primary Color:
// 3 pixel line on the navbar
// -------------------------
@primary:                 #E61718;


// Secondary Color:
// color of the navbar
// -------------------------
@secondary:                 #000000;


// Primary Button Color:
// color of the primary button
// -------------------------
@primaryBtn:                 #177EE5;