@import url("mixins");
.show-grid {
  margin-top:10px;
  margin-bottom:20px;
}
.show-grid [class*="span"] {
  background-color:#eee;
  text-align:center;
  min-height:30px;
  line-height:30px;
}
.show-grid:hover [class*="span"] { background:#ddd; }
.show-grid .show-grid {
  margin-top:0;
  margin-bottom:0;
}
.show-grid .show-grid [class*="span"] { background-color:#ccc; }
.popover-well { min-height:160px; }
.popover-well .popover { display:block; }
.popover-well .popover-wrapper {
  width:50%;
  height:160px;
  float:left;
  margin-left:55px;
  position:relative;
}
.popover-well .popover-menu-wrapper { height:80px; }
.swatch-col { width:30px; }
.swatch {
  display:inline-block;
  width:30px;
  height:20px;
  margin:-6px 0;
}
.swatch-bordered {
  width:28px;
  height:18px;
  border:1px solid #eee;
}
