.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}
.popover-well {
  min-height: 160px;
}
.popover-well .popover {
  display: block;
}
.popover-well .popover-wrapper {
  width: 50%;
  height: 160px;
  float: left;
  margin-left: 55px;
  position: relative;
}
.popover-well .popover-menu-wrapper {
  height: 80px;
}
.swatch-col {
  width: 30px;
}
.swatch {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: -6px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.swatch-bordered {
  width: 28px;
  height: 18px;
  border: 1px solid #eee;
}
body {
  padding: 0;
  overflow: auto;
  margin-bottom: 30px;
}
.subnav {
  z-index: 1020;
}
.subnav-fixed {
  top: 0;
}
.dropdown-menu-container {
  position: relative;
  display: inline-block;
  z-index: 1030;
}
.dropdown-menu-container a {
  padding-left: 5px;
}
.dropdown-menu-container ul {
  font-size: 12px;
}
.hero-unit {
  padding: 20px;
  font-size: 24px;
}
.hero-unit .cube {
  height: 28px;
  background: url('../../assets/img/badge_256g.png') 0 1px no-repeat;
}
.hero-unit h1 {
  display: inline-block;
  margin-top: 0;
  font-size: 32px;
}
.hero-unit #s2id_find_patterns {
  z-index: 1030;
  font-size: 12px;
  width: 200px;
}
.section-search input {
  width: 100%;
  font-size: 18px;
  height: 38px;
  padding: 5px 28px 5px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section-search .btn-toolbar {
  padding: 0;
}
.section-search .btn-group {
  width: 100%;
}
.section-search .btn {
  line-height: 28px;
  float: none;
  margin-left: -45px;
  width: 26px;
  border: none;
  border-left: 1px solid #CDCCCB;
  color: ;
}
