<div id="dnb-family-tree-loading" class="block-footer">
{{str "LBL_DNB_FAMILY_TREE_LOADING"}}...
</div>
<div id="dnb-family-tree-details">
{{#if errmsg}}
	<aside>
			<em>{{errmsg}}</em>
	</aside>
{{else}}
	<div id="dnb-family-tree"></div>
{{/if}}
</div>
