{{#with def}}
    {{#each fields}}
        <span class="edit-cell" data-name="{{name}}" data-type="{{type}}">
            {{field ../../view model=../../model template=../../options.viewName}}
        </span>
    {{/each}}
{{/with}}
