/*Upper pane*/
/*normal state for styleguide*/
.module-edit {
  display: none;
  .headerpane {
    position: absolute;
    right: 1px;
    left: 0;
  }
  .record {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: auto;
  }
}
/*drawer state*/
.drawer {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  bottom: 50%;
  display: block;
  .transition( all none );
}
/*full height upper drawer*/
.drawer.expand {
  height: auto;
  bottom: 60px;
}

/*Lower pane*/
/*normal state for styleguide*/
.module-view {
  display: block;
  .record {
    margin: 0;
  }
}
/*drawer state*/
.drawer-squeezed {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  bottom: 0;
}
.drawer-squeezed.deactivate {
  position: relative;
  height: 100%;
  top: 0;
}

/*collapse lower drawer*/
.drawer-squeezed.collapse {
  height: 62px;
  top: auto;
}

/* Expand/collapse tab below the drawer layout */
.drawer-tab {
  display : none;
}
.drawer-tab .btn {
  position: absolute;
  height: 15px;
  width: 20px;
  top: 2px;
  left: 50%;
  margin-left: -10px;
  z-index: 1011;
  .border-radius(0 0 4px 4px);
}

/* Modal cover for drawer layouts */
.drawer-backdrop {
  z-index: 1010;
  background-color: lighten(@grayLight,10%);
  opacity: .5;
  display: none;
  border-top: 4px solid lighten(@gray,20%);
}
.drawer-backdrop.drawer-squeezed.collapse {
  height: 59px;
}

/*show tab and backdrop when squeezed*/
.drawer-backdrop.drawer-squeezed,
.drawer-squeezed .drawer-tab {
  display: block;
}
