<link type="text/css" href="modules/pmse_Project/css/jcore.libraries.css" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam-ui.css" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam.css" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam-ui-extend.css" rel="stylesheet" />

<script type="text/javascript" src="modules/pmse_Project/js/pmse.jcore.min.js"></script>
<script type="text/javascript" src="modules/pmse_Project/js/pmse.ui.min.js"></script>
<script type="text/javascript" src="modules/pmse_Project/js/pmse.utils.min.js"></script>
<script type="text/javascript" src="modules/pmse_Project/js/get_process_image.js"></script>
<script type="text/javascript" src="modules/pmse_Project/js/historyEntries.js"></script>
<script type="text/javascript" src="modules/pmse_Project/js/formAction.js"></script>
<script type="text/javascript" src="modules/pmse_Project/js/notes.js"></script>

<div class="search-filter">
    <div class="control-group">
        <div class="filter controls">
            <div class="filter-view search">
                <div>
                    <input type="hidden" class="select2 search-filter" data-placeholder="{{str "LBL_MODULE"}}">
                    <div class="choice-filter"></div>
                    <input type="text" size=" " class="search-name" placeholder="{{str "LBL_BASIC_SEARCH"}}&hellip;">
                </div>
            </div>
        </div>
    </div>
</div>
