#activitystream-pills {
    float: right;
}

.activitystream-pending-attachment {
    margin-bottom: @baseLineHeight;
}

.activitystream-comment .sayit.dragdrop, .activitystream-post .sayit.dragdrop {
    border-color: @blueDark;
    border-width: 2px;
}

div.sayit {
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @transition: border linear .2s, box-shadow linear .2s;
    .transition(@transition);

    // Focus state
    &:focus {
        .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
    }

    // Comment boxes
    &.activitystream-comment-box {
        width: 300px;
        margin-left: 0 !important;
        float: none !important;
        #font > .shorthand(@baseFontSize,normal,@baseLineHeight);
        display: inline-block;
        min-height: @baseLineHeight;
        padding: 6px 8px;
        font-size: @baseFontSize;
        line-height: @baseLineHeight;
        color: @gray;
        background-color: @inputBackground;
        border: 1px solid @inputBorder;
        .border-radius(@inputBorderRadius);
    }
}

// Tags
.activitystream-list li p .label, div.sayit .label {
    margin: 0;
    display: inline-block;
    float: none;
    a.close {
        line-height: 9px;
        margin-left: 0.1em;
    }
}

// Dropdown lists
.activitystream-post {
    .activitystream-tag-dropdown {
        top: 72px;
    }
}
.activitystream-tag-dropdown {
    position: absolute;
    li {
        padding: 0 !important;
    }
}

// Attachment img size
.activitystream-attachment-thumbnail {
  width:100%;
  height:150px;
}

.activitystream-header {
    margin-left:20px;
}

#activitystream-calendar span {
    display: inline-block;
}