#activitystream-pills {
    float: right;
}

#activitystream-header {
    padding-bottom: 15px;
}

.activitystream-comment .sayit.dragdrop, .activitystream-post .sayit.dragdrop {
    border-color: @blueDark;
    border-width: 2px;
}