/*********************************************************************************
 *The contents of this file are subject to the SugarCRM Professional End User License Agreement 
 *("License") which can be viewed at http://www.sugarcrm.com/EULA.  
 *By installing or using this file, You have unconditionally agreed to the terms and conditions of the License, and You may 
 *not use this file except in compliance with the License. Under the terms of the license, You 
 *shall not, among other things: 1) sublicense, resell, rent, lease, redistribute, assign or 
 *otherwise transfer Your rights to the Software, and 2) use the Software for timesharing or 
 *service bureau purposes such as hosting the Software for commercial gain and/or for the benefit 
 *of a third party.  Use of the Software may be subject to applicable fees and any use of the 
 *Software without first paying applicable fees is strictly prohibited.  You do not have the 
 *right to remove SugarCRM copyrights from the source code or user interface. 
 * All copies of the Covered Code must include on each user interface screen:
 * (i) the "Powered by SugarCRM" logo and 
 * (ii) the SugarCRM copyright notice 
 * in the same form as they appear in the distribution.  See full license for requirements.
 *Your Warranty, Limitations of liability and Indemnity are expressly stated in the License.  Please refer 
 *to the License for the specific language governing these rights and limitations under the License.
 *Portions created by SugarCRM are Copyright (C) 2004 SugarCRM, Inc.; All Rights Reserved.  
 ********************************************************************************/


.menuItem:hover,.menuItemHilite:hover,.menuItem:active,.menuItemHilite:active,.menuItemX:hover,.menuItemHiliteX:hover,.menuItemX:active,.menuItemHiliteX:active
{
	background-color:#CCC;
}

.h3Row,.monthHeader,.schedulerTopDateCell, .detail th h4, #scheduler h3
{	
	background-color:#9dc5ea;
}
#scheduler .schedulerDiv h3 {
border-color: #2e6291;
}
a:link,a:visited
{
}

a:hover, #header .headerList a:hover
{
	color:#2e6291;
}

button, td input[type=submit], td input[type=reset],td  input[type=button], div input[type=submit], div input[type=reset],div  input[type=button]
{
    border-color:#2E6291;
}
button, td input[type=submit]:hover, td input[type=reset]:hover,td  input[type=button]:hover, #massupdate_form .button:hover, #newRecord form .button:hover,
 button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected],button, input[type=submit], input[type=reset], input[type=button]:hover,button, input[type=submit], input[type=reset], input[type=button]:focus,button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected]:focus
{
    background-color:#2E6291;
}

.edit .button, .search_form .button{
border-color:#2E6291;
}

input,select, textarea
{
	border-color:#2e6291;
}
#header a:hover{
    color:#000;
}
#globalLinks a:hover, a.body:hover 
{
    color:#000;
    background-color:#9DC5EA;
}
#moduleList
{    
}
#moduleList ul
{
}
#endTab
{
	background:#000;
}
#moduleList ul li span{
    float: left;
}
#moduleList ul li {
    display:list-item;
    margin:0;
}
#moduleList ul li span:hover, #moduleList ul #moduleTabExtraMenu:hover {
    background-color:#9DC5EA;
}
ul.cssmenu{
    margin-left:-0.9em !important;
    top:80px;
    padding:0;
}
ul.cssmenu li:hover{
    background-color:#CCCCCC;
}
ul.cssmenu li a{
    font-weight:bold;
}
.currentTab
{
	background-color:#9dc5ea;
}

.currentTab a:link, .currentTab a:visited, .currentTab a:hover
{
}

#moduleList ul #moduleTabExtraMenu
{
}
.notCurrentTab, #moduleTabExtraMenu
{
    
}

.notCurrentTab a:link,.notCurrentTab a:visited
{
}

/*Grouped tabs*/
#subModuleList span a
{
	border-right-color:#618FB8;
}
/*END Grouped tabs*/
#subModuleList
{
}

ul#subModuleList li
{
}

ul#subModuleList li a
{
}

ul#subModuleList li span
{
}
.formHeader td h3{
    background-image: url(../../../../index.php?entryPoint=getImage&imageName=h3ArrowNavy.gif);
}

.leftList h3, #newRecord h3
{
border-color:#2E6291;
}
.leftList ul li a:hover{
    background-color:#9DC5EA;
}
.moduleTitle
{
}
#header{
    background-image:url(../../../../index.php?entryPoint=getImage&imageName=bgNavyHeader.gif);
}

#search .button{
background-color:#618FB8;
}

#search .button:hover{
 background-color:#2E6291;
}
 #header .headerList
{
	border-top-color: #618FB8;
}

#subtabs
{
	background-color:#9dc5ea;
	border-color: #618FB8;
}
ul.subTabs
{
	font:12px Arial, Verdana, Helvetica, sans-serif;
	margin:2px 0;
	padding:2px 0;
}

ul.subTabs li
{
	list-style:none;
	display:inline;
	margin:0;
}

ul.subTabs li a
{
	border-right:1px solid;
	text-decoration:none;
	font-weight:700;
	margin:0;
	padding:2px 8px;
}

ul.subTabs li a:link,ul.subTabs li a:visited,ul.subTabs li a:active
{
	text-decoration:none;
}

ul.subTabs li a:hover
{
	background:#fff;
}

.subTabMore
{
	font-size:12px;
	text-decoration:none;
	padding-top:3px;
}

.date
{
	font-size:13px;
	font-weight:700;
	border-bottom:1px solid;
	padding-right:10px;
}
.monthCalBodyTH th[scope=row],.monthCalBodyTH th, table.list  th,.list th, .list td[scope=col], .subpanelTabForm .list th
{
border-color: #2E6291;
}

.list tr.oddListRowS1 td, .list tr.evenListRowS1 td
{
border-bottom: 1px solid #9dc5ea;
}

.evenListRowS1:hover, 
.oddListRowS1:hover
{
background: #fff;
}
.subpanelTabForm table tr.pagination td, .subpanelTabForm tr.pagination td, .subpanelTabForm .list, .subpanelTabForm table tr th
{
border-color:#2E6291;
}


.list tr.pagination {
border-color:#2E6291;
}
.pagination button [title="Return to List"]:hover{
    background-image:none;
    background-color:#2E6291;
    color:#fff;
}

table.list  tr.pagination td table.paginationTable
{
border-color: #618FB8;
}

.edit
{
border-color:#618FB8;
}
.detail
{
	border-color:#2E6291;
	border-right-color:#9DC5EA;
}

.detail tr td, .detail tr td[scope="row"]{
    border-color:#9DC5EA;
}

.detail tr td[scope="row"]{
    border-color:#9DC5EA;
	background: #f6f6f6;
}

table.other
{
    border-color:#9DC5EA!important;
}
.other td[scope=row]
{
	background: #fff;
}

.other td
{
	background: #f6f6f6;
}
table.monthBox td.monthCalBody {
background: #9DC5EA;
}
.monthCalBody td{
background: #fff;
}
.monthCalBody td.weekEnd
{
	background: #f6f6f6;
}
.monthHeader, .monthFooter td
{
	border-color:#2E6291;
}
.monthFooter td
{
	background: #ddd;
}
#bodyItem div a {
color:#2E6291;
}
.monthCalBody td.yearCalBody{
background: #618FB8;
}

.monthCalBody td.yearCalBody table td.yearCalBodyMonth {
background: #ddd;
}
.yearCalBodyMonth #daily_cal_table .monthCalBodyTH th
{
border-bottom:1px solid #999999;
border-top:1px solid #999999;
}
.calSharedUser
{
	background: #ddd;
}

#globalLinks li a
{
    border-color:#9DC5EA;
}

#colorPicker
{
    border-color:#9DC5EA;
}

#colorPicker #themepickerLinkSpan:hover {
    background-color:#9DC5EA;
}

ul.tablist, ul.subpaneltablist, .tablist li a, .tablist li a:link,.tablist li a:visited, ul.subpanelTablist li a, .subpanelTabForm,ul.tablist, ul.subpanelTablist
{
border-color:#618FB8;
}

.tablist li a:hover, ul.subpanelTablist li a:hover
{
	color:#000;
	background:#9dc5ea;
	border-color:#000;
}

.tablist li a.current,ul.tabList li a.current:hover, ul.subpanelTablist li a.current, ul.subpanelTablist li a.current:hover
{
	background:#f6f6f6;
border-color:#618FB8;
border-bottom: 1px solid #f6f6f6;
}

#tabList li a.current, #tabList li a.current:hover
{
	background:transparent;
	border-bottom:1px solid #fff;
}

ul.subpanelTablist #addPageItem a,ul.subpanelTablist #addPageItem a:hover
{
	border:none;
	background:transparent;
	text-decoration:none;
}

#sitemap .edit.view {
border-color:#618FB8;
}


iframe.teamNoticeBox
{
	border-color:#2e6291;
}


/* NEW */

 .topheader{
    border-color:#618FB8;
 }
.leftList ul li, #hiddenShortcuts ul li{
border-color:#9DC5EA;
}
