
<div class="side sidebar-content span4">
    <div class="side-pane active">

        <div class="thumbnail viz">
          <div class="view-forecastsChart">
            <div>
              <div class="btn-toolbar pull-right">
                <form class="dropdown form-horizontal" id="forecastsChartDisplayOptions">
                  <a href="#" class="btn btn-invisible btn-expand-full"><span class="icon-resize-full"></span></a>
                  <a href="#forecastsChartDisplayOptions" data-toggle="dropdown" class="dropdown-toggle btn btn-invisible"><span class="icon-cog"></span></a>
                  <ul class="dropdown-menu left carettop" id="chartDisplayOptions">
                    <div class="datasetOptions">
                      <li><a href="#"><label class="radio checked"><i class="icon-ok"></i>&nbsp;Likely</label></a></li>
                      <li><a href="#"><label class="radio"><i class="icon-ok"></i>&nbsp;Best</label></a></li>
                      <li><a href="#"><label class="radio"><i class="icon-ok"></i>&nbsp;Worst</label></a></li>
                    </div>
                    <div class="groupByOptions">
                      <li class="divider"></li>
                      <li><a href="#"><label class="radio checked"><i class="icon-ok"></i>&nbsp;Included In Forecast</label></a></li>
                      <li><a href="#"><label class="radio"><i class="icon-ok"></i>&nbsp;Sales Stage</label></a></li>
                      <li><a href="#"><label class="radio"><i class="icon-ok"></i>&nbsp;Probability</label></a></li>
                    </div>
                  </ul>
                </form>
              </div>
              <h4>Forecast for Q4 2012</h4>
              <div class="tcenter">
                <div id="chart" class="tcenter">
                  <div class="chart-container">
                    <div id="sbdb620e51-8350-c596-06d1-4f866bfcfd5b" class="scrollBars">
                      <div id="db620e51-8350-c596-06d1-4f866bfcfd5b" class="nv-chart">
                        <svg></svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="block thumbnail" id="guages">
            <h4>Projected</h4>
            <ul id="projectActions" class="nav nav-pills actions">
                <li class="dropdown">
                    <a id="projectedOptions" class="dropdown-toggle btn btn-invisible" href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
                    <ul class="dropdown-menu left carettop">
                        <li> <input type="checkbox"> Best</li>
                        <li> <input type="checkbox"> Likely</li>
                        <li> <input type="checkbox"> Worst</li>
                    </ul>
                </li>
            </ul>
            <div class="row-fluid">
                <strong>
                <span class="span6">
                  Quota
                </span>
                <span class="span6 tright">
                  $600,000
                </span>
                </strong>
            </div>
            <div class="row-fluid">
              <span class="span6">
                Pipeline
              </span>
              <span class="span1 tright">
                1,400,000
              </span>
              <span class="span5 tright">
                Pipeline Size x2
              </span>
            </div>
            <div class="row-fluid">
              <span class="span6">
                Committed
              </span>
              <span class="span1 tright">
                500,000
              </span>
              <span class="span5 tright">
                Likely to quota<br>56%
              </span>
            </div>
            <div class="row-fluid">
              <span class="span6">
                Closed
              </span>
              <span class="span1 tright">
                650,000
              </span>
              <span class="span5 tright">
                Likely to close<br>
                  56%
              </span>
            </div>
        </div>

    </div>

</div>
<script>
    //update D3 chart data
    d3Chart.updateData(mark_gibson_Q1,true);

    $('.thumbnail.viz .btn-expand-full').on('click', toggleExpand);
</script>

