<div class="modal-body">
    <div>
    <form>
    <div class="screen" id="screen1" style="display: block;">
        <p>
        Welcome to the forecasting setup. We'll guide you through step by step in setting up x,y and z so you'll be on your way in no time. Click next to get
        started.
        </p>
        <p>
            You can also do manual setup by clicking here.

        </p>


    </div>
    <div class="screen" id="screen2">

        <ol>
            <li>
                <p>
                    Choose the preferred fiscal year configuration:
                </p>
                <p>
                    <select id="configuration" class="select2" tabindex="1">
                        <option value="select">Select</option>
                        <option value="standard">Standard</option>
                        <option value="customized">Customized</option>
                    </select>
                </p>

                <p class="hide" id="configuration_name"><input type="text"></p>
                <p class="hide" id="configuration_name_custom"><input type="text" style="margin-right: 15px;"> 1st Monday in January</p>

            </li>
        </ol>
        <div id="standard" class="hide">
          <ol start="2">

              <li>


                  <p>
                  Choose the time periods you want to forecast over:
                  </p>
                  <p>
                  <select id="time_period" class="select2" tabindex="1">
                      <option value="">Quarterly</option>
                      <option value="">Yearly</option>
                  </select>
                  </p>

              </li>
              <li>
                  <p>
                      Choose how many future time periods you want users to see:
                  </p>
                  <p>
                      <select id="user_future_time_periods" class="select2" tabindex="5">
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                      </select>
                  </p>
              </li>
              <li>
                  <p>
                      Choose how many past time periods you want users to see:
                  </p>
                  <p>
                      <select id="user_past_time_periods" class="select2" tabindex="6">
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                      </select>
                  </p>
              </li>
          </ol>
            </div>

        <div id="customized" class="hide">
            <ol start="2">

                <li>
                    <p>
                        Choose the time periods you want to forecast over:
                    </p>
                    <p>
                        <select id="time_period_c" class="select2" tabindex="1">
                            <option value="">Select</option>
                            <option value="">Yearly</option>
                            <option value="">Quarterly</option>
                        </select>
                    </p>
                    <ol id="lastweek" class="hide" style="list-style: upper-alpha;">
                        <li>
                            <p>
                                Where would you like your 53rd week?
                            </p>
                            <p>
                                <select class="select2" tabindex="1">
                                    <option value="">Q1</option>
                                    <option value="">Q2</option>
                                    <option value="">Q3</option>
                                    <option value="">Q4</option>
                                </select>
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        Choose how many future time periods you want users to see:
                    </p>
                    <p>
                        <select id="user_future_time_periods_c" class="select2" tabindex="5">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p>
                        Choose how many past time periods you want users to see:
                    </p>
                    <p>
                        <select id="user_past_time_periods_c" class="select2" tabindex="6">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                    </p>
                </li>
            </ol>
        </div>


    </div>
    <div class="screen" id="screen3">
        <p>
        Forecast Category Options:
        </p>
        <p>  <fieldset>
            <p>
            <input type="radio" name="category_options" class="category_options" value=2 tabindex="7"><b>Two Categories:</b>  This option gives a user the ability to be included or omitted from a forecast.
            </p>
                <div class="options hide" id="category_options0">
                    <p>
                    Choose the Probability benchmark in which all opportunities that are above will be included by default.

                    </p>
                    <p>
                        <div id="probability_default" class="noUiSlider"></div>
                    </p>
                </div>
            </fieldset>
        </p>
        <p>
            <fieldset>
            <p>
            <input type="radio" name="category_options" class="category_options" value=3><b>Three Categories:</b>   This option gives a user the ability to categorize their opportunities that are not included
            in the commit but are upside and have the potential of closing if everything goes well and opportunities that are to be omitted from the forecast.
            </p>
            <div class="options hide" id="category_options1">
                <p>
                    <b>Category 1:</b> Committed<br>
                    Choose the Probability range for which opportunities will by default be included in committed:

                </p>
                <p>

                <div id="cat1_committed" class="noUiSlider"></div>
                </p>
                <p>
                    <b>Category 2:</b> Upside<br>
                    Choose the Probability range for which opportunities will by default be included in upside:

                </p>
                <p>


                    <div id="cat2_upside" class="noUiSlider"></div>
                </p>

                <p>
                    <b>Category 3:</b> Omitted<br>
                    Choose the Probability range for which opportunities will by default be included in omitted:

                </p>
                <p>
                    <div id="cat2_omitted" class="noUiSlider"></div>
                </p>

            </div>

            </fieldset>
        </p>
        <p>
            <fieldset>
            <p>
                <input type="radio" name="category_options" class="category_options" value="n"><b>N Categories:</b>    This option gives a user the ability to categorize their opportunities to be committed into the forecast
                  into a committed category, omitted category and any other categories that you setup.
            </p>
        <div class="options hide" id="category_options2">
            <p>
               Category

            </p>
            <p>
                <table stye="width: 70%;">
                <tr>
                    <td style="vertical-align: bottom; padding-bottom: 10px;">Committed</td>
                    <td>
                        <div id="ncat_committed" class="noUiSlider"></div>
                    </td>
                    <td colspan="2"></td>
                </tr>
            <tr>
                <td style="vertical-align: bottom; padding-bottom: 10px;">Omitted</td>
                <td>

                    <div id="ncat_omitted" class="noUiSlider"></div>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td style="vertical-align: bottom; padding-bottom: 10px; padding-right: 20px;"><input type="text" style="width: 100px;"> </td>
                <td>

                    <div id="n" class="noUiSlider"></div>

                </td>
                <td style="vertical-align: bottom; padding-bottom: 10px; padding-right: 20px;"><input type="radio"> N/A</td>
                <td style="vertical-align: bottom; padding-bottom: 10px;"><i class="icon-minus-sign"></i> <i class="icon-plus-sign"></i></td>
            </tr>
                </table>

            </p>
        </div>

            </fieldset>
        </p>
    </div>
    <div class="screen" id="screen4">
        <p>Forecast Range</p>
        <ol>
            <li>
                <p>
                    Select the column you would like the user to fill out for their forecast for each opportunity.
                </p>
                <p>
                    <input type="checkbox" name="forecast_range" value="likely">    Likely
                </p>
                <p>
                    <input type="checkbox" name="forecast_range" value="best">  Best
                </p>
                <p>
                    <input type="checkbox" name="forecast_range" value="worst">  Worst
                </p>

            </li>
          </ol>
    </div>
    <div class="screen" id="screen5">
        <p>Variables</p>
        <p>The formulas for the Metrics Table rely on the sales stage for opportunities that need to be excluded from the pipleline, i.e., opportunities that are closed and lost.</p>
        <ol>
            <li>
                <p>
                    Please select the Sales Stage that represent closed and lost opportunities:
                </p>
                <p>
                    <input type="radio" name="sales_stage" value="A" class="sales_stage_formula">    Sales Stage A
                </p>
                <p>
                    <input type="radio" name="sales_stage" value="B" class="sales_stage_formula">  Sales Stage B
                </p>
                <p>
                    <input type="radio" name="sales_stage" value="C" class="sales_stage_formula">  Sales Stage C
                </p>
                <p>
                    <input type="radio" name="sales_stage" value="D" class="sales_stage_formula">  Sales Stage D
                </p>

            </li>
          </ol>

        Therefore the pipline formula will be:<br>
        Total Amount / (Total Included Likely - Sales Stage <span id="sales_stage_formula">A</span>)
    </div>
    <div class="screen" id="screen6">
       <p>Print Page Options</p>
       <p><input type="checkbox" name="print" value="enabled"> Enabled</p>
    </div>


    </form>
    </div>
</div>
 <script type="text/javascript">

     $(document).ready(function() {

         initSelect2('select.select2');

         $('[rel="clickoverBottom"]').clickover({placement: "bottom"}) ;

         $(".sales_stage_formula").each(function(index){
             $(this).click(function(){
                   $("#sales_stage_formula").html($(this).attr('value'));
             });
         });

         $(".category_options").each(function(index){
             $(this).click(function(){
                 $("#category_options"+index).removeClass("hide").addClass("show");
                 $(".category_options").each(function(otherIndex){
                     if(otherIndex != index) {
    //                     console.log(otherIndex)
                         $("#category_options"+otherIndex).removeClass("show").addClass("hide");
                     }
                 })
             });
         });

         $("#configuration").select2().change(function(data){
             if(data.target.selectedIndex == 1) {
                 $('#standard').toggleClass("hide");
                 $('#configuration_name').toggleClass("hide");
                 $('#customized').addClass("hide");
                 $('#configuration_name_custom').addClass("hide");
             }  else if (data.target.selectedIndex == 2) {
                 $('#customized').toggleClass("hide");
                 $('#configuration_name_custom').toggleClass("hide")
                 $('#standard').addClass("hide");
                 $('#configuration_name').addClass("hide");
             }
         });

         $("#time_period_c").select2().change(function(data){
             if(data.target.selectedIndex == 1) {
                 $('#lastweek').removeClass("hide");
             } else {
                 $('#lastweek').addClass("hide");
             }
         });

         $('#time_period_c_chzn').click(function() {
             $('#time_period_c_chzn_o_1').append('<br>Quarterly subperiod');
             $('#time_period_c_chzn_o_2').append('<br>Monthly subperiod');
         })


     $("#hierarchy_starting_point").jstree({
         "json_data" : {
             "data" : [
                 {
                     "data" : "Parent"
                 },
                 {
                     "data" : "Sabra Khan",
                     "state" : "open",
                     "metadata" : { id : 1 },
                     "children" : [

                         {"data" : "Mark Gibson","metadata" : { id : 2 }},
                         {"data" : "James Joplin","metadata" : { id : 3 }},
                         {"data" : "Terrence Li","metadata" : { id : 4 }},
                         {"data" : "Amy McCray","metadata" : { id : 5 }}
                     ]
                 }
             ]
         },
         //                "themes" : { "theme" : "default", "dots" : false },
         "plugins" : [ "json_data", "ui", "types" ]

     })
             .bind("loaded.jstree", function () {
                 // do stuff when tree is loaded
                 $("#hierarchy_starting_point").addClass("jstree-sugar");
                 $("#hierarchy_starting_point > ul").addClass("list");
                 $("#hierarchy_starting_point > ul > li:first-child").addClass("parent");
                 $("#hierarchy_starting_point > ul > li > a").addClass("jstree-clicked");


             })
             .bind("select_node.jstree", function (e, data) {
                 console.log("load data for id: " + jQuery.data(data.rslt.obj[0], "id"));
                 data.inst.toggle_node(data.rslt.obj);
             });



     $("#hierarchy_currency").jstree({
         "json_data" : {
             "data" : [
                 {
                     "data" : "Parent"
                 },
                 {
                     "data" : "Sabra Khan",
                     "state" : "open",
                     "metadata" : { id : 1 },
                     "children" : [

                         {"data" : "Mark Gibson","metadata" : { id : 2 }},
                         {"data" : "James Joplin","metadata" : { id : 3 }},
                         {"data" : "Terrence Li","metadata" : { id : 4 }},
                         {"data" : "Amy McCray","metadata" : { id : 5 }}
                     ]
                 }
             ]
         },
         //                "themes" : { "theme" : "default", "dots" : false },
         "plugins" : [ "json_data", "ui", "types" ]

     })
             .bind("loaded.jstree", function () {
                 // do stuff when tree is loaded
                 $("#hierarchy_currency").addClass("jstree-sugar");
                 $("#hierarchy_currency > ul").addClass("list");
                 $("#hierarchy_currency > ul > li:first-child").addClass("parent");
                 $("#hierarchy_currency > ul > li > a").addClass("jstree-clicked");


             })
             .bind("select_node.jstree", function (e, data) {
                 console.log("load data for id: " + jQuery.data(data.rslt.obj[0], "id"));
                 data.inst.toggle_node(data.rslt.obj);
             });
     });


     $(function(){
         var start = new Array(0,100);
         var segments = 11;
         var i = 0;
         var init = function(){

             $(".noUiSlider").empty().noUiSlider( 'init', {

                 start: start,
                 change:
                         function(){

                             var values = $(this).noUiSlider( 'value' );

                             $(this).find('.noUi-lowerHandle .infoBox .tooltip-inner').text(values[0]+"%");
                             $(this).find('.noUi-upperHandle .infoBox .tooltip-inner').text(values[1]+"%");

                         }

             })
                     .append(function(){
                         var html = "";
                         var w = $(this).width();
                         var segmentWidth = w/(segments-1);
                         var acum = 0;
                         for(i=0;i<segments;i++) {
                             acum = (segmentWidth * i)-2;
                             html += "<div class='ticks' style='left:"+acum+"px'></div>";
                         }
                         return html;

                     })
                     .find('.noUi-handle div').each(function(index){
                         if(i>1) {i=0;}
                         $(this).append('<div class="tooltip fade top in infoBox"><div class="tooltip-arrow"></div><div class="tooltip-inner">'+start[i]+'%'+'</div></div>');

                          i++;
                     });



         };

         init.call();



     });
 </script>
