/* activity and twitter
-----------------*/
div.sayit.activitystream-comment-box {
  margin: 10px;
  padding: 5px 8px;
  width: 79%;
}

.commented .control-group {margin-bottom: 0;}

article {
  position: relative;
	display: block;
  padding: 10px 30px 10px 10px;
  line-height: @baseLineHeight;
  border-bottom: 1px solid @grayLighter;
}
.side article {
  padding: 0;
}
.side article a {
  padding: 10px;
  display: block;
}
.side .block.padded ul {
  padding: 0;
  margin: -10px 0 0;
  list-style: none;
  li {
  padding: 10px;
  border-bottom: 1px solid @grayLighter;
  strong {
    margin-left: 5px;
    }
  }
}

article .avatar {
  margin-right: 10px;
  .border-radius(3px);
}

article p {
	display: block;
}

#activity article.imgs p {  
  margin-left: 36px;
}

article p:last-child {
	margin: 0;
}
article:nth-child(even) {
	background-color: @grayLighter;
}
.results article:first-child {
  .box-shadow(~"inset 0 4px 6px rgba(0,0,0,.6)");
}
.results article:nth-child(even), .results article:nth-child(odd) {
	background-color: transparent;
	border-top: 1px solid lighten(@grayDarker, 15%);
	border-bottom-color: @grayDarker;
	padding: 10px 20px;
}

//from sidecar
#sActivity article {
    padding: 10px 45px 10px 0;
    position: relative !important;
}

article:hover {
	background: #e1f0fa;
}