/* Activity streams
-----------------*/
#stream {position: relative;}
#stream table {margin-top: -15px;}
#stream tr td {padding: 20px 4px }
#stream tbody tr:first-child td {border-top: none;}
#stream tbody tr td:first-child {
    width: 40px;
}
#stream tbody tr td:last-child {
    width: 75px;
    padding-right: 20px;
}

.nav-pills > li > a {
    padding: 6px;
}

#colright { position: absolute; top: 0; right: -2px;
    background: @grayLight;
}
#colleft { position: absolute; top: 0; left: -2px; }

.modal .brand, .thumbnail .brand {
    background: url('@{baseUrl}/img/sugar-red.png') 50% 50% no-repeat;
    text-indent: -7000px;
    margin: 0 auto;
    width: 220px;
    height: 42px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

//55231: fix detail listing view on notes
//6062ae3b6ab9bac3f9d6f4742e316f5fac0d5b51
.block span.label {
    width: auto;
//height: 30px;
    margin: -6px 10px 0 -10px;
}
#searchActivity {margin-top: -12px;}
