/* Actions
--------------*/
tr .dropdown.hide {
  display: none;
}
tr:hover .dropdown.hide {
  display: block;
  white-space: nowrap;
  /*position: absolute;
  right:4px;
  top: 8px;*/
}
tr:hover td {
  overflow: display;
}


/*table.datatable tr td .actions {
  //position: absolute;
  //top: 8px;
  //right: 8px;
}
table.datatable tr td .actions a:hover {
  color: @grayDark;
}*/


.form-change-actions .btn {
  display: none;
}

.results .commented .actions {
  right: 0;
  top: 3px !important;
}

.results .actions {
  right: 10px !important;
}
.results .actions a:hover {
  text-decoration: none;
}

.actions .dropdown-menu li {
  text-align: left;
  margin: 0;
  padding: 0;
  border-left: none;
}

.actions li {
  border-left: darken(@grayLighter, 5%) solid 1px;
  padding: 0 1px;
}
.actions li a {
  margin: 0;
  padding: 8px;
}
.actions li:first-child {
  border: none;
}

article .actions {
  display: none;
}
article .actions {
  .btn {padding 3px;}
}
article:hover .actions {
  display: block;
}

.block.tabs-left .nav-tabs li .actions {
  display: block;
  top: -2px;
  //font-size: 13px;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
.block.tabs-left .nav-tabs li .actions a i {
 // padding: 4px;
  color: @grayLight;
}

.block.tabs-left .nav-tabs li.on .actions .icon-eye-open {
  color: @grayDark;
  .opacity(100);
  background: @grayLight;
  text-shadow: none;
  .border-radius(4px);
  padding-right: 100px;
  margin-right: -96px;
}

.span2 .block .actions {
  position: absolute;
  top: 5px;
  right: 10px;
}

.block .actions,
article .actions,
.subnav .actions {
  position: absolute;
  top: -5px;
  right: 0;
}
