/* Body and structure
-------------------------------------------------- */
body {
/*  position: relative; may be a mistake */
  padding: 47px 0;
  //overflow: hidden;
}

body.scroll {
  overflow: auto;
}

.link {
  margin-top: 6px;
  display: inline-block;
}

a {
  cursor: pointer;
}

/* Space out sub-sections more
-------------------------------------------------- */
section {
  padding-top: 42px;
}

footer {
	position: fixed;
	bottom: 0;
}

.tcenter {
	text-align: center;
}
.tleft {
	text-align: left;
    .rtlTextAlign(@direction,right !important);
}
.tright {
	text-align: right;
    .rtlTextAlign(@direction,left !important);
}

.reset-width {
  width: auto !important;
  min-width: auto !important;
}

#content,
.flex-list {
  -webkit-overflow-scrolling: touch;
}

