
/* Buttons
-----------------*/

// Reposition the caret
.btn .caret {
  margin-top: 7px;
  margin-left: 0;
}
.btn:hover .caret,
.open.btn-group .caret {
  .opacity(100);
}


// Account for other colors
.btn-primary,
.btn-danger,
.btn-info,
.btn-success,
.btn-inverse {
  .caret {
    border-top-color: @white;
    .opacity(75);
  }
}

.btn.previous-row,
.btn.next-row {
  padding: 4px 10px 1px;
}

.btn-link {
  color: @linkColor;
  font-weight: normal;
}

.btn-invisible.btn-link:hover {
  text-decoration: underline;
  background: none;
  border-color: transparent;
}

.btn-invisible {
  box-shadow: none !important;
}

// Small button dropdowns
.btn-small .caret {
  margin-top: 3px;
}
