
.chartContainer {
	float: left;
	margin: 8px auto 20px;
	width: 100%
}

.chartContainer .scrollBars {
	overflow: auto;
	max-height: 600px;
	position: relative;
    clear: both;
}

.chartCanvas {
  position:relative;
  margin:auto;
  overflow:hidden;
  background-image: url('@{baseUrl}/img/chartBg.png');
  background-repeat:repeat-x;
}

.legend {
  padding: 0;
  width: 100%;
  float: left;
  margin-left: 20px;

  .waterMark {
    width: 10px;
    height: 10px;
    background-image: url('@{baseUrl}/img/watermark-white.png');
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 3px;
    float: left;
  }

  .waterMark.pareto {
    background-image: url('@{baseUrl}/img/pareto-white.png');
  }

  .query-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #999;
    float: left;
  }

  .col {
    float: left;
    width: 70%;
  }

  .col2 {
    float: left;
    width: 30%;
    text-align: right;
  }

  .label {
    float: left;
    background-color: transparent;
    color: @grayDarker;
    font-size: 12px;
    margin-right: 10px;
  }

  .label:hover {
    color: @grayDarker!important;
  }

  .legendGroup {
    display: inline-block;
  }
}

//from nutmeg

.view-forecastsChart {
  .dropdown.form-horizontal,
  .btn-toolbar.pull-right {
    margin: 1px;
  }
  .btn-toolbar .btn {
    padding: 6px 8px 1px;
  }
  .chartContainer {
    min-width: 400px;
    margin: 0;
  }
  h4 {
    .rtl(@direction,ltr);
    .rtlTextAlign(@direction,right);
  }
  .dropdown.form-horizontal {
    margin: 0px;
  }
  #chart {
    overflow-x: auto;
  }
  .nv-chart {
    border: none;
  }
}


.thumbnail.viz {
  svg {
    max-height: 350px;
  }
  &.expanded {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 45px;
    z-index: 1000;
    margin: 0 !important;
    .widget-content {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0px;
      padding: 20px;
    }
    svg {
      max-height: none;
    }
    svg text {
      font-size: 14px;
    }
    .nvd3 .nv-x.nv-axis text {
      font-size: 12px;
    }
    a[data-toggle="widget"] {
      display: none;
    }
    h4.headerpane {
      font-size: 24px;
      padding: 20px 0 0 20px;
      box-sizing: border-box;
    }
    .btn-toolbar {
      margin: 16px 20px 0 8px;
    }
    &.with-options .widget-content {
      top: 108px;
    }
    .dashlet-options {
      padding: 10px 20px;
    }
    .nv-chart#org {
      margin: 0;
    }
  }
}

// org chart zoom control
.btn-slider {
  display: inline-block;
  padding: 5px;
  .noUiSlider {
    width: 50px;
    height: 4px;
    display: inline-block;
    margin: 0;
    top: -1px;
  }
  .noUiSliderEnds {
    width: 50px;
    margin: 0px 30px 0 0;
    .zoom-control {
      position: absolute;
      top: 1px;
      font-size: 18px;
      &.disabled {
        [class^="icon-"] {
          color: lighten(@grayLight,10%) !important;
        }
      }
    }
    a:hover {
      text-decoration: none;
    }
    a[href="#zoom-out"] {
      left: -26px;
    }
    a[href="#zoom-in"] {
      right: -26px;
    }
    &:before,
    &:after {
      top: 6px;
      height: 4px;
    }
    &:before {
      border-radius: 2px 0px 0px 2px;
      left: -6px;
    }
    &:after {
      border-radius: 0px 2px 2px 0px;
      right: -6px;
    }
  }
}

.thumbnail.viz:not(.expanded) .nv-chart#org {
  height: 200px;
}

// for org chart demo renderer
.nv-chart#org {
  margin: 8px;
  border: 1px solid #ddd;
  .nv-foreign-object body {
    width: 100px;
    height: 32px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: #E9EFEF;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }
  .nv-foreign-object img.rep-avatar {
    float: left;
    margin-right: 4px;
  }
  .nv-foreign-object div.rep-name {
    font-size: 10px;
    color: steelblue;
  }
  .nv-foreign-object div.rep-title {
    font-size: 8px;
  }
}

/*TOOLTIPS*/
.tip {
  color: #111;
  width: auto;
  background-color: white;
  border:1px solid #ccc;
  -moz-box-shadow:#555 2px 2px 8px;
  -webkit-box-shadow:#555 2px 2px 8px;
  -o-box-shadow:#555 2px 2px 8px;
  box-shadow:#555 2px 2px 8px;
  opacity:0.9;
  filter:alpha(opacity=90);
  font-size:11px;
  font-family: Arial, Helvetica, sans-serif;
  padding:7px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.rotatedLabel {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotatedLabelReverse {
  -webkit-transform: rotate(-0deg);
  -moz-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

//from navbar.less
.row-fluid > #charts.span12 {
  margin-left: 0 !important;
}
