/* Colors */
.black {background-color: @black;}
.grayDarker  {background-color: @grayDarker;}
.grayDark  {background-color: @grayDark;}
.gray {background-color: @gray;}
.grayLight {background-color: @grayLight;}
.grayLighter {background-color: @grayLighter;}
.white {background-color: @white;}
.blueLight  {background-color: @blueLight;}
.blue {background-color: @blue;}
.blueDark {background-color: @blueDark;}
.green {background-color: @green;}
.red {background-color: @red;}
.yellow {background-color: @yellow;}
.orange {background-color: @orange;}
.pink {background-color: @pink;}
.purple {background-color: @purple;}
.infoText {background-color: @infoText;}
.errorText {background-color: @errorText;}
.successText {background-color: @successText;}
.warningText {background-color: @warningText;}
.infoBackground {background-color: @infoBackground;}
.errorBackground {background-color: @errorBackground;}
.successBackground {background-color: @successBackground;}
.warningBackground {background-color: @warningBackground;}

.table-striped tbody tr.odd.thegray td {
  background-color: @gray !important;
  color: @gray !important;
}

.nv-fill00 { fill:@fill00; background-color:@fill00; }
.nv-fill01 { fill:@fill01; background-color:@fill01; }
.nv-fill02 { fill:@fill02; background-color:@fill02; }
.nv-fill03 { fill:@fill03; background-color:@fill03; }
.nv-fill04 { fill:@fill04; background-color:@fill04; }
.nv-fill05 { fill:@fill05; background-color:@fill05; }
.nv-fill06 { fill:@fill06; background-color:@fill06; }
.nv-fill07 { fill:@fill07; background-color:@fill07; }
.nv-fill08 { fill:@fill08; background-color:@fill08; }
.nv-fill09 { fill:@fill09; background-color:@fill09; }
.nv-fill10 { fill:@fill10; background-color:@fill10; }
.nv-fill11 { fill:@fill11; background-color:@fill11; }
.nv-fill12 { fill:@fill12; background-color:@fill12; }
.nv-fill13 { fill:@fill13; background-color:@fill13; }
.nv-fill14 { fill:@fill14; background-color:@fill14; }
.nv-fill15 { fill:@fill15; background-color:@fill15; }
.nv-fill16 { fill:@fill16; background-color:@fill16; }
.nv-fill17 { fill:@fill17; background-color:@fill17; }
.nv-fill18 { fill:@fill18; background-color:@fill18; }
.nv-fill19 { fill:@fill19; background-color:@fill19; }

.nv-stroke0 { stroke:@stroke0; background-color:@stroke0; }
.nv-stroke1 { stroke:@stroke1; background-color:@stroke1; }
.nv-stroke2 { stroke:@stroke2; background-color:@stroke2; }
.nv-stroke3 { stroke:@stroke3; background-color:@stroke3; }
.nv-stroke4 { stroke:@stroke4; background-color:@stroke4; }
.nv-stroke5 { stroke:@stroke5; background-color:@stroke5; }
.nv-stroke6 { stroke:@stroke6; background-color:@stroke6; }
.nv-stroke7 { stroke:@stroke7; background-color:@stroke7; }
.nv-stroke8 { stroke:@stroke8; background-color:@stroke8; }
.nv-stroke9 { stroke:@stroke9; background-color:@stroke9; }
