/* Colors */
.black {background-color: @black;}
.grayDarker  {background-color: @grayDarker;}
.grayDark  {background-color: @grayDark;}
.gray {background-color: @gray;}
.grayLight {background-color: @grayLight;}
.grayLighter {background-color: @grayLighter;}
.white {background-color: @white;}
.blueLight  {background-color: @blueLight;}
.blue {background-color: @blue;}
.blueDark {background-color: @blueDark;}
.green {background-color: @green;}
.red {background-color: @red;}
.yellow {background-color: @yellow;}
.orange {background-color: @orange;}
.pink {background-color: @pink;}
.purple {background-color: @purple;}
.infoText {background-color: @infoText;}
.errorText {background-color: @errorText;}
.successText {background-color: @successText;}
.warningText {background-color: @warningText;}
.infoBackground {background-color: @infoBackground;}
.errorBackground {background-color: @errorBackground;}
.successBackground {background-color: @successBackground;}
.warningBackground {background-color: @warningBackground;}

.table-striped tbody tr.odd.thegray td {
  background-color: @gray !important;
  color: @gray !important;  
}

.nv-fill00 { fill:@fill00; stroke:@fill00; background-color:@fill00; }
.nv-fill01 { fill:@fill01; stroke:@fill01; background-color:@fill01; }
.nv-fill02 { fill:@fill02; stroke:@fill02; background-color:@fill02; }
.nv-fill03 { fill:@fill03; stroke:@fill03; background-color:@fill03; }
.nv-fill04 { fill:@fill04; stroke:@fill04; background-color:@fill04; }
.nv-fill05 { fill:@fill05; stroke:@fill05; background-color:@fill05; }
.nv-fill06 { fill:@fill06; stroke:@fill06; background-color:@fill06; }
.nv-fill07 { fill:@fill07; stroke:@fill07; background-color:@fill07; }
.nv-fill08 { fill:@fill08; stroke:@fill08; background-color:@fill08; }
.nv-fill09 { fill:@fill09; stroke:@fill09; background-color:@fill09; }
.nv-fill10 { fill:@fill10; stroke:@fill10; background-color:@fill10; }
.nv-fill11 { fill:@fill11; stroke:@fill11; background-color:@fill11; }
.nv-fill12 { fill:@fill12; stroke:@fill12; background-color:@fill12; }
.nv-fill13 { fill:@fill13; stroke:@fill13; background-color:@fill13; }
.nv-fill14 { fill:@fill14; stroke:@fill14; background-color:@fill14; }
.nv-fill15 { fill:@fill15; stroke:@fill15; background-color:@fill15; }
.nv-fill16 { fill:@fill16; stroke:@fill16; background-color:@fill16; }
.nv-fill17 { fill:@fill17; stroke:@fill17; background-color:@fill17; }
.nv-fill18 { fill:@fill18; stroke:@fill18; background-color:@fill18; }
.nv-fill19 { fill:@fill19; stroke:@fill19; background-color:@fill19; }

.nv-stroke0 { fill:@fill00; stroke:@fill00; background-color:@fill00; }
.nv-stroke1 { fill:@fill01; stroke:@fill01; background-color:@fill01; }
.nv-stroke2 { fill:@fill02; stroke:@fill02; background-color:@fill02; }
.nv-stroke3 { fill:@fill03; stroke:@fill03; background-color:@fill03; }
.nv-stroke4 { fill:@fill04; stroke:@fill04; background-color:@fill04; }
.nv-stroke5 { fill:@fill05; stroke:@fill05; background-color:@fill05; }
.nv-stroke6 { fill:@fill06; stroke:@fill06; background-color:@fill06; }
.nv-stroke7 { fill:@fill07; stroke:@fill07; background-color:@fill07; }
.nv-stroke8 { fill:@fill08; stroke:@fill08; background-color:@fill08; }
.nv-stroke9 { fill:@fill09; stroke:@fill09; background-color:@fill09; }
