.dashboard {
  position: absolute;
  width: 100%;
  height: auto;
  background: url(@textureSecondary);
  .headerpane {
    display: table;
    width: 100%;
    .record-cell {
      vertical-align: baseline;
      h1 {
        input[placeholder] {
          line-height: 22px;
        }
        .ellipsis_inline {
          margin-top: 19px;
        }
        input[type="text"] {
          margin-top: -8px;
        }
        .btn-group {
          margin-top: 16px;
        }
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
  }
  .cols {
    margin: 0;
    list-style: none;
    &> li:first-child {
      clear: both;
    }
    .rows {
      margin: 0;
      list-style: none;
      &.well {
        position: relative;
        &>.btn {
          position: absolute;
          top: -4px;
          right: 0;
          &:not(:nth-child(1)){
            right:20px;
          }
          &:hover,
          &:active {
            text-decoration: none;
            .box-shadow(none) !important;
          }
          &.move {
            cursor: move;
          }
        }
      }
      .row-fluid {
        margin: 0;
        .widget-container {
          .widget {
            /*min-height: 60px;*/
            padding: 0;
            &.thumbnail {
              margin-bottom: 0 !important;
              &:not(.collapsed) {
                min-height: 140px;
              }
              p {
                padding: 0;
              }
            }
            div.widget-content {
              overflow: auto;
              width: 100%;
      			  .news-article {
      			    img.avatar {
        				  float: left;
        				  height: 40px;
        				  width: auto;
        				  margin-right: 8px;
        				}
      			  }
              aside { /* Empty widget*/
                padding: 10px;
              }
            }
            h4 {
              cursor: move;
            }
            .news-article:first-child {
              margin-top: 0;
            }
          }
          .empty {
            padding: 16px 0;
            border: 3px dashed lighten(@grayLight,8%);
            background-color: @white;
            cursor: pointer;
            p {
              font-size: 13px;
              font-weight: 500;
              text-align: center;
              color: lighten(@grayLight,8%);
              &.header {
                line-height: 40px;
              }
            }
            .add-dashlet {
              color: lighten(@grayLight,8%);
              text-align: center;
              small {
                font-size: 12px;
              }
              strong {
                font-size: 60px;
                font-weight: 900;
                i {
                  color: lighten(@grayLight,8%);
                }
              }
            }
          }
          &.active {
            .widget.empty {
              background: lighten(@grayLight,8%);
              border-color: @white;
              p,
              strong i {
                color: @white;
              }
            }
            .widget:not(.empty) {
              opacity: .5;
              .swappable-dashlet {
                display: block;
                position: absolute;
                width: 100%;
                font-size: 60px;
                font-weight: 900;
                text-align: center;
                top: 30%;
                text-shadow: 0px 0px 3px rgb(0,0,0);
                color: @white !important;
              }
            }
          }
        }
        &>ul {
          margin: 0;
        }
      }
    }
    .add-row {
      position: relative;
      margin: 0;
      padding-top: 18px;
      border: 3px dashed lighten(@grayLight,8%);
      background-color: @white;
      cursor: pointer;
      p {
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        color: lighten(@grayLight,8%);
        &.header {
          line-height: 40px;
        }
      }
      .add-dashlet {
        color: lighten(@grayLight,8%);
        text-align: center;
        small {
          font-size: 12px;
        }
        strong {
          font-size: 60px;
          font-weight: 900;
        }
      }
      .options {
        a {
          padding:0 12px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .dashlets {
    clear: both;
    &>li:last-child {
      //padding-right: 5px;
    }
    .well-invisible {
      .empty {
        margin: 20px 5px 0 5px;
      }
    }
    [class*="span"] {
      margin-left: 0;
      //2%
      .rows.well {
      }
    }
    .well {
      padding: 0;
    }

    /* reset grid */
    .span12{width:100%;}
    .span11{width:91.66666%;}
    .span10{width:83.33333%;}
    .span9{width:74.99999%;}
    .span8{width:66.66666%;}
    .span7{width:58.33333%;}
    .span6{width:49.99999%;}
    .span5{width:41.66666%;}
    .span4{width:33.33333%;}
    .span3{width:24.99999%;}
    .span2{width:16.66666%;}
    .span1{width:8.33333%;}
    .widget-container {
      padding: 5px;
    }
  }
  &.edit {
    .dashlets {
      .widget-container {
        padding-top: 20px;
      }
      .rows.well {
        margin-top: -15px;
      }
    }
  }
  .dashlets {
    & > li {
      padding-top: 5px;
      &:first-child {
        padding-left: 5px;
      }
      &:last-child {
        padding-right: 5px;
      }
    }
  }

  .ui-sortable .ui-sortable-placeholder {
    height: auto !important;
  }
}

/* Dashboard inside right hand side panel */
.sidebar-content {
  .dashboard {
    .preview-headerbar {
      border-bottom-color: transparent;
      display: table;
      .btn-toolbar.pull-right {
        margin: 16px 5% 0 0;
        padding-left: 0;
        display: table-cell;
        white-space: nowrap;
        width: auto;
        height: 47px;
      }
      .record-cell:not(first-child) { /*unnecessary div, filipe said it cannot be removed from template, doing this for now*/
        display: none;
      }
      .record-cell:first-child {
        display: table-cell;
        width: 100%;
        position: relative;
        h1 {
          margin-left: 5%;
          input {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            text-indent: 5px;
            margin-top: -2px;
          }
          .input-append.error {
            vertical-align: baseline;
          }
        }
      }
      h1 {
        margin-left: 0;
        height: 39px;
        width: 90%;
        div.dropdown {
          &> a {
            font-size: @fontSizeHeader;
            color: inherit;
            padding-left: 0;
            padding-top: 8px;
            margin-left: 0;
            text-align: left;
            position: absolute;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            &:hover {
              color: inherit !important;
              text-decoration: none;
            }
          }
          ul.dropdown-menu {
            min-width: 160px;
            &> li {
              font-size: 12px;
              .alert-process {
                padding: 8px 10px;
              }
            }
          }
        }
      }
      .dropdown-menu {
        min-width: auto;
      }
      input[type=text] {
        width: 150px;
        font-size: @fontSizeHeader;
        line-height: 24px;
      }
    }
    &.edit {
      .preview-headerbar {
        border-bottom-color: #CCC;
      }
      .dashlets {
        margin-top: 5%;
      }
    }
    .cols {
      .dashlets {
        width: 90%;
        margin-left: 5%;
      }
    }
    .well {
      padding: 19px 2px 2px 2px;
      &.well-invisible {
        padding-right: 0;
        padding-left: 0;
        .widget-container {
          padding: 0;
        }
      }
      [class*="-container"] {
        padding: 2px;
      }
      //above changes select2-container in dashlet options
      .select2-container {
        padding: 0;
      }
    }
    .dashlet-row {
      li:first-child {
        .well-invisible {
          padding-top: 0;
        }
      }
    }
  }
}

.swappable-dashlet.icon-download-alt {
  display: none;
}
