//from nutmeg/sugar-forecasts
.dataTables_wrapper {
  overflow-x: auto;
  .rtl(@direction,ltr);
  table.dataTable {
    .rtl(@direction,rtl);
  }
}

table.dataTable {
  margin: 0;

  input[type="text"] {
    position: relative;
    width: 100%;
    min-height: 32px;
    .box-sizing(border-box);
  }

  /* ---------
  TABLE BODY*/
  tbody {
    tr {
      &:last-child {
        td:last-child,
        td:first-child,
        td:last-child,
        td:first-child {
          .border-radius(0 0 4px 4px)
        }
      }
      &.active {
        td {
          background-image: url('@{textureSecondary}');
          .icon-eye-open {
            color:@black !important;
          }
        }
      }
      &.tr-inline-edit {
        td {
          overflow: visible;
        }
      }
    }
    td {
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 100px;
      white-space: nowrap;
      word-break: break-word;
      position: relative;
      vertical-align: middle;
      &> *:not(.overflow-visible) {
        overflow-x: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
        display: inline-block;
        white-space: nowrap;
        word-break: break-word;
        position: relative;
        vertical-align: middle;
      }
      &>span.dropdown {
        width: auto;
        overflow: visible;
      }
    }
  }

  /* ---------
  TABLE ROW*/
  tr:last-child td {
    border-bottom: 1px solid @grayLight !important;
  }
  .tr-inline-edit.single td {
    background: #E5F4FB !important;
    padding-bottom: 0;
  }

  //for preview
  tr.highlighted {
    &.above th,
    &.above td {
      .box-shadow(~"inset 0px -6px 3px -5px rgba(0, 0, 0, 0.25)");
    }
    &.current td {
      background-image: url('@{textureSecondary}');
      &:last-child {
        z-index: 2;
      }
      .icon-eye-open {
        color: @gray !important;
      }
    }
    &.below td {
      .box-shadow(~"inset 0px 5px 6px -5px rgba(0, 0, 0, 0.25)");
    }
  }

  &.inline-edit-active {
    tr {
      td {
        overflow-x: visible !important;
      }
    }
  }

  /* ---------
  TABLE CELL AND HEADER*/
  td,
  th {
    white-space: nowrap;
    word-break: break-word;
    position: relative;
    vertical-align: middle;
  }
  th:first-child,
  td:first-child {
    padding-left: 20px;
    padding-right: 0;
    width: 30px;
    overflow-x: visible;
  }
  th:last-child,
  td:last-child {
    width: 60px;
    border-right: 0;
    overflow-x: visible;
  }

  /* ---------
  TABLE HEADER*/
  th {
    line-height: 26px !important;
    min-width: 20px;
    margin-top: 0px !important;
    font-weight:normal;
    color: @tableHeader;
    border-right: 1px solid darken(@grayLighter,5%);
    .rtl(@direction,ltr);
    a {
      color:@gray;
      text-decoration:none;
    }
    &.sorting {
      color:@gray;
    }
    &.sorting_asc,
    &.sorting_desc {
      font-weight: bold;
      .box-shadow(none);
    }
    &.header-quota {
      min-width: 70px;
    }
    .btn-group {
      margin: 0 0 0 -8px;
      width: 60px;
    }
    .btn input {
      margin: -2px 0 0 0;
    }
    .toggle-all {
      margin: 10px;
    }
    &.nosort.select-all {
      padding: 0;
      .btn-group {
        position: absolute;
        top: 0;
        //centering checkbox in btn-group
        > .btn:first-child {
          padding-top: 7px;
          padding-bottom: 1px;
        }
      }
    }
  }

  /* ---------
  TABLE CELL*/
  td {
    .rtl(@direction,ltr);
    &.details {
      padding: 0px;
      .extend {
        background-color: @grayLight;
        text-shadow: none;
        margin: 5px -5px -5px;
        text-align: left;
        .box-shadow(~"inset 0 4px 6px rgba(0,0,0,.2)");
        article {
          color: @grayDark;
          date {
            color:  @gray;
          }
        }
        article:first-child {
          .box-shadow(~"inset 0 4px 6px rgba(0,0,0,.2)");
        }
        article:nth-child(even), article:nth-child(odd) {
          border-top: 1px solid @grayLighter;
          border-bottom-color: @gray;
        }
      }
    }
    .actions {
      //position: absolute;
      //right: 8px;
      display:inline-block;
      //top: 0;
      span {
        width: 13px;
      }
      a {
        &:hover:not(.disabled) {
          color: @grayDark;
        }
      }
      &.open a .icon-eye-open {
        color: @gray !important;
      }
      ul.dropdown-menu {
        padding: 10px 0 0;
        li:first-child a {
          border-top:none;
        }
        .ext {
          background: @white;
          display: inline-block;
          width: 10px;
          height: 10px;
          position: absolute;
          right: 6px;
          top: -6px;
          .rotate(45deg);
          border-left:1px solid rgba(0, 0, 0, 0.2);
          border-top:1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
    .btn-toolbar {
      margin: -5px 0 -10px;
    }
    span.longtext {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  td.number,
  tfoot th.number {
    text-align: right;
    .rtlTextAlign(@direction,left);
    white-space: nowrap;
    span.edit {
      div.controls {
        position: relative;
        //right: 5px;
        //padding-right: 14px;
      }
    }
  }

  /* ---------
  TABLE FOOTER*/
  tfoot {
    th {
      white-space: normal;
      word-break: break-word;
    }
    td {
      font-weight: bold;
      border-top: 2px solid @grayLight !important;
    }
  }
  tfoot tr.overall th {
    font-weight: bold;
  }

  /* ---------
  MISC*/
  label.original {
    margin-bottom: 0px;
    display: inline-block;
    background-color: @grayLight;
    .border-radius(4px);
    padding: 2px 4px;
  }
  .converted {
    display: inline-block;
    margin-left: 16px;
    .rtlMargin(@direction,0 16px 0 0);
  }
  [class^="icon-favorite"] {
    margin-left: 14px;
    vertical-align: middle;
  }
  //nutmeg ?legacy?
  [class^="icon-star"] {
    margin: 0 16px
  }
  .icon-star {
    color: @grayLight;
  }
  .active .icon-star {
    color: @orange;
  }
}

.dataTables_filter {
  position: relative;
  margin: -1px 1px 0 0;
  padding: 5px;
  background: @grayLighter;
  border-top: 1px solid darken(@grayLighter, 5%);
  border-bottom: 1px solid darken(@grayLighter, 5%);
  z-index: 1000;
  display: none;
  input {
    width: 100%;
  }
  //from nutmeg
  margin: 0;
  text-align: center;
  #gradient > .vertical(darken(@grayLighter, 4%), @grayLighter);
  @shadow: inset 0 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.1);
  .box-shadow(@shadow);
}

.morecol {
  text-align: center !important;
  padding: 8px 23px !important;
  .dropdown-menu {
    text-align: left !important;
  }
}
