//from nutmeg/sugar-forecasts
.dataTables_wrapper {
  overflow-x: auto;
  .rtl(@direction,ltr);
  table.dataTable {
    .rtl(@direction,rtl);
  }
  //from twitter-bootstrap/datatables.less
  position: relative;
  clear: both;
  *zoom: 1;
  //
}
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%;

  input[type="text"] {
    //position: relative;
    width: 100%;
    min-height: 28px;
    .box-sizing(border-box);
  }

  span.full-name.edit {
    span.edit {
      display: inline-block;
      width: 50%;
    }
  }

//  TABLE HEADER

  & > thead {
    th {
      line-height: 26px !important;
      min-width: 20px;
      max-width: 100px;
      margin-top: 0px !important;
      font-weight: normal;
      font-size: @fontSizeSmall;
      color: @tableHeader;
      border-right: 1px solid darken(@grayLighter,5%);
      .rtl(@direction,ltr);

      &:not(:last-child) > * {
        display: inline-block;
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
        word-break: break-word;
        position: relative;
        vertical-align: middle;
        text-overflow: ellipsis;
      }
      &:first-child {
        overflow-x: visible;
        padding-left: 15px;
        padding-right: 0;
        width: 30px;
      }

      /*
      &:last-child {
        max-width: 60px;
        min-width: 60px;
        width: 60px;
        padding: 0 8px 0 5px;
        //vertical-align: middle;
        overflow-x: visible;
        border-right: 0;
      }

      &:first-child {
        overflow-x: visible;
        padding-left: 15px;
        padding-right: 0;
        width: 50px;
        height: 26px;
        z-index: 1;
        background: @white;
        position: absolute;
        left: 0;
        border-right: 0;
      }
      &:nth-child(2) {
        padding-left: 75px;
      }
      &:nth-last-child(2) {
        padding-right: 75px;
      }
      &:last-child {
        max-width: 60px;
        min-width: 60px;
        width: 60px;
        padding: 0 8px 0 5px;
        //vertical-align: middle;
        overflow-x: visible;
        border-right: 0;
        height: 42px;
        line-height: 42px !important;
        background: @white;
        position: absolute;
        right: 0;
      }
      */
      a {
      /*
        color: @grayLight;
      */
        text-decoration: none;
      }
    }
    tr.alert.alert-warning {
      height: 35px;
      &> td {
        &> div {
          position: absolute;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

//  TABLE BODY
& > tbody {
  & > tr {
    //from tables.less?
    &:last-child {
      td {
        border-bottom-size: 2px;
      }
    }
    & > td {
      white-space: nowrap;
      word-break: break-word;
      position: relative;
      vertical-align: middle;
      text-overflow: ellipsis;
      max-width: 100px;

      border-top: 1px solid darken(@grayLighter, 5%);
      border-bottom: 1px solid darken(@grayLighter, 5%);
      background-color: @white;
      .rtl(@direction,ltr);

      &> *:not(.overflow-visible) {
        overflow-x: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
        white-space: nowrap;
        word-break: break-word;
        position: relative;
        vertical-align: middle;
      }
      &> .forecastsWorksheetManager:hover {
        overflow: hidden;
      }
      &.td-inline-edit {
        overflow: visible;
        span {
          overflow: visible;
        }
      }
      &:first-child {
        overflow-x: visible;
        padding-left: 15px;
        padding-right: 0;
        width: 30px;
        span {
          overflow: visible;
        }
      }
      &:last-child {
        max-width: 60px;
        min-width: 60px;
        padding: 0 8px 0 5px;
        width: 60px;
        //vertical-align: middle;
        overflow-x: visible;
        border-right: 0;
      }
      //for forecasts row extend info cell (single td so override :first-child,:last-child)
      &.details {
        padding: 0px;
        width: auto;
        max-width: inherit;
        .extend {
          background-color: @grayLight;
          margin: -1px -1px -1px 0;
          display: block;
          .box-shadow(~"inset 0 10px 6px -6px rgba(0,0,0,.2);");
          .icon-arrow-down:before {
            color: @red;
          }
          .icon-arrow-up:before {
            color: @green;
          }
          article {
            color: @grayDark;
            date {
              color: @gray;
            }
          }
          article:first-child {
            .box-shadow(~"inset 0 4px 6px rgba(0,0,0,.2);");
          }
          article:nth-child(even), article:nth-child(odd) {
            border-top: 1px solid @grayLighter;
            border-bottom-color: @gray;
          }
        }
      }
      .full-name.list {
        &:hover {
          color: @linkColorHover;
          cursor: pointer;
          &> .list {
            text-decoration: underline;
            a {
              color: @linkColorHover;
            }
          }
        }
        .ellipsis_inline {
          display: inline !important;
        }
      }
    }
  }
}
  /* ---------
  TABLE FOOTER */
  & > tfoot {
    th {
      white-space: normal;
      word-break: break-word;
    }
    td {
      font-weight: bold;
      border-top: 2px solid @grayLight !important;
    }
    tr.overall th {
      font-weight: bold;
    }
  }

  /* ---------
  TABLE ROW (specific)*/
  tr {
    //for preview
    &.highlighted {
      &.current td {
        #gradient > .vertical(darken(@grayLighter, 6%), darken(@grayLighter, 2%));
        border-bottom: 1px solid darken(@grayLighter, 8%);
        &:last-child {
          z-index: 2;
        }
        .icon-eye-open {
          color: @grayDark;
        }
      }
    }
    //also for preview??legacy?
    &.active {
      td {
        background-image: url('@{textureSecondary}');
        .icon-eye-open {
          color:@black !important;
        }
      }
    }
    //forecasts
/*    div.sugareditable {
      td {
        overflow: visible;
        &> *:not(.overflow-visible) {
          overflow: visible;
        }
      }
    }*/
    &.tr-inline-edit {
      &> td {
        &> span {
          width: 100%;
        }
        overflow: visible;
        background: #e5f1fc;
        //padding-bottom: 0;
        padding: 4px;
        //vertical-align: top;
        &:first-child {
          //padding-top: 10px;
          .btn {
            margin-left: 0;
          }
        }
        &:last-child {
          //padding-top: 10px;
          padding: 4px 8px 4px 4px;
          .btn {
            float: right;
          }
        }
        &> *:not(.overflow-visible) {
          overflow: visible;
          //vertical-align: top;
        }
        .select2-container .select2-choice {
          line-height: 26px;
          height: 26px;
          abbr {
            top: 6px;
          }
          div {
            top: 0;
          }
        }
        .input-append.date {
          margin-bottom: 0;
          font-size: 12px;
            .add-on {
                background-color: @white !important;
                top: 6px;
                padding: 1px 4px;
                margin-left: -30px;
            }
          td {
            background-color: @white;
          }
          input.datepicker {
            width: 100px;
            margin-top: 0;
          }
          // reset datepicker since it is table inside table
          span.year.active:hover,
          span.year.active,
          span.month.active:hover,
          span.month.active,
          td.active,
          td.active:hover {
            background-color: @gray;
          }
        }
        .help-block {
          display: none;
        }
      }
    }
  }

  /* ---------
  TABLE HEADER CELL (specific)*/
  th {
    &.sorting {
      color: @gray;
    }
    &.sorting_asc,
    &.sorting_desc {
      font-weight: bold;
    }
    &.header-quota {
      min-width: 70px;
    }
    .btn-group {
      margin: 0 0 0 -8px;
      width: 60px;
    }
    .btn input {
      margin: -2px 0 0 0;
    }
    .toggle-all {
      margin: 10px;
    }
    &.nosort.select-all {
      padding: 0;
      .btn-group {
        position: absolute;
        top: 0;
        //centering checkbox in btn-group
        > .btn:first-child {
          padding-top: 7px;
          padding-bottom: 1px;
        }
      }
    }
  }

  /* ---------
  TABLE CELL (specific)*/
  td {

    .actions {
      display:inline-block;
      white-space: nowrap;
      margin: 0;
      float: right;
      span {
        width: 13px;
      }
      a {
        &:hover:not(.disabled) {
          color: @grayDark;
        }
      }
      &.open a .icon-eye-open {
        color: @gray !important;
      }
      .dropdown-menu {
        padding: 0;
        li:first-child a {
          border-top:none;
        }
        &:before,
        &:after {
          display: none;
        }
      }
    }
    .btn-toolbar {
      margin: -5px 0 -10px;
    }
    span.longtext {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &>span.dropdown {
      width: auto;
      overflow: visible;
    }
  }

  &.inline-edit-active {
    tr {
      td {
        overflow-x: visible !important;
      }
    }
  }

  /* ---------
  MISC*/
  td.number,
  tfoot th.number {
    text-align: right;
    .rtlTextAlign(@direction,left);
    white-space: nowrap;
    span.edit {
      div.controls {
        position: relative;
        //right: 5px;
        //padding-right: 14px;
      }
    }
  }
  label.original {
    margin-bottom: 0px;
    display: inline-block;
    background-color: @grayLight;
    .border-radius(4px);
    padding: 2px 4px;
  }
  .converted {
    display: inline-block;
    margin-left: 16px;
    .rtlMargin(@direction,0 16px 0 0);
  }
  [class^="icon-favorite"] {
    margin-left: 14px;
    vertical-align: middle;
  }
  //nutmeg ?legacy?
  [class^="icon-star"] {
    margin: 0 16px
  }
  .icon-star {
    color: @grayLight;
  }
  .active .icon-star {
    color: @orange;
  }
}


/**
 * The flex list allows you to add left actions and right actions to the traditional list view.
 * The code below aims to fix the first action column and the last action column
 */
.flex-list-view {
  position: relative;
  .flex-list-view-content {
    overflow-y: auto;
    width: 100%;
  }
  // .flex-list.left-actions to fix the first column
  &.left-actions {
    table.dataTable {
      & > thead >tr > th {
        &:first-child {
          overflow-x: visible;
          padding-left: 15px;
          padding-right: 0;
          width: 52px;
          height: 26px;
          //z-index: 11;
          background: @white;
          position: absolute;
          left: 0;
          border-right: 0;
          .box-shadow(~"2px 0 1px 0 rgba(0,0,0,.1);");
          span {
            overflow-x: visible;
          }
        }
        &:nth-child(2) {
          padding-left: 75px;
        }
      }
      & > tbody > tr > td {
        &:first-child {
          overflow-x: visible;
          padding-left: 15px;
          padding-right: 0;
          width: 52px;
          position: absolute;
          left: 0;
          z-index: 10;
          .box-shadow(~"2px 0 1px 0 rgba(0,0,0,.1);");
        }
        &:nth-child(2) {
          padding-left: 75px;
        }
      }
    }
  }

  // .flex-list.right-actions to fix the last column
  &.right-actions {
    table.dataTable {
      & > thead > tr > th {
        &:nth-last-child(2) {
          padding-right: 75px;
          background-position: 60% 50%;/* leave this for browsers that potentially don't support calc() function */
          background-position: ~"-moz-calc(100% - 75px)" 50% !important;
          background-position: ~"-webkit-calc(100% - 75px)" 50% !important;
          background-position: ~"calc(100% - 75px)" 50% !important;
        }
        &:last-child {
          max-width: 60px;
          min-width: 60px;
          width: 60px;
          padding: 4px 8px 0 5px; //vertical-align: middle;
          overflow-x: visible;
          border-right: 0;
          height: 38px;
          line-height: 42px !important;
          background: @white;
          position: absolute;
          right: 0;
          .box-shadow(~"-2px 0 1px 0 rgba(0,0,0,.1);");
        }
      }
      & > tbody > tr > td {
        &:nth-last-child(2) {
          padding-right: 75px;
        }
        &:last-child {
          max-width: 60px;
          min-width: 60px;
          padding: 4px 8px 0 5px;
          width: 60px; //vertical-align: middle;
          overflow-x: visible;
          border-right: 0;
          height: 31px;
          position: absolute;
          right: 0;
          .box-shadow(~"-2px 0 1px 0 rgba(0,0,0,.1);");
        }
      }
    }

    /* fixes styling issue with dupcheck list */
    table.duplicates.highlight {
      & > thead > tr > th {
        background-color: #FCFCF2;
        &:last-child {
          background-color: #FCFCF2;
        }
      }
      & > tbody > tr:nth-child(even) > td {
        background-color: #FCFCF2;
      }
      & > tbody > tr:nth-child(odd) > td {
        background-color: #FCF9E8;
      }
      & > tbody > tr > td {
        &:nth-last-child(2) {
          padding-top: 2px;
          padding-bottom: 2px;
        }
        &:last-child .list {
          width: 60px;
          overflow: visible;
        }
      }
    }
  }
}


//from twitter-bootstrap/datatables.less
.sorting {
  background: url('@{baseUrl}/img/sort_both.png') no-repeat 98% 50%;
  padding-right: 25px !important;
  cursor: pointer;
  *cursor: hand;
}
.sorting_asc, .sorting_desc {
  .box-shadow(~"inset 0 1px 2px rgba(0,0,0,.1);");
  padding-right: 25px !important;
}
.sorting_asc {
  background: @grayLighter url('@{baseUrl}/img/sort_asc.png') no-repeat center right;
}
.sorting_desc {
  background: @grayLighter url('@{baseUrl}/img/sort_desc.png') no-repeat center right;
}
.sorting_asc_disabled {
  background: url('@{baseUrl}/img/sort_asc_disabled.png') no-repeat center right;
}
.sorting_desc_disabled {
  background: url('@{baseUrl}/img/sort_desc_disabled.png') no-repeat center right;
}

table th.nosort {
  background: none;
  box-shadow: none;
}

table.dataTable th:active {
  outline: none;
}


//?legacy?
.dataTables_filter {
  position: relative;
  margin: -1px 1px 0 0;
  padding: 5px;
  background: @grayLighter;
  border-top: 1px solid darken(@grayLighter, 5%);
  border-bottom: 1px solid darken(@grayLighter, 5%);
  z-index: 1000;
  display: none;
  input {
    width: 100%;
    margin: 0;
  }
  //from nutmeg
  margin: 0;
  text-align: center;
  #gradient > .vertical(darken(@grayLighter, 4%), @grayLighter);
  .box-shadow(~"inset 0 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.1);");
}

.morecol {
  text-align: center !important;
  cursor: pointer;
  line-height: 52px !important;
  .btn {
      .box-shadow(none) !important;
      border: none !important;
      margin: 0;
  }
  .dropdown-menu {
    text-align: left !important;
    font-size: @baseFontSize;
    font-weight: normal;
    color: @grayLight;
    a, .btn {
      padding-left: 22px;
      //color: @grayLight;
      width: 100%;
      text-align: left !important;
      text-decoration: none !important;
    }
    button {
      text-decoration: none;
      color: @gray;
      &:hover,
      &:active {
        color: @gray !important;
        .box-shadow(none) !important;
        text-decoration: none;
      }
      &.active {
        font-weight: bold;
        padding-left: 10px;
        margin-left: 0;
        .icon-ok {
          color: @gray;
          font-weight: normal;
          margin-right: 5px;
        }
      }
      &:not(.active){
        padding-left: 30px;
      }
    }
    li {
        border-bottom: 1px solid @grayLighter;
    }
  }
}
