.dropdown-menu {
  top: 34px;
  padding: 0;
  .border-radius(4px);
  &.carettop {
    .caret-top(10px,9px,auto,auto);
  }
  &.left {
    left: auto;
    right: 0px;
    &.carettop {
      .caret-top(auto,auto,10px,9px);
    }
  }
  h4.title {
    margin-top: -5px;
    padding: 5px 10px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.8);
    font-size: @baseFontSize;
    color: @white !important;
    #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
    .border-radius(3px 3px 0 0);
  }
  ul {
    margin: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      border: 0px none;
      &.primary {
        border-top: 1px solid @grayLight;
      }
    }
  }
  li:first-child a {
    border-top: none;
    .border-radius(4px 4px 0 0);
  }
  li:last-child a {
    border-bottom: none;
    .border-radius(0 0 4px 4px);
  }
  //boostrap override
  li > a {
    padding: 8px;
  }
  a {
    margin: 0;
    padding: 8px 10px;
    border-top: 1px solid @grayLighter;
    //background: #E1F0FA;
    label {
      padding-left: 0;
    }
  }
  // Hover state
  // -----------
  li > a:hover,
  li > span > a:hover,
  .active > a,
  .active > span > a,
  .active > a:hover,
  .active > span > a:hover {
    color: @dropdownLinkColorHover;
    text-decoration: none;
    //this causes sharp corners on dropdown-menu
    //fixed by setting border radius on li > a
    background: @dropdownLinkBackgroundHover;
    //background-color: transparent;
  }
}

.dropdown-toggle {
  .mystuff {
    margin-left: -10px;
  }
  .caret {
    //margin-left: 6px;
  }
}

.caret {
  .opacity(30);
}
