.dropdown-menu {
  top: 34px;
  &.carettop {
    .caret-top(10px,9px,auto,auto);
  }
  &.left {
    left: auto;
    right: 0px;
    &.carettop {
      .caret-top(auto,auto,10px,9px);
    }
  }
  ul {
    li {
      border: 0px none;
    }
  }
  // Hover state
  // -----------
  li > a:hover,
  li > span > a:hover,
  .active > a,
  .active > span > a,
  .active > a:hover,
  .active > span > a:hover {
    color: @dropdownLinkColorHover;
    text-decoration: none;
    //this causes sharp corners on dropdown-menu
    //background-color: @dropdownLinkBackgroundHover;
    background-color: transparent;
  }
}
