

/* Editable 
--------------*/
.card2 div [class^="span"]  {position: relative;}
.card2 .icon-pencil {position: absolute; right: 0; top: 6px;}

.card2 form, .card2 input, .card2 select, .card2 textarea {
  position: relative;
  margin: -2px 0 0 -2px !important;
  width: auto !important;
}
.eSelect:hover {}
.editable {margin: 0;}