/* Editable
--------------*/
.card2 div [class^="span"]  {
  position: relative;
}

.bcard1 .icon-pencil {
  position: absolute;
  right: 0; top: 6px;
}

.card2 form,
.card2 input,
.card2 select,
.card2 textarea {
  position: relative;
  // UIUX-213: removing these to fix vertical alignment of input field;
  //margin: -5px 0 0 -2px !important;
  margin: 0 0 0 0px !important;
}

.card2 .icon-pencil {
  position: absolute;
  left: -16px;
  top: 0px;
  padding: 0 2px !important;
  .opacity(60);
}

.inlined {
  margin: 0;
  position: absolute !important;
}


/* Inline Editable Fields */
.inline-editable-wrap {
  height:30px;
  a.btn-mini.urleditable:not(:hover) {
    background:transparent;
    border-color:transparent;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
  .inline-editable {
    .icon-pencil {
      visibility:hidden;
    }
  }
  form {
    display:inline;
      input {
        width:210px;
      }
  }
  .editable-trigger {
    margin-right:6px;
  }
  &:hover .icon-pencil {
    visibility:visible;
  }
  .editable-field {
    &> a {
      width:210px;
      overflow:hidden;
      display:inline-block;
      text-overflow:ellipsis;
    }
    form input {
      padding-top:0px;
      top:2px;
      left:1px;
      height:20px;
    }
  }
}


/* Editable URLs */
.urleditable-wrap {
  height:30px;
  a.btn-mini.urleditable:not(:hover) {
    background:transparent;
    border-color:transparent;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
  .urleditable {
    .icon-pencil {
      visibility:hidden;
    }
  }
  form {
    display:inline;
      input {
        width:210px;
      }
  }
  .editable-trigger {
    margin-right:6px;
  }
  &:hover .icon-pencil {
    visibility:visible;
  }
  .urleditable-field {
    &> a {
      width:210px;
      overflow:hidden;
      display:inline-block;
      text-overflow:ellipsis;
    }
    form input {
      padding-top:0px;
      top:2px;
      left:1px;
      height:20px;
    }
  }
}
