//email create recipient select2
.record {
  div[data-name="to"].controls {
    padding-right: 70px;
    .select2-container {
      margin-bottom: 4px;
      .select2-choices {
        max-height: 45px;
        overflow-y: auto;
        .border-radius(@baseBorderRadius);
      }
      .select2-search-field input {
        padding: 0 6px;
        position: absolute;
        height: 22px;
        min-height: 22px;
        margin: 0;
      }
    }
    .compose-recipient-options {
      position: absolute;
      z-index: 2;
      padding: 0;
      top: 0;
      right: 0;
      background-color: @white;
      .btn {
        position: relative;
        right: 0;
      }
    }
  }
  div[data-name="cc"].controls,
  div[data-name="bcc"].controls {
    .select2-container {
      margin-bottom: 4px;
      .select2-choices {
        max-height: 45px;
        overflow-y: auto;
        .border-radius(@baseBorderRadius);
      }
    }
  }
  div[data-type="email-recipients"] {
    &.controls.btn-fit {
      .select2-container {
        .select2-choices {
          max-height: 45px;
          .border-radius(@baseBorderRadius);
          .box-shadow(0 0 1px transparent);
        }
        .select2-search-field input {
          padding: 0 6px;
          position: absolute;
          height: 22px;
          min-height: 22px;
        }
        &.drop-highlight {
          .select2-choices {
            .box-shadow(0 0 1px transparent);
            background-color: rgba(23,109,229,.075);
          }
          &.drop-hover {
            .select2-choices {
              background-color: @white;
              border-color: rgba(23,109,229,.5);
            }
          }
        }
      }
    }
  }
  div[data-type="email-attachments"].controls {
    input[type="file"] {
      display: none;
    }
    .select2-container {
      .select2-choices {
        padding-left: 0;
        border: none;
      }
      .select2-search-field input {
        padding: 0;
        min-height: 26px;
      }
    }
  }
}
