div.error-page {
     background-color:#181818;background-image:linear-gradient(30deg,#1c1c1c 12%,transparent 12.5%,transparent 87%,#1c1c1c 87.5%,#1c1c1c),linear-gradient(150deg,#1c1c1c 12%,transparent 12.5%,transparent 87%,#1c1c1c 87.5%,#1c1c1c),linear-gradient(30deg,#1c1c1c 12%,transparent 12.5%,transparent 87%,#1c1c1c 87.5%,#1c1c1c),linear-gradient(150deg,#1c1c1c 12%,transparent 12.5%,transparent 87%,#1c1c1c 87.5%,#1c1c1c),linear-gradient(60deg,#141414 25%,transparent 25.5%,transparent 75%,#141414 75%,#141414),linear-gradient(60deg,#141414 25%,transparent 25.5%,transparent 75%,#141414 75%,#141414);background-size:12px 20px;background-position:0 0,0 0,6px 10px,6px 10px,0 0,6px 10px;text-align:center;
    position:fixed;
    height:100%;
    width:100%;
}

div.dark_cube {
    background: transparent url('@{baseUrl}/img/dark_cube.png') center 16px no-repeat;
    .opacity(.8);
    padding-top:234px;
    h1,
    p,
    a {
    	color:@white;
    	font-weight: 200 !important;
    }
    h1 {
    	font-size:24px !important;
    }
    p {
    	font-size:@fontSizeLarge;
    }
    a {
		text-decoration:underline;
    }
    hr.invisible {
    	margin:8px 0;
    }
}
