/* Footer
-------------------------------------------------- */
footer {
  .border-radius(0);
  border: none;
  border-top: 1px solid darken(@grayLighter, 8%);
	padding: 0;
	height: inherit;
	position: fixed;
	z-index: @zindexFixedNavbar;
}
footer p {
  margin-bottom: 0;
  color: #555;
}
footer .btn-toolbar.pull-right {margin: 8px 8px 0 0; height: 20px;}
footer .btn-toolbar.pull-left {margin: 8px 0 0 8px; height: 20px;}