.input-append {
	position:relative;
	display:inline-block;
	.add-on {
		/*.border-radius(0 @inputBorderRadius @inputBorderRadius 0);*/
		border:none;
		background:transparent !important;
		margin-left:-4px;
		position:absolute;
		top:0;
		right:0;
	}
	&.textarea,
	&.select,
	&.checkbox,
	&.radio {
		padding-left:0;
	    .add-on {
	    	position:absolute;
	    	top:-0px;
	    	right:0;
	    	background:transparent !important;
	    	border:none;
	    }
	}
	&.widget {
		width:100%;
	}
	&.textarea {
		display:inline;
	}
	&.select .add-on {
	}
	input{
	  .border-radius(@inputBorderRadius);
	}
}

.card2 .span2, .card2 .span3  {
  background: @grayLighter;
  border-bottom: 1px solid darken(@grayLighter, 5%);
  text-align: right;
  padding: 12px 8px;
  color: lighten(@gray, 20%) !important;
  min-height: 42px;
}  

.card2 .span10, .card2 .more {
  min-height: 42px;
  padding: 12px 8px;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid @grayLighter;
}

.card2 .row-fluid, .card2 span .row-fluid {
  margin: 0;
  padding: 0 !important;
}

input, select, textarea {z-index: 1000;}

.filter {
  position: absolute;
  top: 10px;
  right: 20px;
}

.filtered.extend {
  border-top: 1px solid darken(@grayLighter, 5%);
  background: darken(@grayLighter, 10%);
  margin: 6px -5px -5px;
  .box-shadow(~"inset 0 -1px 0 rgb(255,255,255)");
}

.filtered-header {
  text-align: left;
  padding: 10px 20px;
  background: @grayLighter;
  border-bottom: 1px solid darken(@grayLighter, 20%);
}
.filtered-body:first-child {
.box-shadow(~"inset 0 3px 6px rgba(0,0,0,.2)");

}
.filtered-body {
  text-align: left;
  padding: 5px 10px;
  border-top: 1px solid darken(@grayLighter, 20%);
  border-bottom: 1px solid darken(@grayLighter, 5%);
}
