#searchForm {
    display: inline-block;
    float: right;
    .btn {
        margin-right: 0;
    }
    input.search-query {
        min-width: 200px;
    }
    label {
        display: inline-block;
        input {
            display: inline-block;
            &[type=checkbox]{
                margin: 0 0 3px 0;
            }
        }
        &.hide {
            display: none;
        }
    }
    .rtlFloat(@direction,left);
    .dropdown-menu {
        background:none;
        .border-radius(none);
        .box-shadow(none);
        border: 0;
        .globalsearch-adv-wrap {
            background:red;
            border:1px solid blue;
            .border-radius(2px);
            z-index: @zindexDropdown;
            background-color: @dropdownBackground;
            border: 1px solid #ccc; // Fallback for IE7-8
            border: 1px solid @dropdownBorder;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
            .box-shadow(0 5px 10px rgba(0,0,0,.2));
            -webkit-background-clip: padding-box;
             -moz-background-clip: padding;
                  background-clip: padding-box;
        }
        li {
            padding: 7px 20px 4px;
            min-width: 120px;
            &:not(:last-child) {
                border-bottom: 1px solid @grayLighter;
            }
            label.active {
                font-weight: 900;
            }
        }
        // Typeahead
        &.typeahead {
          li, a {
            padding: 0;
            margin: 0;
            .border-radius(0);
            text-indent: 0;
          }
          li > a {
            padding: 10px;
          }
        }
    }
}
