#searchForm {
    position: relative;
    display: inline-block;
    float: right;
    position: fixed;
    right: 183px;
    .btn {
        margin-right: 0px;
    }
    input.search-query {
        min-width: 200px;
    }
    label {
        display: inline-block;
        &.hide {
            display: none;
        }
    }
    .rtlFloat(@direction,left);
}
