[data-type="status"] {
  .label {
    text-align: center;
    font-weight: bold;
    padding: 3px 4px 3px;
    font-size: @fontSizeSmall;
    &.st-draft {
      background-color: @gray;
    }
    &.st-expired {
      background-color: @red;
    }
    &.st-review {
      background-color: @yellow;
    }
    &.st-pub-in {
      background-color: @green;
    }
    &.st-pub-ex {
      background-color: darken(@green, 10%);
    }
    &.st-pub {
      background-color: darken(@green, 15%);
    }
  }
}

.dashlet .listed {
  &.kbcontents li {
    p, .details {
      padding: 0;
    }
    h5 {
      font-size: @fontSizeHeader;
    }
  }
}

[data-type="usefulness"] {
  .btn.btn-invisible {
    &:not(.disabled) {
      color: @linkColor;
      &:hover,&:active {
        color: @linkColorHover;
      }
    }
    &.disabled.voted {
      color: @linkColorHover;
      .icon-thumbs-down, .icon-thumbs-up {
        color: @gray;
      }
    }
  }
}

[data-name="kbdocument_body"] {
  .kbdocument-body {
    min-height: 200px;
  }
  span.record-edit-link-wrapper {
    display: none !important;
  }
}

.kb-attachment-link {
  color: @white;
  text-decoration: none;
  &:hover {
    color: @white;
    text-decoration: none;
  }
}

label.kb-attach-btn {
  position: absolute;
  z-index: 10;
  top: 24px;
  left: 18px;
  width: 36px;
  margin:-5px 0px 0px -7px;
}

.kb-download-all-btn {
  position: absolute;
  z-index: 10;
  top: 9px;
  left: 12px;
  width: 32px;
  margin: -5px 0px 0px -7px;
}

.select2-choices-pills-square {
  &.with-padding {
    .select2-choices {
      padding-left: 50px !important;
    }
  }
}

[data-name="language"] {
  span {
    &.disabled {
      top: -4px;
      position: relative;
    }
  }
}
