.label {
  font-weight: 600;
  text-shadow: none;
  color: @white;
  display: inline-block;
  cursor: default;
  padding: 1px 4px 2px;
  .border-radius(@borderRadiusSmall);
}
a.label,
a > .label,
.label a {
  font-weight: 600;
  text-shadow: none;
  color: @white;
  text-decoration: none;
  cursor: pointer;
}

.label-module {
  height: @sizeDefault;
  width: @sizeDefault;
  font-size: 11px;
  line-height: 11px;
  padding: 3px 0 0 3px;

  margin: 0;
  font-weight: 400;
  border: none;
  .border-radius(@baseBorderRadius);
  .box-sizing(border-box);
}
.label-module-lg {
  height: @sizeLarge;
  width: @sizeLarge;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 0 0 5px;
}
.label-module-md {
  height: @sizeMedium;
  width: @sizeMedium;
  font-size: 13px;
  line-height: 13px;
  padding: 3px 0 0 4px;
}
.label-module-btn {
  height: @sizeButton;
  width: @sizeButton;
  font-size: 11px;
  line-height: 11px;
  padding: 3px 0 0 4px;
}
.label-module-sm {
  height: @sizeSmall;
  width: @sizeSmall;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 0 0 2px;
}
.label-module-mini {
  height: @sizeMini;
  width: @sizeMini;
  font-size: 8px;
  line-height: 8px;
  padding: 3px 0 0 2px;
}

.dropdown-menu .label-module-mini {
  margin: -2px 4px 0 0;
  vertical-align: middle;
}
.disabled .label-Users, .inactive [class*=" label-"] {
  background-color: darken(@grayLighter, 15%);
}

.label {
  &-important {background-color: @btnDangerBackground;}
  &-warning {background-color: @yellow;}
  &-pending {background-color: @orange;}
  &-success {background-color: @btnSuccessBackground;}
  &-info {background-color: @btnInfoBackground;}
  &-inverse, &-unknown {background-color: @grayDark;}
  &-log {background-color: darken(@gray,10%);}

/* Modules */
  &-Bugs {background-color: @red;}
  &-Cases {background-color: darken(@red,20%);}

  &-Prospects {background-color: darken(@pink,20%);}
  &-ProspectLists {background-color: darken(@pink,20%);}
  &-Targets {background-color: darken(@pink,15%);}
  &-TargetLists {background-color: darken(@pink,15%);}
  &-Emails {background-color: darken(@pink,10%);}
  &-Tasks {background-color: @pink;}

  &-Opportunities {background-color: darken(@purple,5%);}
  &-RevenueLineItems {background-color: darken(@purple,20%);}
  &-Products {background-color: darken(@purple,20%);}
  &-Forecasts {background-color: darken(@orange,5%);}

  &-Quotes {background-color: darken(@ocean,20%);}
  &-Notes {background-color: darken(@ocean,10%);}

  &-Accounts {background-color: @green;}
  &-Contacts {background-color: darken(@green,10%);}
  &-Leads {background-color: lighten(@blue,10%);}

  &-Reports {background-color: @orange;}
  &-Files {background-color: darken(@orange,10%);}
  &-Documents {background-color: darken(@orange,15%);}
  &-KBDocuments {background-color: darken(@orange,20%);}

  &-Calendar {background-color: darken(@blue,10%);}
  &-Meetings {background-color: @yellow;}
  &-Calls {background-color: darken(@blue,25%);}

  &-Campaigns {background-color: darken(@army,19%);}
  &-CampaignLog {background-color: darken(@army,25%);}
  &-Workflow {background-color: darken(@army,33%);}

  &-Users {background-color: @grayDarker;}

  &-KBSDocuments {background-color: darken(@orange,20%);}
  &-KBSArticles {background-color: darken(@orange,20%);}
  &-KBSContents {background-color: darken(@orange,20%);}
  &-KBSTopics {background-color: darken(@orange,20%);}
  &-KBLocalizations {background-color: darken(@blue,20%);}
  &-KBRevisions {background-color: darken(@purple,20%);}
}

/* Disabled: no box-shadow*/
.disabled .label-module.label,
.disabled .label-module-sm.label,
.disabled .label-module-mini.label {
  .box-shadow(none);
}
