/*sugar mods*/

.label,
.badge {
  font-weight: normal;
  text-shadow: none;
  color: @black;
  height:12px;
  display:inline-block;
}


// Sugar Custom Colors
/* mobile
.label,
.badge {
  // Important (red)
  &-important         { background-color: @btnDangerBackground; }
  &-important[href]   { background-color: darken(@btnDangerBackground, 10%); }
  &-warning           { background-color: @orange; }
  &-warning[href]     { background-color: darken(@orange, 10%); }
  // Success (green)
  &-success           { background-color: @btnSuccessBackground; }
  &-success[href]     { background-color: darken(@btnSuccessBackground, 10%); }
  // Info (turquoise)
  &-info              { background-color: @btnInfoBackground; }
  &-info[href]        { background-color: darken(@btnInfoBackground, 10%); }
  &-inverse           { background-color: @grayDark; }
  &-inverse[href]     { background-color: darken(@grayDark, 10%); }
  &-log           { background-color: @gray; }
  &-log[href]     { background-color: darken(@gray, 10%); }
  &-document           { background-color: @purple; }
  &-document[href]     { background-color: darken(@purple, 10%); }
  &-file           { background-color: @orange; }
  &-file[href]     { background-color: darken(@orange, 10%); }
  &-contact           { background-color: @blue; }
  &-contact[href]     { background-color: darken(@blue, 10%); }
  &-lead           { background-color: @green; }
  &-lead[href]     { background-color: darken(@green, 10%); }
  &-note           { background-color: @warningText; }
  &-note[href]     { background-color: darken(@warningText, 10%); }
}
*/

.label-module {
  height: 38px !important;
  width: 38px !important;
  font-size: 16px !important;
  line-height: 16px !important;
  padding: 4px 0 0 4px !important;
  margin: 0 !important;
  border-radius: @baseBorderRadius !important;
  border: none !important;
}

.label,
.badge {
  &-important, 
  &-important[href]   { background-color: @btnDangerBackground; color:@white;}
  &-warning, 
  &-warning[href]     { background-color: @orange; color:@white;}
  &-success, 
  &-success[href]     { background-color: @btnSuccessBackground; color:@white;}
  &-info, 
  &-info[href]        { background-color: @btnInfoBackground; color:@white;}
  &-inverse, 
  &-inverse[href]     { background-color: @grayDark; color:@white;}
  &-log, 
  &-log[href]         { background-color: darken(@gray, 10%); color:@white;}
  &-opportunity { background-color: @purple; color:@white; text-shadow: 0 -1px 1px darken(@purple, 10%); box-shadow: inset 0 -2px 0 darken(@purple, 10%), inset 0 0 1px darken(@purple, 10%);}
  &-opportunity[href] { background-color: @purple; color:@white; text-shadow: 0 -1px 1px darken(@purple, 10%); box-shadow: inset 0 -2px 0 darken(@purple, 10%), inset 0 0 1px darken(@purple, 10%);}
  &-files,
  &-files[href]       { background-color: @orange; color:@white; text-shadow: 0 -1px 1px darken(@orange, 10%); box-shadow: inset 0 -2px 0 darken(@orange, 10%), inset 0 0 1px darken(@orange, 10%);}
  &-contacts,
  &-contacts[href]    { background-color: @blue; color:@white; text-shadow: 0 -1px 1px darken(@blue, 10%); box-shadow: inset 0 -2px 0 darken(@blue, 10%), inset 0 0 1px darken(@blue, 10%);}
  &-account,
  &-accounts[href]    { background-color: @green; color:@white; text-shadow: 0 -1px 1px darken(@green, 10%); box-shadow: inset 0 -2px 0 darken(@green, 10%), inset 0 0 1px darken(@green, 10%);}
  &-notes, 
  &-notes[href]       { background-color: @warningText; color:@white; text-shadow: 0 -1px 1px darken(@green, 10%); box-shadow: inset 0 -2px 0 darken(@green, 10%), inset 0 0 1px darken(@green, 10%);}
  &-cases,
  &-cases[href]       { background-color: darken(@blueLight,10%); color:@white; text-shadow: 0 -1px 1px darken(@green, 10%); box-shadow: inset 0 -2px 0 darken(@green, 10%), inset 0 0 1px darken(@green, 10%);}
  &-bugs,
  &-bugs[href]        { background-color: @red; color:@white; text-shadow: 0 -1px 1px darken(@red, 10%); box-shadow: inset 0 -2px 0 darken(@red, 10%), inset 0 0 1px darken(@red, 10%);}
  &-kbdocuments,
  &-kbdocuments[href] { background-color: lighten(@purple,20%); color:@white; text-shadow: 0 -1px 1px darken(@purple,30%); box-shadow: inset 0 -2px 0 darken(@purple,30%), inset 0 0 1px darken(@purple,30%);}
}