.label {
  font-weight: 600;
  text-shadow: none;
  color: @white;
  display:inline-block;
  cursor: default;
}
.label {
  padding: 1px 4px 2px;
  .border-radius(@baseBorderRadius);
}
a.label,
a > .label,
.label a {
  font-weight: 600;
  text-shadow: none;
  color: @white;
  text-decoration: none;
  cursor: pointer;
}
.label-module {
  height: 38px;
  width: 38px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 0 0 4px;
  margin: 0;
  border: none;
}
.label-module-sm {
  height: 24px;
  width: 24px;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  margin: 0;
  border: none;
  padding: 2px 0 0 2px;
}
.label-module-mini {
  height: 14px;
  width: 14px;
  font-weight: 600;
  font-size: 8px;
  line-height: 8px;
  margin: 0;
  border: none;
  padding: 2px 0 0 2px;
  .border-radius(@baseBorderRadius - 1px);
}
.dropdown-menu .label-module-mini {
  margin: 0 10px 0 0;
}
.disabled .label-Users {
  background-color: @grayLight;
  .box-shadow(0 2px 0 @grayLight);
}
.label {
  &-important {background-color: @btnDangerBackground;}
  &-warning {background-color: @orange;}
  &-pending {background-color: @yellow;}
  &-success {background-color: @btnSuccessBackground;}
  &-info {background-color: @btnInfoBackground;}
  &-inverse {background-color: @grayDark;}
  &-log {background-color: darken(@gray,10%);}

/* Modules */
  &-Accounts {background-color: @green;.box-shadow(0 2px 0 darken(@green,5%));}
  &-Bugs {background-color: darken(@red,10%);.box-shadow(0 2px 0 darken(@red,15%));}
  &-Campaigns {background-color: darken(@blue,20%);.box-shadow(0 2px 0 darken(@blue,30%));}
  &-Calendar {background-color: darken(@yellow,10%);.box-shadow(0 2px 0 darken(@yellow,15%));}
  &-Cases {background-color: darken(@red,20%);.box-shadow(0 2px 0 darken(@red,30%));}
  &-Calls {background-color: darken(@blue,10%);.box-shadow(0 2px 0 darken(@blue,15%));}
  &-Contacts {background-color: darken(@green,10%);.box-shadow(0 2px 0 darken(@green,15%));}
  &-Documents {background-color: darken(@orange,30%);.box-shadow(0 2px 0 darken(@orange,35%));}
  &-Emails {background-color: darken(@blue,35%);.box-shadow(0 2px 0 darken(@blue,40%));}
  &-Forecasts {background-color: darken(@orange,10%);.box-shadow(0 2px 0 darken(@orange,15%));}
  &-KBDocuments {background-color: darken(@orange,20%);.box-shadow(0 2px 0 darken(@orange,25%));}
  &-Leads {background-color: darken(@green,20%);.box-shadow(0 2px 0 darken(@green,25%));}
  &-Meetings {background-color: @yellow;.box-shadow(0 2px 0 darken(@yellow,5%));}
  &-Notes {background-color: @blue;.box-shadow(0 2px 0 darken(@blue,10%));}
  &-Opportunities {background-color: @purple;.box-shadow(0 2px 0 darken(@purple,5%));}
  &-Products {background-color: darken(@purple,10%);.box-shadow(0 2px 0 darken(@purple,15%));}
  &-Prospects {background-color: @pink;.box-shadow(0 2px 0 darken(@pink,5%));}
  &-ProspectLists {background-color: darken(@pink,10%);.box-shadow(0 2px 0 darken(@pink,15%));}
  &-Reports {background-color: darken(@orange,10%);.box-shadow(0 2px 0 darken(@orange,15%));}
  &-Quotes {background-color: darken(@purple,20%);.box-shadow(0 2px 0 darken(@purple,25%));}
  &-Users {background-color: @grayDarker;.box-shadow(0 2px 0 darken(@grayDarker,5%));}
  &-Tasks {background-color: @orange;.box-shadow(0 2px 0 darken(@orange,5%));}
}
