.container-fluid {
  margin-top: 20px;
}

.container-fluid.contentflex,
.container-fluid#contentflex,
#content .container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  top: 47px;
  bottom: 44px;
  position: absolute;
}


/*.row-fluid .main-pane.below-subnav,
.row-fluid .side.sidebar-content.below-subnav {
  top: 92px;
}*/

.row-fluid .main-pane,
.row-fluid .side.sidebar-content {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0px;
  bottom: 0px;
}

.row-fluid .main-pane.span8 {
  width: 66%;
  margin-left: 0px
}

.row-fluid .side.sidebar-content.span4 {
  right: 1px;
  margin: 0;
  width: 34%;
  background-image: url('@{textureSecondary}');
}

.row-fluid .side.sidebar-content.hide {
  display: none;
}

