.container-fluid {
  margin-top: 20px;
}

#content {
  position: absolute;
  width: 100%;
  top: 47px;
  right: 0;
  bottom: 44px;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  & > div {
    height: 100%;
  }
}


/*.row-fluid .main-pane.below-subnav,
.row-fluid .side.sidebar-content.below-subnav {
  top: 92px;
}*/

#contentflex > .row-fluid > .span8,
.row-fluid .main-pane,
#contentflex > .row-fluid > .tab-content.span4,
.row-fluid .side.sidebar-content.span4 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  .rtlFloat(@direction,right);
}

#contentflex > .row-fluid > .span8,
.row-fluid .main-pane.span8 {
  width: 66%;
  margin-left: 0;
}

#contentflex > .row-fluid > .tab-content.span4,
.row-fluid .side.sidebar-content.span4 {
  width: 34%;
  right: 1px;
  margin: 0;
  background-image: url('@{textureSecondary}');
}

#contentflex > .row-fluid > .tab-content.span4.hide,
.row-fluid .side.sidebar-content.hide {
  display: none;
}

.main-pane {
  .list-view {
    overflow-y: auto;
    width: 100%;
  }
}


//make forecast main content area 100% height
#contentflex > .row-fluid > .span8 > div:last-child,
#view-sales-rep,
#view-manager,
.view-forecastsWorksheet,
.view-forecastsWorksheetManager,
.view-forecastsWorksheet > div,
.view-forecastsWorksheetManager > div,
.view-forecastsWorksheet .dataTables_wrapper,
.view-forecastsWorksheetManager .dataTables_wrapper {
  height: 100%;
}

