// quick create lead modal
.layout_Leads .modal .dataTables_filter {
    height: 166px;
    overflow-y: scroll;
    border-bottom: 3px solid @gray;
    background-color: @warningBackground;
}
.layout_Leads .modal .alert.alert-warning.alert-block {
    border-radius: 0;
    margin-bottom: 0;
}

.layout_Leads .modal .dataTables_filter::-webkit-scrollbar-track-piece,
.layout_Leads .card2.modal-content::-webkit-scrollbar-track-piece
{
    background-color:#fff;
    -webkit-border-radius:0;
}
.layout_Leads .modal .dataTables_filter::-webkit-scrollbar,
.layout_Leads .card2.modal-content::-webkit-scrollbar
{
    width:8px;
    height:8px;
}
.layout_Leads .modal .dataTables_filter::-webkit-scrollbar-thumb,
.layout_Leads .card2.modal-content::-webkit-scrollbar-thumb
{
    height:50px;
    background-color:#999;
    -webkit-border-radius:4px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
.layout_Leads .modal .dataTables_filter::-webkit-scrollbar-thumb:hover,
.layout_Leads .card2.modal-content::-webkit-scrollbar-thumb:hover
{
    height:50px;
    background-color:#9f9f9f;
    -webkit-border-radius:4px;
}

.layout_Leads .modal .table-striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: lighten( @warningBackground, 3%);
    }
  }
}
.layout_Leads .modal .table {
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: darken(@warningBackground, 5%);
  }
}

// ACCORDION
// ---------
.layout_Leads .accordion-heading {
  background-color:@grayLighter;
  border-bottom: 0;
  cursor: pointer;
}

.layout_Leads .accordion-heading.disabled{
  color: @grayLight;
}

.layout_Leads .accordion-heading.active {
  background-color:@white;
}

.layout_Leads .accordion-heading.enabled .module-number {
  font-weight: bold;
}

.layout_Leads .accordion-heading.enabled .title {
  font-weight: bold;
}

.layout_Leads .accordion-heading .completed,
.layout_Leads .accordion-heading .subview-toggle,
.layout_Leads .accordion-heading .toggle-subview.show-duplicate {
  display:none;
}

.avatar-widget .pull-left {
  width:12.5%;
  text-align:center;
}
.avatar-widget .avatar.preview .icon-plus {
  text-align:left;
}


div.want_filter {
  line-height:18px;
  padding:8px 8px 8px 16px;
  border-top:1px solid #E8E8E8;
  border-bottom:1px solid #E8E8E8;
}

div.want_filter.highlight,
table.duplicates.highlight tbody tr:nth-child(even) td {
  background-color:#FCF9E8; 
}

table.duplicates.highlight thead th,
table.table-striped.duplicates.highlight tbody tr:nth-child(odd) td,
table.duplicates.highlight tbody td {
  background-color:#FCFCF2;
}


.layout_Leads .want_filter .form-search > .row-fluid,
.layout_Leads .want_filter .form-search .filter-header {
display:none;
}


.layout_Leads .want_filter .form-search .extend {
  margin-top:-5px;
}

.layout_Leads .want_filter .form-search > .hide:not(.mu) {
display:block !important;
}

.layout_Leads .want_filter.active {
padding:0;
}

.layout_Leads .want_filter .row-fluid {
margin: 0;
}
