// quick create lead modal
.layout_Leads {
  // Modal
  .modal {
    .dataTables_filter {
      height: 166px;
      overflow-y: scroll;
      border-bottom: 3px solid @gray;
      background-color: @warningBackground;
    }
    .alert.alert-warning.alert-block {
      border-radius: 0;
      margin-bottom: 0;
    }
    .table-striped {
      tbody {
        tr:nth-child(odd) td,
        tr:nth-child(odd) th {
          background-color: lighten( @warningBackground, 3%);
        }
      }
    }
    .table {
      tbody tr:hover td,
      tbody tr:hover th {
        background-color: darken(@warningBackground, 5%);
      }
    }
  }
  // Modal Content
  .modal .dataTables_filter,
  .card2.modal-content {
    &::-webkit-scrollbar-track-piece {
      background-color:#fff;
      -webkit-border-radius:0;
    }
    &::-webkit-scrollbar
    {
      width:8px;
      height:8px;
    }
    &::-webkit-scrollbar-thumb
    {
      height:50px;
      background-color:#999;
      -webkit-border-radius:4px;
      outline:2px solid #fff;
      outline-offset:-2px;
      border: 2px solid #fff;
    }
    &::-webkit-scrollbar-thumb:hover
    {
      height:50px;
      background-color:#9f9f9f;
      -webkit-border-radius:4px;
    }
  }
}

//Converted Results View
.converted-results .associated{
  font-weight: bold;
}

.avatar-widget .pull-left {
  width:12.5%;
  text-align: center;
}
.avatar-widget .avatar.preview .icon-plus {
  text-align: left;
}

// ACCORDION
// ---------
.accordion {
  // Header
  .header {
    background-color:@grayLighter;
    border-bottom: 0;
    cursor: pointer;
    position: relative;
    &.disabled{
      color: @grayLight;
    }
    &.active {
      background-color:@white;
      .subview-toggle-indicator .icon-caret-down::before {
        content: "\f0d8";
      }
    }
    &.enabled .module-number {
      font-weight: bold;
    }
    &.enabled .title {
      font-weight: bold;
    }
    .completed,
    .subview-toggle,
    .toggle-subview.show-duplicate {
      display:none;
    }
    .subview-toggle-indicator {
      float: right;
      margin-left: 12px;
      i {
        font-size: 16px;
      }
    }
  }
  .headerpane {
    background: none;
    border: none;
    h1 {
      margin-top: 26px;
    }
    span[data-type="fieldset-with-labels"] {
      margin-top: 4px;
      margin-bottom: -17px;
    }
    span[data-type="image"] {
      top: -13px;
    }
    .record-label {
    }
    .btn-toolbar.pull-right.dropdown {
      display: none;
    }
    .label-module {
      top: -7px;
    }
  }
  // Inner needs the styles because you can't animate properly with any styles on the element
  .accordion-inner {
    padding: 0px 0px;
    border-top: 1px solid #e5e5e5;
  }
  .accordion-group {
    margin-bottom: 0px;
  }
  table.dataTable {
    tr:last-child td {
      border-bottom: none !important;
    }
    td:first-child {
      text-align: center;
    }
    td,
    th {
      border-color: darken(#FCF9E8,10%);
      .controls {
        padding:  5px 0;
      }
    }
  }
}

// Want Filter
div.want_filter {
  .form-search > .row-fluid,
  .form-search .filter-header {
    display:none;
  }
  .form-search .extend {
    margin-top:-5px;
  }
  .form-search > .hide:not(.mu) {
    display:block !important;
  }
  &.active {
    padding:0;
  }
  .row-fluid {
    margin: 0;
  }
  &.highlight {
    padding: 11px;
    text-align: center;
    border-bottom: 1px solid darken(#FCF9E8,10%);
  }
}

div.filter_el,
div.want_filter {
  line-height: 20px;
  border-top: 1px solid @white;
}

div.filter_el {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid darken(@grayLighter,10%);
  div.header {
    padding: 14px 16px 14px 16px;
  }
  div.step_extend {
    padding: 0;
  }
}

.record.active div.filter_el:last-child {
  border-top: 0;
}

.record.active article.highlight,
div.filter_el.highlight,
div.want_filter.highlight {
  background-color: #FCF9E8;
}

#search_option_ .row-fluid {
  margin: 6px 0 8px 0;
}

.step-circle {
  > span {
    display: inline-block;
    line-height: 20px;
    font-weight: 400;
  }
  //text
  .step-circle-left {
    margin: 0 20px 0 26px;
    font-size: 22px;
  }
  //ok-sign
  .step-circle-right {
    display: none;
  }
  .step-circle-right.complete {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 20px;
    line-height: 20px;
    top: 14px;
    left: 20px;
    display: inline-block;
    color: @green;
  }
}

.step_1_container {
  .form-horizontal {
    background: @grayLighter;
    margin-bottom:0;
    padding-bottom:1px;
    padding-top:10px;
    .control-label {
      border:0 !important;
      background:none;
    }
  }
  .form-search {
    padding-top:0;
  }
  .filter-options.extend {
    margin-top:0;
    article {
      padding:0px 8px 0 20px;
    }
  }
  &>.row-fluid {
    margin:0;
  }
}

//CAROUSEL
.carousel.slide {
  .carousel-control {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 40px;
    margin-top: -20px;
    text-align: center;
    background: none;
    border: none;
    .border-radius(0);
    .opacity(100);
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    font-size: 50px;
    font-weight: 100;
    line-height: 30px;
    color: @grayLight;
    -webkit-font-smoothing: antialiased;
    &.left{
      left: 0;
      &::before {
        content: "\f0d9";
      }
    }
    &.right {
      right: 0;
      &::before {
        content: "\f0da";
      }
    }
    &:hover {
      text-decoration: none;
      color: @gray;
    }
  }
  margin-bottom: 0;
  padding: 0 25px 0 25px;
  .thumbnails {
    margin-bottom: 0;
    iframe {
      max-width: 100%;
      width: 100%;
    }
    > li {
      margin-bottom: 0;
    }
    .thumbnail {
      background-color: @grayLighter;
      border: 1px solid @grayLight;
      padding-top: 8px;
      margin-bottom: 0px !important;
      .box-shadow( 2px 2px 10px rgba(0, 0, 0, 0.1) );
      .caption {
        text-align: center;
      }
    }
  }
}
