// quick create lead modal
.layout_Leads .modal .dataTables_filter {
    height: 166px;
    overflow-y: scroll;
    border-bottom: 3px solid @gray;
    background-color: @warningBackground;
}
.layout_Leads .modal .alert.alert-warning.alert-block {
    border-radius: 0;
    margin-bottom: 0;
}

.layout_Leads .modal .dataTables_filter::-webkit-scrollbar-track-piece,
.layout_Leads .card2.modal-content::-webkit-scrollbar-track-piece
{
    background-color:#fff;
    -webkit-border-radius:0;
}
.layout_Leads .modal .dataTables_filter::-webkit-scrollbar,
.layout_Leads .card2.modal-content::-webkit-scrollbar
{
    width:8px;
    height:8px;
}
.layout_Leads .modal .dataTables_filter::-webkit-scrollbar-thumb,
.layout_Leads .card2.modal-content::-webkit-scrollbar-thumb
{
    height:50px;
    background-color:#999;
    -webkit-border-radius:4px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
.layout_Leads .modal .dataTables_filter::-webkit-scrollbar-thumb:hover,
.layout_Leads .card2.modal-content::-webkit-scrollbar-thumb:hover
{
    height:50px;
    background-color:#9f9f9f;
    -webkit-border-radius:4px;
}

.layout_Leads .modal .table-striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: lighten( @warningBackground, 3%);
    }
  }
}
.layout_Leads .modal .table {
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: darken(@warningBackground, 5%);
  }
}

// EMAIL COMPOSE
// -------------

.main-pane.span8 form[name="compose"] {
  padding: 20px;
  //margin-top: 112px;
}
// ACCORDION
// ---------
.layout_Leads .accordion-heading {
  background-color:@grayLighter;
  border-bottom: 0;
  cursor: pointer;
}

.layout_Leads .accordion-heading.disabled{
  color: @grayLight;
}

.layout_Leads .accordion-heading.active {
  background-color:@white;
}

.layout_Leads .accordion-heading.enabled .module-number {
  font-weight: bold;
}

.layout_Leads .accordion-heading.enabled .title {
  font-weight: bold;
}

.layout_Leads .accordion-heading .completed,
.layout_Leads .accordion-heading .subview-toggle,
.layout_Leads .accordion-heading .toggle-subview.show-duplicate {
  display:none;
}

.avatar-widget .pull-left {
  width:12.5%;
  text-align:center;
}
.avatar-widget .avatar.preview .icon-plus {
  text-align:left;
}


div.filter_el,
div.want_filter {
  line-height:18px;
  border-top:1px solid #E8E8E8;
  border-bottom:1px solid #E8E8E8;
}

div.filter_el {
  padding-right:0;
  padding-left:0;
  div.header {
    padding:8px 8px 8px 16px;
  }
  div.step_extend {
    padding:0;
  }
}

.record.active .filter_el:last-child {
  border-top:0;
}

.record.active article.highlight,
div.filter_el.highlight,
div.want_filter.highlight,
table.duplicates.highlight tbody tr:nth-child(even) td {
  background-color:#FCF9E8;
}

table.duplicates.highlight thead th,
table.table-striped.duplicates.highlight tbody tr:nth-child(odd) td,
table.duplicates.highlight tbody td {
  background-color:#FCFCF2;
}


.layout_Leads .want_filter .form-search > .row-fluid,
.layout_Leads .want_filter .form-search .filter-header {
display:none;
}


.layout_Leads .want_filter .form-search .extend {
  margin-top:-5px;
}

.layout_Leads .want_filter .form-search > .hide:not(.mu) {
display:block !important;
}

.layout_Leads .want_filter.active {
padding:0;
}

.layout_Leads .want_filter .row-fluid {
margin: 0;
}

#search_option_ .row-fluid {
margin: 6px 0 8px 0;
}

.step-circle {

}

.step-circle > span {
  display: inline-block;
  line-height:20px;
  font-weight:900;
}

.step-circle .step-circle-left {
  margin-right:12px;
}

.step-circle .step-circle-right {
  .border-radius(10px);
  margin-right:12px;
  display:inline-block;
  height:10px;
  width:10px;
  background: @grayLight;
  font-size:8px;
  line-height:10px;
  text-indent:2px;
}

.step-circle .step-circle-right.complete {
  background:@green;
  color:@white;
}


.step_1_container .form-horizontal {
  background: @grayLighter;
  margin-bottom:0;
  padding-bottom:1px;
  padding-top:10px;
  .control-label {
    border:0 !important;
    background:none;
  }
}

.step_1_container {
  .form-search {
    padding-top:0;
  }
  .filter-options.extend {
    margin-top:0;
    article {
      padding:0px 8px 0 20px;
    }
  }
  &>.row-fluid {
    margin:0;
  }
}

table td {
  overflow:visible !important;
}

//CAROUSEL
.carousel.slide {
  .carousel-control {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 40px;
    margin-top: -20px;
    text-align: center;
    background: none;
    border: none;
    .border-radius(0);
    .opacity(100);
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    font-size: 50px;
    font-weight: 100;
    line-height: 30px;
    color: @grayLight;
    -webkit-font-smoothing: antialiased;
    &.left{
      left: 0;
      &::before {
        content: "\f0d9";
      }
    }
    &.right {
      right: 0;
      &::before {
        content: "\f0da";
      }
    }
    &:hover {
      text-decoration: none;
      color: @gray;
    }
  }
  margin-bottom: 0;
  padding: 0 25px 0 25px;
  .thumbnails {
    margin-bottom: 0;
    iframe {
      max-width: 100%;
      width: 100%;
    }
    > li {
      margin-bottom: 0;
    }
    .thumbnail {
      background-color: @grayLighter;
      border: 1px solid @grayLight;
      margin-bottom: 0px !important;
      .box-shadow( 2px 2px 10px rgba(0, 0, 0, 0.1) );
      .caption {
        text-align: center;
      }
    }
  }
}
