/* from nutmeg */

.modal-body .tab-content {
  overflow: auto;
  height: 310px;
}
.modal-body textarea {
  text-align: left;
}

/* created for admin settings */
.modal-wizard-start {
  position: relative;
  top: 5px;
}

.modal-navigation {
  position: absolute;
  top: 46px;
  width: 100%;
  background-color: @grayLighter;
  border-bottom: 1px solid @grayLight;
  padding: 3px 0px 0px;

  .breadcrumb.two {
    padding-bottom: 3px;

    li.disabled {
      a {
        cursor: default;
      }
      a:hover {
        background: @grayLighter !important;
      }
      a:hover::before {
        border-color: @grayLighter @grayLighter @grayLighter @transparent;
      }
      a:hover::after {
        border-left-color: @grayLighter;
      }
    }
  }
  .nav-tabs {
    margin-bottom: 0px;
    border-bottom: 0px none @trasparent;
  }
}
