#config-accordion .accordion-heading.notification-center {
  height: 100%;
}

#carriers-list {
  input[type="checkbox"] {
    display: inline-block;
  }

  label {
    color: @gray;
  }
}

table.carriers-global-delivery {
  border-style: none;

  th:first-child {
    border-left-style: none;
  }

  td {
    border-left-style: none;
    border-right-style: none;
  }

  th, td {
    text-align: center;
  }

  th.event-name, td.event-name{
    text-align: left;
  }
}
