.omnibar {
  padding: 10px 0 10px 20px;
  margin: 0;
  border-bottom: 1px solid darken(@grayLighter, 5%);
  &.row {
    margin: 0;
  }
  .sayit  {
    padding: 6px 8px; position: relative; z-index: 1;
    border: dashed 1px @grayLight;
    min-height: 30px !important;
    margin: 0;
    color: @gray;
  }
  .sayit:focused  {
    border: solid 1px @grayLight;
    color: @gray;
  }
  .inputactions {
    background: @grayLighter;
    padding: 8px;
    margin: 0;
    z-index: 0;
    position: relative;
    .border-radius(0 0 3px 3px);
  }
  .inputactions a i {
    color: @gray;
    padding: 8px;
    font-size: 18px;
    line-height: 8px;
    margin: 0 8px;
  }
}
