@media print {
    /* Your styles here */
    body {
      padding: 0;
      font-family: "Arial";
    }
    #arrow {
      display: none;
    }
    #dcmenutop {
      background: url('@{baseUrl}/img/sugar-red-sm.png') 0 0 no-repeat;
      display: block;
      margin: 0px;
      padding-bottom: 8px;
      height: 20px;
      width: 100%;
      border: 1px solid #fff;
      border-bottom: 3px solid @red;
    }
    #dcmenu,
    .btn,
    .toggle,
    .dropdown-menu,
    .btn-group,
    .btn-group.open .dropdown-menu,
    footer {
      display: none;
    }
    .dataTables_wrapper {
        overflow-x: visible;
    }
    .chartCanvas,
    .sorting {
      background: none;
      filter: none;
    }
    :root {
      -webkit-print-color-adjust: exact;
    }
}
