
#SpotResults {
  font-weight:bold;
}
#SpotResults div{
  font-size:14px;
  font-weight:bold;

}
#SpotResults div small{
  color: #0B578F;
}

#SpotResults a:hover{
  color:gray;

}
#SpotResults small:hover{
  cursor:pointer;
  color:gray;

}
#SpotResults ul{
  padding: 0px 10px 0px 0px;
  margin-left:0px;
}
#SpotResults ul li{
  margin-left:0px;
  list-style-type:none;
}

#SpotResults li a
{
}

#SpotResults li p.error
{
  padding-top: 10px;
  color: #ff0000;
}

#SpotResults li p.error a
{
  left: 0;
  top: 0;
}

#globalLinksModule {
  float: right;
  height: 43px;
  .rtlFloat(@direction,left);
}


#globalLinksModule:hover {
  background-color:  lighten(@NavigationBar,20%);;
}

#globalLinksCtrl img{
  border: 0px;
}


#quickCreate {
  float: right;
  .rtlFloat(@direction,left);
}

#quickCreate ul.clickMenu {
  background: none;
  border: 0px none;
  padding-right: 0px;
  font-family: Arial;
}


#quickCreate ul.clickMenu > li {
  width: 50px;
  height: 43px;

}
#quickCreate ul.clickMenu li > span {
  background: url('@{baseUrl}/img/quickcreate.png') no-repeat center center;
  height: 43px;
  width: 50px;
}
#globalLinksModule ul.clickMenu li:hover span,
#quickCreate ul.clickMenu > li:hover {
  background-color:  lighten(@NavigationBar,20%); // "transparent" is default to differentiate :hover from .active
  color: lighten(desaturate(@BorderColor, 100%),100%);
  text-shadow: 0 -1px 0 rgb(0,0,0);
}
ul#globalLinksSubnav li { min-width: 120px;}
ul#globalLinksSubnav, ul#quickCreateULSubnav,
#quickCreate ul.clickMenu li ul.subnav, #globalLinksModule ul.clickMenu li ul.subnav{
  top: 43px;
  right: 0;
  left: auto;
  padding: 10px 0px;
  border: 1px solid #999;
  width: auto;
  .rtlLeft(@direction,0);
  .rtlRight(@direction,auto);
}

#quickCreate ul.clickMenu li ul.subnav {
  width: auto;
}

#globalLinksSubnav li a, #quickCreateULSubnav li a,
#quickCreate ul.clickMenu li ul.subnav li a, #globalLinksModule ul.clickMenu li ul.subnav li a {
  padding: 4px 10px !important;
  color: #666666;
  line-height: 1.45;
  .rtlFloat(@direction,right);
  .rtlTextAlign(@direction,right);
}
#quickCreateULSubnav li.moduleMenuOverFlowLess a, #quickCreateULSubnav li.moduleMenuOverFlowMore a,
#quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowMore a, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowLess a {
  color: #999 !important;
}

#quickCreate ul.clickMenu li ul.subnav li a:hover, #globalLinksModule ul.clickMenu li ul.subnav li a:hover, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowMore a:hover, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowLess a:hover {
  color: #fff !important;
}


#quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowMore a img, #quickCreate ul.clickMenu li ul.subnav li.moduleMenuOverFlowLess a img
{
  opacity: .6;
}
