
#sales_stage_filter_chzn {
  width: 100% !important;
  margin-bottom: 4px;
  .chzn-drop {
    padding: 0;
    //padding: 10px;
  }
  .chzn-single-with-drop div b {
    background-position: 0px 0px;
  }
  .search-choice {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border: none !important;
  }
  .search-choice {
    background: #E4E4E4;
    margin-top: 4px;
    &>a {
      height: 12px;
      width: 12px;
      .border-radius(6px);
      background-color: #908f8e;
      background-image: url('@{baseUrl}/img/chosen-sprite-invert.png');
    }
  }
  .chzn-results {
    .icon-ok {
      position: absolute;
      margin-top: -22px;
      margin-left: 2px;
      z-index: 1;
    }
    &> li {
      position: relative;
      text-indent: 22px;
      z-index: 1;
      &.active-result {
        z-index: 2;
      }
      &:not(:hover) {
        background: @white;
        color: @black;
      }
    }
  }
}

.filter {
  position: relative;
  .chzn-container-multi .chzn-drop .result-selected {
    display: block;
    font-weight: bold;

    &:before { //content:"â\00a0\00a0\00a0";
    //content:"\f00c\00a0\00a0\00a0";
    }
  }
  &.forecast {
    .chzn-container-active .chzn-drop {
      right: 0px !important;
      left: auto !important;
    }
  }
}
