
//from nutmeg
/*.form-search {
  margin: 0;
  text-align: center;
  padding: 5px;
  #gradient > .vertical(darken(@grayLighter, 4%), @grayLighter);
  @shadow: inset 0 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.1);
  .box-shadow(@shadow);
  margin: -11px 0 20px;
  z-index: 0;
}*/

// search filter widget
.form-search {
  position: relative;
  margin: -1px 0 0 0;
  border-top: 1px solid darken(@grayLighter, 5%);

  //padding: 5px 10px;
  background: @grayLighter;
  border-bottom: 1px solid darken(@grayLighter, 5%);
  //z-index: 1000;
  .control-group {
    padding: 5px 10px 4px;
  }
  /*chzn filter styles*/
  .filter {
    position: relative;
    margin-left: 0px;
    background-color: @grayLighter;
    //padding: 5px 20px 0px 20px;
    margin-bottom: 0px;
    //border-bottom: 1px solid darken(@grayLighter,5%);
    //border-top: 1px solid darken(@grayLighter,5%);
    .chzn-container {
      .chzn-drop {
        //padding: 10px;
        border: 1px solid @grayLight;
        .caret-top(auto,auto,12px,11px);
      }
      .chzn-single-with-drop div b {
        background-position: 0px 0px;
      }
    }
    .chzn-container-active {
      .chzn-drop {
        right: 0px !important;
        left: auto !important;
      }
    }
    .indicator {
      cursor: pointer;
      position: absolute;
      top: 6px;
      right: 0;
      padding-right: 15px;
      .caret {
        margin-top: 7px;
        margin-left: 5px;
      }
    }
    .chzn-container-multi {
      .search-field {
        height: 20px;
        input {
          padding: 0 0 0 8px;
        }
      }
      .chzn-drop .result-selected {
        display: block;
        font-weight: bold;
        /*&:before { //content:"â\00a0\00a0\00a0";
        //content:"\f00c\00a0\00a0\00a0";
        }*/
      }
    }
  }

  .select2-container {
    width: 100%;
    .select2-single-with-drop div b {
      background-position: 0px 0px;
    }
    .select2-choices {
      padding: 3px 70px 3px 0;
      min-height: 20px;
      border: 1px solid #CDCCCB;
      background-image: none;
      .border-radius(4px);
      .box-shadow(~"inset 0 1px 1px rgba(0, 0, 0, 0.075)");
    }
    .select2-search-field {
      height: 20px;
      input {
        padding: 0 0 0 9px;
        line-height: 19px;
        height: 20px;
      }
    }
    .select2-search-choice {
      padding: 0;
      margin: 4px 4px 4px;
      font-size: 11px;
      background: none;
      border: none;
      .border-radius(0);
      .box-shadow(none);

      span {
        .border-radius(10px 0 0 10px);
        background: #ddd;
        color: #777;
        padding: 2px 4px 2px 6px;
        margin-right: 2px;
      }
      a, span:last-child {
        .border-radius(0 10px 10px 0);
        padding: 2px 6px 2px 4px;
      }
      span:last-child {
        background: @grayLighter;
      }
      a {
        background: #E5F4FB;
      }
      a:hover {
        text-decoration: none;
      }
      a.select2-search-choice-close {
        display: none;
      }
      .filter-disabled a {
        background: @grayLighter;
        color: @gray;
        cursor: pointer;
        &:hover {
          color: @gray;
        }
      }

      /*&.search-choice-focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted 9;
        .box-shadow(~"0 0px 4px 2px rgba(0, 0, 0, .075), 0 0px 8px 3px rgba(82, 168, 236, .6)");
        .border-radius(11px);
        background-color: rgba(82, 168, 236, 0.4);
      }*/
    }
    .select2-select-legend {
      .icon-plus {
        margin-top: 3px;
        line-height: 4px;
      }
    }
  }

  .toolbar-btns {
    width: 150px;
    position: absolute;
    right: 3px;
    top: 6px;
    a.btn {
      &>i {
        color:lighten(@gray,20%) !important;
      }
      &.active > i {
        color:darken(@gray,20%) !important;
      }
    }
  }

  input {
    padding: 4px 8px;
  }

  /*.actions {
    position: absolute;
  }
  .actions {
    right: 10px !important;
    top: 8px !important;
  }
  .actions {
    right: 0 !important;
    top: 0 !important;
  }*/

  .extend {
    background: darken(@grayLighter, 5%);
    //margin: 5px -8px -5px -20px;
    text-align: left;

    article:nth-child(even),
    article:nth-child(odd) {
      background-color: transparent;
      border-top: 1px solid @grayLighter;
      border-bottom: 1px solid @grayLight;
      padding: 7px 8px 7px 20px;
    }

    article.filter-header {
      padding: 9px 8px 7px 20px;
      .box-shadow(~"inset 0px 4px 8px -4px rgba(0, 0, 0, 0.5)");
      input {
        //margin-top: 0px;
      }
    }

    article:last-child {
      .box-shadow(~"inset 0px -2px 6px -6px rgba(0, 0, 0, 0.5)");
    }
  }

  .mu.extend {
    margin-top:-1px;
    .fieldPlaceHolder {
      margin-left:4px;
    }
  }

  .filter-value {
    position: relative;
    .date {
      width: 100%;
      input[type="text"].datepicker,
      input[type="text"].ui-timepicker-input {
        width: 46%;
        padding: 4px 3%;
      }
      input.ui-timepicker-input {
        margin-left: 4%;
      }
      .add-on {
        height: 11px;
        padding: 9px 5px;
      }
    }
  }
  .filter-actions {
    position: relative;
    float: right;
  }
  .filter-close {
    margin-left: 4px;
  }
  .addme,
  .removeme,
  .updateme {
    position: absolute;
    top: 0;
    padding: 5px 7px 3px;
    background-color: darken(@grayLighter, 5%);
  }
  .addme,
  .updateme {
    right: 0;
  }
  .removeme {
    right: 30px;
  }
}

.search-filter-dropdown {
  border: 1px solid @grayLight;
  width: auto;
  margin-top: 5px;
  .caret-top(12px,11px,auto,auto);
  .result-selected {
    display: block;
    font-weight: bold;
    /*&:before { //content:"â\00a0\00a0\00a0";
    //content:"\f00c\00a0\00a0\00a0";
    }*/
  }
  .select2-results {
    margin: 0;
    padding: 0;
    max-height: 235px;
    /*.icon-ok,
    .icon-plus {
      position: absolute;
      margin-top: -29px;
      margin-left: 9px;
      z-index: 1;
    }
    .icon-plus {
      z-index: 2;
    }*/
    li {
      /*position: relative;
      text-indent: 22px;
      z-index: 1;
      padding: 6px 8px;*/
      line-height: 26px;
      border-bottom: 1px solid darken(@grayLighter, 5%);
      /*&.active-result {
        z-index: 2;
      }
      &:not(:hover) {
        background: @white;
        color: @black;
      }*/
    }
    li:hover,
    .select2-highlighted {
      background: @dropdownLinkBackgroundHover;
      color: @dropdownLinkColorHover;
    }
  }
}

#search_filter_chzn {
  width: 100% !important;
  //margin-bottom: 4px;
  .search-choice {
    .border-radius(10px);
    border: none !important;
    background-color: #E4E4E4;
    margin-top: 6px;
    font-size: 12px;
    padding: 0;
    &>a {
      height: 12px;
      width: 12px;
      .border-radius(6px);
      background-color: #908f8e;
      background-image: url('@{baseUrl}/img/chosen-sprite-invert.png');
    }
    &.search-choice-option {
      margin: 4px 4px 4px;
      font-size: 11px;
      .border-radius(0);
      background: none;
      border: none !important;
      .box-shadow(none);
      &>span {
        .border-radius(10px 0 0 10px);
        background: #ddd;
        color: #777;
        padding: 2px 4px 2px 6px;
        margin-right: 2px;
      }
      &>a, &>span:last-child {
        .border-radius(0 10px 10px 0);
        padding: 2px 6px 2px 4px;
      }
      &>span:last-child {
        background: @grayLighter;
      }
      &>a {
        background: #E5F4FB;
      }
      &>a:hover {
        text-decoration: none;
      }
      &.filter-disabled a {
        background: @grayLighter;
        color: @gray;
        cursor: pointer;
        &:hover {
          color: @gray;
        }
      }
    }
    &.search-choice-focus {
      border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted 9;
      .box-shadow(~"0 0px 4px 2px rgba(0, 0, 0, .075), 0 0px 8px 3px rgba(82, 168, 236, .6)");
      .border-radius(11px);
      background-color: rgba(82, 168, 236, 0.4);
    }
  }
  .chzn-choices {
    padding: 3px 70px 3px 0;
  }
  .chzn-results {
    max-height: none;
    .icon-ok,
    .icon-plus {
      position: absolute;
      margin-top: -29px;
      margin-left: 9px;
      z-index: 1;
    }
    .icon-plus {
      z-index: 2;

    }
    &> li {
      position: relative;
      text-indent: 22px;
      z-index: 1;
      padding: 6px 8px;
      &.result-separator {
        border-top: 1px solid lighten(@grayDark,10%);
      }
      &.active-result {
        z-index: 2;
      }
      &:not(:hover) {
        background: @white;
        color: @black;
      }
    }
  }
  .chzn-select-legend {
    .icon-plus {
      margin-top: 3px;
      line-height: 4px;
    }
  }
  .filter-create {
    position: absolute;
    top: 0px;
    padding-top: 2px;
    right: 29px;
    width: 28px;
    font-size: 12px;
    line-height: 2.2em;
    color: #999;
    cursor: pointer;
    text-align: center;
  }
}

.inset-form {
  padding-top: 0;
  .filter-options {
    margin-top: 0;
    .box-shadow(~"inset 0px 4px 8px -4px rgba(0, 0, 0, 0.5)");
  }
}
