// search filter widget
.form-search-related {
  position: relative;
  margin: -1px 0 0 0;
  border-top: 1px solid darken(@grayLighter, 5%);
  background: @grayLighter;
  border-bottom: 1px solid darken(@grayLighter, 5%);
  .control-group {
    padding: 5px 10px;
  }
  .search-name {
    position: absolute;
    left: auto;
    width: 100%;
    .box-sizing(border-box);
    height: 26px;
    border: 0;
    margin-top: 2px;
    box-shadow: none;
  }
  .search-name:focus {
    border: 0;
    .box-shadow(none);
  }

  .filter-view {
    border: 1px solid @inputBorder;
    position: relative;
    margin-left: 0px;
    background-color: @white;
    margin-bottom: 0px;
    overflow: hidden;
    height: 28px;
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,0.075)");
    .border-radius(2px);

    .select2-container {
      &.select2-container-disabled .select2-choice div {
        background: none;
        .icon-caret-down {
          display: none;
        }
      }
      .select2-choice {
        padding: 0;
        margin: 0 0 2px 4px;
        font-size: @fontSizeSmall;
        background: none;
        border: none;
        .border-radius(0);
        .box-shadow(none);
        span {
          display: inline;
          margin-right: 0;
        }
        div {
          display: inline-block;
          width: auto;
          height: auto;
          position: relative;
          right: auto;
          top: auto;
        }
        span.select2-choice-type {
          .border-radius(10px 0 0 10px);
          color: #777;
          padding: 4px 4px 4px 6px;
          margin-right: 2px;
          background: @grayLighter;
          i[class^="icon-"] {
            margin-left: 4px;
          }
        }
        a.select2-choice-related,
        a.select2-choice-filter {
          .border-radius(0 10px 10px 0);
          padding: 4px 6px 4px 4px;
        }
        a.select2-choice-related {
          background: #c0f0ca;
          color: #407648;
        }
        a.select2-choice-filter {
          background: #E5F4FB;
        }
        a:hover {
          text-decoration: none;
        }
        a.select2-search-choice-close {
          display: none;
        }
        .filter-disabled a {
          background: @grayLighter;
          color: @gray;
          cursor: pointer;
          &:hover {
            color: @gray;
          }
        }
      }
    }
  }
  .filter-view:focus {
    border-color: rgba(82,168,236,0.8);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
  }

  .select2-container {
    z-index: 10;
    .select2-single-with-drop div b {
      background-position: 0px 0px;
    }
    .select2-choices {
      padding: 3px 0;
      min-height: 20px;
      border: none;
      background-image: none;
      .border-radius(4px);
      .box-shadow(none);
    }
    .select2-select-legend {
      .icon-plus {
        margin-top: 3px;
        line-height: 4px;
      }
    }
  }

  .toolbar-btns {
    width: 150px;
    position: absolute;
    right: 3px;
    top: 6px;
    a.btn {
      &>i {
        color:lighten(@gray,20%) !important;
      }
      &.active > i {
        color:darken(@gray,20%) !important;
      }
    }
  }

  input {
    padding: 4px 8px;
  }
  .extend {
    background: darken(@grayLighter, 5%);
    text-align: left;

    article:nth-child(even),
    article:nth-child(odd) {
      background-color: transparent;
      border-top: 1px solid @grayLighter;
      border-bottom: 1px solid darken(@grayLighter, 15%);
      padding: 7px 8px 7px 10px;
    }

    article.filter-header,
    .inset-form-header {
      padding: 9px 8px 7px 20px;
      line-height: 28px;
      .box-shadow(~"inset 0px 4px 8px -4px rgba(0, 0, 0, 0.5)");
      border-top: none;
    }

    article:last-child {
      .box-shadow(~"inset 0px -2px 6px -6px rgba(0, 0, 0, 0.5)");
    }
  }

  .mu.extend {
    .fieldPlaceHolder {
      margin-left:4px;
    }
  }

  .filter-value {
    position: relative;
    .date {
      width: 100%;
      input[type="text"].datepicker,
      input[type="text"].ui-timepicker-input {
        width: 46%;
        padding: 4px 3%;
      }
      input.ui-timepicker-input {
        margin-left: 4%;
      }
      .add-on {
        height: 11px;
        padding: 9px 5px;
      }
    }
  }
  .filter-actions {
    position: relative;
    float: right;
  }
  .filter-close {
    margin-left: 4px;
  }
  .addme,
  .removeme,
  .updateme {
    position: absolute;
    top: 0;
    padding: 5px 7px 3px;
    background-color: darken(@grayLighter, 5%);
  }
  .addme,
  .updateme {
    right: 0;
  }
  .removeme {
    right: 30px;
  }
}

.search-related-dropdown {
  border: 1px solid @grayLight;
  width: auto;
  margin-top: 5px;
  .caret-top(12px,11px,auto,auto);
  .result-selected {
    display: block;
    font-weight: bold;
  }
  .select2-results {
    margin: 0;
    padding: 0;
    max-height: 235px;

    li {
      line-height: 26px;
      border-bottom: 1px solid darken(@grayLighter, 5%);
    }
    li:hover,
    .select2-highlighted {
      background: @dropdownLinkBackgroundHover;
      color: @dropdownLinkColorHover;
    }
  }
}

