.side {
  >.tab-pane,
  >.side-pane,
  >.preview-pane {
    display: none;
    &.active {
      display: block;
    }
  }
  >.tab-pane {
    width: 90%;
    padding: 62px 5% 8px;
  }
  >.side-pane {
    width: 100%;
    &.active {
      display: inline-block;
    }
  }
  >.preview-pane {
    width: 100%;
    border: none;
  }
  .accordion {
    margin: -10px 0 0 0;
    .accordion-group {
      margin-bottom: -1px;
      .border-radius(0);
      border-color: @grayLighter;
    }
  }
  article {
    padding: 0;
    a {
      padding: 10px;
      display: block;
    }
  }
}
