
.side {
  .box-shadow(~"inset 4px 0px 16px -4px rgba(0, 0, 0, .2)");
  border-left: 2px solid @grayLight;
  >.side-pane,
  >.preview-pane {
    display: none;
    &.active {
      display: block;
    }
    .block {
      span.label {
        margin: 0 10px 0 0;
        ul {
          padding: 0;
          margin: -10px 0 0;
          list-style: none;
          li {
            padding: 10px;
            border-bottom: 1px solid @grayLighter;
            strong {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  >.side-pane {
    width: 90%;
    padding: 28px 5%;
  }
  >.preview-pane {
    width: 100%;
    border: none;
    .block {
      padding: 28px 5% 0;
    }
    .card2 {
      .span4 {
        text-align: right;
      }
      .span8 {
        font-weight: bold;
      }
    }
  }
  .accordion {
    margin: -10px 0 0 0;
    .accordion-group {
    margin-bottom: -1px;
    .border-radius(0);
    border-color: @grayLighter;
    }
  }
  article {
    padding: 0;
    a {
      padding: 10px;
      display: block;
    }
  }
  [class*="-container"] {
    padding: 12px;
  }
  h4[class*="-header"] {
    margin-bottom: 0;
  }
}



//UIUX-130
body.preview {
  .side {
    .box-shadow(~"3px -1px 14px 2px rgba(0, 0, 0, .25)");
    border: none;
  }
  .preview-pane {
    display: block;
  }
  .side-pane.active {
    display: none;
  }
  table.table.dataTable{
    th.preview.above,
    td.preview.above {
      .box-shadow(~"inset 0px -6px 3px -5px rgba(0, 0, 0, 0.25)");
    }
    th.preview.below,
    td.preview.below {
      .box-shadow(~"inset 0px 5px 6px -5px rgba(0, 0, 0, 0.25)");
    }
    tr.highlighted td,
    td.highlighted {
      background-image: url('@{textureSecondary}');
    }
    td.highlighted:last-child {
      z-index: 2;
    }
  }
}

.preview-headerbar {
  height: 60px;
  border-bottom: 1px solid #CCC;
  h1 {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
  }
  .btn-toolbar {
    margin: 15px 10px 9px;
  }
}

.preview-data {
  margin: 8px;
  .row-fluid {
    span:first-child {
      padding: 8px;
    }
    label.original {
      margin-bottom: 0px;
      display: inline-block;
      background-color: #CDCCCB;
      padding: 2px 4px;
      .border-radius(4px);
    }
  }
}

// below is for nutmeg

#folded > div {
  width: inherit;
}

#folded .tab-pane#overview {
  border-left: none;
}
#folded .tab-pane.active#overview {
  border-left: 1px solid darken(@grayLighter, 4%);
  .box-shadow(~"inset 6px 0 6px rgba(0,0,0,.2)");
}
#folded .tab-pane.active {
  top: 48px;
  right: 0;
  background-image: url('@{textureSecondary}');
  height: 100%;
  width: auto;
  padding: 20px 1%;
  border-left: 2px solid @grayLight;
}
#folded .tab-pane .block span.label {
  margin: 0 10px 0 0;
}
#folded .tab-pane .block {
  width: 90%;
  margin-left: 5%;
}
#folded [data-toggle="tab"].actions {
  top: 0;
  color: @gray;
}

#dashboard #folded .tab-pane.active {
  position: fixed !important;
  top: 47px;
  right: 0;
  background-image: url('@{textureSecondary}');
  height: 100%;
  overflow: auto;
  width: inherit;
  padding: 20px 0;
  border-left: 3px solid @grayLight;
}
#dashboard #folded .tab-pane.active.hide {
  display: none;
}
#dashboard  #folded .tab-pane.active .thumbnail {
  margin: 0 20px 20px;
}
