

/* Bug 55601 - fix for IE9 so that tree menu is properly rendered */
.view-forecastsSubnav {
  z-index: auto;
}

/* Buttons
------------------------- */

#forecastsCommitButtons {
  float: right;
  padding: 15px 0px;
}

a#save_draft {
  margin-right: 8px;
}


/* make the datatable have no top margin */
table.dataTable {
  margin-top: 0px !important;

  td.number, tfoot th.number {
    text-align: right;
  }

  th.header-quota {
    min-width: 70px;
  }
  .converted {
    display: inline-block;
  }
  label.original {
    margin-bottom: 0px;
    display: inline-block;
    background-color: @grayLight;
    .border-radius(4px);
    padding: 2px 4px;
  }

}

div.sugareditable {
  display: inline-block;
}

div.sugareditable.focus {
  display: inline-block;
}


#guages .row-fluid  {
  padding: 10px 0 0;
  border-bottom: 1px solid darken(@grayLighter, 5%);
  margin: 0 3%;
  width: 94%
}
#guages, #guages h4  {
  border-bottom: 3px solid @grayLight;
  margin: 0;
}
#guages {
  margin-bottom: 10px;
}

