
table td {
  overflow:visible !important;
}

/* Tables
-----------------*/
table tbody tr:last-child td:last-child, table tbody tr:last-child td:first-child,
table tfoot tr:last-child td:last-child, table tfoot tr:last-child td:first-child {
  .border-radius(0 0 4px 4px)
}
table.datatable {margin: 0;}
table.datatable tbody td { white-space: nowrap; max-width: 100px;}
table.datatable tbody td:last-child {overflow-x: visible;}
table th, table td { position: relative;}
table th { line-height: 26px !important; min-width: 20px; color: @tableHeader; border-right: 1px solid @grayLighter;}
table th .btn-group { margin: 0 0 0 -10px; width: 60px;}
table th .btn input { margin: -2px 0 0 0; }
table th .toggle-all {margin: 10px;}
table td .btn-toolbar { margin: -5px 0 -10px; }
.dblclick input { padding: 3px 3px 2px; position: absolute; top: 1px; width: 80% !important; }
table tfoot td {
  font-weight: bold;
  border-top: 2px solid @grayLight !important;
}
