.topline {
    h2 {
      padding: 0 !important;
      font-size: 20px;
      line-height: 28px;
    }
    .btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .title {
        padding: 10px 10px 0;
        float: left;
    }

    .datapoint1, .log .datapoint1 {
        right: -20px;

    }
    .datapoint2, .log .datapoint2 {
        right: 110px;
    }

    > div.divider {
        right: 121px;
    }

    .log .title {
        padding-left: 10px;
    }

}