/* Typography */
h1 {
  font-size: 20px !important;
  font-weight: normal;
}

//from navbar.less
h4 i {
  color: @grayLight;
}


.ellipsis_inline {
  display: block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
