.widget {
  h4 {
    cursor: ns-resize;
    margin: 0;
  }
  &.out {
    padding: 0;
    h4 {
      border-radius: 4px;
      border-bottom: 0 !important;
    }
    .widget-content,
    .dashlet-options {
      display: none;
    }
    i.icon-chevron-down::before {
      content: "\f077";
    }
  }
  .dashlet-options {
    font-size: 0;
    .btn,
    .btn-slider,
    .dropdown {
      font-size: @baseFontSize;
    }
    .dropdown-toggle {
      margin-left: 0;
      white-space: nowrap;
    }
    .dashlet-group .btn {
      margin-left: 4px;
    }
  }
  .btn-toolbar a[data-toggle="widget"] {
    right: 32px;
    position: absolute;
  }
}
.widget-control {
  position: absolute;
  right: 5%;
  top: 15px;
}
