<div id="tutorial" style="display:none">
    <div id="mask" class="mask"></div>
    <div id="tutorial-content"></div>
    <div id="tutorial-controls">
        <div class="btn-group">
            <a title="Back" href="#" class="btn btn-inverse back-btn disabled" track="click:tutorial_back"><i class=" icon-chevron-left"></i></a>
            <a title="Done" href="#" class="btn btn-inverse done-btn" track="click:tutorial_done"><span>{{str "LBL_DONE_BUTTON_LABEL"}}</span></a>
            <a title="Next" href="#" class="btn btn-inverse next-btn" track="click:tutorial_forward"><i class=" icon-chevron-right"></i></a>
        </div>
    </div>
</div>