{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<nav>
    <ul class="field-list">
        {{!-- begin test data for selected fields --}}
        <li class="multi-field-block">
            <ul class="multi-field">
                <li class="list-header">Field 1/Field  2<i class="fa fa-times-circle console-field-remove"></i></li>
                <li class="pill">Field 1<i class="fa fa-times-circle console-field-remove"></i></li>
                <li class="pill">Field 2<i class="fa fa-times-circle console-field-remove"></i></li>
            </ul>
        </li>
        <li class="pill outer">Field 3<i class="fa fa-times-circle console-field-remove"></i></li>
        <li class="pill outer">Field 4<i class="fa fa-times-circle console-field-remove"></i></li>
        {{!-- end test data for selected fields --}}
    </ul>
</nav>

