<section id="circular">
  <div class="page-header">
    <h2>Circular Charts <small>used for comparing parts to a whole</small></h2>
  </div>
  <div class="row">
    <div class="span6">
      <h3>Pie Chart</h3>
      <p>Example pie chart. [<a href="charts/pieChart.html">Full Screen</a> | <a href="charts/pieChart_colors.html">Color Options</a>]</p>
      <div>
<div id="pie" class="nv-chart">
<svg></svg>
</div>
      </div>
    </div>
    <div class="span6">
      <h3>Donut Chart</h3>
      <p>Example donut chart.</p>
      <div>
<div id="donut" class="nv-chart">
<svg></svg>
</div>
      </div>
    </div>
  </div>
</section>

<script src="charts/data/pie_data.js"></script>

<script>
  // Pie Chart
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
          .x(function(d) { return d.key })
          .y(function(d) { return d.value })
          .showLabels(true)
          .showTitle(false)
          //.color(d3.scale.category10().range())
          //.colorData( 'graduated', {c1: '#e8e2ca', c2: '#3e6c0a', l: pie_data.data.length} )
          //.colorData( 'class' )
          .colorData( 'default' )
          .tooltipContent( function(key, x, y, e, graph) {
            return '<p>Stage: <b>' + key + '</b></p>' +
                   '<p>Amount: <b>$' +  parseInt(y) + 'K</b></p>' +
                   '<p>Percent: <b>' +  x + '%</b></p>'
            })
        ;

      d3.select("#pie svg")
          .datum(pie_data_default)
        .transition().duration(500)
          .call(chart);

    return chart;
  });

  // Donut Chart
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
          .x(function(d) { return d.key })
          .y(function(d) { return d.value })
          .showLabels(true)
          .showTitle(false)
          .donut(true)
          .donutRatio(0.4)
          .donutLabelsOutside(true)
          .hole(10)
          //.color(d3.scale.category10().range())
          //.colorData( 'graduated', {c1: '#e8e2ca', c2: '#3e6c0a', l: pie_data.data.length} )
          //.colorData( 'class' )
          .colorData( 'default' )
          .tooltipContent( function(key, x, y, e, graph) {
            return '<p>Stage: <b>' + key + '</b></p>' +
                   '<p>Amount: <b>$' +  parseInt(y) + 'K</b></p>' +
                   '<p>Percent: <b>' +  x + '%</b></p>'
            })
        ;

      d3.select("#donut svg")
          .datum(pie_data_default)
        .transition().duration(1200)
          .call(chart);

    return chart;
  });
</script>
