
{{! This is a partial, open tags for last 2 divs are in header}}
        <div class="modal-footer">
            {{#each meta.buttons}}
                {{field ../this model=../model template="edit"}}
            {{/each}}
        </div>
    </div>
</div>

