<!-- Alerts & Messages
================================================== -->
<section id="alerts">
  <div class="page-header">
    <h1>Alerts <small>Styles for success, warning, and error messages</small></h1>
  </div>

  <h2>Lightweight defaults</h2>
  <div class="row">
    <div class="span4">
      <h3>Rewritten base class</h3>
      <p>We've simplified the base class: <code>.alert</code> instead of <code>.alert-message</code>. We've also reduced the minimum required markup&mdash;no <code>&lt;p&gt;</code> is required by default, just the outter <code>&lt;div&gt;</code>.</p>
      <h3>Single alert message</h3>
      <p>For a more durable component with less code, we've removed the differentiating look for block alerts, messages that come with more padding and typically more text. The class also has changed to <code>.alert-block</code>.</p>
      <hr>
      <h3>Goes great with javascript</h3>
      <p>Comes with a great jQuery plugin that supports alert messages, making dismissing them quick and easy.</p>
      <p><a class="btn js-btn" href="widgets.html#alerts">Get the plugin &raquo;</a></p>
    </div>
    <div class="span8">
      <h3>Example alerts</h3>
      <p>Wrap your message and an optional close icon in a div with simple class.</p>
      <div class="alert">
        <a class="close">&times;</a>
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert"&gt;
  &lt;a class="close"&gt;&times;&lt;/a&gt;
  &lt;strong&gt;Warning!&lt;/strong&gt; Best check yo self, you're not looking too good.
&lt;/div&gt;
</pre>
      <p>Easily extend the standard alert message with two optional classes: <code>.alert-block</code> for more padding and text controls and <code>.alert-heading</code> for a matching heading.</p>
      <div class="alert alert-block">
        <a class="close">&times;</a>
        <h4 class="alert-heading">Warning!</h4>
        <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-block"&gt;
  &lt;a class="close"&gt;&times;&lt;/a&gt;
  &lt;h4 class="alert-heading"&gt;Warning!&lt;/h4&gt;
  Best check yo self, you're not...
&lt;/div&gt;
</pre>
    </div>
  </div>

  <h2>Contextual alternatives <small>Add optional classes to change an alert's connotation</small></h2>
  <div class="row">
    <div class="span4">
      <h3>Error or danger</h3>
      <div class="alert alert-error">
        <a class="close">&times;</a>
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>
      <pre class="prettyprint linenums">
      &lt;div class="alert alert-error"&gt;
        ...
      &lt;/div&gt;
      </pre>
    </div>
    <div class="span4">
      <h3>Success</h3>
      <div class="alert alert-success">
        <a class="close">&times;</a>
        <strong>Well done!</strong> You successfully read this important alert message.
      </div>
      <pre class="prettyprint linenums">
      &lt;div class="alert alert-success"&gt;
        ...
      &lt;/div&gt;
      </pre>
    </div>
    <div class="span4">
      <h3>Information</h3>
      <div class="alert alert-info">
        <a class="close">&times;</a>
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
      </div>
      <pre class="prettyprint linenums">
      &lt;div class="alert alert-info"&gt;
        ...
      &lt;/div&gt;
      </pre>
    </div>
  </div>

 <div class="row">
    <div class="span6">
      <h3>Loading message</h3>
      <div class="alert alert-process">
          <strong>Loading</strong>
          <div class="loading">
              <span class="l1"></span><span class="l2"></span><span class="l3"></span>
          </div>
          <a class="close" data-dismiss="alert">x</a>
      </div>
      <pre class="prettyprint linenums">
&lt;div class="alert alert-process"&gt;
  &lt;strong&gt;Strong&lt;/strong&gt;
  &lt;div class="loading"&gt;
    &lt;span class="l1"&gt;&lt;/span&gt;&lt;span class="l2"&gt;&lt;/span&gt;&lt;span class="l3"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;a class="close" data-dismiss="alert"&gt;x&lt;/a&gt;
&lt;/div&gt;
      </pre>
    </div>


    <div class="span6">
      <h3>Inline loading message, no border</h3>
      <div class="alert-process">
          <strong>Please wait</strong>
          <div class="loading">
              <span class="l1"></span><span class="l2"></span><span class="l3"></span>
          </div>
      </div>
      <br>
      <br>
      <pre class="prettyprint linenums">
&lt;div class="alert-process"&gt;
  &lt;strong&gt;Please wait&lt;/strong&gt;
  &lt;div class="loading"&gt;
    &lt;span class="l1"&gt;&lt;/span&gt;&lt;span class="l2"&gt;&lt;/span&gt;&lt;span class="l3"&gt;&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
      </pre>
    </div>
  </div>

</section>

<script>
  loadPartials([
    {"file":"components/alert-examples","target":"body","method":"prepend"}
  ]);

  $(document).ready(function() {

    // keybinding ESC
    $(document).keyup( function (e){
        if(e.keyCode === 27) {
          $(".alert-top .timeten").hide();
          $('.alert-confirm').modal('hide');
        }
    });

    // timeout the alerts
    setTimeout( function (){ $('.timeten').fadeOut().remove(); }, 9000);

    $('.alert-confirm')
      .on('show', function(){
        var modal = $(this);
        modal.find('a.close').off('click').on('click', function(e) {modal.modal('hide'); });
        modal.find('a.leave').off('click').on('click', function(e) {modal.modal('hide'); /*trigger leave action*/});
        modal.find('a.return').off('click').on('click', function(e) {modal.modal('hide'); /*trigger return action*/});
      }).modal({"backdrop":"static","show":false});

    $('a').on('click',function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.alert-confirm').modal('show');
      $('.alert-confirm a.leave').attr('href',e.target.href);
    });

  });
</script>
