<div id="alert" class="alert-top">
  <div class="alert alert-process timeten">
    <strong>Loading</strong>
    <div class="loading">
        <span class="l1"></span><span class="l2"></span><span class="l3"></span>
    </div>
  </div>
  <div class="alert alert-danger alert-block">
    <a class="close" data-dismiss="alert">×</a>
    <strong>Error!</strong> The core is in meltdown!! This will message persist. <a href="">Link example</a>.
  </div>
  <div class="alert alert-warning alert-block timeten">
    <a class="close" data-dismiss="alert">×</a>
    <strong>Warning!</strong> The core could go nuclear! This will go away after 10 second because of the class timeten <a href="">Link example</a>.
  </div>
  <div class="alert alert-success alert-block timeten">
    <strong>Success!</strong> You did it. 10 sec delay. ESC will also remove messages. <a href="">Link example</a>.
    <a class="close" data-dismiss="alert">×</a>
  </div>
  <div class="alert alert-info alert-block timeten">
    <a class="close" data-dismiss="alert">×</a>
    <strong>Notice!</strong> You did something. This will go away after 10 seconds. <a href="">Link example</a>.
  </div>

  <div class="alert alert-confirm alert-warning alert-block span4 modal hide">
    <a class="close">×</a>
    <p><strong>Notice!</strong> Are you sure you want to leave this page?<br />Your unsaved changes will be lost.</p>
    <a class="btn leave">Leave</a>
    <a class="btn btn-primary pull-right return">Return</a>
  </div>
</div>
