<!-- Labels
================================================== -->
<section id="labels">
  <div class="page-header">
    <h1>Inline labels <small>Label and annotate text</small></h1>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Labels</th>
        <th>Markup</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="label">Default</span>
        </td>
        <td>
          <code>&lt;span class="label"&gt;Default&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-Leads">Leads</span>
        </td>
        <td>
          <code>&lt;span class="label label-Leads"&gt;New&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-Notes">Notes</span>
        </td>
        <td>
          <code>&lt;span class="label label-Notes"&gt;Note&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-Contacts">Contacts</span>
        </td>
        <td>
          <code>&lt;span class="label label-Contacts"&gt;Contact&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-Documents">Documents</span>
        </td>
        <td>
          <code>&lt;span class="label label-Documents"&gt;Document&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-Files">Files</span>
        </td>
        <td>
          <code>&lt;span class="label label-Files"&gt;File&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-log">Log</span>
        </td>
        <td>
          <code>&lt;span class="label label-log"&gt;Log&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-important">Important</span>
        </td>
        <td>
          <code>&lt;span class="label label-important"&gt;Important&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-warning">Warning</span>
        </td>
        <td>
          <code>&lt;span class="label label-warning"&gt;warning&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-success">Success</span>
        </td>
        <td>
          <code>&lt;span class="label label-success"&gt;Success&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-info">Info</span>
        </td>
        <td>
          <code>&lt;span class="label label-info"&gt;Info&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-inverse">Inverse</span>
        </td>
        <td>
          <code>&lt;span class="label label-inverse"&gt;Inverse&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-Cases">Cases</span>
        </td>
        <td>
          <code>&lt;span class="label label-Cases"&gt;Inverse&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-Bugs">Bugs</span>
        </td>
        <td>
          <code>&lt;span class="label label-Bugs"&gt;Bugs&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-KBDocuments">KBDocuments</span>
        </td>
        <td>
          <code>&lt;span class="label label-KBDocuments"&gt;Inverse&lt;/span&gt;</code>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Module Element Badges</h3>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Labels</th>
        <th>Module</th>
        <th>Class Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="label label-module label-Opportunities" rel="tooltip" data-title="Opportunities avatar" data-original-title="">Op</span>
        </td>
        <td>Opportunities</td>
        <td>label-Opportunities</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Files" rel="tooltip" data-title="Files avatar" data-original-title="">Fi</span>
        </td>
        <td>Files</td>
        <td>label-Files</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Contacts" rel="tooltip" data-title="Contacts avatar" data-original-title="">Co</span>
        </td>
        <td>Contacts</td>
        <td>label-Contacts</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Accounts" rel="tooltip" data-title="Accounts avatar" data-original-title="">Ac</span>
        </td>
        <td>Accounts</td>
        <td>label-Accounts</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Notes" rel="tooltip" data-title="Notes avatar" data-original-title="">Nt</span>
        </td>
        <td>Notes</td>
        <td>label-Notes</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Cases" rel="tooltip" data-title="Cases avatar" data-original-title="">Ca</span>
        </td>
        <td>Cases</td>
        <td>label-Cases</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Bugs" rel="tooltip" data-title="Bugs avatar" data-original-title="">Bu</span>
        </td>
        <td>Bugs</td>
        <td>label-Bugs</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-KBDocuments" rel="tooltip" data-title="KBDocuments avatar" data-original-title="">Kb</span>
        </td>
        <td>KBDocuments</td>
        <td>label-KBDocuments</td>
      </tr>
    </tbody>
  </table>
<pre class="prettyprint linenums">
&lt;span class="label label-module label-KBDocuments" rel="tooltip" data-title="KBDocuments avatar" data-original-title=""&gt;Kb&lt;/span&gt;
</pre>
</section>
