<!-- Labels
================================================== -->
<section id="labels">
  <div class="page-header">
    <h1>Inline labels <small>Label and annotate text</small></h1>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Labels</th>
        <th>Markup</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="label">Default</span>
        </td>
        <td>
          <code>&lt;span class="label"&gt;Default&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-important">Important</span>
        </td>
        <td>
          <code>&lt;span class="label label-important"&gt;Important&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-warning">Warning</span>
        </td>
        <td>
          <code>&lt;span class="label label-warning"&gt;warning&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-success">Success</span>
        </td>
        <td>
          <code>&lt;span class="label label-success"&gt;Success&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-info">Info</span>
        </td>
        <td>
          <code>&lt;span class="label label-info"&gt;Info&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-inverse">Inverse</span>
        </td>
        <td>
          <code>&lt;span class="label label-inverse"&gt;Inverse&lt;/span&gt;</code>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Module Element Badges</h3>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Labels</th>
        <th>Module</th>
        <th>Class Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="label label-module label-Accounts" rel="tooltip" data-title="Accounts">Ac</span>
          <span class="label label-module-sm label-Accounts" rel="tooltip" data-title="Accounts">Ac</span>
          <span class="label label-module-mini label-Accounts" rel="tooltip" data-title="Accounts">Ac</span>
        </td>
        <td>Accounts</td>
        <td>label-Accounts</td>
      </tr> 
      <tr>
        <td>
          <span class="label label-module label-Bugs" rel="tooltip" data-title="Bugs">Bu</span>
          <span class="label label-module-sm label-Bugs" rel="tooltip" data-title="Bugs">Bu</span>
          <span class="label label-module-mini label-Bugs" rel="tooltip" data-title="Bugs">Bu</span>
        </td>
        <td>Bugs</td>
        <td>label-Bugs</td>
      </tr>      
      <tr>
        <td>
          <span class="label label-module label-Campaigns" rel="tooltip" data-title="Campaigns">Cp</span>
          <span class="label label-module-sm label-Campaigns" rel="tooltip" data-title="Campaigns">Cp</span>
          <span class="label label-module-mini label-Campaigns" rel="tooltip" data-title="Campaigns">Cp</span>
        </td>
        <td>Campaigns</td>
        <td>label-Campaigns</td>
      </tr>      
      <tr>
        <td>
          <span class="label label-module label-Calendar" rel="tooltip" data-title="Calendar">Ca</span>
          <span class="label label-module-sm label-Calendar" rel="tooltip" data-title="Calendar">Ca</span>
          <span class="label label-module-mini label-Calendar" rel="tooltip" data-title="Calendar">Ca</span>
        </td>
        <td>Calendar</td>
        <td>label-Calendar</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Cases" rel="tooltip" data-title="Cases">Cs</span>
          <span class="label label-module-sm label-Cases" rel="tooltip" data-title="Cases">Cs</span>
          <span class="label label-module-mini label-Cases" rel="tooltip" data-title="Cases">Cs</span>
        </td>
        <td>Cases</td>
        <td>label-Cases</td>
      </tr>  
      <tr>
        <td>
          <span class="label label-module label-Contacts" rel="tooltip" data-title="Contacts">Co</span>
          <span class="label label-module-sm label-Contacts" rel="tooltip" data-title="Contacts">Co</span>
          <span class="label label-module-mini label-Contacts" rel="tooltip" data-title="Contacts">Co</span>
        </td>
        <td>Contacts</td>
        <td>label-Contacts</td>
      </tr>          
      <tr>
        <td>
          <span class="label label-module label-Documents" rel="tooltip" data-title="Documents">Do</span>
          <span class="label label-module-sm label-Documents" rel="tooltip" data-title="Documents">Do</span>
          <span class="label label-module-mini label-Documents" rel="tooltip" data-title="Documents">Do</span>
        </td>
        <td>Documents</td>
        <td>label-Documents</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Emails" rel="tooltip" data-title="Emails">Em</span>
          <span class="label label-module-sm label-Emails" rel="tooltip" data-title="Emails">Em</span>
          <span class="label label-module-mini label-Emails" rel="tooltip" data-title="Emails">Em</span>
        </td>
        <td>Emails</td>
        <td>label-Emails</td>
      </tr>      
      <tr>
        <td>
          <span class="label label-module label-Files" rel="tooltip" data-title="Files">Fi</span>
          <span class="label label-module-sm label-Files" rel="tooltip" data-title="Files">Fi</span>
          <span class="label label-module-mini label-Files" rel="tooltip" data-title="Files">Fi</span>
        </td>
        <td>Files</td>
        <td>label-Files</td>
      </tr>    
      <tr>
        <td>
          <span class="label label-module label-Forecasts" rel="tooltip" data-title="Forecasts">Fo</span>
          <span class="label label-module-sm label-Forecasts" rel="tooltip" data-title="Forecasts">Fo</span>
          <span class="label label-module-mini label-Forecasts" rel="tooltip" data-title="Forecasts">Fo</span>
        </td>
        <td>Forecasts</td>
        <td>label-Forecasts</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-KBDocuments" rel="tooltip" data-title="KBDocuments avatar">Kb</span>
          <span class="label label-module-sm label-KBDocuments" rel="tooltip" data-title="KBDocuments avatar">Kb</span>
          <span class="label label-module-mini label-KBDocuments" rel="tooltip" data-title="KBDocuments avatar">Kb</span>
        </td>
        <td>KBDocuments</td>
        <td>label-KBDocuments</td>
      </tr>            
      <tr>
        <td>
          <span class="label label-module label-Leads" rel="tooltip" data-title="Leads">Le</span>
          <span class="label label-module-sm label-Leads" rel="tooltip" data-title="Leads">Le</span>
          <span class="label label-module-mini label-Leads" rel="tooltip" data-title="Leads">Le</span>
        </td>
        <td>Leads</td>
        <td>label-Leads</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Meetings" rel="tooltip" data-title="Meetings">Me</span>
          <span class="label label-module-sm label-Meetings" rel="tooltip" data-title="Meetings">Me</span>
          <span class="label label-module-mini label-Meetings" rel="tooltip" data-title="Meetings">Me</span>
        </td>
        <td>Meetings</td>
        <td>label-Meetings</td>
      </tr>
      <tr>
        <td>
          <span class="label label-module label-Notes" rel="tooltip" data-title="Notes">Nt</span>
          <span class="label label-module-sm label-Notes" rel="tooltip" data-title="Notes">Nt</span>
          <span class="label label-module-mini label-Notes" rel="tooltip" data-title="Notes">Nt</span>
        </td>
        <td>Notes</td>
        <td>label-Notes</td>
      </tr>                 
      <tr>    
        <td>
          <span class="label label-module label-Opportunities" rel="tooltip" data-title="Opportunities">Op</span>
          <span class="label label-module-sm label-Opportunities" rel="tooltip" data-title="Opportunities">Op</span>
          <span class="label label-module-mini label-Opportunities" rel="tooltip" data-title="Opportunities">Op</span>
        </td>
        <td>Opportunities</td>
        <td>label-Opportunities</td>
      </tr>
      <tr>    
        <td>
          <span class="label label-module label-Quotes" rel="tooltip" data-title="Quotes">Qu</span>
          <span class="label label-module-sm label-Quotes" rel="tooltip" data-title="Quotes">Qu</span>
          <span class="label label-module-mini label-Quotes" rel="tooltip" data-title="Quotes">Qu</span>
        </td>
        <td>Quotes</td>
        <td>label-Quotes</td>
      </tr>
      <tr>    
        <td>
          <span class="label label-module label-Users" rel="tooltip" data-title="Users">Us</span>
          <span class="label label-module-sm label-Users" rel="tooltip" data-title="Users">Us</span>
          <span class="label label-module-mini label-Users" rel="tooltip" data-title="Users">Us</span>
        </td>
        <td>Quotes</td>
        <td>label-Quotes</td>
      </tr>
    </tbody>
  </table>
<pre class="prettyprint linenums">
&lt;span class="label label-module label-KBDocuments" rel="tooltip" data-title="KBDocuments"&gt;Kb&lt;/span&gt;
</pre>
</section>
<script type="text/javascript">
  $('body').tooltip({
    selector: "[rel=tooltip]"
  });
</script>
