{{!--
/*
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 */
--}}
<section id="typography">
  <div class="page-header">
    <h2>List Views &amp; Tables</h2>
  </div>

  <p>Here are some <a href="#Styleguide/docs/layouts_list">instructions</a> for how to style list views using Bootstrap classes. By default only the <code>.table-striped</code> styling is applied.</p>

  <h3>Example list view</h3>
  <div id="exampleView" class="example-view">
  </div>

  <h3>General markup</h3>
<pre class="prettyprint linenums">
&lt;div class="list-view"&gt;
  &lt;table class="table table-striped dataTable"&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th class="sorting orderBy[field]" data-fieldname="[field]" data-orderby=""&gt;
          &lt;span&gt;...&lt;/span&gt;
        &lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
     &lt;tr&gt;
      &lt;td&gt;...&lt;/td&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</pre>
</section>
