/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Enterprise Subscription
 * Agreement ("License") which can be viewed at
 * http://www.sugarcrm.com/crm/products/sugar-enterprise-eula.html
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the "Powered by SugarCRM" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2010 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
/*********************************************************************************

 * Description:  Contains a variety of utility functions used to display UI
 * components such as form headers and footers.  Intended to be modified on a per
 * theme basis.
 ********************************************************************************/

/* Default Styles */
body
{
	color: #444444;
	background-color: #ffffff;
}
h1, h2, h3
{
	color: #000000;
}
.h3Row 
{
	background-image: url(../../../../index.php?entryPoint=getImage&imageName=bgGreen.gif);
}
h4, h5
{
	color: #444;
}
a:link, a:visited 
{
    color: #577b57;
}
a:hover
{
    color: #000000;
}
button, input[type=submit], input[type=reset], input[type=button], .button
{
	border-color: #b0d2b0;
	background-color: #ecf4ec;
	color: #000;
	background-image: url(../../../../index.php?entryPoint=getImage&imageName=bgBtnGreen.gif);
}
button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
button:focus, input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected]
{
	background-color: #6fae6f;
	border-color: #6fae6f;
}
button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled]
{
	border-color: #c1c1c1;
	background-color: #f0f0f0;
	color: #000;
	background-image: url(../../../../index.php?entryPoint=getImage&imageName=bgBtnGray.gif);
}
input,select 
{
	border-color: #acd0ac;
	background-color: #ffffff;
}
input:focus,textarea:focus, select:focus 
{
	background-color: #fff;
	border-color: #b0d2b0;
}
textarea 
{
	border-color: #b0d2b0;
	background-color: #fff;
}

/* for team notices dashlet */
.teamNoticeBox 
{
    border-color: #b0d2b0;
    color: #444444;
}

/* header */
#header div.line 
{
    background-color: #6fae6f;
    color: #3e6e3e;
	border-color: #3e6e3e;
}

/* for the main screen navigation tabs */
#moduleList 
{
    background-image : url(../../../../index.php?entryPoint=getImage&imageName=tabRowGreenBg.gif);
    background-repeat: repeat-x;
    border-bottom-color: #3e6e3e;
}
#moduleList > ul > li
{
    background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=otherTabGreen.gif);
}
#moduleList ul li span.currentTab a:link, 
#moduleList ul li span.currentTab a:visited, 
#moduleList ul li span.currentTab a:hover 
{
    color: #ffffff;
}
#moduleList ul li a:link, 
#moduleList ul li a:visited 
{
    color: #444444;
}
#moduleList ul li a:hover 
{
    color: #000000;
}
#moduleList ul li span.currentTabLeft, 
#moduleList ul li span.currentTabRight, 
#moduleList ul li span.currentTab 
{
    background-image : url(../../../../index.php?entryPoint=getImage&imageName=currentTabGreen.gif);
    background-repeat: no-repeat;
    border-bottom-color: #6fae6f;
}
#subModuleList 
{
	background-color:#6fae6f;
    border-color:#3e6e3e;
}
#subModuleList span a
{
    border-right-color:#3e6e3e;
    border-left-color:#92c692;
}
#subModuleList span a:link, 
#subModuleList span a:visited 
{ 
    color: #ffffff;
}
#subModuleList span a:hover
{
    background-color:#3e6e3e;
    border-left-color:#3e6e3e;
}

/* lists in the header */
.headerList 
{
    color: #444;
    border-top-color:#3e6e3e;
    border-bottom-color: #b0d2b0;
    background-color: #f6f6f6;
}
.headerList a:link, 
.headerList a:visited, 
.headerList a 
{
    color: #444444;	
    border-color: #cee3ce;
}
.headerList a:hover
{
    color: #577b57;	
}

/* for lists of items in the left column ( such as the shortcuts or last view items lists ) */
.leftList ul, 
.leftList ul li, 
#newRecord form 
{
    background-color: #fff;
    border-color: #cee3ce;
}
#leftColumn h3, #HideMenu h3 
{
    border-color: #b0d2b0;
}
.leftList ul li a:hover, 
.leftList ul li span:hover 
{
    color: #000000;
    background-color: #e0f4e0;
}

/* global links and theme picker */
#globalLinks ul li a:hover, #themepickerLinkSpan a:hover
{
    color: #577b57;
}
/* for subpanel tabs */
ul.tablist li a.activeSubTab:hover
{
    border-bottom-color: #ddd;
    color: #000000;
}
ul.subpanelTablist li a.activeSubTab:hover
{
    color: #000000;
}

/* search */
#search input[name=query_string] 
{
	border-color: #91c191;
	background-color: #f6fafd;
}

/* new record form */
#newRecord form a:link, 
#newRecord form a:visited 
{
    color: #666666;
}
#newRecord form a:hover 
{
    color: #444444;
}

/* listviews */
.list tr.pagination td table td a:link,
.list tr.pagination td table td a:visited,
.reportGroupByDataChildTablelistViewThS1 a:link,
.reportGroupByDataChildTablelistViewThS1 a:visited,
.list tr th,
.list tr th a:link,
.list tr th a:visited,
.list tr td[scope=col],
.list tr td[scope=col] a:link,
.list tr td[scope=col] a:visited,
.list tr.pagination td table td span.pageNumbers
{
    color: #444444;
}
.list
{
	border-color: #b0d2b0 !important;
}
.evenListRowS1 td, 
.oddListRowS1 td
{
    color: #000000;
    border-bottom: 1px solid #cee3ce;
}
.evenListRowS1:hover td, 
.oddListRowS1:hover td
{
    background: #f6f6f6;
}

/* detailviews */
.detail table, 
table.detail
{
    border-top-color: #6fae6f;
    border-bottom-color: #b0d2b0;
    background-color: #cee3ce;
}
.detail tr td[scope="row"] 
{
    color: #000000;
    background-color: #f6f6f6;
    border-color: #cee3ce;
}
.detail h4 {
    color: #444444;
}
.detail tr th 
{
    border-color: #cee3ce;
}
.detail tr td 
{
    color: #444444;
    border-color: #cee3ce;
    background-color: #fff;
}
.detail tr td a:link, 
.detail tr td a:visited,
.detail tr td a:hover 
{
    color: #577b57;
}

/* editviews */
.edit td[scope=row]
{
    color: #444444;
}

#EditView hr{
    border-color:#b0d2b0; 
}

.edit, .edit > table, .detail, .detail > table
{
    border-bottom-color: #b0d2b0 !important;
    border-top-color: #6fae6f !important;
}
.edit
{
    color: #000000;
    background-color: #f6f6f6;
}
.detail .edit td
{
    background-color: #fff !important;
    border-bottom: 0 !important;
}

/* other views */
.other 
{
    border-color: #b0d2b0;
    background-color: #cee3ce;
}
.other td
{
    color: #444444;
    background-color: #ffffff;
    border-left-color: #dfdfdf;
}
.other td[scope=row]
{
    color: #000000;
    background-color: #fafafa;
}
.other td.edit
{
    color: #000000;
    background-color: #f6f6f6;
}

/* misc links */
a.utilsLink:link, a.utilsLink:visited 
{
    color: #577b57;
}
a.tabFormAdvLink:link, a.tabFormAdvLink:visited 
{
    color: #444444;
}

/* calendar styles */
.monthCalBody 
{
	background-color: #b0d2b0;
}
.monthFooter td 
{
	border-top-color: #b0d2b0;
	border-bottom-color: #b0d2b0;
	background-color: #ffffff;
}
.monthHeader a:hover, 
.monthViewDayHeight a:hover
{
	color: #577b57;
}
.monthCalBodyTH th[scope=row], 
.monthViewDayHeight td[scope=row] 
{
	background-color: #ebebeb;
}
.monthCalBodyTH th 
{
	background-color: #fafafa;
	color: #444444;
	border-color: #b0d2b0 !important;
}
.monthViewDayHeight td
{
	border-color: #b0d2b0;
	background-color: #ffffff;
	color: #444444;
}
.monthViewDayHeight td[class=weekEnd]
{
	background-color: #f6f6f6;
}
.monthCalBodyDayItem 
{
	background-color: #ffffff;
	border-top-color: #b0d2b0;
	border-bottom-color: #ddd;
}
.monthCalBody td 
{
	background-color: #fff;
	color: #444444;
}
.monthCalBody th a
{
	color: #000000;
}
.yearCalBody 
{
	border-top: 2px solid #fff;
	background-color: #fff;
}
.yearCalBodyMonth 
{
	background-color: #b0d2b0 !important;
	border-top: 2px solid #6fae6f;
	border-bottom: 2px solid #fff;
}
.yearCalBody .monthHeader 
{
    border: none;
}
.yearCalBodyMonth #daily_cal_table 
{
	border-top: #b0d2b0;
}
.yearCalBodyMonth #daily_cal_table .monthCalBodyTHDay 
{
	border-color: #b0d2b0;
}
.yearCalBodyMonth > a
{
	color: #000000;
}
h5.calSharedUser 
{
	color: #444444;
}
.monthHeader 
{
    color: #444;
    background-color: #fff;
    border-color: #b0d2b0;
    background-image: url(../../../../index.php?entryPoint=getImage&imageName=bgGreen.gif);
}

/* for subpanel tabs */
.subpanelTabForm
{
    border-color: #b0d2b0;
    color: #000000;
    background-color: #ffffff;
}
ul.tablist, ul.subpanelTablist
{
    border-bottom-color: #b0d2b0;
}
ul.tablist li a:hover, 
ul.subpanelTablist li a:hover
{
    background: #fafafa;
    border-color: #b0d2b0;
}
ul.tablist li a, 
ul.subpanelTablist li a
{
    background-color: #fff;
    border-color: #dddddd;
}
ul.tablist li a:link, 
ul.tablist li a:visited, 
ul.subpanelTablist li a:link, 
ul.subpanelTablist li a:visited 
{ 
    color: #444444;
}
ul.tablist li a:hover, 
ul.subpanelTablist li a:hover
{
    background: #fafafa;
}

ul.subpanelTablist li a.current, 
ul.subpanelTablist li a.current:hover
{
    color: #4f4f4f;
	background: #fff;
    border-right-color: #b0d2b0;
    border-top-color: #b0d2b0;
    border-bottom-color: #fff;
}

ul.tablist li a.current:link, ul.tablist li a.current:visited, ul.tablist li a.current:hover
{
    background: #f6f6f6;
    border-bottom-color: #f6f6f6;
    border-right-color: #b0d2b0;
    border-top-color: #b0d2b0;
}
/* for overlib js library */
.olCgClass td 
{
	border-bottom-color: #b0d2b0;
}
.olBgClass 
{
	background-color: #b0d2b0;
}

/* sitemap */
#sitemap .edit.view 
{
    border-color: #6fae6f !important;
}

/* for edit view like forms that need a smaller font size */
.edit.view.small td
{
    color: #444;
}

/* YUI theme */
.yui-dt th, .yui-dt-hd {
    background:#EBEBED none repeat scroll 0 0;
}

.yui-layout .yui-layout-unit-left div.yui-layout-hd .collapse
{
    background-image:url(../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=otherTab.gif);
    background: transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') no-repeat 0 -110px;
}

 .yui-layout .yui-layout-clip-left .collapse, .yui-layout .yui-layout-unit-right div.yui-layout-hd .collapse, 
 .yui-layout .yui-layout-unit-bottom div.yui-layout-hd .collapse {
    background: transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') no-repeat 0 -90px;
}

 .yui-layout .yui-layout-clip-right .collapse {
    background: transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') no-repeat -0 -110px;
}

 .yui-layout .yui-layout-unit-top div.yui-layout-hd .collapse {
    background: transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') no-repeat -20px -220px;
}

 .yui-layout .yui-layout-clip-top .collapse {
    background: transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png')no-repeat -20px -240px;
}

 .yui-layout .yui-layout-clip-bottom .collapse {
    background: transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') no-repeat -20px -180px;
}

 .yui-layout .yui-layout-unit div.yui-layout-hd .close {
    background: transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') no-repeat -20px -100px;
}

.yui-navset .yui-nav, .yui-navset .yui-navset-top .yui-nav, .yui-layout .yui-layout-hd {
    background:#DDD url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') repeat-x scroll 0 0;
    border-color: #B0D2B0;
}

.yui-layout .yui-layout-unit div.yui-layout-bd, .yui-navset .yui-content, .yui-navset .yui-navset-top .yui-content {
    border-color:#B0D2B0;
}

.yuimenuitem-hassubmenu > a{
    background-image: url(../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png);
}

 .yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a, .yui-navset-bottom .yui-nav li a,
.yui-navset .yui-nav a, .yui-navset .yui-navset-top .yui-nav a
    {
    background:#DDD url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') repeat-x scroll 0 -131px;  
}
 
 .sugar-progress-bar, .yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a:focus, .yui-navset .yui-nav .selected a:hover
{
    background:#666666 url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png') repeat-x scroll 0 -157px;
    
}

.yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a em, .yui-navset .yui-nav a, .yui-navset .yui-nav a em, .yui-navset .yui-nav a, .yui-navset .yui-navset-top .yui-nav a  {
    border-color: #B0D2B0;
}

 a.sugar-tab-close, .yui-navset .yui-nav a.sugar-tab-close, .yui-navset .yui-nav .selected a.sugar-tab-close {
    background : transparent url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=sugar-yui-sprites-green.png')  no-repeat scroll 0px -70px;
 }


tr.yui-dt-highlighted, tr.yui-dt-highlighted td.yui-dt-asc, tr.yui-dt-highlighted td.yui-dt-desc, tr.yui-dt-even td.yui-dt-highlighted, 
tr.yui-dt-odd td.yui-dt-highlighted,  .yui-dt-list th.yui-dt-highlighted, .yui-dt-list th.yui-dt-highlighted a,
.yui-dt-list tr.yui-dt-highlighted, .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc, .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc, 
.yui-dt-list tr.yui-dt-even td.yui-dt-highlighted, .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted
{
    background-color: #DAF2DA;
}

 th.yui-dt-selected, th.yui-dt-selected a, tr.yui-dt-selected td, tr.yui-dt-selected td.yui-dt-asc, 
 tr.yui-dt-selected td.yui-dt-desc, tr.yui-dt-even td.yui-dt-selected, tr.yui-dt-odd td.yui-dt-selected,
 .yui-dt-list th.yui-dt-selected, .yui-dt-list th.yui-dt-selected a,
 .yui-dt-list tr.yui-dt-selected td, .yui-dt-list tr.yui-dt-selected td.yui-dt-asc, .yui-dt-list tr.yui-dt-selected td.yui-dt-desc,
 .yui-dt-list tr.yui-dt-even td.yui-dt-selected, .yui-dt-list tr.yui-dt-odd td.yui-dt-selected {
    background-color: #B0D2B0;
}

.yui-ac-content li.yui-ac-prehighlight {
    background: #B0D2B0;
}

.yui-ac-content li.yui-ac-highlight {
    background: #6FAE6F;
    color: #FFF;
}

