/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Enterprise Subscription
 * Agreement ("License") which can be viewed at
 * http://www.sugarcrm.com/crm/products/sugar-enterprise-eula.html
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the "Powered by SugarCRM" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2010 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
/*********************************************************************************

 * Description:  Contains a variety of utility functions used to display UI
 * components such as form headers and footers.  Intended to be modified on a per
 * theme basis.
 ********************************************************************************/

/** From default style.css file **/

.dcmenu .inner {
    height: 44px;
    min-width: 950px;
    background-color: #13558f;
    background-image: -moz-linear-gradient(top, #13558f, #0d3961);
    background-image: -ms-linear-gradient(top, #13558f, #0d3961);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0d3961), to(#0d3961));
    background-image: -webkit-linear-gradient(top, #13558f, #0d3961);
    background-image: -o-linear-gradient(top, #13558f, #0d3961);
    background-image: linear-gradient(top, #13558f, #0d3961);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13558f', endColorstr='#0d3961', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 4px 0 #0d3961;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 4px 0 #0d3961;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 4px 0 #0d3961;

}

#ie8GradientFix{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13558f', endColorstr='#0d3961');
}

.dcmenuDivider  {
    border-left: 1px solid #2a5a84;
    border-right: 1px solid #6ea5d6;
    background-image: none;
    width: 0px;
}

#glblSearchBtn {
}


#moduleList .sf-menu > li.current > a {
    background:		#193f61;
}

ul.megamenu .MMShortcuts li.sfHover a.sf-with-ul,
ul.moduleTabMore li.sfHover a.sf-with-ul,
ul.sf-sub-modulelist li.sfHover > a.sf-with-ul,
ul.filter-menu li a.selected,
ul.megamenu ul a:hover,
ul.moduleTabMore li a:hover,
ul.sf-sub-modulelist li a:hover,
#moduleList .sf-menu li:hover,
#moduleList .sf-menu li.sfHover,
#moduleList .sf-menu li a:focus,
#moduleList .sf-menu li a:hover,
#moduleList .sf-menu li a:active {
    background:		#355B7E;
    outline:		0;
}


#moduleList .more .selected {
    background:		#355B7E;
}
#globalLinksModule ul.clickMenu.SugarActionMenu li a:hover,
#globalLinksModule ul.clickMenu li:hover span,
ul.SugarActionMenuIESub li a:hover, ul.clickMenu.SugarActionMenu li a:hover, ul.clickMenu.SugarActionMenu li span.subhover:hover,
ul#globalLinksSubnav li a:hover, ul#quickCreateULSubnav li a:hover,
ul.clickMenu:hover, ul.clickMenu li ul.subnav li a:hover,ul.clickMenu li ul.subnav li input:hover, ul.clickMenu.subpanel.records li ul.subnav li a:hover, ul.clickMenu ul.subnav-sub li a:hover { /*--Hover effect for subnav links--*/
    background-color:		#355B7E;
    color:#ffffff !important;
}

#moduleList .sf-menu > li.current > a {
    border-color: #193f61;
}


#globalLinksModule:hover, #quickCreate ul.clickMenu > li:hover {
    background-color: #355B7E;
}

#dcmenuSugarCube:hover {
    background-color: #355B7E;
}

.moduleTitle h2 {
    color:#666;
}

.moduleTitle h2 a {
    color:#0e70b8;
}


#glblSearchBtn .searchIconLink {
    background-color: #355B7E;
    background-image: -moz-linear-gradient(top, #355B7E, #26415a);
    background-image: -ms-linear-gradient(top, #355B7E, #26415a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#355B7E), to(#26415a));
    background-image: -webkit-linear-gradient(top, #355B7E, #26415a);
    background-image: -o-linear-gradient(top, #355B7E, #26415a);
    background-image: linear-gradient(top, #355B7E, #26415a);
    border: 1px solid rgba(38, 65, 90, 0.25);
    top: 0px;
    height: 15px;
}

#sugar_spot_search {
    border: 1px solid #355B7E;
}
