/*********************************************************************************
 *The contents of this file are subject to the SugarCRM Professional End User License Agreement 
 *("License") which can be viewed at http://www.sugarcrm.com/EULA.  
 *By installing or using this file, You have unconditionally agreed to the terms and conditions of the License, and You may 
 *not use this file except in compliance with the License. Under the terms of the license, You 
 *shall not, among other things: 1) sublicense, resell, rent, lease, redistribute, assign or 
 *otherwise transfer Your rights to the Software, and 2) use the Software for timesharing or 
 *service bureau purposes such as hosting the Software for commercial gain and/or for the benefit 
 *of a third party.  Use of the Software may be subject to applicable fees and any use of the 
 *Software without first paying applicable fees is strictly prohibited.  You do not have the 
 *right to remove SugarCRM copyrights from the source code or user interface. 
 * All copies of the Covered Code must include on each user interface screen:
 * (i) the "Powered by SugarCRM" logo and 
 * (ii) the SugarCRM copyright notice 
 * in the same form as they appear in the distribution.  See full license for requirements.
 *Your Warranty, Limitations of liability and Indemnity are expressly stated in the License.  Please refer 
 *to the License for the specific language governing these rights and limitations under the License.
 *Portions created by SugarCRM are Copyright (C) 2004 SugarCRM, Inc.; All Rights Reserved.  
 ********************************************************************************/

body
{
	font-size:13px;
}

.body
{
	font-size:13px;
}

table,td
{
	font-size:12px;
}

h2,h1
{
	font-size:14px;
}

h3,.monthHeaderH3,.schedulerTopDateCell
{
	font-size:13px;
}

h4,h4.edit td[scope=row],h5,h5.listViewSubHeadS1
{
	font-size:13px;
}

button, input[type=submit], input[type=reset], input[type=button]
{
	font-size:13px;
}

button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected],button, input[type=submit], input[type=reset], input[type=button]:hover,button, input[type=submit], input[type=reset], input[type=button]:focus,button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected]:focus
{
	font-size:13px;
}

input,select
{
	font-size:13px;
}

textarea
{
	font-size:13px;
}

.ygrid-row,.ygrid-hd,ygrid-hd-body,.ygrid-hd-body span
{
	font-size:9pt;
}

#moduleList
{
	height:30px;
}

.currentTab
{
	font-size:12px;
	height:30px;
}

.otherTab
{
	height:30px;
	font-size:12px;
}

#subModuleList
{
	font:normal 13px Arial, Verdana, Helvetica, sans-serif;
}

ul#subModuleList li a
{
	padding:4px 3px 4px 6px;
}

.headerBg
{
	font-size:13px;
}

#welcome
{
	font-size:13px;
}

#search input[name=query_string]
{
	font-size:12px;
}

#subtabs
{
	font-size:13px;
}

ul.subTabs
{
	font:12px Arial, Verdana, Helvetica, sans-serif;
}

.subTabMore
{
	font-size:12px;
}

#newRecord form
{
	font-size:12px;
}

td#newRecord form button, input[type=submit], input[type=reset], input[type=button]
{
	font-size:12px;
}

td#newRecord form .edit td[scope=row]
{
	font-size:12px;
}

#newRecord form a:link,#newRecord form a:visited
{
	font-size:12px;
}

table.reportlistView td,table.reportlistView th,.reportGroupViewTable .reportevenListRowS1,.reportGroupViewTable .reportoddListRowS1,.reportoddListRowS1
{
	font-size:12px;
}

.reportGroupNByTableEvenListRowS1
{
	font-size:13px;
}

.reportGroup1ByTable .reportGroup1ByTableEvenListRowS1,.reportGroup1ByTable .reportGroupNByTableEvenListRowS1
{
	font-size:14px;
}

table.list .view th,.list th, .list td[scope=col]
{
	font-size:12px;
}

a.list td a:link,a.list td a:visited
{
	font-size:13px;
}

.evenListRowS1,.oddListRowS1
{
	font-size:13px;
	padding-bottom:5px;
	padding-top:3px;
}

a.list tr.pagination a:link,a.list tr.pagination a:visited
{
	font-size:14px;
}

a.listViewCheckLink:link,a.listViewCheckLink:visited
{
	font-size:12px;
}

a.utilsLink:link,a.utilsLink:visited
{
	font-size:12px;
}

a.utilsLink:hover
{
	font-size:12px;
}

a.tabFormAdvLink:link,a.tabFormAdvLink:visited
{
	font-size:12px;
}

.edit
{
	font-size:13px;
}

.subpanelTabForm
{
	font-size:13px;
}

.subpanelTabForm h3
{
	font-size:12px;
}

h5.edit td[scope=row]
{
	font-size:13px;
}

.edit td[scope=row]
{
	font-size:13px;
}

.edit td
{
	font-size:13px;
}

a.tabFormAdvLink:link,a.tabFormAdvLink:visited
{
	font-size:12px;
}

.detail .list table tr.pagination td
{
	padding:3px 5px 4px 8px;
}

.detail td[scope=row]
{
	font-size:13px;
}

h4.detail td[scope=row]
{
	font-size:13px;
}

.detail td
{
	font-size:13px;
}

.other td[scope=row]
{
	font-size:13px;
}

.other td
{
	font-size:12px;
}

a.other td[scope=row] a:link,a.other td[scope=row] a:visited
{
	font-size:12px;
}

.monthBox
{
	font-size:13px;
}

a.monthViewDayHeight td[scope=row] a:link,a.monthViewDayHeight td[scope=row] a:visited
{
	font-size:12px;
}

a.monthViewDayHeight td a:link,a.monthViewDayHeight td a:visited
{
	font-size:13px;
}

a.monthCalBodyDayItemLink:link,a.monthCalBodyDayItemLink:visited,a.monthCalBodyDayItemLink:hover
{
	font-size:11px;
}

.monthCalBody td
{
	font-size:13px;
}

a.yearCalBodyMonth > a:link,a.yearCalBodyMonth > a:visited
{
	font-size:13px;
}

.calSharedUser
{
	font-size:12px;
}

.rssItemDate
{
	font-size:12px;
}

.dateFormat
{
	font-size:12px;
}

.chartFootnote
{
	font-size:12px;
}

.tm
{
	font-size:9px;
}

.schedulerDiv
{
	font-size:13px;
}

.schedulerTopRow,.schedulerTopDeleteHeaderCell,.schedulerDeleteHeaderCell,.schedulerTopHeaderCell,.schedulerAttendeeHeaderCell,.schedulerAttendeeHeaderCell
{
	height:27px;
}

#scheduler .schedulerDiv table tr.schedulerAttendeeRow td[scope=row]
{
	width:150px;
}

#globalLinks
{
	font:13px Arial, Verdana, Helvetica, sans-serif;
}

ul#globalLinks
{
	height:17px;
	font:13px Arial, Verdana, Helvetica, sans-serif;
}

ul.tablist
{
	font:13px Arial, Verdana, Helvetica, sans-serif;
}

ul.subpanelTablist
{
	font:13px Arial, Verdana, Helvetica, sans-serif;
}

.sqsMatchedSmartInputItem
{
	font-size:12px;
}

.olCapFontClass A
{
	font-size:10px;
}

#sitemap a:link,#sitemap a:visited
{
	font-size:12px;
}

#sitemap h4 a:link,#sitemap h4 a:visited
{
	font-size:13px;
}
#header{
	font-size:13px;
}
#header_right{
width:60%;
}
#leftColumn h3{
font-size:12px;
font-weight:bold;
}
leftList ul li a {
padding:5px 3px 5px 6px;}
#moduleList ul li#moduleTabExtraMenu{
height:19px;
}
