<div class="block preview-data">
    <div>
        <div class="thumbnail dashlet ui-draggable" data-type="dashlet" data-action="droppable">
            <div data-dashlet="toolbar"><div class="dashlet-header">
                <div class="btn-toolbar pull-right">
                    <span sfuuid="54" class="dashlet-toolbar">
                    <a href="javascript:void(0);" track="click:" data-dashletaction="toggleMinify" rel="tooltip" data-placement="bottom" title="" name="" class="dashlet-toggle btn btn-invisible minify" data-original-title="Open/Close">
                        <i class="icon-chevron-up"></i></a>
                    </span>

                </div>
                <h4 data-toggle="dashlet" class="dashlet-title">Image Preview</h4>
            </div></div>

            <div data-dashlet="dashlet" class="dashlet-content"><div>
                <div class="help-dashlet-content">
                    <div class="help-body">

                    </div>

                    <div class="help-more">
                        <a href="{{image_preview_url}}" target="_blank">
                            <img id="image-preview" src="{{image_preview_url}}" width="100%">
                        </a>
                    </div>
                </div>
            </div></div>
            <div class="swappable-dashlet icon-download-alt"></div>
        </div>
    </div>
</div>