<div class="filter_init duplicates">
</div>
<table class="duplicates highlight table dupdatatable table-striped">
  <thead>
    <tr>
      <th class="nosort"><input type="checkbox" name="dupmerge" id="dm0"><a class="btn dropdown-toggle btn-invisible btn-link" data-toggle="dropdown" href="#"> <span class="caret"></span></a></th>
      <th>Opportunity</th>
      <th>Account</th>
      <th>Stage</th>
      <th>Amount</th>
      <th class="nosort">Actions</th>
      <th class="nosort">&#8230;</th>
    </tr>
  </thead>
  <tbody id="listed">
    <tr>
      <td><input type="checkbox" name="dupmerge" id="dm1"></td>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$330,000</td>
      <td><a href="lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="dupmerge" id="dm2"></td>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$100,000</td>
      <td><a href="lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview"><i class="icon-eye-open"></i></a></td>
    </tr>

    <tr>
      <td><input type="checkbox" name="dupmerge" id="dm3"></td>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$230,000</td>
      <td><a href="lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview"><i class="icon-eye-open"></i></a></td>
    </tr>

  </tbody>
</table>

<script>
  $(document).ready(function() {

    loadPartials([
      {"file":"common/search-duplicates-row","target":"div.filter_init","method":"replace"},
    ]);

    $('.drawer .main-pane .headerpane h1').html('3 Duplicates Found')

    $('.dupdatatable').dataTable({
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false
    });

    $('body').on('click', 'input[name=dupmerge]', function(){
      $('.btn.merge-duplicates').removeClass('disabled');
    });

    $('body').on('click', '#dm0', function(){
      var check_boxes = "#dm1, #dm2, #dm3";
          checkbox_all = "#dm0";
      if($(check_boxes).attr('checked')) {
          $(check_boxes).removeAttr('checked');
          $(checkbox_all).removeAttr('checked')
      }else{
          $(check_boxes).attr('checked', 'checked');
      }
    });
  });
</script>
