<div class="btn-toolbar pull-right dropdown">
  <a href="common/data-table.html" data-toggle="proto" data-target="#view .main-content" data-mode="list" class="btn btn-invisible btn-link cancel">Cancel</a>
  <a href="" data-toggle="proto" data-target="" data-mode="edit" class="btn btn-primary disabled lead-convert-continue">Continue</a>
  <a href="lead/lead-view.html" data-toggle="proto" data-target="#view .record" data-mode="view" data-method="replace" title="Finish Converting Lead" class="btn btn-primary save hide">Finish</a>
  {{>drawerTrig}}
</div>
<h1>Create Lead</h1>

<script>
  $(document).ready(function() {

    // create record view
    $('body').on('change', 'form', function(){ invokeSaveButtons(); });

    $('body')
      .off('click', '.save_and_create_new')
      .on('click', '.save_and_create_new', function(e){
        throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
      });

    $('body')
      .off('click', '.save_and_view')
      .on('click', '.save_and_view', function(e){
        throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
      });

    $('body')
      .off('click', '.cancel')
      .on('click', '.cancel', function(e){
        drawer(false);
      });

    $('body')
      .off('click','.save')
      .on('click','.save',function(e){
        if($(this).hasClass('save_save')===false) {
          console.log('first click');
          $(this).addClass('save_save').attr({'href':''});
        } else {
          drawer(false);
          console.log('second click');
          throwMessage('<strong>Success!</strong> You successfully converted the lead "Tameka Dammann"', 'success', true);
        }
      });

  });

  function invokeSaveButtons(){
    $('#edit .headerpane .btn-toolbar .btn').removeClass('disabled hide');
  }
</script>
