<form class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label for="input01" class="control-label">Name:</label>
      <div class="controls">
        <input type="text" id="input01" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <label for="select01" class="control-label">Sales Stage:</label>
      <div class="controls">
        <select id="select01" data-placeholder="Choose a Lead..." class="chzn-select">
          <option value="pk" selected="selected">Proposal</option>
          <option value="pk">Closed Won</option>
          <option value="pk">Closed Lost</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="select02" class="control-label">Account:</label>
      <div class="controls">
        <select id="select02" data-placeholder="Choose a Lead..." class="chzn-select">
          <option value="pk" selected="selected">Perkin Kleiners</option>
          <option value="pk">Underwater Mining Inc.</option>
          <option value="pk">Weyland</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="input03" class="control-label">Amount:</label>
      <div class="controls">
        <input type="text" id="input01" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <label for="select03" class="control-label">Assigned to:</label>
      <div class="controls">
        <select id="select03" data-placeholder="Choose an Assignee..." class="chzn-select">
          <option value="pk" selected="selected">Sabra Khan</option>
          <option value="pk">Sally Smith</option>
          <option value="pk">Jim Brennan</option>
        </select>
      </div>
    </div>
    <div class="extend hide">
      <div class="control-group">
        <label for="input01" class="control-label">Email:</label>
        <div class="controls">
          <input type="text" id="input01" class="input-xlarge">
          <a href="" class="btn" rel="tooltip" title="Primary"><i class="icon-star"></i></a>
          <a href="" class="btn" rel="tooltip" title="Add another"><i class="icon-plus"></i></a>
        </div>
      </div>
      <div class="control-group">
        <label for="input01" class="control-label">Phone:</label>
        <div class="controls">
          <input type="text" id="input01" class="input-xlarge">
          <a href="" class="btn" rel="tooltip" title="Primary"><i class="icon-star"></i></a>
          <a href="" class="btn" rel="tooltip" title="Add another"><i class="icon-plus"></i></a>
        </div>
      </div>
      <div class="control-group">
        <label for="select01" class="control-label">Teams:</label>
        <div class="controls">
          <select data-placeholder="Choose a Lead..." class="chzn-select" tabindex="2">
            <option value="pk" selected="selected">Global</option>
            <option value="pk">East</option>
            <option value="pk">West</option>
            <option value="pk">North</option>
            <option value="pk">South</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="select01" class="control-label">Assigned to:</label>
        <div class="controls">
          <select data-placeholder="Choose a Lead..." class="chzn-select" tabindex="2">
            <option value="pk" selected="selected">Administrator</option>
            <option value="pk">Majed Itani</option>
            <option value="pk">Uriah Welcome</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <a href="javascript:void(0)" name="show_more_button" class="more">More<i class="icon-caret-down"></i></a>
    </div>
  </fieldset>
</form>

<script>
  $(document).ready(function() {

    drawer(true);

    $(".chzn-select").chosen({ disable_search_threshold: 5 });
    $(".chzn-select-deselect").chosen({allow_single_deselect:true});

    $('.more').toggle(
      function () {
        console.log($(this).parent())
        $(this).parent().prev('.extend').removeClass('hide');
        $(this).html('Less &nbsp;<i class="icon-caret-up"></i>');
        return false;
      },
      function () {
        $(this).parent().prev('.extend').addClass('hide');
        $(this).html('. . .');
        return false;
    });
  });
</script>
