<div class="want_filter highlight">
  <strong>2 duplicates found.</strong> Define your own search by <a href="partial/common/search-filter.html" rel="tooltip" data-toggle="proto" data-target="div.want_filter" data-mode="preview" data-original-title="Preview" class="want_filter">applying filters</a>.
</div>
<div class="filter_init">
</div>
<table class="duplicates highlight table dupdatatable table-striped">
  <thead>
    <tr>
      <th>Opportunity</th>
      <th>Account</th>
      <th>Stage</th>
      <th>Amount</th>
      <th class="nosort">Actions</th>
      <th class="nosort">&#8230;</th>
    </tr>
  </thead>
  <tbody id="listed">
    <tr>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$330,000</td>
      <td><a href="partial/lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#overview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
    </tr>
    <tr>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$100,000</td>
      <td><a href="partial/lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#overview-edit" data-mode="preview"><i class="icon-eye-open"></i></a></td>
    </tr>
  </tbody>
</table>


<script>

  loadPartials([
    //{"file":"lead/lead-duplicates","target":"#overview-edit","method":"replace"},
  ]);

  $(document).ready(function() {
    $('.dupdatatable').dataTable({
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false
    });

$('.step_1_container > form, .step_1_container > div.dataTables_wrapper').remove();

  });
</script>
