<div class="howto">
    <h3>Duplicates</h3>
    <p>Duplicates will show when the primary fields are the same on more than one record. You can choose to ignore the duplicates and continue with your original create detail or you can select one of the duplicates by clicking edit. You will be shown that record in the edit view.</p>
    <p>You can further refine the duplicates or look for more using the filter bar above the data table.</p>
    <p>You can also select to preview a duplicate by clicking on the <span class="icon-eye-open"></span> icon to see more detail on a particular record.</p>
    <p><a href="">Need more support?</a></p>

</div>
