<div class="row-fluid">
  <div class="span6"><strong>Duplicate Search</strong> > Apply Filters</div>
  <div class="span6">
    <div class="btn-toolbar pull-right" style="margin:0;padding:0">
      <a href="#" class="btn btn-invisible btn-link cancel back">Back to 2 duplicates</a>
      <a href="#" class="btn btn-primary">Apply</a>
    </div>
  </div>
</div>

<style>
  table.duplicates.filter td {
    background-color:#E8E8E8 !important;
  }
</style>

<table class="duplicates highlight table table-striped filter">
  <tr>
    <td style="border-bottom:1px solid #ddd">
      <span style="border:1px solid #ccc;min-width: 100px;display: inline-block;line-height:20px;text-indent:.5em">Module</span> <span style="border:1px solid #ccc;min-width: 100px;display: inline-block;line-height:20px;text-indent:.5em">Leads</span> <span class="pull-right"><i class="icon-plus" style="padding:0 1em"></i></span>
    </td>
  </tr>

  <tr>
    <td style="border-top:1px solid #fff;top:1px;padding-bottom:0;">
      <span class="pull-left">
          <select id="select01" data-placeholder="Choose a Lead..." class="chzn-select">
            <option value="pk" selected="selected">Opportunity</option>
            <option value="pk">Opportunity</option>
            <option value="pk">Opportunity</option>
          </select>
      </span>
      <span class="pull-left">
          <select id="select02" data-placeholder="Choose a Lead..." class="chzn-select">
            <option value="pk" selected="selected">Contains</option>
            <option value="pk">Contains</option>
            <option value="pk">Contains</option>
          </select>
      </span> <span style="border:1px solid #ccc"><input type="text" value="Tameka Dammann"></span> <span class="pull-right"><i class="icon-minus"></i> <i class="icon-plus" style="padding:0 1em"></i></span>
    </td>
  </tr>
</table>


<script>
  loadPartials([
    {"file":"lead/lead-duplicates","target":"#overview-edit","method":"replace"},
  ]);

  $(document).ready(function() {

    $('.chzn-select').chosen({ disable_search_threshold: 5 });

    $('.headerpane.ellipsis .btn:not(.drawerTrig)').hide();

    $('body').on( 'click', '.btn.cancel.back', function(e){
      $('.headerpane.ellipsis .btn').show();

      $('.want_filter').html('<strong>2 duplicates found.</strong> Define your own search by <a href="partial/lead/lead-create-duplicates-filter.html" rel="tooltip" data-toggle="proto" data-target=".want_filter" data-mode="preview" class="want_filter">applying filters</a>.');
      $('table.duplicates, div.want_filter').addClass('highlight');
      e.preventDefault();
    });

  });
</script>
