<div class="btn-toolbar pull-right dropdown">
  <a href="partial/lead/lead-view.html" data-toggle="proto" data-target="#view .record" data-mode="view">Cancel</a>
  <a href="#" title="Merge Duplicates" class="btn btn-primary disabled merge-duplicates">Merge Duplicates</a>
  {{>drawerTrig}}
</div>
<h1>Create Lead</h1>

<script>
  $(document).ready(function() {

    // create record view
    $('body').on('change', 'form', function(){ invokeSaveButtons(); });

    $('body')
      .off('click','.save_and_create_new')
      .on('click', '.save_and_create_new', function(e){
        throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
        // e.preventDefault();
        // e.stopPropagation();
      });

    $('body')
      .off('click','.save_and_view')
      .on('click','.save_and_view',function(e){
        throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
        drawer(false);
        // e.preventDefault();
        // e.stopPropagation();
      });

    $('body')
      .off('click','.cancel')
      .on('click','.cancel',function(e){
        drawer(false);
        // e.preventDefault();
        // e.stopPropagation();
      });

    $('body')
      .off('click','.save')
      .on('click','.save',function(e){
        if($(this).hasClass('save_save')===false) {
          console.log('first click');
          $(this).addClass('save_save').attr({'href':''});
        } else {
          drawer(false);
          console.log('second click');
          throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
        }
      });

  });

  function invokeSaveButtons(){
      $('.form-change-actions .btn').show().parent().next('.disabled').removeClass('disabled');
  }
</script>
