  <table class="duplicates highlight table dupdatatable table-striped">
    <thead>
      <tr>
        <th class="nosort">Select</th>
        <th>Name</th>
        <th>State</th>
        <th>City</th>
        <th>Country</th>
        <th class="nosort">&#8230;</th>
      </tr>
    </thead>
    <tbody id="listed">
      <tr>
        <td><input type="radio" name="dup"></td>
        <td>Underwater Mining</td>
        <td>CA</td>
        <td>San Jose</td>
        <td>USA</td>
        <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
      </tr>

      <tr>
        <td><input type="radio" name="dup"></td>
        <td>Underwater Mining</td>
        <td>CA</td>
        <td>Rochester</td>
        <td>USA</td>
        <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
      </tr>

      <tr>
        <td><input type="radio" name="dup"></td>
        <td>Underwater Mining</td>
        <td>CA</td>
        <td>Willibor</td>
        <td>USA</td>
        <td><a href="preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
      </tr>

    </tbody>
  </table>
