<div class="filter_el step_1_container">
  <div class="header">
    <span class="pull-left step-circle">
      <span class="step-circle-left tcenter">1</span><span class="step-circle-right tcenter">&nbsp;</span>
    </span>
    <strong>Associate Contact</strong> <span class="detail">3 duplicates found</span>
    <a class="pull-right ignore-and-create-new" href="#partial/lead/lead-create-business.html" data-toggle="proto" data-target=".step_1_container .step_extend" data-mode="edit" data-method="replace" >Ignore duplicates and create new</a>
    <a href="partial/lead/lead-convert.html" data-toggle="proto" data-target="#edit .record" data-mode="edit" data-method="replace" class="hide pull-right back-to-three-duplicates">Back to 3 duplicates</a>
  </div>
  <div class="step_extend"></div>
</div>

<div class="filter_el step_2_container">
  <div class="header">
    <span class="pull-left step-circle">
      <span class="step-circle-left tcenter">2</span><span class="step-circle-right tcenter">&nbsp;</span>
    </span>
    <strong>Associate Account</strong> <span class="detail">(optional) 3 duplicates found</span>
    <a class="hide pull-right ignore-and-create-new" href="#partial/lead/lead-create-business.html" data-toggle="proto" data-target=".step_1_container .step_extend" data-mode="edit" data-method="replace" >Ignore duplicates and create new</a>
    <a href="partial/lead/lead-convert.html" data-toggle="proto" data-target="#edit .record" data-mode="edit" data-method="replace" class="hide pull-right back-to-three-duplicates">Back to 3 duplicates</a>
  </div>
  <div class="step_extend"></div>
</div>

<div class="filter_el step_3_container">
  <div class="header">
  <span class="pull-left step-circle">
    <span class="step-circle-left tcenter">3</span><span class="step-circle-right tcenter">&nbsp;</span>
  </span>
  <strong>Associate Opportunities</strong> <span class="detail">(optional)</span>
  <a class="hide pull-right ignore-and-create-new" href="#partial/lead/lead-create-business.html" data-toggle="proto" data-target=".step_1_container .step_extend" data-mode="edit" data-method="replace" >Ignore duplicates and create new</a>
  <a href="partial/lead/lead-convert.html" data-toggle="proto" data-target="#edit .record" data-mode="edit" data-method="replace" class="hide pull-right back-to-three-duplicates">Back to 3 duplicates</a>
  </div>
  <div class="step_extend"></div>
</div>


<script>
  $(document).ready(function() {

    $('.dupdatatable').dataTable({
      "bPaginate": false,
      "bFilter": true,
      "bInfo": false,
      "bAutoWidth": false
    });

    $('body').on('click','a.back.cancel',function(){
      $('.want_filter, table.duplicates').remove();
      loadPartials([
        {"file":"lead/lead-create-duplicates","target":"#edit .record.active","method":"prepend"},
      ]);
      return false;
    });


    $('body').on('click','a.ignore-and-create-new',function(){
      $(this).addClass('hide').closest('.filter_el').removeClass('highlight');
      $(this).siblings('a.back-to-three-duplicates').removeClass('hide');
      loadPartials([
        {"file":"lead/lead-create-business","target":".step_1_container .step_extend","method":"replace"},
      ]);
      return false;
    });


    $('body').on('click','a.back-to-three-duplicates',function(){
      $(this).addClass('hide');
      $('a.ignore-and-create-new').removeClass('hide');
    });

  });
</script>
