<div class="btn-toolbar pull-right dropdown">
  <a href="partial/lead/lead-table.html" data-toggle="tab" data-target="#view .main-content" data-mode="list" class="btn btn-invisible btn-link cancel">Cancel</a>
  <span class="form-change-actions">
    <a href="partial/lead/lead-create.html" data-toggle="tab" data-target="#edit .record" data-mode="edit" class="btn btn-invisible btn-link save save_and_create_new">Save and create new</a>
    <a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view" class="btn btn-invisible btn-link save_and_view">Save and view</a>
  </span>
  <a href="partial/lead/lead-create-duplicates.html" data-toggle="tab" data-target="#edit .record.active" data-mode="edit" data-method="prepend" title="Save Lead" class="btn btn-primary disabled save">Save</a>
  <a href="#overview" title="Collapse sidebar" class="btn btn-invisible drawerTrig"><i class="icon-chevron-right two"></i></a>
</div>
<h1>Create Lead</h1>

<script>
  $(document).ready(function() {

    // create record view
    $('body').on('change', 'form', function(){ invokeSaveButtons(); });

    $('body')
      .off('click','.save_and_create_new')
      .on('click', '.save_and_create_new', function(e){
        throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
        // e.preventDefault();
        // e.stopPropagation();
      });

    $('body')
      .off('click','.save_and_view')
      .on('click','.save_and_view',function(e){
        throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
        drawer(false);
        // e.preventDefault();
        // e.stopPropagation();
      });

    $('body')
      .off('click','.cancel')
      .on('click','.cancel',function(e){
        drawer(false);
        // e.preventDefault();
        // e.stopPropagation();
      });

    $('body')
      .off('click','.save')
      .on('click','.save',function(e){
        if($(this).hasClass('save_save')===false) {
          console.log('first click');
          $(this).addClass('save_save').attr({'href':''});
        } else {
          drawer(false);
          console.log('second click');
          throwMessage('<strong>Success!</strong> You successfully created the lead "Tameka Dammann"', 'success', true);
        }
      });

  });

  function invokeSaveButtons(){
      $('.form-change-actions .btn').show().parent().next('.disabled').removeClass('disabled');
  }
</script>
