<script>
  loadPartials([
    {"file":"lead/header-create-business","target":"#edit .headerpane","method":"replace"},
    {"file":"lead/lead-convert-duplicates","target":"#edit .record","method":"append"},
    {"file":"lead/lead-howto-convert","target":"#overview-edit","method":"replace"},
    {"file":"lead/lead-convert-duplicates-table","target":".step_1_container .step_extend","method":"replace"}
  ]);

  $(document).ready(function() {

    $('.step_1_container .step_extend .form-search > .row-fluid,\
       .step_1_container .step_extend .form-search > .filter-options.extend > .filter-header,\
       .step_1_container .step_extend .form-search > .filter-options.extend > .filter-body:not(#search_option_)').hide();
    $('.filter-options.extend').show().find('#search_option_').addClass('highlight');

    initSelect2('select.select2');

    $('#edit.main-pane h1').html('Convert: Tameka Dammann');

    $('[rel=datepicker]').datepicker();

    $('body')
      .off('click','.avatar.preview > span i.icon-plus')
      .on('click','.avatar.preview > span i.icon-plus',function(){
        $(this).closest('.avatar.preview').prev('span').find('input').trigger('click');
      });


    /* STEP 1 */
    $('.lead-convert-continue').addClass('step_1');
    $('body')
      .off('mousedown', 'input[type=radio]')
      .on('mousedown', 'input[type=radio]', function(){
        $('a.btn-primary.save').addClass('associated_contact');
        invokeSaveButtons();
        $('.lead-convert-continue').attr({
          'href':'lead/lead-convert-duplicates-table.html',
          'data-target':'.step_2_container .step_extend'
        });
      });
    $('body').on('change', 'form', function(){
      invokeSaveButtons();
      $('.lead-convert-continue').attr({
        'href':'lead/lead-convert-duplicates-table.html',
        'data-target':'.step_2_container .step_extend'
      });
    });

    $('body')
      .off('click', '.lead-convert-continue.step_1')
      .on('click', '.lead-convert-continue.step_1', function(){
        $(this).removeClass('step_1');
        $('.step_1_container .step-circle-right').empty().addClass('complete').append('&#10004;');
        $('.step_1_container .header .ignore-and-create-new, .step_1_container .header .back-to-three-duplicates').addClass('hide');
        $('.step_1_container .step_extend').empty().parent().next().addClass('highlight').find('a.ignore-and-create-new').removeClass('hide');
        $('a.lead-convert-continue').addClass('disabled').attr({
           'href':'',
           'data-target':''
        });
        $('a.btn-primary.save').addClass('associated_contact');
      });

    /* STEP 2 */
    $('body')
      .off('mousedown','.step_2_container input[type=radio]')
      .on('mousedown','.step_2_container input[type=radio]',function(){
        $('a.lead-convert-continue').removeClass('disabled').addClass('step_2');
      });

    $('body')
      .off('click', '.lead-convert-continue.step_2')
      .on('click', '.lead-convert-continue.step_2', function(){
        $(this).removeClass('step_2');
        $('.step_2_container').removeClass('highlight');
        $('.step_2_container .ignore-and-create-new, .step_2_container .back-to-three-duplicates').addClass('hide');
        $('.step_2_container .step_extend').empty();
        $('.step_2_container .step-circle-right').addClass('complete').empty().append('&#10004;');
        loadPartials([
          {"file":"lead/lead-convert-duplicates-table","target":".step_3_container .step_extend","method":"replace"}
        ]);
        $('.step_3_container .ignore-and-create-new').removeClass('hide');
        $('a.btn-primary.save').addClass('associated_account');
      });

    /* STEP 3 */
    $('body')
      .off('mousedown','.step_3_container input[type=radio]')
      .on('mousedown','.step_3_container input[type=radio]',function(){
        $('a.lead-convert-continue').removeClass('disabled').addClass('step_3');
      });

    $('body')
      .off('click', '.lead-convert-continue.step_3')
      .on('click', '.lead-convert-continue.step_3', function(){
        $(this).removeClass('step_3');
        $('.step_3_container').removeClass('highlight');
        $('.step_3_container .ignore-and-create-new, .step_3_container .back-to-three-duplicates').addClass('hide');
        $('.step_3_container .step_extend').empty();
        $('.step_3_container .step-circle-right').addClass('complete').empty().append('&#10004;');
        $('a.btn-primary.save').addClass('associated_opportunity');

        /* here we need to trigger FINISH button click */
        $('a.btn-primary.save').trigger('click');
        handleFinish();
      });

    $('body')
      .off('click', 'a.btn-primary.save')
      .on('click', 'a.btn-primary.save', function(){
        handleFinish();
      });

    function handleFinish(){
      var lbl = "";

      $('.status-msg').remove();

      if($('a.btn-primary.save').hasClass('associated_contact')===true) {
        lbl += '<p class="status-msg">Contact associated: <strong>Underwater Mining</strong></p>';
      }
      if($('a.btn-primary.save').hasClass('associated_account')===true) {
        lbl += '<p class="status-msg">Account associated: <strong>Plato&rsquo;s LED MFT</strong></p>';
      }
      if($('a.btn-primary.save').hasClass('associated_opportunity')===true) {
        lbl += '<p class="status-msg">Opportunity associated: <strong>Plato&rsquo;s LED Financial App</strong></p>';
      }
      $(lbl).insertBefore($('#view .record div.extend'));

      var convert_success_lbl = '<span style="position: absolute;top: 22px;right: 216px;" class="label label-Success">Converted</span>';
      $(convert_success_lbl).insertAfter('#view .headerpane.ellipsis > h1');
      $('#view .headerpane.ellipsis > h1').css('padding-right','40px');

      $('#convert_lead_option').remove();

      throwMessage('<strong>Success!</strong> You successfully converted lead "Tameka Dammann"', 'success', true);

      drawer(false);
    }

    drawer(true);

  });
  function invokeSaveButtons(){
      $('.form-change-actions .btn').show().parent().next('.disabled').removeClass('disabled');
  }
</script>
