<div class="want_filter highlight">
  <strong>2 duplicates found.</strong> Define your own search by <a href="partial/common/search-filter.html" rel="tooltip" data-toggle="proto" data-target="div.want_filter" data-mode="preview" data-original-title="Preview" class="want_filter">applying filters</a>.
</div>
<div class="filter_init">
</div>
<table class="duplicates highlight table dupdatatable table-striped">
  <thead>
    <tr>
      <th>Opportunity</th>
      <th>Account</th>
      <th>Stage</th>
      <th>Amount</th>
      <th class="nosort">Actions</th>
      <th class="nosort">&#8230;</th>
    </tr>
  </thead>
  <tbody id="listed">
    <tr>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$330,000</td>
      <td><a href="partial/lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a></td>
    </tr>
    <tr>
      <td>Tameka Dammann</td>
      <td>Plato's LED MFT</td>
      <td>Proposal</td>
      <td>$100,000</td>
      <td><a href="partial/lead/lead-edit.html" data-toggle="proto" data-target="#view .record" data-mode="view" title="Edit lead">Select and edit</a></td>
      <td><a href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="proto" data-target="#preview-edit" data-mode="preview"><i class="icon-eye-open"></i></a></td>
    </tr>
  </tbody>
</table>


<script>

  loadPartials([
    {"file":"lead/lead-duplicates","target":"#overview-edit","method":"replace"},
  ]);

  $(document).ready(function() {
    $('.dupdatatable').dataTable({
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false
    });
    $('body').on('click','a.back.cancel',function(){
      $('.want_filter, table.duplicates').remove();
      loadPartials([
        {"file":"lead/lead-create-duplicates","target":"#edit .record.active","method":"prepend"},
      ]);
      return false;
    });

    $('body').on('click','a.want_filter',function(){
      $('table.duplicates, div.want_filter').removeClass('highlight');
        if($('.duplicate-header-wrap').length === 0) {
          $('div.want_filter').prepend('\
            <div class="duplicate-header-wrap" style="padding:.75em 2em .75em 2em">\
              <div class="row-fluid">\
                <div class="span6"><strong>Duplicate Search</strong> > Apply Filters</div>\
                <div class="span6">\
                  <div class="btn-toolbar pull-right" style="margin:0;padding:0">\
                    <a href="#" class="btn btn-invisible btn-link cancel back">Back to 2 duplicates</a>\
                    <a href="#" class="btn btn-primary">Apply</a>\
                  </div>\
                </div>\
              </div>\
            </div>\
          ');
        }
    })
  });
</script>
