<table class="table datatable table-striped">
  <thead>
    <tr>
      <th class="nosort">
        <div class="btn-group">
          <b class="btn"><input type="checkbox" class="toggle-all"></b>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a href="#">Email</a></li>
            <li><a href="#" class="tmu">Mass Update</a></li>
            <li><a href="#">Merge</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
      </th>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Email</th>
      <th class="nosort morecol">
        <a href="" data-toggle="dropdown" class="dropdown-toggle">. . .</a>
        <ul class="dropdown-menu left carettop">
          <li><a href="#myLead">Column1</a></li>
          <li><a href="#myContacts">Column2</a></li>
          <li><a href="#myOpportunities">Column3</a></li>
        </ul>
      </th>
    </tr>
  </thead>
  <tbody id="listed">
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>

    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick"> (202) 312-5472</span></td>
      <td><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">Cupertino</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick">(408) 555-5271</span></td>
      <td><a href="mailto:sales@perkins.com">sales@perkins.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox"> <span><i class="icon-favorite" rel="tooltip" data-title="Add to favorites"></i></span></td>
      <td><a href="partial/lead/lead-view.html" data-toggle="tab" data-target="#view .record" data-mode="view">Plato's LED MFT</a></td>
      <td><span class="dblclick">San Francisco</span></td>
      <td><span class="dblclick">USA</span></td>
      <td><span class="dblclick"> (202) 312-5472</span></td>
      <td><a href="mailto:sales.support.im@example.com">sales.support.im@example.com</a></td>
      <td>
        <span class="actions dropdown pull-right btn-group">
          <a class="btn preview" href="partial/preview/lead-preview.html" rel="tooltip" data-toggle="tab" data-target="#preview" data-mode="preview" data-original-title="Preview"><i class="icon-eye-open"></i></a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
          <ul class="dropdown-menu"><span class="ext"></span>
            <li><a class="edit" href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a class="delete" href="#"><i class="icon-trash"></i> Delete</a></li>
          </ul>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <a href="javascript:void(0)" name="show_more_button" class="loading wide">More Leads...</a>
</div>
<script>
  // loadPartials([
  //   {"file":"common/header","target":"#view .headerpane","method":"replace"},
  //   {"file":"common/search-filter","target":"#view .record","method":"replace"}
  // ]);

  $(document).ready(function() {
    $('body').addClass('list');

    $('body').on('click','.actions > .preview, .actions .dropdown-menu .edit',function(){
      $('.dataTable tr').removeClass('active');
      $(this).closest('tr').addClass('active');

      // init edit mode
      if($(this).hasClass('edit') ){
        var editid = Math.floor(Math.random()*999999);
        $('<tr id="edit-id-'+editid+'" class="tr-inline-edit single"></tr>').insertAfter($(this).closest('tr'));
        loadPartials([
           {"file":"common/table-cell-edit","target":"#edit-id-"+editid,"method":"append"},
        ]);

        $('.chzn-select').chosen({ disable_search_threshold: 5 });

        var tr_val = new Array(),
            tr_i = 0;
        $(this).closest('tr').find('td').each(function(el){
            //console.log($(this).text());
            tr_val[tr_i]=$(this).text();
            tr_i = tr_i + 1;
        });

        var tr_i = 0;
        $('#edit-id-'+editid).find('td').each(function(el){
          $(this).find('input[type=text]').attr('value',tr_val[tr_i]);
          tr_i = tr_i + 1;
        });

        $(this).closest('tr').addClass('hide');
      }
    });

    $('body').on('change', '.tr-inline-edit', function(){
      $('.btn.inline-save').removeClass('disabled');
    });

    $('body').on('click', '.tr-inline-edit .inline-cancel, .tr-inline-edit .inline-save', function(){
      $(this).closest('tr').prev().removeClass('hide active');
      $(this).closest('tr').remove();
      if($(this).hasClass('inline-save')) {
        throwMessage('<strong>Success!</strong> Your edits have been saved', 'success', true);
      }
      return false;
    });

    $('body').on('click','.actions .dropdown-menu .delete',function(){
      $(this).closest('tr').remove();
      throwMessage('<strong>Success!</strong> You successfully deleted the lead', 'success', true);
    });

    $('body').on('click', '.cancel', function(){
        loadPartials([
           {"file":"common/header","target":".headerpane.ellipsis","method":"replace"},
        ]);
    });

    $('body').on('click', '.edit-all-records', function(){

      $('#DataTables_Table_0').addClass('inline-edit-active');

      $('#DataTables_Table_0 tbody tr').each(function(){
        var editid = Math.floor(Math.random()*999999);
        $('<tr id="edit-id-'+editid+'" class="tr-inline-edit"></tr>').insertAfter($(this));
        loadPartials([
           {"file":"common/table-all-cells-edit","target":"#edit-id-"+editid,"method":"append"},
           {"file":"common/header-edit-list","target":".headerpane.ellipsis","method":"replace"},
        ]);

        var tr_val = new Array(),
            tr_i = 0;

        $(this).find('td').each(function(el){
            tr_val[tr_i]=$(this).text();
            tr_i = tr_i + 1;
        });

        var tr_i = 0;
        $('#edit-id-'+editid).find('td').each(function(el){
          $(this).find('input[type=text]').attr('value',tr_val[tr_i]);
          tr_i = tr_i + 1;
        });

        $('.chzn-select').chosen({ disable_search_threshold: 5 });
        $('.headerpane.ellipsis').find('.save').addClass('disabled');
        $(this).closest('tr').addClass('hide');
      });
      return false;
    });

    $('body').on('click', '.headerpane.ellipsis .inline-save', function(){
      $('#DataTables_Table_0').removeClass('inline-edit-active');
      $('tr.tr-inline-edit').remove();
      $('tr.hide').removeClass('hide')
      throwMessage('<strong>Success!</strong> Your edits have been saved', 'success', true);
      loadPartials([
        {"file":"common/header","target":".headerpane.ellipsis","method":"replace"},
      ]);
      return false;
    });

  });
</script>
