<div class="form-horizontal padded">

  <fieldset class="card2">

    <div class="row-fluid avatar-widget">
     <div class="pull-left">
        <form id="imageform" method="post" enctype="multipart/form-data" action='ajaximage.php'>
        <div class="row-fluid control-group">
            <div class="span12">
              <span sfuuid="1">
                <span class="upload-field-custom btn avatar">
                  <label class="file-upload">
                    <span><strong>Edit</strong></span>
                    <input type="file" name="photoimg" id="photoimg" />
                </span>
              </span>
              <p class="avatar preview" id="preview1"><span><i class="icon-plus"></i></span></p>
            </div>
        </div>
        </form>
      </div>
      <form>
      <div class="span6">
        <div class="row-fluid control-group">
          <div class="control-label span3">
            <label for="input01">First Name:</label>
          </div>
          <div class="controls span9">
            <input type="text" id="input01" class="inherit-width">
          </div>
        </div>
        <div class="row-fluid control-group">
          <div class="control-label span3">
            <label for="input01">Last Name:</label>
          </div>
          <div class="controls span9">
            <input type="text" id="input01" class="inherit-width">
          </div>
        </div>
      </div>
    </div>
  </fieldset>




<div class="row-fluid">
  <div class="span6">
    <fieldset class="card2">
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="select01">Sales Stage:</label>
        </div>
        <div class="controls span9">
          <select id="select01" data-placeholder="Choose a Lead..." class="chzn-select chzn-inherit-width">
            <option value="pk" selected="selected">Proposal</option>
            <option value="pk">Closed Won</option>
            <option value="pk">Closed Lost</option>
          </select>
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="select02">Account:</label>
        </div>
        <div class="controls span9">
          <select id="select02" data-placeholder="Choose a Lead..." class="chzn-select chzn-inherit-width">
            <option value="pk" selected="selected">Plato's MFT</option>
            <option value="pk">Underwater Mining Inc.</option>
            <option value="pk">Weyland</option>
          </select>
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input03">Close Date:</label>
        </div>
        <div class="controls span9 date">
          <input type="text" id="input03" class="inherit-width" value="" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy" rel="datepicker">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="span6">
    <fieldset class="card2">
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input04">Amount:</label>
        </div>
        <div class="controls span9">
          <input type="text" id="input04" class="inherit-width">
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="select03">Assigned to:</label>
        </div>
        <div class="controls span9">
          <select id="select03" data-placeholder="Choose an Assignee..." class="chzn-select chzn-inherit-width">
            <option value="pk" selected="selected">Sabra Khan</option>
            <option value="pk">Sally Smith</option>
            <option value="pk">Jim Brennan</option>
          </select>
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input05">Probability:</label>
        </div>
        <div class="controls span9">
          <input type="text" id="input05" class="inherit-width">
        </div>
      </div>
    </fieldset>
  </div>
</div>
    <div class="extend hide clearfix">
    <fieldset class="card2 span6">
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Email:</label>
        </div>
        <div class="controls span9 controls-two btn-fit">
          <input type="text" id="input01" class="inherit-width">
          <a href="" class="btn" rel="tooltip" title="Primary"><i class="icon-star"></i></a>
          <a href="" class="btn" rel="tooltip" title="Add another"><i class="icon-plus"></i></a>
        </div>
      </div>


      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Phone:</label>
        </div>
        <div class="controls span9 controls-one btn-fit">
          <input type="text" id="input01" class="inherit-width">
          <a href="" class="btn" rel="tooltip" title="Primary"><i class="icon-star"></i></a>
          <a href="" class="btn" rel="tooltip" title="Add another"><i class="icon-plus"></i></a>
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="select01">Teams:</label>
        </div>
        <div class="controls span9">
          <select data-placeholder="Choose a Lead..." class="chzn-select chzn-inherit-width" tabindex="2">
            <option value="pk" selected="selected">Global</option>
            <option value="pk">East</option>
            <option value="pk">West</option>
            <option value="pk">North</option>
            <option value="pk">South</option>
          </select>
        </div>
      </div>
    </div>
    </form>
  </fieldset>
    <div>
      <a href="javascript:void(0)" name="show_more_button" class="more">More<i class="icon-caret-down"></i></a>
    </div>
</div>

<script>
  loadPartials([
    {"file":"lead/lead-header-create","target":"#edit .headerpane","method":"replace"},
    {"file":"lead/lead-howto1","target":"#overview-edit","method":"replace"}
  ]);

  $(document).ready(function() {

    drawer(true);

    $('.chzn-select').chosen({ disable_search_threshold: 5 });
    $('.chzn-select-deselect').chosen({allow_single_deselect:true});

    $('[rel=datepicker]').datepicker();

    $('body').on('click','.avatar.preview > span i.icon-plus',function(){
      $(this).closest('.avatar.preview').prev('span').find('input').trigger('click');
    })

  });
</script>
