body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .btn-success, .btn-primary {
        text-shadow: 0.1em 0.1em #333;
    }

    .pull-right .btn {
        margin-bottom: 5px;
    }

    .form div.span3 {
        text-align: center;
    }

    #register, #instances, #reset, #resetpass {
        display: none;
    }

    #catchphrase {
        text-align: center;
        clear: both;
        font-size: 24px;
        color: white;
        position: relative;
        top: 50px;
    }

    #login_block {
        clear:right;
        position:relative;
        top:200px;
    }

    #desc_block {
        position:relative;
        top:250px;
        text-shadow: 0.1em 0.1em #333;
        #cfe {
            font-size:60px;
            color:white;
        }

        #wih {
            font-size:16px;
            color:whitesmoke;
        }
    }
}

