/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Enterprise Subscription
 * Agreement ("License") which can be viewed at
 * http://www.sugarcrm.com/crm/products/sugar-enterprise-eula.html
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the "Powered by SugarCRM" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2010 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/
/*********************************************************************************

 * Description:  Contains a variety of utility functions used to display UI 
 * components such as form headers and footers.  Intended to be modified on a per 
 * theme basis.
 ********************************************************************************/

/** From default style.css file **/


a:link, a:visited {
color:#ef3067;
}



.dcmenu .inner {
    height: 44px;
    min-width: 950px;
    background-color: #303030;
    background-image: -moz-linear-gradient(top, #f0789c, #d8416e);
    background-image: -ms-linear-gradient(top, #f0789c, #d8416e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0789c), to(#d8416e));
    background-image: -webkit-linear-gradient(top, #f0789c, #d8416e);
    background-image: -o-linear-gradient(top, #f0789c, #d8416e);
    background-image: linear-gradient(top, #f0789c, #d8416e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0789c', endColorstr='#d8416e', GradientType=0);

}

#ie8GradientFix{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0789c', endColorstr='#d8416e');
}

.dcmenuDivider  {
	border-left: 1px solid #ef3067;
	border-right: 1px solid #ffd3e0;
	background-image: none;
	width: 0px;
}


#glblSearchBtn {
}

#moduleList .sf-menu > li.current > a {
	background:		#ef3067;
}

ul.megamenu .MMShortcuts li.sfHover a.sf-with-ul,
ul.moduleTabMore li.sfHover a.sf-with-ul,
ul.sf-sub-modulelist li.sfHover > a.sf-with-ul,
ul.filter-menu li a.selected,
ul.megamenu ul a:hover,
ul.moduleTabMore li a:hover,
ul.sf-sub-modulelist li a:hover,
#moduleList .sf-menu li:hover,
#moduleList .sf-menu li.sfHover,
#moduleList .sf-menu li a:focus,
#moduleList .sf-menu li a:hover,
#moduleList .sf-menu li a:active {
	background:		#ef3067;
	outline:		0;
}


#moduleList .more .selected {
	background:		#ef3067;
}
#globalLinksModule ul.clickMenu.SugarActionMenu li a:hover,
#globalLinksModule ul.clickMenu li:hover span,
ul.SugarActionMenuIESub li a:hover, ul.clickMenu.SugarActionMenu li a:hover, ul.clickMenu.SugarActionMenu li span.subhover:hover,
ul#globalLinksSubnav li a:hover, ul#quickCreateULSubnav li a:hover,
ul.clickMenu:hover, ul.clickMenu li ul.subnav li a:hover,ul.clickMenu li ul.subnav li input:hover, ul.clickMenu.subpanel.records li ul.subnav li a:hover, ul.clickMenu ul.subnav-sub li a:hover { /*--Hover effect for subnav links--*/
	background-color:		#ef3067;
    color:#ffffff !important;
}

#moduleList .sf-menu > li.current > a {
    background:		#ef3067;
}

#globalLinksModule:hover, #quickCreate ul.clickMenu > li:hover {
    background-color: #ef3067;
}

#dcmenuSugarCube:hover {
    background-color: #ef3067;
}

.moduleTitle h2 {
    color:#BB0058;
}

.moduleTitle h2 a {
    color:#ef3067;
}

button, input[type="submit"], input[type="reset"], input[type="button"], .button, .buttons .button, .yui-button button {

background-image: -moz-linear-gradient(center top, 
	#fdfdfd 0%,
	#f8f8f8 50%,
	#f1f1f1 50%,
	#e6e6e6 100%
	);
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fdfdfd),
    color-stop(.5, #f8f8f8),
    color-stop(.5, #f1f1f1),
    color-stop(1, #e6e6e6)
   );	
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e6e6e6');

color:#888888;
border:1px solid #DC79A8;
}


.button.primary, .yui-dialog .ft span.default button {
background-color:#ef3066;

background-image: -moz-linear-gradient(center top, 
	#f9c8d7 0%,
	#f15380 50%,
	#ef3167 50%,
	#f57398 100%
	);
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f9c8d7),
    color-stop(.5, #f15380),
    color-stop(.5, #ef3167),
    color-stop(1, #f57398)
   );	
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c8d7', endColorstr='#f57398');
   
border:1px solid #ef3067;
text-shadow:-1px -1px #ef3067;
color: #fff;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
button:focus, input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus,
button[selected], input[type=submit][selected], input[type=reset][selected], input[type=button][selected]
{
background-image: -moz-linear-gradient(center top, 
	#fdfdfd 0%,
	#f8f8f8 50%,
	#f1f1f1 50%,
	#e6e6e6 100%
	);
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fdfdfd),
    color-stop(.5, #f8f8f8),
    color-stop(.5, #f1f1f1),
    color-stop(1, #e6e6e6)
   );	
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e6e6e6');
	border-color: #DC79A8;
}

.button.primary:hover,.button.primary:focus ,button.primary[selected],.yui-dialog .ft span.default button:hover{
	border: 1px solid #ef3067;
	background-color: #ef3067;
	text-shadow: -1px -1px #ef3067;
background-image: -moz-linear-gradient(center top, 
	#f9c8d7 0%,
	#f15380 50%,
	#ef3167 50%,
	#f57398 100%
	);
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f9c8d7),
    color-stop(.5, #f15380),
    color-stop(.5, #ef3167),
    color-stop(1, #f57398)
   );	
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c8d7', endColorstr='#f57398');
}


#glblSearchBtn .searchIconLink {
    background-color: #EF3067;
    background-image: -moz-linear-gradient(top, #EF3067, #b8254f);
    background-image: -ms-linear-gradient(top, #EF3067, #b8254f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EF3067), to(#b8254f));
    background-image: -webkit-linear-gradient(top, #EF3067, #b8254f);
    background-image: -o-linear-gradient(top, #EF3067, #b8254f);
    background-image: linear-gradient(top, #EF3067, #b8254f);
    border: 1px solid rgba(73, 15, 31, 0.25);
    top: 0px;
    height: 15px
}


#sugar_spot_search {
    border: 1px solid #aa2249;
}



