<td class="span1 remove"><i data-sweetspot="remove" rel="tooltip" title="{{str 'LBL_SWEETSPOT_REMOVE'}}" data-placement="bottom" class="fa fa-trash"></i></td>
{{#each meta.fields}}
    <td class="span5">{{field ../this model=../model template=../action}}</td>
{{/each}}
