<h1>
    <div class="record-cell">
        <span class="module-title">{{{section.title}}}</span>
    </div>
    <div class="btn-toolbar pull-right">
        <span class="list-headerpane">
            <select name="sections" id="find_patterns" class="select2 search" data-placeholder="Search styleguide&hellip;">
                <option></option>
            </select>
        </span>
    </div>
</h1>
