/*********************************************************************************
 *The contents of this file are subject to the SugarCRM Professional End User License Agreement 
 *("License") which can be viewed at http://www.sugarcrm.com/EULA.  
 *By installing or using this file, You have unconditionally agreed to the terms and conditions of the License, and You may 
 *not use this file except in compliance with the License. Under the terms of the license, You 
 *shall not, among other things: 1) sublicense, resell, rent, lease, redistribute, assign or 
 *otherwise transfer Your rights to the Software, and 2) use the Software for timesharing or 
 *service bureau purposes such as hosting the Software for commercial gain and/or for the benefit 
 *of a third party.  Use of the Software may be subject to applicable fees and any use of the 
 *Software without first paying applicable fees is strictly prohibited.  You do not have the 
 *right to remove SugarCRM copyrights from the source code or user interface. 
 * All copies of the Covered Code must include on each user interface screen:
 * (i) the "Powered by SugarCRM" logo and 
 * (ii) the SugarCRM copyright notice 
 * in the same form as they appear in the distribution.  See full license for requirements.
 *Your Warranty, Limitations of liability and Indemnity are expressly stated in the License.  Please refer 
 *to the License for the specific language governing these rights and limitations under the License.
 *Portions created by SugarCRM are Copyright (C) 2004 SugarCRM, Inc.; All Rights Reserved.  
 ********************************************************************************/
 
body, table,td
{
	font-size:12px;
}

h1
{
	font-size:18px;
	}
h2
{
	font-size:18px;
	}

h3{
	font-size:16px;
	}
h4
{
	font-size:14px;
	}

h5
{
	font-size:13px;
	}
	
input,select,textarea
{
font-size:11px;
}
#footer {
font-size: 11px;
}
.subTabs
{
	font-size:10px;
	}
.subMenu2
{
	font-size:10px;
	}
a.subMenu2Link:link,a.subMenu2Link:visited
{
	font-size:10px;
	}
a.subMenuLink:link,a.subMenuLink:visited
{
	font-size:10px;
	}
#search input[name=query_string]
{
	font-size:11px;
}
.date
{
	font-size:13px;
	}
#lastView
{
	font-size:11px;
}


table.reportlistView td,table.reportlistView th
{
	font-size:11px;
}
.reportGroupViewTable .reportevenListRowS1,.reportGroupViewTable .reportoddListRowS1,.reportoddListRowS1
{
	font-size:11px;
}
.reportGroupNByTableEvenListRowS1
{
	font-size:12px;
}
.reportGroup1ByTable .reportGroupNByTableEvenListRowS1,.reportGroup1ByTable .reportGroup1ByTableEvenListRowS1
{
	font-size:13px;
	}
a.utilsLink:link,a.utilsLink:visited
{
	font-size:11px;
}
h4.edit td[scope=row]
{
	font-size:14px;
}
h5.edit td[scope=row]
{
	font-size:13px;
	}
a.tabFormAdvLink:link,a.tabFormAdvLink:visited
{
	font-size:10px;
}
.detail h4
{    
	font-size:14px;
	}
.monthViewDayHeight td[scope=row] a:link,.monthViewDayHeight td[scope=row] a:visited, .monthViewDayHeight td[scope=row] a:hover
{
	font-size:11px;
}
.yearCalBodyMonth > a:link,.yearCalBodyMonth > a:visited
{
	font-size:14px;
	}
#subpanel_list td h3{
    font-size:13px;
	}
#sitemap h4 a:link,#sitemap h4 a:visited
{
	font-size:13px;
}
#header{
	font-size: 12px;
	}
.subshortcut a {
font-size: 11px;
}

.olCapFontClass,.yui-module .hd, .yui-panel .hd
{
	font-size:12px;
}
#newRecord h3{
    font-size:13px;
}
#header .subshortcut a {
font-size: 11px;
}
.leftList ul li a, .leftList ul li.currentShortcut a,.leftList ul li.notCurrentShortcut a
{
	font-size:12px;
	}
.moduleTitle h2{
    font-size:18px;
	}
.edit h4{
	font-size:13px;
}