// Styleguide.less
// Do not add to bootstrap.less
// ------------------------------------------------------------------------
@import "../twitter-bootstrap/mixins.less";

/* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  .border-radius(3px);
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}

/* Popover docs
-------------------------------------------------- */
.popover-well {
  min-height: 160px;
}
.popover-well .popover {
  display: block;
}
.popover-well .popover-wrapper {
  width: 50%;
  height: 160px;
  float: left;
  margin-left: 55px;
  position: relative;
}
.popover-well .popover-menu-wrapper {
  height: 80px;
}


/* Color swatches on LESS docs page
-------------------------------------------------- */
/* Sets the width of the td */
.swatch-col {
  width: 30px;
}

.swatch {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: -6px 0;
  .border-radius(3px);
}

.swatch-bordered {
  width: 28px;
  height: 18px;
  border: 1px solid #eee;
}

/* Reset general styles
-------------------------------------------------- */

body {
  padding: 0;
  overflow: auto;
  margin-bottom: 30px;
}

.subnav {
  z-index: 1020;
}

.subnav-fixed {
  top: 0;
}
.dropdown-menu-container {
  position:relative;
  display:inline-block;
  z-index: 1030;
  a {
    padding-left: 5px;
  }
  ul {
    font-size: 12px;
  }
}

.hero-unit {
  padding: 20px;
  font-size: 24px;
  .cube {
    height: 28px;
    background: url('../../assets/img/badge_256g.png') -3px 3px no-repeat;
  }
  h1 {
    display: inline-block;
    margin-top: 0;
    font-size: 32px;
  }
  #s2id_find_patterns {
    z-index: 1030;
    font-size: 12px;
    width: 200px;
  }
}

.section-search {
  input {
    width: 100%;
    font-size: 18px;
    height: 38px;
    padding: 5px 28px 5px 8px;
    .box-sizing(border-box);
  }
  .btn-toolbar {
    padding: 0;
  }
  .btn-group {
    width: 100%;
  }
  .btn {
    line-height: 28px;
    float: none;
    margin-left: -45px;
    width: 26px;
    border: none;
    border-left: 1px solid #CDCCCB;
    color: @gray;
  }
}


/* Google Pretty Print
-------------------------------------------------- */

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}
