<form class="navbar-search">
    <input type="text" class="search-query" placeholder="{{str "LBL_SEARCH"}}" data-provide="typeahead" data-items="5">
    <div class="advanced">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a class="btn btn-inverse" data-action="search" href="javascript:void(0);"><i class="icon icon-search"></i></a>
            </div>
        </div>
    </div>
</form>
<div class="typeahead-wrapper"></div>
