<!-- Editable
================================================== -->
<section id="editable">
  <div class="page-header">
    <h1>Editable <small>Inline edit inputs</small></h1>
  </div>
  <div class="row">

    <div class="span6">
      <h2>Inline editable field</h2>

      <div class="row-fluid control-group">
        <div class="span2">
          Label
        </div>
        <div class="span10 urleditable-wrap inline-editable-wrap">
          <span sfuuid="1">
            <a class="btn-mini btn inline-editable urleditable text-editable-trigger pull-left">
              <i style="position:relative;left:auto;padding:0 !important;top:2px;" class="icon-pencil icon-sm"></i>
            </a>
            <span class="urleditable-field editable-field">Some content</span>
          </span>
          <p class="help-block">
          </p>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="span2">
          Label
        </div>
        <div class="span10 urleditable-wrap inline-editable-wrap ">
          <span sfuuid="1">
            <a class="btn-mini btn inline-editable urleditable text-editable-trigger pull-left">
              <i style="position:relative;left:auto;padding:0 !important;top:2px;" class="icon-pencil icon-sm"></i>
            </a>
            <span class="urleditable-field editable-field">Lots of content lots of content lots of contentlots of content lots of content</span>
          </span>
          <p class="help-block">
          </p>
        </div>
      </div>

      <div class="row-fluid control-group error">
        <div class="span2">
          Label
        </div>
        <div class="span10 urleditable-wrap inline-editable-wrap">
          <span sfuuid="1">
            <a class="btn-mini btn inline-editable urleditable text-editable-trigger pull-left">
              <i style="position:relative;left:auto;padding:0 !important;top:2px;" class="icon-pencil icon-sm"></i>
            </a>
            <span class="editable-field">Lots of content lots of content lots of contentlots of content lots of content</span>
          </span>
          <p class="help-block">
            Error. This field is required.
          </p>
        </div>
      </div>
    </div><!--/span-->

    <div class="span6">
      <h2>URL field</h2>

      <div class="row-fluid control-group">
        <div class="span2">
          Label
        </div>
        <div class="span10 urleditable-wrap inline-editable-wrap ">
          <span sfuuid="1">
            <a class="btn-mini btn inline-editable urleditable editable-trigger url-editable-trigger pull-left">
              <i style="position:relative;left:auto;padding:0 !important;top:2px;" class="icon-pencil icon-sm"></i>
            </a>
            <span class="urleditable-field editable-field"><a href=""><span>http://google.com</span></a></span>
          </span>
          <p class="help-block">
          </p>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="span2">
          Label
        </div>
        <div class="span10 urleditable-wrap inline-editable-wrap ">
          <span sfuuid="1">
            <a class="btn-mini btn inline-editable urleditable editable-trigger url-editable-trigger pull-left">
              <i style="position:relative;left:auto;padding:0 !important;top:2px;" class="icon-pencil icon-sm"></i>
            </a>
            <span class="urleditable-field editable-field"><a href=""><span>https://sugarcrm.atlassian.net/secure/IssueNavigator.jspa&64;dasdsd</span></a></span>
          </span>
          <p class="help-block">
          </p>
        </div>
      </div>

      <div class="row-fluid control-group error">
        <div class="span2">
          Label
        </div>
        <div class="span10 urleditable-wrap inline-editable-wrap ">
          <span sfuuid="1">
            <a class="btn-mini btn inline-editable urleditable editable-trigger url-editable-trigger pull-left">
              <i style="position:relative;left:auto;padding:0 !important;top:2px;" class="icon-pencil icon-sm"></i>
            </a>
            <span class="urleditable-field editable-field"><a href=""><span>https://sugarcrm.atlassian.net/secure/IssueNavigator.jspa&64;dasdsd</span></a></span>
          </span>
          <p class="help-block">
            Error. This field is required.
          </p>
        </div>
      </div>

      <!-- <p>Take the same <code>&lt;pre&gt;</code> element and add two optional classes for enhanced rendering.</p>
      <pre class="prettyprint linenums" style="margin-bottom: 9px;">
      &lt;p&gt;Sample text here...&lt;/p&gt;
      </pre> -->
    </div><!--/span-->

  </div><!--/row-->
</section>
<script src="js/jquery.jeditable.js"></script>

<script>
  $(document).ready(function() {
    $('.url-editable-trigger').on('click',function(){
      var uefield = $(this).next();
      uefield
        .html(uefield.text())
        .editable(
          function(value, settings) {
              var nvprep = "<a href='"+value+"'>",
                  nvapp = "</a>",
                  value=nvprep.concat(value);
             return(value);
          },
          {onblur:"submit"}
        )
        .trigger('click');
    });


    $('.text-editable-trigger').on('click',function(){
      var uefield = $(this).next();
      uefield
        .html(uefield.text())
        .editable()
        .trigger('click');
    });

    $('.urleditable-field > a').each(function(){
      if(isEllipsis($(this))===true) {
        $(this).attr({'data-original-title':$(this).text(),'rel':'tooltip','class':'longUrl'});
      }
    });

    function isEllipsis(e) { // check if ellipsis is present on el, add tooltip if so
      return (e[0].offsetWidth < e[0].scrollWidth);
    }

    $(".longUrl[rel=tooltip]").tooltip({placement:'top'});

  });
</script>
