<footer>
    <div class="table-row">
        <div class="table-cell">
            <a href="" class="logo"{{#if logoURL}} style="background: url({{logoURL}}) 50% 50% no-repeat; "{{/if}}>SugarCRM</a>
            <div class="copyright">
                {{{str "LBL_SUGAR7_COPYRIGHT"}}}
            </div>
        </div>
        <div class="table-cell">
            <div class="btn-toolbar pull-right">
            </div>
        </div>
    </div>
</footer>
