<div class="preview-headerbar">
  <h1><span class="label label-contact">Contact</span> Mark Edwin</a>, CIO</h1>
  <!-- <a href="#overview" data-toggle="proto" class="actions"><i class="icon-remove"></i></a> -->
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a href="#" data-mode="preview" data-target="#overview" data-toggle="proto" class="btn btn-invisible closeSubdetail"><i class="icon-remove"></i></a>
    </div>
  </div>
</div>
<div class="block">
  <div class="row">
    <div class="span1"><img src="http://suga.site/img/avatar_weyland.png"></div>
    <div class="vcard span4">
      <address>
        <p>
          <span class="address">Address:</span>
          <span>
            <a href="http://g.co/maps/u45p4">9 IBM Path<br>
            Poughkeepsie, Dutchess, New York 12601<br>
            USA</a>
          </span>
        </p>
        <p>
          <span class="tel">Phone:</span> (408) 555-5271
        </p>
        <p>
          <span class="url">Website:</span> <a href="http://www.perkins.com">www.perkins.com</a>
        </p>
        <p>
          <span class="email">Email:</span> <a href="mailto:sales@perkins.com">sales@perkins.com</a> <small>(Primary)</small><br>
          <span class="email">&nbsp;</span> <a href="mailto:support@perkins.com">support@perkins.com</a>
        </p>
      </address>
      <br>
    </div>
  </div>
</div>
