<div class="preview-headerbar">
  <h1>Preview</h1>
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a href="javascript:void(0)" class="btn previous-row"><i class="icon-chevron-left"></i></a>
      <a href="javascript:void(0)" class="btn next-row"><i class="icon-chevron-right"></i></a>
    </div>
    <div class="btn-group">
      <a href="#" data-mode="preview" data-target="#preview" data-toggle="proto" class="btn btn-invisible closeSubdetail"><i class="icon-remove"></i></a>
    </div>
  </div>
</div>
<div class="block preview-data">
  <div class="row-fluid">
    <div class="span5">Log:</div>
    <div class="span7"><a href="contact_mark.html">Sent Email</a></div>
  </div>
  <div class="row-fluid">
    <div class="span5">Action:</div>
    <div class="span7">Email Sent to <a href="contact_mark.html">Mark Edwin</a></div>
  </div>
  <div class="row-fluid">
    <div class="span5">Subject:</div>
    <div class="span7">Lets's do lunch.</div>
  </div>
  <div class="row-fluid">
    <div class="span5">Added:</div>
    <div class="span7">1 hour ago at 3:00 pm EST</div>
  </div>
  <div class="row-fluid">
    <div class="span5">Added By:</div>
    <div class="span7"><a href="profile.html">Sabra Khan</a></div>
  </div>
</div>
