<div class="preview-headerbar">
  <h1><span class="label label-lead">Lead</span> Perkin Kleiners - 100 Seats</h1>
  <!-- <a href="#overview" data-toggle="proto" class="actions"><i class="icon-remove"></i></a> -->
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a href="#" data-mode="preview" data-target="#overview" data-toggle="proto" class="btn btn-invisible closeSubdetail"><i class="icon-remove"></i></a>
    </div>
  </div>
</div>
<div class="block">
  <div class="row">
    <div class="card2" style="margin-left: 20px;">
      <div class="row-fluid">
        <div class="span3">Account:</div>
        <div class="span9">
          <a href="detail_perkin_kleiners.html">Perkin Kleiners</a>
          <div class="hide">
            <select data-placeholder="Choose a account..." class="chzn-select chzn-done" tabindex="-1" id="selNCF" style="display: none; ">
              <option value="pk">Perkin Kleiners</option>
              <option value="pk">Weyland</option>
            </select><div id="selNCF_chzn" class="chzn-container chzn-container-single" style="width: 222px; "><a href="javascript:void(0)" class="chzn-single" tabindex="2"><span>Perkin Kleiners</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 220px; top: 0px; "><div class="chzn-search" style=""><input type="text" autocomplete="off" style="width: 185px; " tabindex="-1"></div><ul class="chzn-results"><li id="selNCF_chzn_o_0" class="active-result result-selected" style="">Perkin Kleiners</li><li id="selNCF_chzn_o_1" class="active-result" style="">Weyland</li></ul></div></div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">Sales Stage:</div>
        <div class="span9">60% - Negotiation</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Amount:</div>
        <div class="span9" title="Click to edit...">$50,000.00 (USD)</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Close:</div>
        <div class="span9" title="Click to edit...">05/13/2012 (20 days)</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Type:</div>
        <div class="span9" title="Click to edit...">Existing Business</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Lead Source:</div>
        <div class="span9" title="Click to edit...">Word of mouth</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Next Step:</div>
        <div class="span9" title="Click to edit...">Call Chris Lottery to ask how to import his files</div>
      </div>
    </div>
  </div>
</div>
