<div class="preview-headerbar">
  <h1><span class="label label-lead">Lead</span> Tameka Dammann</h1>
  <!-- <a href="#overview" data-toggle="tab" class="actions"><i class="icon-remove"></i></a> -->
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a href="#" data-mode="preview" data-target="#overview" data-toggle="tab" class="btn btn-invisible closeSubdetail"><i class="icon-remove"></i></a>
    </div>
  </div>
</div>
<div class="block">
    <div class="card2">
      <div class="row-fluid">
        <div class="span3">Avatar:</div>
        <div class="span9"><img src="../img/avatar_mia.jpg" style="height:80px;width:80px"></div>
      </div>
      <div class="row-fluid">
        <div class="span3">Opportunity:</div>
        <div class="span9">Tameka Dammann</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Stage:</div>
        <div class="span9">Proposal</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Account:</div>
        <div class="span9"><a href="detail_perkin_kleiners.html">Plato's LED MFT</a></div>
      </div>
      <div class="row-fluid">
        <div class="span3">Close Date:</div>
        <div class="span9" title="Click to edit...">12/10/2012 (20 days)</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Amount:</div>
        <div class="span9" title="Click to edit...">$30,000.00 (USD)</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Assigned to:</div>
        <div class="span9" title="Click to edit...">Sabra Khan</div>
      </div>
      <div class="row-fluid">
        <div class="span3">Probability:</div>
        <div class="span9" title="Click to edit...">30%</div>
      </div>
      <div class="extend hide">
        <div class="row-fluid">
          <div class="span3">Type:</div>
          <div class="span9" title="Click to edit...">Existing Business</div>
        </div>
        <div class="row-fluid">
          <div class="span3">Lead Source:</div>
          <div class="span9" title="Click to edit...">Word of mouth</div>
        </div>
        <div class="row-fluid">
          <div class="span3">Next Step:</div>
          <div class="span9" title="Click to edit...">Call Chris Lottery to ask how to import his files</div>
        </div>
      </div>
      <div>
        <a href="javascript:void(0)" name="show_more_button" class="more">More<i class="icon-caret-down"></i></a>
      </div>
    </div>
</div>

<script>
  $('#preview-edit .closeSubdetail').attr('data-target','#overview-edit');
</script>
