<div class="preview-headerbar">
  <h1><span class="label label-note">Note</span> Follow up with Mark</h1>
  <!-- <a href="#overview" data-toggle="proto" class="actions"><i class="icon-remove"></i></a> -->
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a href="#" data-mode="preview" data-target="#overview" data-toggle="proto" class="btn btn-invisible closeSubdetail"><i class="icon-remove"></i></a>
    </div>
  </div>
</div>
<div class="block">
  <p>Mark would love to talk more about fuel options</p>
  <div class="card2">
    <div class="row-fluid">
       <div class="span3">Added:</div>
       <div class="span9">2 days ago at 3:30 am EST</div>
     </div>
     <div class="row-fluid">
       <div class="span3">Added By:</div>
       <div class="span9"><a href="profile.html">Sabra Khan</a></div>
     </div>
   </div>
</div>
