<div class="preview-headerbar">
  <h1>Screenshot_766.png</h1>
  <!-- <a href="#overview" data-toggle="proto" class="actions"><i class="icon-remove"></i></a> -->
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a href="#" data-mode="preview" data-target="#overview" data-toggle="proto" class="btn btn-invisible closeSubdetail"><i class="icon-remove"></i></a>
    </div>
  </div>
</div>
<div class="block">
  <img src="http://placehold.it/400x300" class="thumbnail" alt="Screenshot_766 Image">
  <div class="card2 thumbnail">
    <div class="row-fluid">
       <div class="span3">Added:</div>
       <div class="span9">1 hour ago at 3:00 pm EST</div>
     </div>
     <div class="row-fluid">
       <div class="span3">Added By:</div>
       <div class="span9"><a href="profile.html">Sabra Khan</a></div>
     </div>
     <div class="row-fluid">
       <div class="span3">File Type:</div>
       <div class="span9">PNG</div>
     </div>
   </div>
</div>
