@import "components/preview-stream.less";
@import "components/activitystream.less";
@import "../base/components/record.less";
@import "components/list.less";
@import "components/reminders.less";
@import "components/tour.less";
@import "../base/components/treemap.less";
@import "../base/components/img.less";
@import "../base/components/influencers.less";
@import "../base/components/interactions.less";
@import "../base/components/opportunity-metrics.less";
@import "../base/components/recommended-experts.less";

/* Instances pop up box */
#instancesContainer {
    width: 252px;
    max-height: 217px;
    overflow: auto;
    padding: 12px;
    .btn-group {
        width: 100%;
        #invite {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

*:focus {
    outline: 0;
    -webkit-box-sizing:border-box;
}

svg {
    max-height: 500px;
}
