
{{#each meta.panels}}
    <div class="container">
    <p><b>{{str "LBL_PMSE_EMAIL_TEMPLATES_IMPORT_TEXT" ../module}}</b></p>
    {{#each fields}}
    <div class="span10 controls">
        {{field ../../this}}
    </div>
    {{/each}}
    </div>
{{/each}}

